@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@section ControlsSection{
    <div class="col-lg-8 control-section dropdowntree-default">
        <div class="control-wrapper">
            @Html.EJS().DropDownTree("ddt").Placeholder("Select items").Mode(Mode.Delimiter).ShowCheckBox(true).PopupHeight("200px").Fields((DropDownTreeFields)ViewData["checkboxFields"]).Render()
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td style="padding-right: 10px">
                        <div style="padding-left: 0;padding-top: 0">
                            @Html.EJS().CheckBox("select").Checked(false).Label("Auto Check").Change("onChange").Render()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        function onChange(args) {
            var ddt = document.getElementById("ddt");
            ddt.ej2_instances[0].treeSettings.autoCheck = args.checked;
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Checkbox in ASP.NET MVC Dropdown Tree control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample explains you about the CheckBox functionalities of the Dropdown Tree. Click on any parent item's
        CheckBox to check or uncheck the item and its child items. The parent item's checked state will be determined by
        its child item’s checked state.
    </p>
}

@section Description{
    <p>
        The <code>Dropdown Tree</code> control can be rendered with the checkbox on the left side of each tree item.
        This allows the user to check more than one item, and this can be enabled by the <code>ShowCheckBox</code>
        property.
    </p>
    <p>In this demo, the Dropdown Tree is populated with the checkbox enabled feature.</p>
}

<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }
</style>

@section Title{
                    <title>ASP.NET MVC Dropdown Tree Checkbox Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checkbox in ASP.NET MVC Dropdown Tree Control</h1>
                }