@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@section ControlsSection{
    <div class="col-lg-8 control-section dropdowntree-default">
        <div class="control-wrapper">
            @Html.EJS().DropDownTree("default").ChangeOnBlur(false).Placeholder("Select a folder or file").PopupHeight("200px").Change("valueChange").Fields((DropDownTreeFields)ViewData["fields"]).Render()
        </div>
    </div>
    <div class="col-lg-4 property-section dropdowntree-default">
        <table id="property" title="Properties" style="width: 100%; margin:10px">
            <tr>
                <td class="left-side">Value</td>
                <td>:<span id='value' class="right-side"></span></td>
            </tr>
            <tr>
                <td class="left-side">Text</td>
                <td>:<span id='text' class="right-side"></span></td>
            </tr>
        </table>
    </div>
    @*custom code start*@
    <style>
        .dropdowntree-default .control-wrapper {
            margin: 0 auto;
            width: 250px;
            padding-top: 75px;
        }

        .dropdowntree-default.property-section .right-side {
            padding-left: 10px;
        }

        .dropdowntree-default.property-section .left-side {
            padding: 5px;
            width: 25%
        }
    </style>
    @*custom code end*@
    <script type="text/javascript">
        function valueChange() {
            var treeObj = document.getElementById('default').ej2_instances[0];
            var value = document.getElementById('value');
            var text = document.getElementById('text');
            value.innerHTML = treeObj.value && treeObj.value.length > 0 ? treeObj.value[0] : '';
            text.innerHTML = treeObj.text;
        }
    </script>
}
@section Scripts{
    <script type="text/javascript">
        valueChange();
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET MVC Dropdown Tree control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample explains you about the default functionalities of the Dropdown Tree control. Click the Dropdown Tree
            element, and then select an item from the hierarchical structure <code>options</code> list.
            The selected item's <code>Value</code> and <code>Text</code> property values will be shown in the property panel.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The <code>Dropdown Tree</code> control contains a hierarchical structure list of predefined values from that the
            user can choose a single value.
        </p>
        <p>
            The default sample explains you about the use of Dropdown Tree that allows the end-users to select an item from the
            hierarchical structure <code>options</code> list. The selected item's <code>Value</code> and <code>Text</code> property values will be
            displayed in the property panel.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Dropdown Tree Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET MVC Dropdown Tree Control</h1>
                }