@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">

        @Html.EJS().Chart3D("container").EnableRotation(true).Rotation(7).WallColor("transparent").Height("400").Tilt(10).Depth(100).Title("Top Selling Electric Cars in China").PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).LabelPlacement(Syncfusion.EJ2.Charts.LabelPlacement.BetweenTicks).LabelRotation(-45)
).Series(series =>
{
    series.Type(Syncfusion.EJ2.Charts.Chart3DSeriesType.Column).DataSource(ViewData["ChartData"]).XName("X").YName("Y").Add();
}).PrimaryYAxis(py => py.Maximum(150000).Interval(30000)).Tooltip(tt => tt.Enable(true).Header("${point.x}").Format("Sales Count : <b>${point.y}")).LegendSettings(leg => leg.Visible(false).EnableHighlight(true)).Load("load").AxisLabelRender("axisLabelRender").PointRender("labelRender").Render()
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/three-dimensional-chart/theme-color.js"></script>
    <script>
        function labelRender(args) {
            pointRender(args);
        }
        function load(args) {
            load3DChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
        function axisLabelRender(args) {
            if (args.axis.name === 'primaryYAxis') {
                var value = Number(args.text) / 1000;
                args.text = String(value) + 'k';
            }
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the 3D Column in ASP.NET MVC 3D Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the top-selling electric car in China using the default column series in the 3D chart. Data points are enhanced with tooltips.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a 3D column chart. The 3D column chart serves the purpose of comparing the frequency, count, total, or average of data across different categories.
    </p>
    <p>
        <code>Tooltips</code> are enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET MVC 3D Column Chart Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of 3D Column in ASP.NET MVC 3D Chart Control</h1>
}

