@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">

        @Html.EJS().Chart3D("container").Rotation(7).WallColor("transparent").Height("400").Tilt(10).Depth(100).Title("Passenger Car Production in Selected Countries - 2021").PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).Interval(1).LabelPlacement(Syncfusion.EJ2.Charts.LabelPlacement.BetweenTicks).LabelRotation(-45)
   ).Series(series =>
        {
            series.Type(Syncfusion.EJ2.Charts.Chart3DSeriesType.Column).ColumnFacet(Syncfusion.EJ2.Charts.ShapeType.Cylinder).DataSource(ViewData["ChartData"]).XName("X").YName("Y").ColumnWidth(0.9).Add();
        }).PrimaryYAxis(py => py.Maximum(4).Interval(1)).Tooltip(tt => tt.Enable(true).Header("${point.x}").Format("Car Production : <b>${point.y}M")).Load("load").AxisLabelRender("axisLabelRender").PointRender("labelRender").Render()
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/three-dimensional-chart/theme-color.js"></script>
    <script>        
        var labelRender = function (args) {
            pointRender(args);
        };
        var axisLabelRender = function (args) {
            if (args.axis.name === 'primaryYAxis') {
                args.text = args.text + 'M';
            }
        }
        var load = function (args) {
            load3DChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? '100%' : '75%';
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the 3D Cylindrical Column in ASP.NET MVC 3D Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the passenger car production in selected countries for 2021, using a cylindrical column in 3D chart.
    </p>
}
@section Description{
    <p>
        In this example, you can see the rendering and configuration of a 3D cylindrical column chart. The 3D cylindrical column chart is similar to a 3D column chart but features a distinct cylindrical shape.
    </p>
    <p>
        <code>Tooltips</code> are enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET MVC 3D Cylindrical Column Chart Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of 3D Cylindrical Column in ASP.NET MVC 3D Chart Control</h1>
}

