@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="content-wrapper">
            @Html.EJS().NumericTextBox("numeric").Value(10).Locale("de").Placeholder("Geben Sie den Wert ein").FloatLabelType(FloatLabelType.Always).Render()

            @Html.EJS().NumericTextBox("percentage").Format("p2").Value(0.5).Locale("de").Max(1).Min(0).Step(0.01).Placeholder("Geben Sie den Prozentsatz ein").FloatLabelType(FloatLabelType.Always).Render()

            @Html.EJS().NumericTextBox("currency").Format("c2").Value(100).Locale("de").Currency("EUR").Placeholder("Geben Sie die Währung ein").FloatLabelType(FloatLabelType.Always).Render()

        </div>
    </div>
    <div class="col-lg-4 property-section">
    <table id="property" title="Properties">
        <tr>
            <td>
                <div>Culture</div>
            </td>
            <td>
                <div>
                    <!-- Drop down option to switch cultures -->
                    @Html.EJS().DropDownList("cultures").Text("de").Change("changeLocale").DataSource(ViewBag.cultureData).Fields(new DropDownListFieldSettings { Text = "CultureName" }).Render()
                </div>
            </td>
        </tr>
    </table>
</div>


    <script type="text/javascript">
        
        // While changing culture 'locale', 'currency' and 'placeholder' values will be modified.

        function loadCultureFiles(name) {
            var files = ['currencies.json', 'numbers.json'];
            if (name === 'zh') {
                files.push('currencyData.json');
            }
            var loader = ej.base.loadCldr;
            var loadCulture = function () {
                var val, ajax;
                if (name === 'zh' && prop === files.length - 1) {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
                } else {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
                }
                ajax.onSuccess = function (value) {
                    val = value;
                };
                ajax.send();
                loader(JSON.parse(val));
            };
            for (var prop = 0; prop < files.length; prop++) {
                loadCulture();
            }
        }
        loadCultureFiles('de');
        function changeLocale() {
            var numeric = document.getElementById("numeric").ej2_instances[0];
            var percent = document.getElementById("percentage").ej2_instances[0];
            var currency = document.getElementById("currency").ej2_instances[0];

            var culture = document.getElementById('cultures').value;
            numeric.locale = culture;
            percent.locale = culture;
            currency.locale = culture;
            if (culture != 'en') {
                loadCultureFiles(culture);
            }
            if (culture === 'zh') {
                currency.currency = 'CNY';
                numeric.placeholder = '输入值';
                currency.placeholder = '输入货币';
                percent.placeholder = '输入百分比';
            }
            else if (culture === 'de') {
                currency.currency = 'EUR';
                numeric.placeholder = 'Geben Sie den Wert ein';
                currency.placeholder = 'Geben Sie die Währung ein';
                percent.placeholder = 'Geben Sie den Prozentsatz ein';
            }
            else {
                currency.currency = 'USD';
                numeric.placeholder = 'Enter the value';
                currency.placeholder = 'Enter the currency';
                percent.placeholder = 'Enter the percentage';
            }
        }
    </script>

    <style>
        .property-panel-content {
            padding: 0 10px 10px 0;
        }

        .content-wrapper {
            width: 50%;
            margin: 0 auto;
            min-width: 185px;
        }

        .e-float-input.e-numeric.e-input-group {
            margin-top: 40px;
        }
    </style>

}

@section PreScripts {
    <script>
        ej.base.enableRipple(true)
        ej.base.L10n.load({
            'en': {
                'numerictextbox': { incrementTitle: 'Increment value', decrementTitle: 'Decrement value' }
            },
            'de': {
                'numerictextbox': { incrementTitle: 'Wert erhöhen', decrementTitle: 'Dekrementwert' }
            },
            'zh': {
                'numerictextbox': { incrementTitle: '增值', decrementTitle: '遞減值' }
            }
        });
    </script>
}
@section Meta{
    <meta name="description" content="NumericTextBox comes with built-in internationalization support. Based on the culture, it formats the currency symbol, decimal separator, and group separators." />
}

@section ActionDescription{

    <div id="action-description">
        <p>
            This sample demonstrates the globalization support of the Numeric TextBox. Change the locale values from culture drop-down to change the currency symbol, decimal separator, and group separators format of Numeric TextBox.
        </p>
    </div>

}
@section Description{

    <div id="description">
        <p>
            The NumericTextBox comes with built-in internationalization support to adapt based on the culture. You can change the culture of the component using the 
            <a href="http://ej2.syncfusion.com/documentation/numerictextbox/api-numericTextBox.html" target="_blank">locale</a> property, that format the currency symbol, decimal separator, and group separators.
        </p>
        <p>
            In this demo, NumericTextBox control renders with the German culture.
        </p>
        <p>
            More information on the internationalization configuration can be found in the 
            <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/numerictextbox/internationalization.html" target="_blank">documentation section</a>.
        </p>
        </div>


}
