@using Syncfusion.EJ2

@model EJ2MVCSampleBrowser.Controllers.Button.RadioButtonModel
@section ControlsSection{
    <div class="control-section">
        <div class="radio-control">
            @using (Html.BeginForm())
            {
                <h4 class="row">Select the Gender</h4>
                <div class="row">
                    @Html.EJS().RadioButtonFor(model => model.gender, "male").Label("Male").Render()
                </div>
                <div class="row">
                    @Html.EJS().RadioButtonFor(model => model.gender, "female").Label("Female").Render()
                </div>
                @Html.ValidationMessageFor(model => model.gender)
                @Html.EJS().Button("submit-button").Content("Submit").Render()
            }
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Radio Button in ASP.NET MVC Button control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>Click the submit button to post the value of the selected RadioButton. When submitting the female RadioButton, validation error message will be shown by using Data Annotation.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            This sample demonstrates strongly typed support in RadioButton. You can bind model property to the RadioButton by using Lambda Expression.
            While submitting form, the model property will be based on <code>value</code> of the selected RadioButton.
        </p>
        <p>
        <p>
            More information about RadioButton can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/radio-button/getting-started" aria-label="documentation section">
                documentation section
                <span class="sr-only">opens in a new tab</span>
            </a>.
        </p>
    </div>
}
@*custom code start*@
<style>
    .radio-control {
        width: 165px;
        margin: 0 auto;
        margin-top: 6%;
    }

    .control-section .row {
        margin: 20px 0;
    }

    .e-bigger .radio-control h4 {
        font-size: 20px;
    }

    .field-validation-error,
    .field-validation-valid {
        color: red;
        display: block;
        margin: 15px 0;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Button Radio Button Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Radio Button in ASP.NET MVC Button Control</h1>
                }