@using Syncfusion.EJ2
@model EJ2MVCSampleBrowser.Models.QueryTemplateModel.ActionModel

<div class="e-groupheader">
    @Html.EJS().DropDownList(Model.RuleID + "_cndtnbtn").Fields(Model.Fields).Value(Model.Condition).DataSource(ViewData["Conditions"]).Change("grpConditionChange").CssClass("e-outline").Width("100px").Render()
    <div class="e-header">
        <div class="e-qb-hdr-content">
            <button id=@(Model.RuleID + "_addbtn") class="e-btn e-primary e-grp-btn" onclick="addgrpChange(event)">ADD Group</button>
        </div>
        <div class="e-qb-hdr-content">
            <button id=@(Model.RuleID + "_addrlbtn") class="e-btn e-primary e-cond-btn" onclick="addruleChange(event)">Add Condition</button>
        </div>
        @if (Model.RuleID != "querybuilder_group0")
        {
            <div class="e-qb-hdr-content">
                <button id=@(Model.RuleID + "_dltbtn") class="e-btn e-danger e-del-btn" onclick="deleteChange(event)">Remove</button>
            </div>
        }
    </div>
</div>

@Html.EJS().ScriptManager()