@{
    ViewData["Title"] = "Forms";
}

@using Syncfusion.EJ2;
@using Syncfusion.EJ2.InPlaceEditor;
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2.Popups;
@section ControlsSection{
    <div class="col-lg-8 control-section inplace-editor-control-section form-layout" id='inplace-editor-control'>
        <div class="content-wrapper" style="margin-bottom: 25px">
            <div id="confirmation">
                <div id="submitDialog"></div>
                <form id="formId" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Title
                        </label>
                        @Html.EJS().InPlaceEditor("inplace_title_editor").Mode(RenderMode.Inline).EmptyText("Enter your question title").Name("Title").ValidationRules(ViewData["TitleValidation"]).Model(ViewData["TitleData"]).Created("titleCreated").Value("Succinctly E-Book about TypeScript").Render()
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Comments
                        </label>
                        @Html.EJS().InPlaceEditor("inplace_comment_editor").Mode(RenderMode.Inline).EditableOn(EditableType.EditIconClick).SubmitOnEnter(false).Type(Syncfusion.EJ2.InPlaceEditor.InputType.RTE).Name("rte").Created("commentCreated").EmptyText("Enter your comment").Model(ViewData["CommentData"]).ValidationRules(ViewData["CommentValidation"]).Value("<p>The extensive adoption of JavaScript for application development, and the ability to use HTML and JavaScript to create Windows Store apps, has made JavaScript a vital part of the Windows development ecosystem. Microsoft has done extensive work to make JavaScript easier to use.</p>").Render()
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;font-size: 14px;">
                            Tags
                        </label>
                        @Html.EJS().InPlaceEditor("inplace_tag_editor").Mode(RenderMode.Inline).Value(new string[2] { "TypeScript", "JavaScript" }).ActionOnBlur(ActionBlur.Ignore).Name("Tag").Type(Syncfusion.EJ2.InPlaceEditor.InputType.MultiSelect).Created("tagCreated").EmptyText("Enter your tags").Model(ViewData["TagData"]).ValidationRules(ViewData["TagValidation"]).PopupSettings(new InPlaceEditorPopupSettings { Model = new { width = "auto" } }).ActionSuccess("actionSuccess").Render()
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties">
            <tr>
                <td style="width: 50%;">
                    <div>Mode</div>
                </td>
                <td style="width: 50%;">
                    @Html.EJS().DropDownList("editorMode").Width("90%").DataSource((IEnumerable<object>)ViewData["ModeData"]).Value("Inline").Change("changeEditorMode").Render()
                </td>
            </tr>
        </table>
    </div>
}
<style>
    .inplace-editor-control-section.form-layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
    .e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
        display: block;
        visibility: hidden;
    }
    /* custom code start */
    .inplace-editor-control-section #confirmation {
        max-width: 500px;
        margin: auto;
    }
    /* custom code end */

    .inplace-editor-control-section #formId {
        padding-top: 20px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
    }

    .inplace-editor-control-section .form-horizontal .form-group {
        margin: 0 20px;
    }

        .inplace-editor-control-section .form-horizontal .form-group > * {
            width: 100%;
        }

        .inplace-editor-control-section .form-horizontal .form-group:last-child {
            padding-bottom: 40px;
        }

    .inplace-editor-control-section .form-title {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.70);
    }

    .inplace-editor-control-section .submit {
        margin: auto;
        width: 50%;
        text-align: center;
    }

    .inplace-editor-control-section.form-layout .content-wrapper .form-horizontal .control-label {
        padding: 15px 15px 15px 0;
        font-weight: 600;
    }

    @@media (max-width: 768px) {
        .inplace-editor-control-section.form-layout .content-wrapper .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
        }
    }
</style>

@section PreScripts {
    <script>
        var titleObj, commentObj, tagObj;
        function titleCreated() {
            titleObj = this;
        }
        function commentCreated() {
            commentObj = this;
        }
        function tagCreated() {
            tagObj = this;
        }
        function changeEditorMode(e) {
            if (e.itemData.text === 'Popup') {
                titleObj.mode = commentObj.mode = tagObj.mode = 'Popup';
                commentObj.popupSettings.model = { width: document.querySelector('#inplace-editor-control.form-layout ').offsetWidth };
            } else {
                titleObj.mode = commentObj.mode = tagObj.mode = 'Inline';
            }
        }
        function actionSuccess(e) {
            e.value = chipCreation(e.value.split(','));
        }
        function chipOnCreate() {
            tagObj.element.querySelector('.e-editable-value').innerHTML = chipCreation(tagObj.value);
        }
        function chipCreation(data) {
            var value = '<div class="e-chip-list">';
            [].slice.call(data).forEach((val) => {
                value += '<div class="e-chip"> <span class="e-chip-text"> ' + val + '</span></div>';
            });
            value += '</div>';
            return value;
        }
        setTimeout(function () {
            chipOnCreate();
            titleObj.element.setAttribute("data-underline", false);
            commentObj.element.setAttribute("data-underline", false);
            tagObj.element.setAttribute("data-underline", false);
        }, 500);
        document.getElementById('right-pane').onscroll = function () {
            var mode = document.getElementById("editorMode")
            if (mode.ej2_instances[0].value === 'Inline') { return; }
            if (titleObj.element.querySelectorAll('.e-editable-open').length > 0)
                titleObj.enableEditMode = false;
            if (commentObj.element.querySelectorAll('.e-editable-open').length > 0)
                commentObj.enableEditMode = false;
            if (tagObj.element.querySelectorAll('.e-editable-open').length > 0)
                tagObj.enableEditMode = false;
        }
    </script>
}
@section ActionDescription{
    <p>
        The sample demonstrates <code>In-Place Editor</code> component usage with a form element. Edit the values in place and post the question.
    </p>
}
@section Description{
    <p>
        This sample demo places the <code>In-place Editor</code> component with a form.
    </p>
    <p>
        More information on the <code>In-place Editor</code> instantiation can be found in the&nbsp;<a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/in-place-editor/getting-started" aria-label="documentation section">
            documentation section
        <span class="sr-only">opens in a new tab</span></a>.
    </p>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Edit Post in ASP.NET MVC In-place Editor control. Explore here for more details."/>
                }

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC In-place Editor Edit Post Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Edit Post in ASP.NET MVC In-place Editor Control</h1>
                }