<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="bootstrap" version="5.3.5" targetFramework="net462" />
  <package id="jQuery" version="3.7.1" targetFramework="net462" />
  <package id="jQuery.Validation" version="1.21.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.11.0" targetFramework="net462" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.2.2" allowedVersion="[4.2.2,)" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Modernizr" version="2.8.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" allowedVersion="[13.0.3,)" targetFramework="net462" />
  <package id="Owin" version="1.0.0" targetFramework="net462" />
  <package id="Syncfusion.Compression.Base" version="34.1.29" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="34.1.29" />
  <package id="Syncfusion.Licensing" version="34.1.29" targetFramework="net462" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="34.1.29" />
  <package id="Syncfusion.XlsIO.AspNet.Mvc5" version="34.1.29" />
  <package id="Syncfusion.Presentation.AspNet.Mvc5" version="34.1.29" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Base" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.BarcodeGenerator" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.BlockEditor" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.BulletChart" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Buttons" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Calendars" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Chart3D" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Charts" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.CircularChart3D" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.CircularGauge" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Diagram" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.DropDowns" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.FileManager" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Gantt" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Grid" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.HeatMap" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.ImageEditor" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.InPlaceEditor" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Inputs" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.InteractiveChat" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Kanban" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Layouts" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.LinearGauge" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Lists" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Maps" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.MultiColumnComboBox" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Navigations" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Notifications" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.PivotView" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Popups" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.ProgressBar" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.QueryBuilder" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.RangeNavigator" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Ribbon" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.RichTextEditor" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Sankey" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Schedule" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Smithchart" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.Sparkline" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.SplitButtons" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.StockChart" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.TreeGrid" version="34.1.29" targetFramework="net462" />
  <package id="Syncfusion.AspNetMvc.TreeMap" version="34.1.29" targetFramework="net462" />
</packages>
