@using Syncfusion.EJ2
@{ViewData["Title"] = "    Essential DocIO (Word) : Export, DOC to PDF, Conversion : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("DOCtoPDF", "Word", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px">
                    Select Document
                    <br />
                    <input type="file" name="file" id="fileUpload" accept=".doc,.docx,.rtf,.dot,.dotm,.dotx,docm,.xml" style="display:block;visibility:hidden;width:0;height:0;" />
                    <input type="button" name="uploadButton" value="Choose File" onclick="openFile()" />
                    <input type="text" id="fileName" value="DocToPDF.docx" style="border:none;" readonly="readonly"/>
                    <div style="margin-top: 10px">
                        Click the button to view the resultant PDF document being converted from Word
                        document using Essential DocIO and Essential PDF. Please note that PDF viewer is required to view the resultant PDF.
                    </div>
                    <div style="margin-top: 10px">
                        <div class="rowdiv" style="margin-top: 10px">
                            <input type="checkbox" name="renderingMode" value="DirectPDF" id="directPDF" />
                            <label for="directPDF" style="font-weight:normal">
                                Enables fast rendering, generates PDF faster.
                            </label>
                            <br />
                            PDF Options
                            <br />
                            <input type="checkbox" name="renderingMode1" value="PreserveFormFields" checked="true" id="preserveFormFields" />
                            <label for="preserveFormFields" style="font-weight:normal">
                                Preserve form fields, generates PDF document with PDF form fields for equivalent Word document form fields.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode2" value="PreserveWordHeadingsToPDFBookmarks" checked="true" id="preserveWordHeadingsToPDFBookmarks" />
                            <label for="preserveWordHeadingsToPDFBookmarks" style="font-weight:normal">
                                Convert Word headings to PDF bookmarks, generates PDF document with bookmarks for Word document paragraph with heading style and outline level.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode5" value="ShowRevisions" checked="true" id="showRevisions" />
                            <label for="showRevisions" style="font-weight:normal">
                                Show the revision marks in the generated PDF for tracked changes or revisions in the Word document.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode6" value="ShowComments" checked="true" id="showComments" />
                            <label for="showComments" style="font-weight:normal">
                                Show the comments in the generated PDF for comments in the Word document.
                            </label>
                            <br />
                            Embed Fonts
                            <br />
                            <input type="checkbox" name="renderingMode4" value="EnablesSubsetFont" id="enablesSubsetFont" />
                            <label for="enablesSubsetFont" style="font-weight:normal">
                                Enables subset font, generates PDF document by embedding subset font information.
                            </label>
                            <br />
                            <input type="checkbox" name="renderingMode3" value="EnablesCompleteFont" id="enablesCompleteFont" />
                            <label for="enablesCompleteFont" style="font-weight:normal">
                                Enables complete font, generates PDF document by embedding complete font information.
                            </label>
                        </div>
                    </div>
                    <div style="margin-top: 8px">
                        <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:170px;text-transform:capitalize" />
                    </div>
                </div>
                <br />
                <div class="text-danger">
                    @ViewData["Message"]
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to convert Word document to PDF using Essential DocIO and PDF.
    </div>
}
@section Description{
    <div>
        DocIO provides support to render Word document from flow to fixed page model and export as PDF or Image. With this support to render Word document,
        <ul>
            <li>
                You can generate invoice and other reports in PDF, starting from Word document.
            </li>
            <li>
                You can view or print the contents of Word document by converting as PDF and loading generated PDF via PDF viewer.
            </li>
            <li>
                You can generate PDF more faster by enabling fast render option and embed fonts by enabling embed font option.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about Word to PDF conversion can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/word-to-pdf">documentation</a>
        section.
    </div>
    <script>
         function openFile() {
             document.getElementById('fileUpload').click();
             document.getElementById('fileUpload').addEventListener('change', updateFileName, false);
        }
        function updateFileName(evt) {
            var upoadedFiles = evt.target.files;
            filename = upoadedFiles[0].name;
            document.getElementById('fileName').value = filename;
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Word to PDF in ASP.NET MVC Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC Word (DocIO) library - Word to PDF Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Word to PDF in ASP.NET MVC Word (DocIO) Library</h1>
                }