@using Syncfusion.EJ2
@{ViewData["Title"] = "    Essential DocIO (Word) : Export, DOC to PDF/UA, Conversion : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("DOCtoPDFUA", "Word", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px">
                    Select Document
                    <br />
                    <input type="file" name="file" id="fileUpload" accept=".doc,.docx,.rtf,.dot,.dotm,.dotx,docm,.xml" style="display:block;visibility:hidden;width:0;height:0;" />
                    <input type="button" name="uploadButton" value="Choose File" onclick="openFile()" />
                    <input type="text" id="fileName" value="DocToPDF.docx" style="border:none;" readonly="readonly"/>
                    <div style="margin-top: 10px">
                        Click the button to view the generated PDF/UA document being converted from Word document using .NET Word (DocIO) library and .NET PDF library. Please note that PDF viewer is required to view the resultant PDF.
                    </div>
                    <div style="margin-top: 8px">
                        <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:170px;text-transform:capitalize" />
                    </div>
                </div>
                <br />
                <div class="text-danger">
                    @ViewData["Message"]
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to convert a Word document to PDF/UA (Section 508 compliant) using .NET Word (DocIO) library and .NET PDF library.
    </div>
}
@section Description{
    <div>
        This feature is used for people who require assistive technologies when the electronic content is ready. The .NET Word (DocIO) library supports converting a Word document to a tagged PDF with Section 508 compliant. For more information about Word to PDF/UA, see this 
        <a href="https://help.syncfusion.com/file-formats/docio/word-to-pdf#accessible-pdf-document">documentation</a>
        section.
    </div>
    <script>
         function openFile() {
             document.getElementById('fileUpload').click();
             document.getElementById('fileUpload').addEventListener('change', updateFileName, false);
        }
        function updateFileName(evt) {
            var upoadedFiles = evt.target.files;
            filename = upoadedFiles[0].name;
            document.getElementById('fileName').value = filename;
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Word to PDF/UA in ASP.NET MVC Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC Word (DocIO) library - Word to PDF/UA Example - Syncfusion Demos</title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Word to PDF/UA in ASP.NET MVC Word (DocIO) Library</h1>
                }