@{
    ViewBag.Title = "GettingStared";
}

<h2>
<p>This section contains a sample demonstrating creation of a Microsoft Word document using Essential DocIO's API.</p>
<p><b>Hello World Sample </b>- This sample illustrates a Microsoft Word document created using few lines of code with Essential DocIO.</p></h2>
