@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Export, Word to Image, Conversion : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WordtoImage", "Word", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px">
                    Select Document
                    <br />
                    @Html.TextBox("file", "", new { type = "file", accept = ".doc,.docx,.rtf,.dot,.dotm,.dotx,docm,.xml" })
                    <div style="margin-top: 10px">
                        Click the button to view the generated Image being converted from Word document using Essential DocIO.
                        <div style="margin-top: 10px">
                            Convert to:
                            <input type="radio" id="rdButtonPng" name="Group1" value="PNG" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonPng" data-toggle="tooltip" style="font-weight:normal" title="Saves the resultant image as PNG">
                                PNG
                            </label>
                            <input type="radio" id="rdButtonJpeg" name="Group1" value="JPEG" style="margin-left: 7px" />
                            <label for="rdButtonJpeg" data-toggle="tooltip" style="font-weight:normal" title="Saves the resultant image as JPEG">
                                JPEG
                            </label>
                            <input type="radio" id="rdButtonBmp" name="Group1" value="BMP" style="margin-left: 7px" />
                            <label for="rdButtonBmp" data-toggle="tooltip" style="font-weight:normal" title="Saves the resultant image as BMP">
                                BMP
                            </label>
                            <input type="radio" id="rdButtonEmf" name="Group1" value="EMF" style="margin-left: 7px" />
                            <label for="rdButtonEmf" data-toggle="tooltip" style="font-weight:normal" title="Saves the resultant image as EMF">
                                EMF
                            </label>
                        </div>
                        <div style="margin-top: 8px">
                            <input class="e-btn" type="submit" value="Convert to Image" style="width:170px;text-transform:capitalize" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-danger">
                    @ViewBag.Message
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to convert Word document to Image using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO provides support to render Word document from flow to fixed page model and export as Image. With this support to render Word document,
        <ul>
            <li>
                You can generate invoice and other reports as Image, starting from Word document.
            </li>
            <li>
                You can view or print the contents of Word document by converting as Image.
            </li>
            <li>
                You can save a page of the document as thumbnail image for reference.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about Word to Image conversion can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/word-to-image">documentation</a>
        section.
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Word to Image in ASP.NET MVC Word (DocIO) library. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC Word (DocIO) library - Word to Image Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Word to Image in ASP.NET MVC Word (DocIO) Library</h1>
                }