@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @Html.EJS().Schedule("Schedule").Width("100%").Height("550px").AllowClipboard(true).ShowQuickInfo(false).CurrentView(View.Week).Views(view =>
                      {
                          view.Option(View.Week).Add(); view.Option(View.Day).Add(); view.Option(View.Month).Add(); view.Option(View.TimelineDay).Add(); view.Option(View.TimelineWeek).Add(); view.Option(View.TimelineWorkWeek).Add(); view.Option(View.TimelineMonth).Add();
                      }).SelectedDate(new DateTime(DateTime.Today.Year, 1, 10)).EventSettings(new ScheduleEventSettings { DataSource = ViewData["datasource"] }).Render()
        </div>
    </div>
    <div>
        @Html.EJS().ContextMenu("ScheduleContextMenu").CssClass("schedule-context-menu").BeforeOpen("onContextMenuBeforeOpen").Select("onMenuItemSelect").Target(".e-schedule").Items(ViewData["menuItems"]).Render()
    </div>
    <style>

        .e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
            font-size: 14px;
        }

        .schedule-context-menu ul .e-menu-item .e-menu-icon {
            font-size: 12px;
        }
    </style>
    <script type="text/javascript">
        var selectedTarget;
        var targetElement;
        function onContextMenuBeforeOpen(args) {
            var newEventElement = document.querySelector('.e-new-event');
            if (newEventElement) {
                ej.base.remove(newEventElement);
                ej.base.removeClass([document.querySelector('.e-selected-cell')], 'e-selected-cell');
            }
            var scheduleObj = document.querySelector("#Schedule").ej2_instances[0];
            scheduleObj.closeQuickInfoPopup();
            targetElement = args.event.target;
            if (ej.base.closest(targetElement, '.e-contextmenu')) {
                return;
            }
            selectedTarget = ej.base.closest(targetElement, '.e-appointment,.e-work-cells,' +
                '.e-vertical-view .e-date-header-wrap .e-all-day-cells,.e-vertical-view .e-date-header-wrap .e-header-cells');
            if (ej.base.isNullOrUndefined(selectedTarget)) {
                args.cancel = true;
                return;
            }
            if (selectedTarget.classList.contains('e-appointment')) {
                this.showItems(['Cut', 'Copy'], true);
                this.hideItems(['Paste'], true);
            } else {
                this.showItems(['Paste'], true);
                this.hideItems(['Cut', 'Copy'], true);
            }
        }

        function onMenuItemSelect(args) {
            var scheduleObj = document.querySelector("#Schedule").ej2_instances[0];
            var selectedMenuItem = args.item.id;
            switch (selectedMenuItem) {
                case 'Cut':
                    scheduleObj.cut([selectedTarget]);
                    break;
                case 'Copy':
                    scheduleObj.copy([selectedTarget]);
                    break;
                case 'Paste':
                    scheduleObj.paste(targetElement);
                    break;
            }
        }
    </script>
}

@section ActionDescription{
    <p>This example demonstrates how to integrate clipboard functionality (cut, copy, paste) and a custom context menu into the Scheduler control.</p>
}

@section Description{
    <p>In this example, the <code>allowClipboard</code> property is set to <code>true</code> to enable clipboard functionality. This property allows the following keyboard shortcuts:</p>
    <ul>
        <li><strong>Ctrl + X:</strong> To cut the selected appointment from the scheduler.</li>
        <li><strong>Ctrl + C:</strong> To copy the selected appointment.</li>
        <li><strong>Ctrl + V:</strong> To paste the cut/copied appointment.</li>
    </ul>
    <p>Additionally, we have integrated the ContextMenu control separately from the application end and set its target to the Scheduler control. Also, we have used the following Scheduler's public methods in the context menu handlers:</p>
    <ul>
        <li><strong>cut()</strong> method to remove the selected appointment.</li>
        <li><strong>copy()</strong> method to duplicate the selected appointment.</li>
        <li><strong>paste()</strong> method to insert the appointment into the target time slot.</li>
    </ul>
    <p>On mobile devices, the context menu will open when you tap and hold on the cells or events.</p>
  </div>
}