@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @Html.EJS().Schedule("schedule").Width("100%").Height("550px").EventSettings(new ScheduleEventSettings { DataSource = ViewData["datasource"] }).SelectedDate(new DateTime(DateTime.Today.Year, 2, 12)).AllowOverlap(false).Render()
        </div>
    </div>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Overlap Events in ASP.NET MVC Scheduler control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
           This demo explains how to restrict overlapping appointments within the same time range.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, the Scheduler's <code>allowOverlap</code> API is used to restrict overlapping events, preventing one events
      from being scheduled within the time range of another event. By default, the <code>allowOverlap</code> value is set to <code>true</code>.
      When <code>allowOverlap</code> is set to <code>false</code>, unable to add or edit events dynamically within the time range of other events,
      and cannot drag or resize events to overlap with other event time ranges.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Scheduler Overlap Events Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Prevent Overlapping Events in ASP.NET MVC Scheduler Control</h1>
                }