@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper recurrence-editor-wrap">
            <div style="padding-bottom:15px;">
                <label>Rule Output</label>
                <div class="rule-output-container">
                    <div id="rule-output">FREQ=DAILY;INTERVAL=1;</div>
                </div>
            </div>
            @Html.EJS().RecurrenceEditor("RecurrenceEditor").SelectedType(1).Change("onChange").Render()
        </div>
    </div>
    <style>
        .recurrence-editor-wrap {
            margin: 0 25%;
        }

        .rule-output-container {
            height: auto;
            border: 1px solid #969696;
        }

        #rule-output {
            padding: 8px 4px;
            text-align: center;
            min-height: 20px;
            overflow: hidden;
            overflow-wrap: break-word;
        }

        @@media (max-width: 580px) {
            .recurrence-editor-wrap {
                margin: 0 5%;
            }
        }
    </style>
    <script type="text/javascript">
        function onChange(args) {
            var element = document.querySelector('#rule-output');
            element.innerText = args.value;
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Rule Generator in ASP.NET MVC Scheduler control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This demo showcases the recurrence rule generation based on the options selected from the Recurrence editor and it usually
            follows the
            <a href="https://tools.ietf.org/html/rfc5545#section-3.3.10" target="_blank" aria-label="iCalendar">iCalendar<span class="sr-only">opens in a new tab</span></a> specifications. This generated recurrence rule string is a valid one to be used with the Schedule event's
            recurrence rule field.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this demo, a specific rule has been set to the recurrence editor manually by using the
            <code>setRecurrenceRule</code> method which will be displayed on the label placed at the top of it. Also, when the user dynamically change the
            options in recurrence editor, the modified rule value as per the selection will be displayed on it which is retrieved
            within the
            <code>Change</code> event.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Scheduler Rule Generator Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Rule Generator in ASP.NET MVC Scheduler Control</h1>
                }