@@using Syncfusion.EJ2

@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="content-wrapper">
            @Html.EJS().Schedule("schedule").Width("100%").Height("650px").Resources(res =>
                {
                    res.DataSource(ViewData["Owners"]).Field("OwnerId").Title("Owners").Name("Owners").TextField("OwnerText").IdField("OwnerId").ColorField("Color").AllowMultiple(true).Add();
                }).EventSettings(e => e.DataSource(ViewData["datasource"])).SelectedDate(new DateTime(DateTime.Today.Year, 6, 6)).Render()
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Resources" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        @Html.EJS().CheckBox("margaret").Change("onChange").Checked(true).Label("Margaret").Value("1").CssClass("margaret").Render()
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        @Html.EJS().CheckBox("robert").Change("onChange").Checked(true).Label("Robert").Value("2").CssClass("robert").Render()
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        @Html.EJS().CheckBox("laura").Change("onChange").Checked(true).Label("Laura").Value("3").CssClass("laura").Render()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*custom code start*@
    <style>
        .property-panel-content .e-checkbox-wrapper.margaret .e-frame {
            background-color: #ea7a57;
            border-color: transparent;
        }

        .property-panel-content .e-checkbox-wrapper.robert .e-frame {
            background-color: #df5286;
            border-color: transparent;
        }

        .property-panel-content .e-checkbox-wrapper.laura .e-frame {
            background-color: #865fcf;
            border-color: transparent;
        }
    </style>
    @*custom code end*@

    <script type="text/javascript">
        function onChange() {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            var ownerOneObj = document.getElementById('margaret').ej2_instances[0];
            var ownerTwoObj = document.getElementById('robert').ej2_instances[0];
            var ownerThreeObj = document.getElementById('laura').ej2_instances[0];
            var predicate;
            var checkBoxes = [ownerOneObj, ownerTwoObj, ownerThreeObj];
            checkBoxes.forEach(function (checkBoxObj) {
                if (checkBoxObj.checked) {
                    if (predicate) {
                        predicate = predicate.or('OwnerId', 'equal', parseInt(checkBoxObj.value, 10));
                    } else {
                        predicate = new ej.data.Predicate('OwnerId', 'equal', parseInt(checkBoxObj.value, 10));
                    }
                }
            });
            scheduleObj.eventSettings.query = new ej.data.Query().where(predicate);
        }
    </script>

}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Resources in ASP.NET MVC Scheduler control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates how to dynamically show or hide the appointments of resources on Scheduler based on
            the resource selection.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, the resource appointments are dynamically shown or hidden on the Scheduler, by passing the
            filtered event data of selected resources to the <code>Query</code> option of the <code>EventSettings</code>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Scheduler Resources Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Resources in ASP.NET MVC Scheduler Control</h1>
                }