@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="schedule-wrapper">
            @Html.EJS().Schedule("schedule").Width("100%").Height("650px").CurrentView(View.TimelineWeek).Views(view => { view.Option(View.TimelineDay).Add(); view.Option(View.TimelineWeek).Add(); view.Option(View.TimelineWorkWeek).Add(); view.Option(View.TimelineMonth).Add(); view.Option(View.Agenda).Add(); }).EventSettings(new ScheduleEventSettings { DataSource = ViewData["appointments"] }).SelectedDate(new DateTime(DateTime.Today.Year, 1, 10)).WorkDays((int[])ViewData["workDays"]).Render()
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        <div class='datepicker-control-section'>
                            @Html.EJS().DatePicker("scheduledate").Value(new DateTime(DateTime.Today.Year, 1, 10)).ShowClearButton(false).Change("onChange").Placeholder("Current Date").FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Always).Render()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script type="text/javascript">
        function onChange(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            scheduleObj.selectedDate = args.value;
            scheduleObj.dataBind();
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Timeline Views in ASP.NET MVC Scheduler control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>This demo showcases how the timeline scheduler looks like with its default set of configurations.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Like the vertical scheduler, timeline view has the similar view types such as
        </p>
        <ul>
            <li>Timeline Day</li>
            <li>Timeline Week</li>
            <li>Timeline WorkWeek</li>
            <li>Timeline Month</li>
        </ul>
        <p>The Agenda and MonthAgenda views shares the same layout for both the vertical and timeline views.</p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Scheduler Timeline Views Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Timeline Views in ASP.NET MVC Scheduler Control</h1>
                }