@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @Html.EJS().Schedule("schedule").Width("100%").Height("650px").CssClass("virtual-scroll").SelectedDate(new DateTime(DateTime.Today.Year, 4, 1)).CurrentView(View.TimelineMonth).Views(view => { view.Option(View.TimelineMonth).EventTemplate("#timeline-event-template").AllowVirtualScrolling(true).Add(); view.Option(View.Month).EventTemplate("#timeline-event-template").AllowVirtualScrolling(true).Add(); }).Group(group => group.EnableCompactView(false).Resources((string[])ViewData["Resource"])).Resources(res => { res.DataSource(ViewData["resources"]).Field("ResourceId").Title("Resource").Name("Resources").TextField("Text").IdField("Id").ColorField("Color").AllowMultiple(true).Add(); }).EventSettings(new ScheduleEventSettings { DataSource = ViewData["datasource"] }).Render()
        </div>
    </div>
    <style>
        .virtual-scroll.e-schedule .template-wrap .subject {
            padding: 10px 25px;
        }

        .virtual-scroll.e-schedule .e-month-view .template-wrap .subject {
            padding: 3px 10px;
        }

        .virtual-scroll.e-schedule .e-month-view .e-date-header-wrap table col,
        .virtual-scroll.e-schedule .e-month-view .e-work-cells {
            width: 46px;
        }

        .virtual-scroll.e-schedule .e-more-event-popup .template-wrap .subject {
            padding: 0px 25px;
        }

        .virtual-scroll.e-schedule .template-wrap {
            width: 100%;
        }

        .virtual-scroll.e-schedule .e-timeline-month-view .e-resource-left-td {
            width: 150px;
        }
    </style>
    <script id="timeline-event-template" type="text/x-template">
        <div class='template-wrap' style='background:${PrimaryColor}'>
            <div class="subject" style='background:${SecondaryColor};'>${Subject}</div>
        </div>
    </script>
}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Virtual Scrolling in ASP.NET MVC Scheduler control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This example illustrates how to dynamically load the resources and events as you scroll through the scheduler.
            All the events in this example are loaded at the initial rendering of scheduler, but the events in the visible
            area alone will be rendered. Here, the scheduler is made to dynamically load 300 resources along with the
            events count of 3600 (300 resources * 12 events).
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, the virtual scrolling option is enabled on timeline month and month views to load the large number of
            resources and its associated events. To enable the dynamic loading of events and resources in the
            Scheduler, set the <code>allowVirtualScrolling</code> property to <code>true</code> within the view-specific settings.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Scheduler Virtual Scrolling Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Virtual Scrolling in ASP.NET MVC Scheduler Control</h1>
                }