@using Syncfusion.EJ2.Diagrams;
@using EJ2MVCSampleBrowser.Models;
@section ControlsSection{
    <div class="control-section">
        <div style="width:100%;height:600px;">
            <div id="diagram-space">
                @(Html.EJS().Diagram("diagram").Width("100%").Height("600px").SnapSettings(s => s.Constraints(SnapConstraints.None)).Created("fitToPage")
                    .Tool(DiagramTools.ZoomPan).Nodes((List<DiagramNode>)ViewData["nodes"]).Connectors((List<DiagramConnector>)ViewData["connectors"]).Render())
            </div>
        </div>
    </div>

}
<script>
    function fitToPage() {
        setTimeout(function () {
            var diagram = document.getElementById("diagram").ej2_instances[0];
            diagram.fitToPage();
        }, 800);
    }
</script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visually represents a simple fishbone diagram (Ishikawa). Diagram nodes and annotations are used to define fishbone diagrams. Read-only mode is enabled here.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Fishbone Diagram in ASP.NET MVC Diagram control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            This sample shows how to create a fishbone diagram (Ishikawa) using diagram control. Here, zoom and pan options are enabled. The tool property of the diagram control allows you to enable or disable zoom and pan options.
        </p>
        <br>
    </div>
}




@section Title{
                    <title>ASP.NET MVC Diagram Fishbone Diagram Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Fishbone Diagram in ASP.NET MVC Diagram Control</h1>
                }