@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="col-lg-8 control-section sb-property-border" style="width: 100%">
        @Html.EJS().Diagram("diagram").Created("create").Width("100%").Height("700px").GetNodeDefaults("getNodeDefaults").GetConnectorDefaults("connectorDefaults").SnapSettings(s => s.Constraints(Syncfusion.EJ2.Diagrams.SnapConstraints.None)).Model(ViewData["SequenceModel"]).Render()
    </div>

    <script>

        function create() {
            var diagram = document.getElementById("diagram").ej2_instances[0];
            diagram.fitToPage();
            diagram.tool = ej.diagrams.DiagramTools.ZoomPan;
            diagram.dataBind();
        }

        function connectorDefaults(connector) {
            var diagram = document.getElementById("diagram").ej2_instances[0];
            var message = diagram.model.messages.find(function (message) {
                return message.id === connector.id;
            });
            // Style the connector if it corresponds to a message
            if (message) {
                connector.targetDecorator.style = { fill: '#489ECC', strokeColor: '#489ECC' };
                connector.style = { strokeColor: '#489ECC', strokeWidth: 2 };
            }
        }
        function getNodeDefaults(node, diagram) {
            if (node.data instanceof ej.diagrams.UmlSequenceParticipant) {
                if (!node.data.isActor && node.annotations) {
                    node.annotations[0].style.color = 'white';
                }
            } else if (node.data instanceof ej.diagrams.UmlSequenceActivationBox) {
                node.style = { fill: 'orange', strokeColor: 'orange' };
            }
        }

    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample presents a UML sequence diagram created with the Syncfusion<sup>®</sup> EJ2 Diagram component to visualize interactions in a secure transaction process involving a user, transaction system, and fraud detection system.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the UML Sequence Diagram in ASP.NET MVC Diagram control. Explore here for more details." />
}
@section Description{
    <div id="description">
        <p>
            This sample demonstrates how to build a UML sequence diagram using the diagram's <code>Model</code> property. The <code>UmlSequenceDiagramModel</code> type provides a structured approach to defining key elements such as participants, messages, activation boxes, and interaction fragments. This approach enables the clear visualization of sequential interactions within complex systems, such as secure transaction workflows.
        </p>
        <br />
    </div>
}


@section Title{
    <title>ASP.NET MVC Diagram UML Sequence Diagram Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of UML Sequence Diagram in ASP.NET MVC Diagram Control</h1>
}