@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().Diagram("diagram").Width("100%").Height("700px").GetNodeDefaults("getNodeDefaults").GetConnectorDefaults("getConnectorDefaults").SetNodeTemplate("setNodeTemplate").Nodes(ViewBag.nodes)
                        .Connectors(ViewBag.connectors).Render()
        )
    </div>

    <script>
    //Set node default properties.
    function getNodeDefaults(obj, diagram) {
        obj.style = { fill: '#26A0DA', strokeColor: 'white' };
        return obj;
    }

    //Set connector default properties.
    function getConnectorDefaults(connector, diagram) {
        return connector;
    }

    //Set an annotation style at runtime.
    function setNodeTemplate(node) {
        if (node.annotations.length > 0) {
            for (var i = 0; i < node.annotations.length; i++) {
                node.annotations[i].style.color = 'white';
            }
        }
    }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample represents the hospital management system using diagram's built-in UML class diagram shapes.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This sample represents the hospital management system using diagram's built-in UML class diagram shapes." />
}
@section Description{
    <div id="description">
        <p>
            This example shows how to create class shapes using diagram <code>UMLClass</code> shapes. The <code>type</code> property of the
            <code>shape</code> can be used to create <code>UMLClass</code> nodes. The <code>shape</code> property of the shape allows you to create UML
            Class shapes.
        </p>
        <br />
    </div>
}

