@using Syncfusion.EJ2.MultiColumnComboBox
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div style='padding-top:30px;'>
                @Html.EJS().MultiColumnComboBox("grouping").Placeholder("Select a customer name").Fields(new MultiColumnComboBoxFieldSettings
                { Text = "CustomerName", Value = "OrderID", GroupBy = "ShipCountry" }).Columns(col =>
                {
                    col.Field("OrderID").Header("Order ID").Width("100").Add();
                    col.Field("CustomerName").Header("Customer Name").Width("130").Add();
                    col.Field("Freight").Header("Freight").Width("90").Add();
                    col.Field("ShipPostalCode").Header("Ship PostalCode").Width("160").Add();
                    col.Field("ShipCountry").Header("Ship Country").Width("140").Add();
                }).PopupHeight("230px").AllowSorting(false).DataSource(@Model.OrderDetails).Render()
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 550px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    @*custom code end*@
}

@section Meta{
    <meta name="description" content="This example demonstrates the grouping in ASP.NET MVC MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates grouping feature of the MultiColumn Combobox.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiColumn ComboBox allows to group the relevant items under a corresponding category by mapping the <code>GroupBy</code> property in the <code>MultiColumnComboBoxFieldSettings</code> which allows to load the list items. In this sample, the order data is grouped against <code>ShipCountry</code> column, which illustrates how the orders details are grouped based on its category.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET MVC MultiColumn ComboBox grouping Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of grouping in ASP.NET MVC MultiColumn ComboBox Control</h1>
}