@using Syncfusion.EJ2.MultiColumnComboBox
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <div style='padding-top:30px;'>
                <label>Select a product</label>
                @Html.EJS().MultiColumnComboBox("sorting").Placeholder("e.g. laptop").Fields(new MultiColumnComboBoxFieldSettings
                { Text = "Name", Value = "Category" }).Columns(col =>
                {
                    col.Field("Name").Header("Name").Width("110").Add();
                    col.Field("Price").Header("Price").Width("85").Add();
                    col.Field("Availability").Header("Availability").Width("98").Add();
                    col.Field("Category").Header("Category").Width("95").Add();
                    col.Field("Rating").Header("Rating").Width("70").Add();
                }).PopupHeight("210px").PopupWidth("600px").SortType(SortType.MultipleColumns).SortOrder(SortOrder.Ascending).DataSource((IEnumerable<Products>)ViewData["data"]).Render()
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }

        @@media only screen and (max-width: 480px) {
            .control-wrapper {
                width: 300px;
            }
        }
    </style>
    @*custom code end*@
}

@section Meta{
    <meta name="description" content="This example demonstrates the sorting in ASP.NET MVC MultiColumn ComboBox control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the sorting support in the MultiColumn ComboBox.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>In this sample, you can click the column header to sort/unsort the column. Any field can be selected from the Fields dropdown list and its order can be changed to display headers either in ascending or descending order. Sorting can be enabled using the <code>AllowSorting</code> property and the sort order can be customized using the <code>SortOrder</code> property in the MultiColumn ComboBox.</p>
    </div>
}
@section Title{
    <title>ASP.NET MVC MultiColumn ComboBox sorting Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of sorting in ASP.NET MVC MultiColumn ComboBox Control</h1>
}