@using Syncfusion.EJ2
@using Syncfusion.EJ2.FileManager
@using EJ2MVCSampleBrowser.Models
@section ControlsSection{
    <div class="control-section">
        <div class="col-lg-8  control-section">
            @Html.EJS().FileManager("filemanager").AjaxSettings(new Syncfusion.EJ2.FileManager.FileManagerAjaxSettings{
            Url = "https://ej2services.syncfusion.com/production/web-services/api/FileManager/FileOperations"
            }).NavigationPaneSettings(ls => ls.Visible(true)).ToolbarSettings(ls => ls.Visible(true)).Render()
        </div>
        <div class="col-lg-4 property-section" id="all-option-table">
                <table id="property" title="Properties">
                    <tbody>
                        <tr>
                            <td style="width: 50%">
                                <div>Toolbar</div>
                            </td>
                            <td style="width: 50%;padding-right: 10px">
                                <div>
                                    @Html.EJS().CheckBox("tool_toggle").Checked(true).CssClass("e-flat e-primary").Change("onToolbarChange").Render()
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
           
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the properties of FileManager component from the property pane. Select any properties from the property pane to customize the FileManager.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The File Manager component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports the basic file operations such as create, rename, delete.</p>
    </div>
}

@section Scripts{
    <script>
        var hostUrl = 'https://ej2services.syncfusion.com/production/web-services/';
        var fileObject = document.getElementById('filemanager').ej2_instances[0];
        fileObject.ajaxSettings.url = hostUrl + 'api/FileManager/FileOperations';
        fileObject.ajaxSettings.getImageUrl = hostUrl + 'api/FileManager/GetImage',
            fileObject.ajaxSettings.uploadUrl = hostUrl + 'api/FileManager/Upload';
        fileObject.ajaxSettings.downloadUrl = hostUrl + 'api/FileManager/Download';
    </script>
}

<script>
    function onToolbarChange(args) {
        fileObject.toolbarSettings.visible = args.checked;
    }

</script>
<style>

    .property-panel-table div {
        padding-left: 0;
        padding-top: 0;
    }

    #all-option-table .property-panel-section .property-panel-content table#property tr {
        height: 50px;
    }

</style>