@using Syncfusion.EJ2
@using Syncfusion.EJ2.FileManager
@using EJ2MVCSampleBrowser.Models

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "Selection", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    string[] file = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}

@section ControlsSection{
    <div class="control-section">
        <div class="sample-container">
            <!-- File Manager Drag and Drop feature sample -->
            @Html.EJS().FileManager("filemanager").AjaxSettings(
              new Syncfusion.EJ2.FileManager.FileManagerAjaxSettings
              {
                  Url = "FileOperations",
                  DownloadUrl = "Download",
                  UploadUrl = "Upload",
                  GetImageUrl = "GetImage"
              }).ToolbarSettings(new Syncfusion.EJ2.FileManager.FileManagerToolbarSettings()
              {
                  Items = items
              }).ContextMenuSettings(new Syncfusion.EJ2.FileManager.FileManagerContextMenuSettings()
              {
                  File = file,
                  Layout = layout
              }).AllowDragAndDrop(true).Render()
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the <code>drag-and-drop</code> feature. To drag and drop a file in the File Manager, select and drag it to the target folder. The File Manager component allows users to drag file and drop it into any folder, whether it is located in the same directory or a different one, using the <code><a href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2~Syncfusion.EJ2.FileManager.FileManager~AllowDragAndDrop.html" target="_blank" aria-label="allowDragAndDrop">AllowDragAndDrop<span class="sr-only">opens in a new tab</span></a></code> property.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>In this sample, the <code><a href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.FileManager.FileManager.html#Syncfusion_EJ2_FileManager_FileManager_AllowDragAndDrop" target="_blank" aria-label="allowDragAndDrop">AllowDragAndDrop<span class="sr-only">opens in a new tab</span></a></code> property enables users to move files or folders from one folder to another. Additionally, it supports file upload by dragging and dropping files from Windows Explorer and Mac onto the File Manager component.</p>
        <p>
            <b>Note: </b>File Manager's upload functionality is restricted in the online demos for security reasons. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads" aria-label="downloads">Syncfusion Essential Studio<sup>&reg;</sup> <span class="sr-only">opens in a new tab</span></a>on your machine and run the demo.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Drag and Drop in ASP.NET MVC File Manager control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET MVC File Manager Drag and Drop Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Drag and Drop in ASP.NET MVC File Manager Control</h1>
}
