@using Syncfusion.EJ2
@using Syncfusion.EJ2.FileManager
@using EJ2MVCSampleBrowser.Models
@section ControlsSection{
    <div class="control-section">
        <div class="sample-container">
            @Html.EJS().FileManager("filemanager").AjaxSettings(new Syncfusion.EJ2.FileManager.FileManagerAjaxSettings{
                 Url = "https://ng2jq.syncfusion.com/ej2services/api/FileManager/FileOperations"
            }).View(Syncfusion.EJ2.FileManager.ViewType.Details).Render()
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the full features of the File Manager that includes toolbar, navigation pane and details view.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>The <b>File Manager</b> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete, refresh and so on.</p>
    </div>
}

@section Scripts{
    <script>
        var hostUrl = 'https://ng2jq.syncfusion.com/ej2services/';
        var fileObj = document.getElementById('filemanager').ej2_instances[0];
        fileObj.ajaxSettings.url = hostUrl + 'api/FileManager/FileOperations';
        fileObj.ajaxSettings.getImageUrl = hostUrl + 'api/FileManager/GetImage',
        fileObj.ajaxSettings.uploadUrl = hostUrl + 'api/FileManager/Upload';
        fileObj.ajaxSettings.downloadUrl = hostUrl + 'api/FileManager/Download';
    </script>
}