@using Syncfusion.EJ2
@using Syncfusion.EJ2.FileManager
@using EJ2MVCSampleBrowser.Models

@{
    string[] items = new string[] { "NewFolder", "Cut", "Copy", "Paste", "Delete", "Download", "Rename", "SortBy", "Refresh", "View", "Details" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
}

@section ControlsSection{
    <div class="control-section">
        <div class="sample-container">
            <!-- File Manager virtualization feature sample -->
            @Html.EJS().FileManager("filemanager").AjaxSettings(
                       new Syncfusion.EJ2.FileManager.FileManagerAjaxSettings
                       {
                           Url = "https://ej2services.syncfusion.com/production/web-services/api/Virtualization/FileOperations",
                           DownloadUrl = "https://ej2services.syncfusion.com/production/web-services/api/Virtualization/Download",
                           UploadUrl = "https://ej2services.syncfusion.com/production/web-services/api/Virtualization/Upload",
                           GetImageUrl = "https://ej2services.syncfusion.com/production/web-services/api/Virtualization/GetImage"
                       }).ToolbarSettings(new Syncfusion.EJ2.FileManager.FileManagerToolbarSettings()
                       {
                           Items = items
                       }).ContextMenuSettings(new Syncfusion.EJ2.FileManager.FileManagerContextMenuSettings()
                       {
                           Layout = layout
                       }).EnableVirtualization(true).Render()
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates UI virtualization of the File Manager component. Scroll the items in details view or large icons view to load the folders/files dynamically. The folder 'Documents' and 'Text Documents' has large set of files in below sample.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>In the demo, enabled virtualization by using <code>EnableVirtualization</code> property as true.</p>
        <p>To use virtual scrolling feature, inject Virtualization module using the <code>FileManager.Inject(Virtualization)</code> section.</p>
        <p>
            <b>Note: </b>File Manager’s upload functionality is restricted in the online demo. If you need to test upload functionality, please install
            <a target="_blank" href="https://www.syncfusion.com/downloads">Syncfusion Essential Studio </a>on your machine and run the demo.
        </p>
    </div>
}

@section Meta {
    <meta name="description" content="This example demonstrates the how to enable the virtual scrolling feature in a ASP.NET MVC File Manager control." />
}
@section Title{
    <title>ASP.NET MVC File Manager Virtualization Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Virtualization in ASP.NET MVC File Manager Control</h1>
}
