@using Syncfusion.EJ2
@{
    var menuItems = new List<object>
    {
        new { Text = "Selection", Description = "Choose from options", IconCss = "e-icons e-list-unordered" },
        new { Text = "Yes / No", Description = "Select Yes or No", IconCss = "e-icons e-check-box" },
        new
        {
            Text = "Text",
            Description = "Type own answer",
            IconCss = "e-icons e-caption",
            items = new List<object>
            {
                new { Text = "Single line", Description = "Type answer in a single line", IconCss = "e-icons e-text-form" },
                new { Text = "Multiple line", Description = "Type answer in multiple lines", IconCss = "e-icons e-text-wrap" }
            }
        },
        new { Text = "None", Description = "No answer required", IconCss = "e-icons e-mouse-pointer" }
    };
}
@section ControlsSection{
    <div class="control-section">
        <div class="contextmenu-control">
            <div id="contextmenutarget"></div>
            @Html.EJS().ContextMenu("contextmenu").Target("#contextmenutarget").CssClass("e-contextMenu-template").Items(menuItems).ItemTemplate("#contextMenuTemplate").Render()
            <script id="contextMenuTemplate" type="text/x-template">
                <div class="menu-wrapper">
                    <span class="${IconCss} icon-right"></span>
                    <div class="text-content">
                        <span class="text">${Text}</span>
                        <span class="description">${Description}</span>
                    </div>
                </div>
        </script>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the DefaultFunctionalities in ASP.NET MVC Context Menu control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
    <p>This sample demonstrates the template functionality of the ContextMenu. Right-click or touch and hold the designated rectangular area to open the ContextMenu, which displays customized items using a template.</p>
</div>
}
@section Description{
    <div id="description">
    <p>
        ContextMenu is a graphical user interface that appears on a right-click or touch-and-hold action. It supports displaying single-level or multi-level menus and allows for customizing the menu items through templates.
    </p>
    <p>
        In this demo, <code><a target="_blank" class="code" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Navigations.ContextMenu.html#Syncfusion_EJ2_Navigations_ContextMenu_ItemTemplate">itemTemplate
        </a></code> property  is used to enable template support for customizing ContextMenu items. Each menu item is customized using a template to include icons, descriptive text, and additional content, offering a flexible and user-friendly interface.
    </p>
    <p>
        In mobile, the sub menu opens in a single layer with option for switching back to parent menu.
    </p>
    <p>
        More information about ContextMenu can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/context-menu/getting-started" aria-label="documentation section">
            documentation section
        <span class="sr-only">opens in a new tab</span></a>.
    </p>
</div> 
}

@section Scripts {
    <script>
        var menuObj = document.getElementById('contextmenu').ej2_instances[0];
        if (window.browserDetails.isDevice) {
            document.getElementById('contextmenutarget').textContent = 'Touch hold to open the Context Menu and select the answer type';
            menuObj.animationSettings.effect = 'ZoomIn';
        } else {
            document.getElementById('contextmenutarget').textContent = 'Right click/Touch hold to open the Context Menu and select the answer type';
            menuObj.animationSettings.effect = 'SlideDown';
        }

        function addTemplateClass(args) {
            if (args.element.classList.contains('e-ul')) {
                args.element.classList.add('e-contextMenu-template');
            }
        }
    </script>
}

@*custom code start*@
<style>
    /**
    * ej2 Context Menu template styles
    */
    .e-contextMenu-template .menu-wrapper {
        display: flex;
        align-items: center;
        padding: 2px;
    }

    .e-contextMenu-template .menu-wrapper .text-content {
        display: flex;
        flex-direction: column;
    }

    .e-contextMenu-template .menu-wrapper .text {
        font-weight: 600;
    }

    .e-contextMenu-template .menu-wrapper .description {
        font-size: 0.8em;
    }

    .e-contextMenu-template .menu-wrapper .icon-right {
        padding: 8px 8px 8px 0px;
        font-size: 1.5em;
    }

    .e-contextMenu-template .e-menu-item {
        height: auto !important;
        line-height: unset !important;
    }

    .e-contextMenu-template .e-caret {
        margin-top: -34px !important;
    }

    .e-contextMenu-template .e-menu-item .e-previous {
        margin-right: 0 !important;
    }

    .contextmenu-control {
        margin: 5% 25%;
        width: auto;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
    }

    #contextmenutarget {
        border: 1px dashed;
        height: 250px;
        padding: 10px;
        position: relative;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    @@media only screen and (max-width: 700px) {
        .contextmenu-control {
            margin: 5% 10%;
            width: auto;
        }
        #contextmenutarget {
            font-size: 12px;
        }
    }

</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Context Menu DefaultFunctionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DefaultFunctionalities in ASP.NET MVC Context Menu Control</h1>
                }
