@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Cell in ASP.NET MVC HeatMap Chart control. Explore here for more details."/>
                }
@section ControlsSection{
    <div class="control-section">
        <div id="container">
            @Html.EJS().HeatMap("container").TitleSettings(titleSettings => titleSettings.Text("Percentage of Individuals Using Internet by Country").TextStyle(ViewData["textStyle"])).XAxis(
            xAxis => xAxis.Labels((string[])ViewData["xLabels"]).TextStyle(ViewData["labelTextStyle"])).YAxis(yaxis =>
            yaxis.Labels((string[])ViewData["yLabels"]).TextStyle(ViewData["labelTextStyle"])).PaletteSettings(paletteSettings => paletteSettings.Palette(palette =>
            {
            palette.Color("#3498DB").Add();
            palette.Color("#2C3E50").Add();
            })).CellSettings(cellSettings =>
            cellSettings.Border(ViewData["border"]).TextStyle(ViewData["cellTextStyle"]).Format("{value} %")).LegendSettings(legendSettings => legendSettings.Visible(false)).TooltipSettings(tooltipSettings => 
            tooltipSettings.TextStyle(textStyle => textStyle.FontFamily("inherit"))).TooltipRender("tooltipRender").DataSourceSettings(dataSourceSettings => { dataSourceSettings.IsJsonData(false).AdaptorType(Syncfusion.EJ2.HeatMap.AdaptorType.Cell); }).DataSource(ViewData["dataSource"]).Load("load").Render()
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            args.content = [args.yLabel + ' | ' + args.xLabel + ' : ' + args.value + ' %'];
        };
        var load = function (args) {
            @* custom code start *@
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            @* custom code end *@
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the percentage growth rate of individuals using the internet in a country compared to the overall population to the country.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to bind two-dimensional array object as datasource for heatmap and configure the Heatmap
        using the data adaptor support.
    </p>
    <p>
        The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.
    </p>
    <br>
}

@section Title{
                    <title>ASP.NET MVC HeatMap Chart Cell Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Cell in ASP.NET MVC HeatMap Chart Control</h1>
                }