@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Bubble Types in ASP.NET MVC HeatMap Chart control. Explore here for more details."/>
                }
@section ControlsSection{
    <div>
        <div class="col-md-8 control-section">
            <div class="content-wrapper">
                <div id="container" style="width:92%">
                    @Html.EJS().HeatMap("container").TitleSettings(titleSettings => titleSettings.Text("Female Participation Rate in Labor Force for the Countries").TextStyle(ViewData["textStyle"])).XAxis(xAxis =>
                    {
                        xAxis.Labels((string[])ViewData["xLabels"]).TextStyle(ViewData["labelTextStyle"]);
                    }).YAxis(yaxis =>
                    {
                        yaxis.Labels((string[])ViewData["yLabels"]).TextStyle(ViewData["labelTextStyle"]);
                    }).PaletteSettings(paletteSettings => paletteSettings.Palette(palette =>
                    {
                        palette.Value(35).Color("#50A3B1").Add();
                        palette.Value(45).Color("#78D1BD").Add();
                        palette.Value(55).Color("#CAE8B4").Add();
                        palette.Value(65).Color("#EDF8B6").Add();
                        palette.Value(78).Color("#FFFFDA").Add();
                    })).CellSettings(cellSettings =>
                    cellSettings.ShowLabel(false).Border(ViewData["border"]).TileType(Syncfusion.EJ2.HeatMap.CellType.Bubble).BubbleType(Syncfusion.EJ2.HeatMap.BubbleType.Size)).LegendSettings(legendSettings =>
                    legendSettings.Visible(true).TextStyle(ViewData["labelTextStyle"])).TooltipSettings(tooltipSettings => tooltipSettings.TextStyle(textStyle => textStyle.FontFamily("inherit"))).TooltipRender("tooltipRender").Load("load").DataSource(ViewData["dataSource"]).Render()
                </div>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://data.worldbank.org" target='_blank'>https://data.worldbank.org/</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 property-section">
            <table id="property" title="Properties" style="width: 100%; margin-left: -10px;">
                <tbody>
                    <tr style="height: 50px">
                        <td style="width: 40%">
                            <div>Bubble Type:</div>
                        </td>
                        <td style="width: 60%;">
                            <div>
                                <select id="bubbleType">
                                    <option value="Size">Size</option>
                                    <option value="Color">Color</option>
                                    <option value="Sector">Sector</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }

        body.material-dark .property-panel-section {
            color: #ffffff;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            args.content = [args.xLabel + ' | ' + args.yLabel + ' : ' + args.value + ' %'];
        };
        var load = function (args) {
            @* custom code start *@
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            @* custom code end *@
        };
        var bubbleTypeObj = new ej.dropdowns.DropDownList({
            index: 0,
            popupHeight: '200px',
            change: function () { bubbleTypeChange(); }
        });
        bubbleTypeObj.appendTo('#bubbleType');

        function bubbleTypeChange() {
            var heatMap = document.getElementById('container').ej2_instances[0];
            heatMap.cellSettings.bubbleType = bubbleTypeObj.value.toString() === 'Size' ?
                'Size' : bubbleTypeObj.value.toString() === 'Color' ?
                    'Color' : bubbleTypeObj.value.toString() === 'Sector' ?
                        'Sector' : null;
        }
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the female participation rate of the total female population in the country’s work force. In Bubble Heatmap, the data points can be visualized using bubble size, bubble shade and sector view types. In property panel, the options are available to change the view of the data points in the bubble Heatmap by means of dropdown.
    </p>
}
@section Description{
       <p>
          In this example, you can see how to display the data points in bubble heatmap using multiple views such as bubble size, bubble shade and the sector. You can change the cell type to bubble by using the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapCellSettings.html#Syncfusion_EJ2_HeatMap_HeatMapCellSettings_TileType">tileType<span class="sr-only">opens in a new tab</span></a> property in <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapCellSettings.html">cellSettings<span class="sr-only">opens in a new tab</span></a> , and you can change the view of the bubble heatmap by using the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapCellSettings.html#Syncfusion_EJ2_HeatMap_HeatMapCellSettings_BubbleType">bubbleType<span class="sr-only">opens in a new tab</span></a> property in <code>cellSettings</code>.
      </p>
       <p>
          The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.
      </p>
      <br>
}

@section Title{
                    <title>ASP.NET MVC HeatMap Chart Bubble Types Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Bubble Types in ASP.NET MVC HeatMap Chart Control</h1>
                }