@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Color and Size Attributes in ASP.NET MVC HeatMap Chart control. Explore here for more details."/>
                }
@section ControlsSection{
    <div>
        <div class="control-section">
            @Html.EJS().HeatMap("container").TitleSettings(titleSettings => titleSettings.Text("Commercial Aviation Accidents and Fatalities by year 2012 - 2017").TextStyle(ViewData["textStyle"])).XAxis(xAxis =>
            {
                xAxis.Labels((string[])ViewData["xLabels"]).TextStyle(ViewData["labelTextStyle"]);
            }).YAxis(yaxis =>
            {
                yaxis.Labels((string[])ViewData["yLabels"]).TextStyle(ViewData["labelTextStyle"]);
            }).DataSource("dataSource").PaletteSettings(paletteSettings => paletteSettings.Palette(palette =>
            {
                palette.Color("#C06C84").Add();
                palette.Color("#355C7D").Add();
            }).Type(Syncfusion.EJ2.HeatMap.PaletteType.Gradient)).CellSettings(cellSettings =>
            cellSettings.ShowLabel(false).Border(ViewData["border"]).TileType(Syncfusion.EJ2.HeatMap.CellType.Bubble).BubbleType(Syncfusion.EJ2.HeatMap.BubbleType.SizeAndColor)).LegendSettings(legendSettings =>
            legendSettings.Visible(true).TextStyle(ViewData["labelTextStyle"])).TooltipSettings(tooltipSettings => tooltipSettings.TextStyle(textStyle => textStyle.FontFamily("inherit"))).TooltipRender("tooltipRender").DataSourceSettings(dataSourceSettings => { dataSourceSettings.IsJsonData(true).AdaptorType(Syncfusion.EJ2.HeatMap.AdaptorType.Cell).XDataMapping("Year").YDataMapping("Months").BubbleDataMapping(bubbleDataMapping => { bubbleDataMapping.Size("Accidents").Color("Fatalities"); }); }).Load("load").Render()
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://en.wikipedia.org" rel="nofollow" target='_blank'>https://en.wikipedia.org/</a>
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            args.content = ['Year ' + ' : ' + args.xLabel + '<br/>' + 'Months ' + ' : ' + args.yLabel + '<br/>'
                + 'Accidents ' + ' : ' + args.value[0].bubbleData + '<br/>' + 'Fatalities ' + ' : '
                    + args.value[1].bubbleData];
        };
        var load = function (args) {
            @* custom code start *@
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            @* custom code end *@
        };
        var dataSource = [
                { Year: '2017', Months: 'Jan-Feb', Accidents: 4, Fatalities: 39 },
                { Year: '2017', Months: 'Mar-Apr', Accidents: 3, Fatalities: 8 },
                { Year: '2017', Months: 'May-Jun', Accidents: 1, Fatalities: 3 },
                { Year: '2017', Months: 'Jul-Aug', Accidents: 1, Fatalities: 0 },
                { Year: '2017', Months: 'Sep-Oct', Accidents: 4, Fatalities: 4 },
                { Year: '2017', Months: 'Nov-Dec', Accidents: 2, Fatalities: 15 },

                { Year: '2016', Months: 'Jan-Feb', Accidents: 4, Fatalities: 28 },
                { Year: '2016', Months: 'Mar-Apr', Accidents: 5, Fatalities: 92 },
                { Year: '2016', Months: 'May-Jun', Accidents: 5, Fatalities: 73 },
                { Year: '2016', Months: 'Jul-Aug', Accidents: 3, Fatalities: 1 },
                { Year: '2016', Months: 'Sep-Oct', Accidents: 3, Fatalities: 4 },
                { Year: '2016', Months: 'Nov-Dec', Accidents: 4, Fatalities: 126 },

                { Year: '2015', Months: 'Jan-Feb', Accidents: 1, Fatalities: 45 },
                { Year: '2015', Months: 'Mar-Apr', Accidents: 5, Fatalities: 152 },
                { Year: '2015', Months: 'May-Jun', Accidents: 0, Fatalities: 0 },
                { Year: '2015', Months: 'Jul-Aug', Accidents: 4, Fatalities: 54 },
                { Year: '2015', Months: 'Sep-Oct', Accidents: 5, Fatalities: 243 },
                { Year: '2015', Months: 'Nov-Dec', Accidents: 2, Fatalities: 45 },

                { Year: '2014', Months: 'Jan-Feb', Accidents: 2, Fatalities: 18 },
                { Year: '2014', Months: 'Mar-Apr', Accidents: 3, Fatalities: 239 },
                { Year: '2014', Months: 'May-Jun', Accidents: 0, Fatalities: 0 },
                { Year: '2014', Months: 'Jul-Aug', Accidents: 4, Fatalities: 501 },
                { Year: '2014', Months: 'Sep-Oct', Accidents: 1, Fatalities: 2 },
                { Year: '2014', Months: 'Nov-Dec', Accidents: 4, Fatalities: 162 },

                { Year: '2013', Months: 'Jan-Feb', Accidents: 2, Fatalities: 68 },
                { Year: '2013', Months: 'Mar-Apr', Accidents: 3, Fatalities: 7 },
                { Year: '2013', Months: 'May-Jun', Accidents: 2, Fatalities: 12 },
                { Year: '2013', Months: 'Jul-Aug', Accidents: 4, Fatalities: 15 },
                { Year: '2013', Months: 'Sep-Oct', Accidents: 2, Fatalities: 64 },
                { Year: '2013', Months: 'Nov-Dec', Accidents: 3, Fatalities: 83 },

                { Year: '2012', Months: 'Jan-Feb', Accidents: 0, Fatalities: 0 },
                { Year: '2012', Months: 'Mar-Apr', Accidents: 2, Fatalities: 158 },
                { Year: '2012', Months: 'May-Jun', Accidents: 5, Fatalities: 90 },
                { Year: '2012', Months: 'Jul-Aug', Accidents: 0, Fatalities: 0 },
                { Year: '2012', Months: 'Sep-Oct', Accidents: 3, Fatalities: 33 },
                { Year: '2012', Months: 'Nov-Dec', Accidents: 4, Fatalities: 42 }
            ];

    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates the number of commercial air craft accidents and the fatalities across the world between 2012 and 2017. Each data point interprets the accident count and the fatality associated with the accident, the size of the bubble depicts the accident count and the shade of the bubble depicts the fatality count.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to map more than one data for each data point or cell of the bubble heatmap. The <code>size</code> and <code>shade</code> parameters of the bubble is used to depict the data source values. The legend will be displayed only for the shade parameter of the bubble. For JSON data, you can specify which data source value should be mapped to either size or shade of the bubble parameters using the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapData.html#Syncfusion_EJ2_HeatMap_HeatMapData_BubbleDataMapping">bubbleDataMapping<span class="sr-only">opens in a new tab</span></a> property. The data source field should be mapped to the <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapBubbleData.html#Syncfusion_EJ2_HeatMap_HeatMapBubbleData_Size">size<span class="sr-only">opens in a new tab</span></a> and <a target='_blank' href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapBubbleData.html#Syncfusion_EJ2_HeatMap_HeatMapBubbleData_Color">color<span class="sr-only">opens in a new tab</span></a> properties of the <code>bubbleDataMapping</code> property.
    </p>
    <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
    <br>
}

@section Title{
                    <title>ASP.NET MVC HeatMap Chart Color and Size Attributes Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Color and Size Attributes in ASP.NET MVC HeatMap Chart Control</h1>
                }