@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Large Data in ASP.NET MVC HeatMap Chart control. Explore here for more details."/>
                }
@section ControlsSection{
    <div class="control-section">
        <div id="container">
            @Html.EJS().HeatMap("container").TitleSettings(titleSettings => titleSettings.Text("Annual Flight Traffic Report").TextStyle(ViewData["textStyle"])).XAxis(xAxis =>
            xAxis.Minimum(new System.DateTime(2017, 1, 1)).Maximum(new System.DateTime(2017, 12, 31)).LabelFormat("MMM").ValueType(Syncfusion.EJ2.HeatMap.ValueType.DateTime).IntervalType(Syncfusion.EJ2.HeatMap.IntervalType.Days).ShowLabelOn(Syncfusion.EJ2.HeatMap.LabelType.Months).TextStyle(ViewData["labelTextStyle"])).YAxis(yaxis =>
            yaxis.Labels((string[])ViewData["yLabels"]).TextStyle(ViewData["labelTextStyle"])).PaletteSettings(ps => ps.Palette(palette =>
            {
                palette.Value(150).Color("#A6DC7E").Add();
                palette.Value(250).Color("#DCD57E").Add();
                palette.Value(300).Color("#DC8D7E").Add();

            })).RenderingMode(Syncfusion.EJ2.HeatMap.DrawType.Canvas).LegendSettings(legendSettings =>
            legendSettings.Visible(false)).TooltipRender("tooltipRender").Load("load").TooltipSettings(tooltipSettings => tooltipSettings.TextStyle(textStyle => textStyle.FontFamily("inherit"))).CellSettings(cellSettings => cellSettings.Border(ViewData["border"]).TextStyle(ViewData["labelTextStyle"])).DataSource(ViewData["dataSource"]).Render()
        </div>
    </div>
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            var intl = new ej.base.Internationalization();
            var labelFormat = 'MMM';
            var format = intl.getDateFormat({ format: "MMM dd, yyyy" });
            var value = format(args.xValue);
            args.content = [value + " " + args.yLabel + " : " + args.value + " flight arrivals"];
        };
        var load = function (args) {
            @* custom code start *@
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            @* custom code end *@
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the annual traffic report of an airport with the number of flight arrivals in a year.The data label is disabled in this sample, the tooltip displays the data point values.
    </p>
}
@section Description{
      <p>
           In this example, you can see how to switch the Heatmap to canvas rendering mode.The rendering performance will be better in <code>Canvas</code> rendering mode, while loading large datasets. You can switch the rendering mode for Heatmap between <code>SVG</code> and <code>Canvas</code> using the <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/heatmap-chart/rendering-mode" target="_blank" aria-label="renderingMode">renderingMode<span class="sr-only">opens in a new tab</span></a> property. When the <code>renderingMode</code> property is set to <code>Auto</code>, the rendering mode will be switched automatically based of the size of data source to improve the rendering performance.
      </p>
      <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
      <br> 
}

@section Title{
                    <title>ASP.NET MVC HeatMap Chart Large Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Large Data in ASP.NET MVC HeatMap Chart Control</h1>
                }