@using Syncfusion.EJ2;
@section Meta{
                    <meta name="description" content="This example demonstrates the Opposed Axis in ASP.NET MVC HeatMap Chart control. Explore here for more details."/>
                }
@section ControlsSection{
    <div>
        <div class="col-md-8 control-section">
            <div class="content-wrapper">
                <div id="container" style="width:92%">
                    @Html.EJS().HeatMap("container").TitleSettings(titleSettings => titleSettings.Text("Monthly Flight Traffic at JFK Airport").TextStyle(ViewData["textStyle"])).XAxis(
                    xAxis =>
                    {
                        xAxis.LabelRotation(45)
                        .LabelIntersectAction(Syncfusion.EJ2.HeatMap.LabelIntersectAction.None)
                        .Labels((string[])ViewData["xLabels"])
                        .OpposedPosition(true).TextStyle(ViewData["labelTextStyle"]);
                    }).YAxis(yaxis =>
                    {
                        yaxis.OpposedPosition(true)
                        .Labels((string[])ViewData["yLabels"]).TextStyle(ViewData["labelTextStyle"]);
                    }).CellSettings(cellSettings =>
                    cellSettings.Border(ViewData["border"]).ShowLabel(false).Format("{value} flights")).LegendSettings(legendSettings => legendSettings.Visible(false)).TooltipSettings(tooltipSettings => tooltipSettings.TextStyle(textStyle => textStyle.FontFamily("inherit"))).Load("load").DataSource(ViewData["dataSource"]).Render()
                </div>
            </div>
        </div>
        <div class="col-md-4 property-section">
            <table id="property" title="Properties" style="width: 100%; margin-left: -18px;">
                <tbody>
                    <tr style="height: 50px">
                        <td style="width: 40%;">
                            <div>
                                <input id="XOpposedPosition" type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="width: 40%;">
                            <div>
                                <input id="YOpposedPosition" type="checkbox">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
        body.material-dark .property-panel-section {
            color: #ffffff;
        }
        .e-view.fluent2 #property .e-checkbox-wrapper, .e-view.fluent2-dark #property .e-checkbox-wrapper {
            padding-left: 0px;
        }
    </style>
    <script>
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
        };
        var xlistObj = new ej.buttons.CheckBox({ label: 'Change X-Axis Position', checked: true, change: valueXChange });
        xlistObj.appendTo('#XOpposedPosition');

        function valueXChange() {
            var heatMap = document.getElementById('container').ej2_instances[0];
            heatMap.xAxis.opposedPosition = xlistObj.checked;
        }

        var ylistObj = new ej.buttons.CheckBox({ label: 'Change Y-Axis Position', checked: true, change: valueYChange });
        ylistObj.appendTo('#YOpposedPosition');

        function valueYChange() {
            var heatMap = document.getElementById('container').ej2_instances[0];
            heatMap.yAxis.opposedPosition = ylistObj.checked;
        }
    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates the monthly flight arrivals at JFK international airport, New York. The data label is disabled in this sample, the tooltip displays the data point values.  In property panel, the options are available to change the position of the axes by means of checkbox for each axis.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to change the display position of the axis. You can change the display position of axes by enabling the 
        <a href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.HeatMap.HeatMapAxis.html#Syncfusion_EJ2_HeatMap_HeatMapAxis_OpposedPosition" target="_blank" aria-label="opposedPosition">opposedPosition<span class="sr-only">opens in a new tab</span></a> property for each axis.
    </p>
    <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
    <br>
}

@section Title{
                    <title>ASP.NET MVC HeatMap Chart Opposed Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Opposed Axis in ASP.NET MVC HeatMap Chart Control</h1>
                }