@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to create Box and Whisker chart using Excel (XlsIO) Library.
    }

@section Meta{
                    <meta name="description" content="This sample demonstrates how to create Box and Whisker chart using .NET Excel (XlsIO) library."/>
                }

@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("BoxAndWhisker", "Excel", FormMethod.Post);
            <div class="celldiv">
                <p style="font-weight:normal">
					Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
				</p>
                <br />
                <div>
					Save As :
					<input type="radio" id="Embedded Chart" name="SaveOption" value="embed" />
					<label for="Embedded Chart" style="font-weight:normal">Embedded Chart</label>
					&nbsp;
					<input type="radio" id="Chart Sheet" name="SaveOption" value="sheet" checked="checked" />
					<label for="Chart Sheet" style="font-weight:normal">Chart Sheet</label>
				</div>
            </div>
            <br />
			<input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px;" />
            <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:150px;" />            
            }
    </div>

}
@section Description{
    A box and whisker chart shows distribution of data into quartiles, highlighting the mean and outliers. The boxes may have lines extending vertically called “whiskers”. These lines indicate variability outside the upper and lower quartiles, and any point outside those lines or whiskers is considered an outlier.<br />
    Essential XlsIO has APIs for creating and modifying Box and Whisker charts.
}
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Box and Whisker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Box and Whisker in ASP.NET MVC Excel (XlsIO) Library</h1>
                }