@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to use formulas in spreadsheets using Excel (XlsIO) Library.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Compute All Formulas in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    <p>
        Essential XlsIO can compute the values of a formula entered during run time using the calculate engine that is integrated in XlsIO. This makes it possible to retrieve the values of  formulas that were entered using Excel (XlsIO) Library during run time. Currently, over 400 functions are supported, which covers all common usage scenarios.
    </p>
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Writing formulas using Excel (XlsIO) Library</li>
        <li>Formula calculation using the integrated calculate engine</li>
    </ul>
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ComputeAllformulas", "Excel", FormMethod.Post);
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="Xls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">
                <input id="generate" class="e-btn" type="submit" name="button" value="Create Document" style="width:150px;" />
            </div>
            }
        </div>
}
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Compute All Formulas Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Compute All Formulas in ASP.NET MVC Excel (XlsIO) Library</h1>
                }