@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to create macros using Excel (XlsIO) Library.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Create Macro in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }

@section Description{
    Essential XlsIO supports creating macro files from scratch programmatically. 
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Create Excel chart from macro code for the data provided in the Excel workbook.</li>
        <li>Save the macro-enabled file in various file formats (XLS, XLSM, XLTM).</li>
    </ul>
}

@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("CreateMacro", "Excel", FormMethod.Post);
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div class="celldiv">
                <div>
					Save As :
					<input type="radio" id="XLS" name="SaveOption" value="xls" />
					<label for="XLS" style="font-weight:normal">XLS</label>
					&nbsp;
					<input type="radio" id="XLTM" name="SaveOption" value="xltm" />
					<label for="XLTM" style="font-weight:normal">XLTM</label>
					&nbsp;
					<input type="radio" id="XLSM" name="SaveOption" value="xlsm" checked="checked" />
					<label for="XLSM" style="font-weight:normal">XLSM</label>
				</div>
            </div>
            <br />
            <div class="celldiv">
                @Html.EJS().Button("createbtn").Content("Create Document").Render()
            </div>
        }
    </div>
    }
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Create Macro Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Create Macro in ASP.NET MVC Excel (XlsIO) Library</h1>
                }