@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Export, DOC to PDF/UA, Conversion : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ExcelToPDFUA", "excel", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px">
                    <div style="margin-top: 10px">
                        Select the Excel document to be converted to PDF/UA, and click the "ConvertToPDF" button. Please note that a PDF Viewer is required to view the resulting PDF document.
                    </div>
                    <br />

                    <div style="display:flex">
                        <label style="font-weight:normal;margin-right: 1rem;">Select document</label>
                        <input type="file" name="file" id="fileUpload" accept=".xlsx,.xls,.xlsm,.xltm,.xltx,.csv,.tsv,.xml" style="display:block;visibility:hidden;width:0;height:0;" />
                        <input type="button" name="uploadButton" value="Browse" onclick="openFile()" />
                        <input type="text" id="fileName" value="ExcelToPDF.xlsx" readonly="readonly" style="border:none;margin-left:1rem;" />
                    </div>
                    <br />
                    <div style="margin-top: 8px">
                        <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:170px;text-transform:capitalize" />
                    </div>
                </div>
                    <br />
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                    Html.EndForm();
                    }
                    }
                </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to convert Excel documents to PDF/UA documents using XlsIO.
    </div>
}
@section Description{
    <div>
        <br />The .NET Excel (XlsIO) library allows you to convert Excel documents into tagged PDFs that are compliant with Section 508 and PDF/UA standards. This ensures that the content of the PDF is accessible and can be easily read by users who require assistive technology.
        <br />
    </div>
    <script>
         function openFile() {
             document.getElementById('fileUpload').click();
             document.getElementById('fileUpload').addEventListener('change', updateFileName, false);
        }
        function updateFileName(evt) {
            var upoadedFiles = evt.target.files;
            filename = upoadedFiles[0].name;
            document.getElementById('fileName').value = filename;
        }
    </script>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Excel to PDF/UA in ASP.NET MVC Excel (XlsIO) library. Explore here for more details." />
}
@section Title{
    <title>ASP.NET MVC Excel (XlsIO) library - Excel to PDF/UA Example - Syncfusion Demos</title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Excel to PDF/UA in ASP.NET MVC Excel (XlsIO) Library</h1>
}