@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to import dynamic objects in spreadsheets using Excel (XlsIO) Library.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Import JSON in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    Essential XlsIO allows you to import dynamic objects into the Excel workbook.The dynamic objects can be either the ExpandoObjects or user-defined dynamic objects.
    <br />
    <br />
    In this sample, user-defined dynamic objects have been created at run time from JSON file and imported into Excel workbook.
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ImportJSON", "Excel", FormMethod.Post);
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="Xls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">
                @Html.EJS().Button("createbtn").Content("Create Document").Render()
            </div>
        }
    </div>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Import JSON Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Import JSON in ASP.NET MVC Excel (XlsIO) Library</h1>
                }