
@section ActionDescription{
    This sample demonstrates how to create ADO application with XlsIO.
    }

@section Meta{
    <meta name="description" content="This sample demonstrates how to create ADO application in ASP.NET MVC using .NET Excel (XlsIO) library." />
}

@section Description{
            This sample focuses on creating an application using an Essential XlsIO and ADO connection.
<br />
<br />An Excel template is read by XlsIO and an invoice is generated for the given invoice ID; this is done by fetching data corresponding to the particular ID from the Northwind database. Price, total, and other calculations are performed with simple formulas using Essential XlsIO.
<br />
<br /><b>Features:</b>
<br />
<br />
<ul>
    <li>Creating rich reports with styles</li>
    <li>ADO .NET connectivity</li>
    <li>Formulas</li>
</ul>
<br />
    }
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Invoice", "Excel", FormMethod.Post);
        { 
        <div class="rowdiv">
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <label style="font-weight:normal">
                    Select the OrderID :
                </label>
                @Html.DropDownList("id")
            </div>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <label style="font-weight:normal">
                    Save As :
                </label>
                <input id="rbtnXls" type="radio" name="SaveOption" value="Xls" />
                <label for="rbtnXls" style="font-weight:normal">
                    XLS
                </label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input id="rbtnXlsx" type="radio" name="SaveOption" value="Xlsx" checked="checked" />
                <label for="rbtnXlsx" style="font-weight:normal">
                    XLSX
                </label>
            </div>
            <br />
            <div class="celldiv">
                <input class="e-btn" type="submit" value="Create Document" style=" width:200px;" />
            </div>
        </div>
        Html.EndForm();
        }
        }
    </div>
}