@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to find a particular text in a cell in the spreadsheet and replace it using Excel (XlsIO) Library.
    }

@section Meta{
                    <meta name="description" content="This sample demonstrates how to find a particular text in a cell in the spreadsheet and replace it using .NET Excel (XlsIO) library."/>
                }

@section Description{
<p>
    This sample demonstrates some of the replace options in Essential XlsIO.
</p>
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Find numbers, text, boolean or dates and replaces them with the given data on specified replace options</li>
    </ul>
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("ReplaceOptions", "Excel", FormMethod.Post);
    <div class="rowdiv">
        <p style="font-weight:normal">
            Click the "Input Template" button to view the input Excel document and "Replace" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
    </div>
    <br />
    <div class="rowdiv">
        <table id="PanelTable" width="450px">
            <tr>
                <td style="font-weight:normal">
                    <br />
                    Find what:
                </td>
                <td>
                    <select name="FindList" id="findText" class="e-dropdown-popup">
                        <option>Berlin</option>
                        <option>8000</option>
                        <option>Representative</option>
                        <option>3/6/2013</option>
                    </select>
                </td>
                <td>
                    <div>
                        <br />
                        <input type="checkbox" name="CheckBox1" id="check1" />Match case
                        <br />
                    </div>
                </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td style="font-weight:normal">
                    Replace with:
                </td>
                <td>
                    <div>
                        <input type="text"  class="e-input" name="ReplaceText" id="replaceText" style="width:130px" />
                    </div>
                </td>
                <td>
                    <div>
                        <input type="checkbox" class="e-checkbox" name="CheckBox2" id="check2" />Match entire cell contents
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="celldiv">
        <table>
            <tr>
                <td>
                    <input id="viewtemplate" class="e-btn" type="submit" name="button" value="Input Template" style="width:140px;" />
                </td>
                <td style="width:10px;"></td>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                <td>
                    <input id="generate" class="e-btn" type="submit" name="button" value="Replace" style="width:140px;" />
                </td>
            </tr>
        </table>
    </div>
    }
</div>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Replace Options Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Replace Options in ASP.NET MVC Excel (XlsIO) Library</h1>
                }