@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to customize rows and columns in a spreadsheet using Excel (XlsIO) Library.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Row-Column Manipulation in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    Rows and columns in Excel can be customized, as required, with a number of options. Some of the major manipulations that can be done with rows and columns are setting row height, setting column width, hiding or un-hiding, and grouping or ungrouping.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Reading template document</li>
        <li>Setting row height</li>
        <li>Setting column width</li>
        <li>Hiding and un-hiding</li>
        <li>Grouping and ungrouping</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("RowColumnManipulation", "Excel", FormMethod.Post);
        { 
            <p style="font-weight:normal">
				Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="Xls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="Xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">                
                <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
            </div>
        Html.EndForm();
        }
            }
        </div>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Row-Column Manipulation Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row-Column Manipulation in ASP.NET MVC Excel (XlsIO) Library</h1>
                }