@using Syncfusion.EJ2


@section ActionDescription{
    The sample shows how to create and use slicers in table using Excel (XlsIO) Library.
}
@section Meta{
    <meta name="description" content="This example demonstrates the Slicers in ASP.NET MVC Excel (XlsIO) library. Explore here for more details." />
}
@section Description{
    Slicers are UI filters that help to display only specific data based on the selection criteria. It provides easy and simple UI options to enable/disable the filters in a table.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Create slicers and filter table data.</li>
        <li>Format slicers with built-in styles.</li>
    </ul>
}
@section ControlsSection
{
    <div class="control-section">
        @{Html.BeginForm("Slicer", "Excel", FormMethod.Post);
            {
                <div class="Common">
                    <div class="tablediv">
                        <div class="rowdiv">
                            <p style="font-weight:normal">
                                Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the output Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                            </p>
                            <p style="font-weight:normal">
                                Choose the columns to create slicers.
                            </p>
                        </div>
                        <br />
                        <div class="rowdiv">
                            <div class="celldiv">
                                <label style="font-weight:normal">
                                    Select Column
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <select name="Columns1" id="columns1" onchange="change()" class="e-dropdown-popup">
                                    <option>Requester</option>
                                    <option>Assignee</option>
                                    <option>Status</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="rowdiv">
                            <div class="celldiv">
                                <label style="font-weight:normal">
                                    Select Column
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <td>
                                    <select name="Columns2" id="columns2" onchange="change1()" class="e-dropdown-popup">
                                        <option>Requester</option>
                                        <option>Assignee</option>
                                        <option selected>Status</option>
                                    </select>
                                </td>
                            </div>
                        </div>
                        <br />
                        <div class="rowdiv">
                            <div class="celldiv">
                                <input id="viewtemplate" type="submit" name="view" value="Input Template" class="e-btn" height="100" style="width:150px;" />
                                &nbsp;&nbsp;&nbsp;
                                <input id="Create Document" type="submit" name="CreateDocument" value="Create Document" class="e-btn" height="100" style="width:150px;" />
                            </div>
                        </div>
                    </div>
                </div>
                Html.EndForm();
            }
        }
    </div>
    }
                                    
    @section Title{
        <title>ASP.NET MVC Excel (XlsIO) library - Slicers Example - Syncfusion Demos</title>
    }
    @section Header{
        <h1 class='sb-sample-text'>Example of Slicers in ASP.NET MVC Excel (XlsIO) Library</h1>
    }
