@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to apply styles and formatting using Excel (XlsIO) Library.
    }

@section Meta{
                    <meta name="description" content="This example demonstrates the Styles and Formatting in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }

@section Description{
<p>
    Excel 2007, Excel 2010, Excel 2013 and Excel 2016 are known for its various styles and formatting that gives an attractive appearance. Microsoft brings up the gradient styles and a number of new colors. Essential XlsIO supports formatting cells with gradient and RGB colors.
    This sample demonstrates Essential XlsIO's support for various styles and formatting in Excel 2007, Excel 2010, Excel 2013 and Excel 2016 formats. Both built-in styles and custom styles using the interior method <i>IStyle</i> are used for setting gradient styles.
</p>
<br />
<b>Features:</b>
<br />
<br />
<ul>
    <li>Creating a calendar using Excel (XlsIO) Library</li>
    <li>Built-in styles</li>
    <li>Custom styles</li>
    <li>Gradients</li>
</ul>
}
@section ControlsSection{
<div class="control-section">
    @{Html.BeginForm("StylesAndFormatting", "Excel", FormMethod.Post);
    { 
        <p style="font-weight:normal">
            Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
        </p>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
				<input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />                
            </div>
        </div>
    Html.EndForm();
    }
        }
    </div>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Styles and Formatting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Styles and Formatting in ASP.NET MVC Excel (XlsIO) Library</h1>
                }