@using Syncfusion.EJ2

@section ActionDescription{
    This sample demonstrates how to use formulas in spreadsheets using Excel (XlsIO) Library.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Table Formula in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    <p>
        In Excel 2013 and later versions calculated column formula can be used in tables. <br />
        XlsIO supports reading and writing calculated columns and formulas.
    </p>
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Adding tables to a spreadsheet</li>
        <li>Advanced options of Excel tables such as total rows and styles</li>
        <li>Writing calculated column formula</li>
    </ul>
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("TableFormula", "Excel", FormMethod.Post);
        { 
            <p style="font-weight:normal">
				Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div class="celldiv">
                <input id="generate" class="e-btn" type="submit" name="Saveoption" value="Create Document" style="width:160px;" />
            </div>
        Html.EndForm();
        }
            }
        </div>
}
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Table Formula Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Table Formula in ASP.NET MVC Excel (XlsIO) Library</h1>
                }