@using Syncfusion.EJ2

@section ActionDescription{
    This sample deomonstrates how to use tables in spreadsheets using Excel (XlsIO) Library.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Table in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }

@section Description{
    Microsoft Office Excel 2007, Excel 2010 and Excel 2013 provides tables support that makes managing and analyzing data with ease and efficient. These tables come with specific style support.
    <br />
    <br /> XlsIO supports reading and writing tables in Excel 2007, Excel 2010 and Excel 2013 formats. Tables can be created from any input range of sheet data and the total row can be inserted into the table. Styles can also be applied to the tables.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Adding tables to a spreadsheet</li>
        <li>Advanced options of Excel tables such as Total Rows and Styles</li>
		<li>Advanced options of Excel tables such as Custom Table Styles</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Tables", "Excel", FormMethod.Post);
        { 
            <div class="rowdiv">
                <p style="font-weight:normal">
					Click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
				</p>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    <input type="checkbox" id="Apply custom style" name="customStyle" value="ApplyCustomStyle" />
                    <label for="Apply custom style" style="font-weight:normal">Apply custom style</label>
                </div>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    <input id="generate" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
                </div>
            </div>
            <br />
        Html.EndForm();
        }
            }
        </div>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Table Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Table in ASP.NET MVC Excel (XlsIO) Library</h1>
                }