@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to use TemplateMarker in spreadsheets using Excel (XlsIO) Library.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Template Marker in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{
    A template marker is a special marker symbol created in an Excel template that will be bound to data.
    <br />
    <br />Essential XlsIO allows you to create and bind markers with data from various sources, such as data tables, variables, and arrays. This allows users to control the format of the data when it is bound to a template document.
    <br />
}
@section ControlsSection{
    @{Html.BeginForm("TemplateMarker", "Excel", FormMethod.Post);
    { 
    <div class="control-section">
        <div class="rowdiv">
            <p style="font-weight:normal">
				Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
        </div>
        <br />
        <div class="rowdiv">
            <div class="celldiv">
                <div>
					Import Options :
					<input type="radio" id="DataTable" name="type" value="datatable" checked="checked" />
					<label for="DataTable" style="font-weight:normal">DataTable</label>
					&nbsp;
					<input type="radio" id="CLR Objects" name="type" value="Objects" />
					<label for="CLR Objects" style="font-weight:normal">CLR Objects</label>
				</div>
                <br />
            </div>
            <div class="celldiv">
                Marker With Images
                <br />
                <input type="radio" id="Image Only" name="typeOfImage" value="ImageOnly" checked="checked" />
				<label for="Image Only" style="font-weight:normal">Image Only</label>
                <br />
                <input type="radio" id="Image With Size" name="typeOfImage" value="ImageWithSize" />
				<label for="Image With Size" style="font-weight:normal">Image With Size</label>
                <br />
                <input type="radio" id="Image With Position" name="typeOfImage" value="ImageWithPosition" />
				<label for="Image With Position" style="font-weight:normal">Image With Position</label>
                <br />
                <input type="radio" id="Image With Size And Position" name="typeOfImage" value="ImageWithSizeAndPosition" />
				<label for="Image With Size And Position" style="font-weight:normal">Image With Size And Position</label>
                <br />
                <input type="radio" id="Image Fit To Cell" name="typeOfImage" value="ImageFitToCell" />
				<label for="Image Fit To Cell" style="font-weight:normal">Image Fit To Cell</label>
                <br />
            </div>
            <br />
            <div class="celldiv">
                <table>
                    <tr>
                        <td>
                            <input id="viewtemplate" class="e-btn" type="submit" name="button" value="Input Template" style="width:140px;" />  
                        </td>
                        <td style="width:10px;">
                            &nbsp;
                        </td>
                        <td>
                            <input id="generate" class="e-btn" type="submit" name="button" value="Create Document" style="width:150px;" />
                        </td>
                    </tr>
                </table>
            </div>
       </div>
    
        </div>
    Html.EndForm();
    }
        }
}
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Template Marker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Template Marker in ASP.NET MVC Excel (XlsIO) Library</h1>
                }