@using Syncfusion.EJ2


@section ActionDescription{
    This sample demonstrates how to create Treemap chart using Excel (XlsIO) Library.
    }
@section Meta{
                    <meta name="description" content="This example demonstrates the Treemap in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }
@section Description{

    A treemap chart provides a hierarchical view of your data and makes it easy to spot patterns, such as which items are a store's best sellers. The tree branches are represented by rectangles and each sub-branch is shown as a smaller rectangle. The treemap chart displays categories by color and proximity and can easily show lots of data which would be difficult with other chart types.
    <br /><br />Essential XlsIO has APIs for creating and modifying treemap charts.
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("Treemap", "Excel", FormMethod.Post);
        { 
            <p style="font-weight:normal">
				Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div>
				Save As :
				<input type="radio" id="Embedded Chart" name="SaveOption" value="embed" />
				<label for="Embedded Chart" style="font-weight:normal">Embedded Chart</label>
				&nbsp;
				<input type="radio" id="Chart Sheet" name="SaveOption" value="sheet" checked="checked" />
				<label for="Chart Sheet" style="font-weight:normal">Chart Sheet</label>
			</div>
            <br />
            <div class="celldiv">
				<input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />                
            </div>
        Html.EndForm();
        }
            }
        </div>
}
@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Treemap Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Treemap in ASP.NET MVC Excel (XlsIO) Library</h1>
                }