@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2.PivotView
@section Meta{
                    <meta name="description" content="This example demonstrates the Value Sorting in ASP.NET MVC Pivot Table control. Explore here for more details."/>
                }
@section ControlsSection{

    <div class="control-section">
    <div class="content-wrapper">
        @Html.EJS().PivotView("pivotview").Width("100%").Height("300").DataSourceSettings(dataSourceSettings => dataSourceSettings.DataSource((IEnumerable<object>)ViewBag.Data).ExpandAll(false).EnableSorting(true)
           .FormatSettings(formatsettings =>
           {
               formatsettings.Name("Amount").Format("C0").MaximumSignificantDigits(10).MinimumSignificantDigits(1).UseGrouping(true).Add();
           })
           .Rows(rows =>
           {
               rows.Name("Country").Add();
               rows.Name("Products").Add();
           })
           .Columns(columns =>
           {
               columns.Name("Year").Add();
               columns.Name("Order_Source").Caption("Order Source").Add();
           })
           .Values(values =>
           {
               values.Name("In_Stock").Caption("In Stock").Add();
               values.Name("Sold").Caption("Units Sold").Add();
               values.Name("Amount").Caption("Sold Amount").Add();
           })
           .Filters(filters =>
           {
               filters.Name("Product_Categories").Caption("Product Categories").Add();
           })
           .ValueSortSettings(new PivotViewValueSortSettings { HeaderText= "FY 2015##In Stock", HeaderDelimiter= "##", SortOrder=Sorting.Descending })
           ).GridSettings(new PivotViewGridSettings { ColumnWidth = 140 }).ShowFieldList(true).EnableValueSorting(true).Render()
    </div>
</div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
        .sb-sample-content-area {
            min-height: 255px !important;
        }
        .control-section {
            min-height: 255px !important;
        }
    </style>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>
           This sample demonstrates ordering of values in ascending or descending order. Here, the <b>FY 2015 -> In Stock</b> column header
           text is ordered by defining sort-related settings in code behind.
       </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            You can sort column values by clicking the column header. Clicking the same header once again will reverse the sorting
            direction. It can be enabled by setting the <code>enableValueSorting</code> as true.
        </p>
        <p>
            Value sort-related settings can be defined in code behind, too. To do so, headers of the column to be sorted are given
            in the
            <code>headerText</code> property under
            <code>valueSortSettings</code>, separated by a delimiter string. The purpose of providing complete header text here is to indicate exactly which
            value column needs to be sorted. The string which is used to separate the headers is given in the property
            <code>headerDelimiters</code>. The sorting direction is performed by the
            <code>sortOrder</code> property.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Pivot Table Value Sorting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Value Sorting in ASP.NET MVC Pivot Table Control</h1>
                }