@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div style="text-align:center">
            @(Html.EJS().BulletChart("container")
                 .Tooltip(tp => tp.Enable(true))
                 .ValueField("value")
                 .Height("160")
                 .TargetField("target").LabelFormat("{value}K")
                 .Animation(an => an.Enable(false))
                 .Ranges(rn =>
                 {
                     rn.End(8).Opacity(1).Color("#CA4218").Name("Poor").Add();
                     rn.End(18).Opacity(1).Color("#EFC820").Name("AVG").Add();
                     rn.End(30).Opacity(1).Color("#599C20").Name("Good").Add();
                 })
                 .Minimum(0).Maximum(30).Interval(5)
                 .MajorTickLines(mt => mt.Width(1))
                 .Title("Package Downloads")
                 .Subtitle("in Thousands").LegendSettings(lg => lg.Visible(true))
                 .TitlePosition(Syncfusion.EJ2.Charts.TextPosition.Top)
                 .Orientation(Syncfusion.EJ2.Charts.OrientationType.Horizontal)
                 .DataSource(ViewData["dataSource"])
                 .Load("load").LegendRender("legendRender")
                 .Render())


        </div>
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }

        td {
            width: 50% !important;
        }

        tr {
            height: 50px !important
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/bullet-chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadBulletChartTheme(args);
            args.bulletChart.legendSettings.visible = true;
            args.bulletChart.width = ej.base.Browser.isDevice ? '100%' : '70%';
        }
        var legendRender = function (args) {
            if (args.text === 'Target_0') {
                args.text = 'Previous Target';
            }
            if (args.text === 'Target_1') {
                args.text = 'Current Target';
            }
            if (args.text === 'Target_2') {
                args.text = 'Future Target';
            }
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Legend in ASP.NET MVC Bullet Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a bullet chart with legend. Legend is used to know what the colors and shapes represent in bullet chart.
    </p>
}
@section Description{
    <p>
        
    </p>
}
@section Title{
                    <title>ASP.NET MVC Bullet Chart Legend Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Legend in ASP.NET MVC Bullet Chart Control</h1>
                }