@using Syncfusion.EJ2;
@section ControlsSection{
<div class="control-section">
    <div style="text-align:center">
        @(Html.EJS().BulletChart("container")
            .Tooltip(tp => tp.Enable(true))
            .ValueField("value")
            .Width("700")
            .TargetField("target")
            .Animation(an => an.Enable(false))
            .Ranges(rn =>
            {
                rn.End(150).Color("#7f7f7f").Add();
                rn.End(250).Color("#d8d8d8").Add();
                rn.End(300).Color("#ebebeb").Add();
            })
            .Minimum(0).Maximum(300).Interval(50)
            .Title("Revenue YTD")
            .LabelFormat("${value}K")
            .EnableRtl(true)
            .Orientation(Syncfusion.EJ2.Charts.OrientationType.Horizontal)
            .Load("load")
            .DataSource(ViewData["dataSource"])
            .Render()
        )    
    </div>
</div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/bullet-chart/theme-color.js"></script>
    <script>
		var load = function (args) {
            loadBulletChartTheme(args);
            args.bulletChart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the RTL in ASP.NET MVC Bullet Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates bullet chart with diferent mode and orientation such as like right to left or left to right.
    </p>
}
@section Description{
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.
    </p>    
}
@section Title{
                    <title>ASP.NET MVC Bullet Chart RTL Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RTL in ASP.NET MVC Bullet Chart Control</h1>
                }