@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models

@section ControlsSection {
    <div class="control-section">
        <div class="control-wrapper">
            @Html.EJS().RichTextEditor("exportEditor").ToolbarSettings(e =>
                     e.Items((object)ViewData["Tools"])).ExportWord((Syncfusion.EJ2.RichTextEditor.RichTextEditorExportWord)ViewData["ExportWord"]).ExportPdf((Syncfusion.EJ2.RichTextEditor.RichTextEditorExportPdf)ViewData["ExportPdf"]).Value((string)ViewData["RTEValue"]).EnableXhtml(true).InsertImageSettings((Syncfusion.EJ2.RichTextEditor.RichTextEditorImageSettings)ViewData["InsertImageSettings"]).Render()
        </div>
    </div>
}

@*custom code start*@

@section Meta {
    <meta name="description"
        content="This example demonstrates how to export the editor content into a PDF or Word document in the ASP.NET MVC Rich Text Editor control. Explore here for more details." />
}

@*custom code end*@

@section ActionDescription {
    <div id="action-description">
        <p>This example illustrates how to use the import/export feature of the Rich Text Editor to convert the editor
            content into a PDF or Word document.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>This example illustrates how to use the import/export feature of the Rich Text Editor to export the editor
            content into a PDF or Word document.</p>
        <ol>
            <li>Clicking the export to PDF icon will export the content of the Rich Text Editor to a PDF document.</li>
            <li>Clicking the export to Word icon will export the content of the Rich Text Editor to a Word document.</li>
        </ol>
    </div>
}


@section Title {
    <title>ASP.NET MVC Rich Text Editor Export to Word or PDF Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Export to Word or PDF in ASP.NET MVC Rich Text Editor Control</h1>
}
