@using Syncfusion.EJ2

@section ControlsSection{
   <div class="control-section">
        <div class="content-wrapper" id="file-browser-sample">
            @Html.EJS().RichTextEditor("fileBrowser").ToolbarSettings(e => e.Items((object)ViewData["Items"])).FileManagerSettings(e => { e.Enable(true); e.Path("/Pictures/Food"); e.AjaxSettings((object)ViewData["AjaxSettings"]); }).ContentTemplate(@<div><p>Rich Text Editor allows inserting images from online sources as well as the local computers where you want to insert the image in your content.</p><p><b>Get started Quick Toolbar to click on the image</b></p><p>It is possible to add custom style on the selected image inside the RichTextEditor through the quick toolbar.</p><img alt='Logo' style='width: 300px; height: 300px; transform: rotate(0deg);' src="@Url.Content("~/Content/images/RichTextEditor/RTEImage-Feather.png")" /></div>).Render()
        </div>
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the File Browser in ASP.NET MVC Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the option to insert the image into the RichTextEditor content using FileManager.
            Click the open folder button from the toolbar item to insert the image.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The FileManager feature provides an option to insert the image into the editor and it supports various cloud services.
            It supports all the basic file operations such as create, rename, delete, cut, copy, paste, upload, download and so on.
        </p>
        <p><b>Note:</b> File Manager’s upload functionality is restricted in online demo.</p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Rich Text Editor File Browser Example - Syncfusion Demos </title> 
                }

@section Header{
                    <h1 class='sb-sample-text'>Example of File Browser in ASP.NET MVC Rich Text Editor Control</h1>
                }