@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models

@section ControlsSection {
    <div class="control-section">
        <div class="control-wrapper">
            @Html.EJS().RichTextEditor("importEditor").ToolbarSettings(e =>
                     e.Items((object)ViewData["Tools"])).ImportWord((Syncfusion.EJ2.RichTextEditor.RichTextEditorImportWord)ViewData["ImportWord"]).Value((string)ViewData["RTEValue"]).EnableXhtml(true).InsertImageSettings((Syncfusion.EJ2.RichTextEditor.RichTextEditorImageSettings)ViewData["InsertImageSettings"]).Render()
        </div>
    </div>
}

@*custom code start*@

@section Meta {
    <meta name="description"
        content="This example demonstrates the Import the Word document in the ASP.NET MVC Rich Text Editor control. Explore here for more details." />
}

@*custom code end*@

@section ActionDescription {
    <div id="action-description">
        <p>This example illustrates how to efficiently import the Word document into the Rich Text Editor.</p>
    </div>
}
@section Description {
    <div id="description">
        <p>This sample demonstrates the <code>Import/Export</code> feature of the Rich Text Editor, which allows users to
            import the Word document into the editor. The word document can be imported as Rich Text Editor content by
            clicking the import to Word icon, browsing for the document, and uploading it to the server, where it is
            converted to HTML and then sent to the Rich Text Editor as its value.</p>
    </div>
}

@section Title {
    <title>ASP.NET MVC Rich Text Editor Import Word Document Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Import Word Document in ASP.NET MVC Rich Text Editor Control</h1>
}
