@using Syncfusion.EJ2

@model EJ2MVCSampleBrowser.Controllers.RichTextEditorModel

@section ControlsSection{

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    <div class="col-lg-12 control-section">
        <div style='padding-top:40px;'>
            <div id="wrapper">
                @Html.EJS().RichTextEditorFor(model => model.Value).Render()
                <div id="errorMessage">
                    @Html.ValidationMessageFor(model => model.Value)
                </div>
                <div id="submitbutton">
                    @Html.EJS().Button("btn").Content("Submit").Render()
                </div>
            </div>
        </div>
        </div>
        }
        <style>
            #submitbutton {
                margin: 10px auto;
                text-align: center;
            }

            #errorMessage {
                color: red;
            }
        </style>
        }

        @section ActionDescription{
            <div id="action-description">
                <p>This sample demonstrates the strongly-typed extension support in <code>Rich Text Editor</code>. The value of the Rich Text Editor is set from code behind and it is set to Rich Text Editor in a view page by invoking the strongly-typed RichTextEditorFor helper.</p>
            </div>
        }
        @section Description{
            <div id="description">
                <p>Click the submit button to post the value in the Rich Text Editor. The validation error message will be shown below the Rich Text Editor, when posting the null value.</p>
            </div>
        }
        @section Meta{
                    <meta name="description" content="This example demonstrates the RichTextEditorFor in ASP.NET MVC Rich Text Editor control. Explore here for more details."/>
                }


@section Title{
                    <title>ASP.NET MVC Rich Text Editor RichTextEditorFor Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RichTextEditorFor in ASP.NET MVC Rich Text Editor Control</h1>
                }