@using Syncfusion.EJ2
@using Syncfusion.EJ2.Spreadsheet

@section ControlsSection{
	<div class="control-section">
		@Html.EJS().Spreadsheet("spreadsheet").OpenUrl("ChartOpen").SaveUrl("ChartSave").Created("createdHandler").Sheets(sheet =>
   {
	   sheet.Name("GDP").Rows(row =>
	   {
		   row.Height(30).Cells(cell =>
		   {
			   cell.Value("Gross Domestic Product (in trillions)").Style(new SpreadsheetCellStyle() { BackgroundColor = "#e56590", Color = "#fff", FontWeight = FontWeight.Bold, TextAlign = TextAlign.Center, VerticalAlign = VerticalAlign.Middle }).Add();
		   }).Add();
		   row.Cells(cell =>
		   {
			   cell.Index(6).Chart(new List<Syncfusion.EJ2.Spreadsheet.Chart> { new Syncfusion.EJ2.Spreadsheet.Chart() { Type = Syncfusion.EJ2.Spreadsheet.ChartType.Column, Range = "A3:E10" } }).Add();
		   }).Add();
	   }).Ranges(ranges =>
	   {
		   ranges.DataSource(ViewData["GDPData"]).StartCell("A3").Add();
	   }).Columns(column =>
	   {
		   column.Width(80).Add();
		   column.Width(75).Add();
		   column.Width(75).Add();
		   column.Width(75).Add();
		   column.Width(75).Add();
	   }).Add();
   }).Render()
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Chart in ASP.NET MVC Spreadsheet control. Explore here for more details."/>
                }
@section ActionDescription{
	<div id="action-description">
		<p>
			This sample visualizes the data using chart feature by comparing the GDP of different countries with various years.
		</p>
	</div>
}
@section Description{
	<div id="description">
		<p>
			In this demo, the chart has been inserted in the specific cell position by using the <code>chart</code> property in the cell object. You can also insert a chart by using the <a target="_blank" href="https://ej2.syncfusion.com/javascript/documentation/api/spreadsheet#insertchart" aria-label="insertChart">insertChart<span class="sr-only">opens in a new tab</span></a> method.
			To enable or disable this feature use the <a target="_blank" href="https://ej2.syncfusion.com/javascript/documentation/api/spreadsheet#allowchart" aria-label="allowChart">allowChart<span class="sr-only">opens in a new tab</span></a> property in Spreadsheet.
		</p>
		<p>
			This sample is configured with import and export options. Use <b>Ctrl + O</b> to open an excel file and <b>Ctrl + S</b> to save an excel file with chart.
		</p>
		<p>
			More information about the Spreadsheet component can be found in this
			<a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/spreadsheet/getting-started-mvc" aria-label="documentation section">
				documentation
			<span class="sr-only">opens in a new tab</span></a> section.
		</p>
	</div>
}

<script>
	function createdHandler() {
		this.merge('A1:E1');
		this.cellFormat({ backgroundColor: '#e56590', color: '#fff', fontWeight: 'bold', textAlign: 'center' }, 'A3:E3');
		this.numberFormat('$#,##0.00', 'B4:E10');
		this.selectRange("A1");
	}
</script>

@*custom code start*@

<style>
	.control-section {
		height: 550px;
	}

	#sb-content .e-spreadsheet .e-tab .e-tab-text {
		display: inherit;
	}
</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Spreadsheet Chart Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Chart in ASP.NET MVC Spreadsheet Control</h1>
                }
