@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
       @Html.EJS().Spreadsheet("spreadsheet").OpenUrl("RemoteDataOpen").SaveUrl("RemoteDataSave").Created("createdEvent").Sheets(sheet =>
  {
      sheet.Name("Shipment Details").Ranges(ranges =>
      {
          ranges.ShowFieldAsHeader(false).StartCell("A2").Query("new ej.data.Query().from('Orders').select(['OrderID', 'CustomerID', 'Freight', 'ShipName', 'ShipCity', 'ShipCountry']).take(200)").DataSource(dataManger =>
   {
       dataManger.Url("https://services.odata.org/V4/Northwind/Northwind.svc").CrossDomain(true).Adaptor("ODataV4Adaptor");
   }).Add();
      }).Rows(row =>
      {
          row.Cells(cell =>
          {
              cell.Value("Order ID").Add();
              cell.Value("Customer Name").Add();
              cell.Value("Freight").Add();
              cell.Value("Ship Name").Add();
              cell.Value("Ship City").Add();
              cell.Value("Ship Country").Add();
          }).Add();
      }).Columns(column =>
      {
          column.Width(100).Add();
          column.Width(130).Add();
          column.Width(100).Add();
          column.Width(220).Add();
          column.Width(150).Add();
          column.Width(180).Add();
      }).Add();
  }).Render()
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Remote Data Binding in ASP.NET MVC Spreadsheet control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates data binding to the <code>Spreadsheet</code> component with a remote service
            using <code>DataManager</code>.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The <code>Spreadsheet</code> supports data binding. The <code>dataSource</code> property can be assigned with
            the instance of <code>DataManager</code> to bind remote data.
        </p>
        <p>
            DataManager, which will act as an interface between the service endpoint and the Spreadsheet, requires the
            following minimum configuration to interact with the service endpoint properly:
            <ul>
                <li><code>DataManager > url</code> : Defines the service endpoint to fetch data.</li>
                <li>
                    <code>DataManager > adaptor</code> : Defines the adaptor option. By default, <code>ODataAdaptor</code>
                    is used for remote binding.
                </li>
            </ul>
        </p>
        <p>
            Adaptor is responsible for processing the response from the service endpoint and the request to it. The
            <code>syncfusion/ej2-data</code> package provides some predefined adaptors that are designed to interact
            with service endpoints. They are:
            <ul>
                <li>
                    <code>UrlAdaptor</code> : Use this to interact with any remote services. This is the base adaptor for
                    all remote-based adaptors.
                </li>
                <li><code>ODataAdaptor</code> : Use this to interact with OData endpoints.</li>
                <li><code>ODataV4Adaptor</code> : Use this to interact with OData V4 endpoints.</li>
                <li><code>WebApiAdaptor</code> : Use this to interact with Web API created under OData standards.</li>
                <li><code>WebMethodAdaptor</code> : Use this to interact with web methods.</li>
            </ul>
        </p>
        <p>
            In this demo, remote data is bound by assigning service data as an instance of <code>DataManager</code> to the
            <code>dataSource</code> property under the <code>ranges</code> of sheet.
        </p>
        <p>
            More information about remote data binding can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/spreadsheet/getting-started-mvc" aria-label="documentation section">
                documentation
            <span class="sr-only">opens in a new tab</span></a> section.
        </p>
    </div>
}

<script>
    function createdEvent() {
        this.cellFormat({ fontWeight: 'bold', textAlign: 'center' }, 'A1:G1');
    }
</script>

@*custom code start*@
<style>
    .control-section {
        height: 550px;
    }
    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>
@*custom code end*@

@section Title{
                    <title>ASP.NET MVC Spreadsheet Remote Data Binding Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Remote Data Binding in ASP.NET MVC Spreadsheet Control</h1>
                }
