@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Spreadsheet("spreadsheet").OpenUrl("FilterOpen").SaveUrl("FilterSave").Created("createdHandler").Sheets(sheet =>
   {
       sheet.Name("Employee Details").Ranges(ranges =>
            {
           ranges.DataSource(ViewBag.FilteringData).ShowFieldAsHeader(true).Add();
           }).Columns(column =>
       {
           column.Width(110).Add();
           column.Width(142).Add();
           column.Width(80).Add();
           column.Width(137).Add();
           column.Width(122).Add();
           column.Width(92).Add();
           column.Width(124).Add();
       }).Add();
   }).Render()
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Sorting and Filtering in ASP.NET MVC Spreadsheet control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates sorting and filtering feature using employee details.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this demo, sorting is applied to B(Employee Name) column in ascending order using <code>sort</code> method.
            The sort order can be specified in <code>order</code> property with following values `Ascending` or `Descending` and its
            default value is `Ascending`.

        The sorted data is filtered with value 'Services' in `D` column using <code>
            <a target="_blank" href="https://ej2.syncfusion.com/documentation/api/spreadsheet/#applyfilter" aria-label="applyFilter">applyFilter<span class="sr-only">opens in a new tab</span></a>
            </code> method in call back function of <code>
                <a target="_blank" href="https://ej2.syncfusion.com/documentation/api/spreadsheet/#sort" aria-label="sort">sort<span class="sr-only">opens in a new tab</span></a>
                </code> method.
    </p>
        <p>
            More information about sorting and filtering feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/spreadsheet/getting-started-mvc" aria-label="documentation section">
                documentation
            <span class="sr-only">opens in a new tab</span></a> section.
        </p>
    </div>
}

<script>
    function createdHandler() {
        var excelObj = this;
        excelObj.cellFormat({ textAlign: 'center', fontWeight: 'bold' }, 'A1:G1');
        // Sorted B(Employee Name field) column in ascending order
        excelObj.sort({ sortDescriptors: { field: 'B' } }, 'A2:G51').then(function () {
            // Filtered D(Department  field) column with value 'Services'
            excelObj.applyFilter([{ field: 'D', operator: 'equal', value: 'Services' }], 'A1:G51');
        });
        excelObj.numberFormat('m/d/yyyy', 'E2:E51');
        excelObj.numberFormat('$#,##0.00', 'F2:F51');
    }
</script>

@*custom code start*@

<style>
    .control-section {
        height: 550px;
    }

    #sb-content .e-spreadsheet .e-tab .e-tab-text {
        display: inherit;
    }
</style>

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Spreadsheet Sorting and Filtering Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Sorting and Filtering in ASP.NET MVC Spreadsheet Control</h1>
                }