@using Syncfusion.EJ2
@using Syncfusion.EJ2.Kanban

@section ControlsSection {
<div class="control-section">
    <div class="control_wrapper">
        @Html.EJS().Kanban("kanban").KeyField("Status").DataSource((IEnumerable<object>)ViewData["data"]).Columns(col=> {
       col.HeaderText("Open").KeyField("Open").Add();
       col.HeaderText("In Progress").KeyField("InProgress").Add();
       col.HeaderText("In Review").KeyField("Review").Add();
       col.HeaderText("Completed").KeyField("Close").Add();
   }).CardSettings(card =>  {
           card.ContentField("Summary").HeaderField("Id");
       }).StackedHeaders(stackedHeaders => {
        stackedHeaders.Text("To Do").KeyFields("Open").Add();
        stackedHeaders.Text("Development Phase").KeyFields("InProgress,Review").Add();
        stackedHeaders.Text("Done").KeyFields("Close").Add(); }).Render()

    </div>
</div>
}
@section ActionDescription{
<div id="action-description">
    <p>
        This sample demonstrates the Kanban control with the stacked header feature. In this sample, the Kanban is
        showcased
        with two headers aligned in a stacked manner.
    </p>
</div>
}
@section Description{
<div id="description">
    <p>
        The Kanban provides an option to add an additional header along with a column header in stacked manner. This
        header
        groups the logically related columns. This can be achieved by mapping <code>Text</code> and
        <code>KeyFields</code> attribute of the <code>StackedHeaders</code> property.
    </p>
</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Stacked Header in ASP.NET MVC Kanban control. Explore here for more details."/>
                }

@section Title{
                    <title>ASP.NET MVC Kanban Stacked Header Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Stacked Header in ASP.NET MVC Kanban Control</h1>
                }