@using Syncfusion.EJ2
@using Syncfusion.EJ2.Kanban

@section ControlsSection {
    <div class="col-lg-9 control-section">
        <div class="control_wrapper">
            @Html.EJS().Kanban("kanban").KeyField("Status").EnableTooltip(true).TooltipTemplate("#tooltipTemp").DataSource((IEnumerable<object>)ViewData["data"]).Columns(col=> {
           col.HeaderText("To Do").KeyField("Open").Add();
           col.HeaderText("In Progress").KeyField("InProgress").Add();
           col.HeaderText("Testing").KeyField("Testing").Add();
           col.HeaderText("Done").KeyField("Close").Add();
       }).CardSettings(card =>  {
           card.ContentField("Summary").HeaderField("Id");
       }).Created("onCreate").Render()

        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td>
                        <div>
                            @Html.EJS().CheckBox("enableTooltip").Checked(true).Change("onChange").Label("Enable Tooltip").Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @Html.EJS().CheckBox("enableTooltipTemplate").Checked(true).Change("onChange").Label("Enable Tooltip Template").Render()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script id="tooltipTemp" type="text/x-template">
        <div class='e-kanbantooltiptemp'>
            <table>
                <tr>
                    <td class="details">
                        <table>
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:70%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="CardHeader">Assignee:</td>
                                    <td>${Assignee}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Type:</td>
                                    <td>${Type}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Estimate:</td>
                                    <td>${Estimate}</td>
                                </tr>
                                <tr>
                                    <td class="CardHeader">Summary:</td>
                                    <td>${Summary}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </script>
    <style type="text/css">
        .e-kanbantooltiptemp {
            width: 250px;
            padding: 3px;
        }

            .e-kanbantooltiptemp > table {
                width: 100%;
            }

            .e-kanbantooltiptemp td {
                vertical-align: top;
            }
    </style>

    <script>
        var kanbanObj;
        function onCreate() {
            kanbanObj = this;
        }
        function onChange(args) {

            var value = this.element.id;
            switch (value) {
                case 'enableTooltip':
                    kanbanObj.enableTooltip = args.checked;
                    break;
                case 'enableTooltipTemplate':
                    kanbanObj.tooltipTemplate = null;
                    if (args.checked) {
                        kanbanObj.tooltipTemplate = '#tooltipTemp';
                    }
                    break;
                default:
                    break;
            }
        }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates how to customize the tooltip messages in Kanban cards. You can enable or disable the tooltip and its template.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The Kanban provides an option to show default tooltip and templated tooltip using the <code>EnableTooltip</code> and <code>TooltipTemplate</code> properties.
        </p>
        <ul>
            <li>
                <code>EnableTooltip:</code> If you set this property to true, the cards will show a tooltip with default format.
            </li>
            <li>
                <code>TooltipTemplate:</code> If you set <code>EnableTooltip</code> property to true and configured the tooltipTemplate, the cards will show a tooltip with templated content.
            </li>
        </ul>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip Template in ASP.NET MVC Kanban control. Explore here for more details."/>
                }

@section Title{
                    <title>ASP.NET MVC Kanban Tooltip Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip Template in ASP.NET MVC Kanban Control</h1>
                }