@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns

@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="col-lg-8 control-section">
            <div id="wrapper" class="dateRangepicker-section">
                <div id="dateRangepicker-control">
                    @Html.EJS().DateRangePicker("Rangepicker").Format("dd/MMM/yy hh:mm a").StartDate(ViewData["start"]).EndDate(ViewData["end"]).Render()
                </div>
            </div>
        </div>
        <div id="propertySection" class="col-lg-4 property-section">
            <div class="radio-control" id="property" title="Select a format">
                <div class="row">
                    @Html.EJS().RadioButton("format1").Label("yyyy/MM/dd HH:mm").Name("format").Value("yyyy/MM/dd HH:mm").Change("changeFormat").Render()
                </div>
                <div class="row">
                    @Html.EJS().RadioButton("format2").Label("dd/MMM/yy hh:mm a").Name("format").Value("dd/MMM/yy hh:mm a").Change("changeFormat").Checked(true).Render()
                </div>
                <div class="row">
                    @Html.EJS().RadioButton("format3").Label("dd/MMMM/yyyy").Name("format").Value("dd/MMMM/yyyy").Change("changeFormat").Render()
                </div>
            </div>
        </div>
    </div>
}

<script>
    function changeFormat(args) {
        /*Apply the selected format to the component*/
        daterangepicker = document.getElementById('Rangepicker').ej2_instances[0];
        let Format = args.value;
        daterangepicker.separator = (Format === 'yyyy/MM/dd HH:mm') ? 'to' : '-';
        daterangepicker.format = Format;
    }

</script>


    @*custom code start*@
<style>
    #wrapper {
        max-width: 350px;
        margin: 30px auto;
        padding-top: 20px;
    }
</style>

    @*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DateRangePicker has been configured with the <code> dd/MMM/yy hh:mm a</code> date time format. To change this current date time format, go to the properties panel at the right side and select a date format from the availbale options. For mobile mode touch the icon at the right side and select a date time format from the availbale options.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            Format sample illustrates the support of custom date time format in the DateRangePicker component by
            using the <code>format</code> property. You can also change the date time format by selecting it from the format options in the properties
            panel.
        </p>
        <p>
            More information on the date format configuration can be found in the <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/daterangepicker/globalization/"
                                                                                     target="_blank" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Format in ASP.NET MVC DateRangePicker control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC DateRangePicker Format Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Format in ASP.NET MVC DateRangePicker Control</h1>
                }