@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div id="wrapper">
            @Html.EJS().DateRangePicker("daterangepicker").Format("MMM yyyy").Placeholder("Choose a Range").Start(Syncfusion.EJ2.Calendars.CalendarView.Year).Depth(Syncfusion.EJ2.Calendars.CalendarView.Year).Render()
        </div>
    </div>

    @*custom code start*@
    <style>
        #wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }
    </style>
    @*custom code end*@

}

@section ActionDescription{
    <div id="action-description">
    <p>
        The following sample demonstrates the DateRangePicker component acting as a month range picker. It allows you to select values within the range of months.
    </p>
</div>
}
@section Description{
    <div id="description">
        <p>
            The DateRangePicker has the <code>Start</code> and the <code>Depth</code> properties that provide options to restrict users from navigating to any Calendar view (year, month, or decade).
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Month Range Picker in ASP.NET MVC DateRangePicker control. Explore here for more details."/>
                }



@section Title{
                    <title>ASP.NET MVC DateRangePicker Month Range Picker Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Month Range Picker in ASP.NET MVC DateRangePicker Control</h1>
                }