@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        <div id="Sample">
            <div class="row" align="center">
                <h4 id="days" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">EUR Exchange Rate from USD</h4>
                <div id="container">
                    @(Html.EJS().RangeNavigator("container").LabelPosition(Syncfusion.EJ2.Charts.AxisPosition.Outside)
                    .Tooltip(tl=>tl.Enable(true).Format("yyyy/MM/dd").DisplayMode(Syncfusion.EJ2.Charts.TooltipDisplayMode.Always))
                    .ValueType(Syncfusion.EJ2.Charts.RangeValueType.DateTime)
                    .Series(sr =>
                {
                    sr.XName("x").YName("y").Width(2).Type(Syncfusion.EJ2.Charts.RangeNavigatorType.Area).Animation(an=>an.Enable(false)).Add();
                })
            .MajorTickLines(mt=>mt.Width(0).Color("transparent"))
                    .Load("load").Changed("changed").Render()
                )
                </div>
                <div id="chartcontainer">
                    @(Html.EJS().Chart("chart")
            .Series(sr =>
            {
                sr.XName("x")
                   .YName("y")
                   .Name("Rate")
                   .Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline)
                   .Width(2).Add();
            })
              .PrimaryXAxis(xaxis =>
                 xaxis.MajorGridLines(mt => mt.Width(0).Color("transparent"))
                      .ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime)
                      .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)

              )
              .ChartArea(ca => ca.Border(br=>br.Width(0)))
              .PrimaryYAxis(yaxis =>
                  yaxis.LabelFormat("n1").Minimum(0.6).Maximum(1).Interval(0.1).RangePadding(Syncfusion.EJ2.Charts.ChartRangePadding.Normal).MajorTickLines(mt => mt.Width(0).Color("transparent"))
                        .LineStyle(ls => ls.Width(0).Color("transparent")))
                        .Crosshair(cr => cr.Enable(false).LineType(Syncfusion.EJ2.Charts.LineType.None))
                        .Height("350").LegendSettings(lg => lg.Visible(false))
                        .Tooltip(tl => tl.Enable(true).Shared(true))
                        .LegendSettings(ls => ls.Visible(false))
                        .Load("chartload").Render()
                )
                </div>
            </div>
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }

        #material-gradient-chart stop {
            stop-color: #00bdae;
        }

        #fabric-gradient-chart stop {
            stop-color: #4472c4;
        }

        #bootstrap-gradient-chart stop {
            stop-color: #a16ee5;
        }

        #materialdark-gradient-chart stop {
            stop-color: #00bdae;
        }

        #fabricdark-gradient-chart stop {
            stop-color: #4472c4;
        }

        #bootstrapdark-gradient-chart stop {
            stop-color: #a16ee5;
        }

        #tailwinddark-gradient-chart stop {
            stop-color: #8B5CF6;
        }

        #tailwind3dark-gradient-chart stop {
            stop-color: #8029F1;
        }

        #bootstrap4-gradient-chart stop {
            stop-color: #a16ee5;
        }

        #highcontrast-gradient-chart stop {
            stop-color: #79ECE4;
        }

        #tailwind-gradient-chart stop {
            stop-color: #5A61F6;
        }

        #tailwind3-gradient-chart stop {
            stop-color: #2F4074;
        }

        #bootstrap5-gradient-chart stop {
            stop-color: #FD7E14;
        }

        #bootstrap5dark-gradient-chart stop {
            stop-color: #FD7E14;
        }

        #fluent-gradient-chart stop {
            stop-color: #1AC9E6;
        }

        #fluentdark-gradient-chart stop {
            stop-color: #1AC9E6;
        }
        
        #material3-gradient-chart stop {
            stop-color: #6355C7;
        }
            
        #material3dark-gradient-chart stop {
            stop-color: #4EAAFF;
        }

        #fluent2-gradient-chart stop {
            stop-color: #6200EE;
        }

        #fluent2highcontrast-gradient-chart stop {
            stop-color: #9BB449;
        }

        #fluent2dark-gradient-chart stop {
            stop-color: #9BB449;
        }

        .chart-gradient stop[offset="0"] {
            stop-opacity: 0.9;
        }

        .chart-gradient stop[offset="1"] {
            stop-opacity: 0.3;
        }
    </style>
    <svg style="height: 0">
        <defs>
            <linearGradient id="material-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fabric-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="bootstrap-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="bootstrap4-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="highcontrast-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="tailwind-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="tailwind3-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="materialdark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fabricdark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="bootstrapdark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="tailwinddark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="tailwind3dark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="bootstrap5-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="bootstrap5dark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fluent-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fluentdark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="material3-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="material3dark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fluent2-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fluent2highcontrast-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="fluent2dark-gradient-chart" style="opacity: 0.75" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
        </defs>
    </svg>
    <script src="~/Scripts/datasource.js"></script>
    <script src="~/Scripts/range-navigator/theme-color.js"></script>
    <script>
        var data = window.stockData;
        var zoomFactor, zoomPosition;
        var load = function (args) {
            var theme = loadRangeNavigatorTheme(args);
            args.rangeNavigator.width = ej.base.Browser.isDevice ? "100%" : "80%";
            args.rangeNavigator.series[0].dataSource = data;
            args.rangeNavigator.series[0].border = { width: 2, color: borderColor[themesList.indexOf(args.rangeNavigator.theme.toLowerCase())] };
            args.rangeNavigator.series[0].fill = 'url(#' + args.rangeNavigator.theme.toLowerCase() + '-gradient-chart)';
            args.rangeNavigator.value = [new Date('2011-01-01'), new Date('2013-12-31')];
        }
        var chartload = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
            args.chart.series[0].dataSource = data;
            args.chart.zoomFactor = zoomFactor;
            args.chart.zoomPosition = zoomPosition;
        }
        var changed = function (args) {
            zoomFactor = args.zoomFactor;
            zoomPosition = args.zoomPosition;
            if ((document.getElementById('chart').childNodes.length > 1)) {
                var chart = document.getElementById('chart').ej2_instances[0];
                chart.primaryXAxis.zoomFactor = args.zoomFactor;
                chart.primaryXAxis.zoomPosition = args.zoomPosition;
                chart.dataBind();
            }
        }

    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the DateTime in ASP.NET MVC Range Selector control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes rendering of date-time in the range navigator with exchange rate analysis of EUR to USD.
    </p>
}
@section Description{
    <p>
        Date-time data is used in this sample, and the selected range values are showed with tooltip.
        Date-time axis uses date-time scale and displays date-time values as axis labels.
        To render date-time axis, set the <code>valueType</code> to <code>DateTime</code>. Format of the axis label will be calculated based on the <code>intervalType</code> of the range navigator. You can also directly set the format using the <code>labelFormat</code> property.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Range Selector DateTime Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DateTime in ASP.NET MVC Range Selector Control</h1>
                }