@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <h4 id="days" align="center" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">Score Comparision AUS vs SL</h4>
        <div id="container" align="center">
            @(Html.EJS().RangeNavigator("container").Height("120").LabelPosition(Syncfusion.EJ2.Charts.AxisPosition.Outside)
                .Tooltip(tl => tl.Enable(true))
                    .Series(sr =>
                {
                    sr.XName("x").YName("y").Width(2).Add();
                    sr.XName("x").YName("y").Width(2).Add();
                }).Changed("changed").Load("load").TooltipRender("renderTooltip").Render()
            )
        </div>
        <div id="chartcontainer" align="center">
            @(Html.EJS().Chart("chart")
            .Series(sr =>
            {
                sr.XName("x")
                   .YName("y")
                   .Name("AUS")
                   .Width(2).Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline).Animation(animation=>animation.Enable(false)).Add();
                sr.XName("x")
                  .YName("y")
                  .Name("SL")
                  .Width(2).Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline).Animation(animation => animation.Enable(false)).Add();
            }).Annotations(an =>
            {
                an.Content("<div id='exchangeRate'></div>").CoordinateUnits(Syncfusion.EJ2.Charts.Units.Pixel).X("85%").Y("15%").Region(Syncfusion.EJ2.Charts.Regions.Chart).Add();
            })
              .PrimaryXAxis(xaxis =>
                 xaxis.MajorGridLines(mg => mg.Width(0).Color("transparent")).Title("Overs")
                      .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)

              )
              .ChartArea(ca => ca.Border(br=>br.Width(0)))
              .PrimaryYAxis(yaxis =>
                  yaxis.Minimum(0).Title("Runs").MajorTickLines(mt => mt.Width(0).Color("transparent"))
                        .LineStyle(ls => ls.Width(0).Color("transparent")))
                        .LegendSettings(ls => ls.Visible(false))
                        .Height("350").Load("chartload").Loaded("chartloaded").Render()
            )


        </div>
    </div>
             @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
             @*custom code end*@
    <script src="~/Scripts/datasource.js"></script>
    <script src="~/Scripts/range-navigator/theme-color.js"></script>
    <script>
        var backgroundColor;
        var slData = sl;
        var ausData = aus;      
        var zoomFactor, zoomPosition;
        var load = function (args) {
            loadRangeNavigatorTheme(args);
            args.rangeNavigator.width = ej.base.Browser.isDevice ? "100%" : "80%";
            args.rangeNavigator.series[0].dataSource = ausData;
            args.rangeNavigator.series[1].dataSource = slData;
            args.rangeNavigator.value = [31, 50];
        }
        var chartload = function (args) {
            var theme = loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
            args.chart.series[0].dataSource = ausData;
            args.chart.series[1].dataSource = slData;
            backgroundColor = theme === 'Highcontrast' ? 'black' : 'white';
            getAnnotation(ausData, ej.charts.getSeriesColor(theme)[0]);
            getAnnotation(slData, ej.charts.getSeriesColor(theme)[1]);            
        }
        var chartloaded = function (args) {
            var chart = document.getElementById('chart').ej2_instances[0];
            var series1 = args.chart.visibleSeries[0].interior;
            var series2 = args.chart.visibleSeries[1].interior;
            var html = '<table>';
            html += '<tr><td><div style="width:10px; height: 10px; border: 2px solid ' + series1 + '; background: ' + series1 + ';"></div></td><td style="padding-left:10px;">' + ' Australia' + '</td>';
            html += '<tr><td><div style="width:10px; height: 10px; border: 2px solid ' + series2 + '; background: ' + series2 + ';"></div></td><td style="padding-left:10px;">' + ' SriLanka' + '</td>';
            html += '</table>';
            chart.setAnnotationValue(0, '<div id="exchangeRate" style="line-height: 18px; font-size: 13px;background: #fff; opacity:0.9; color: #464e56; ' +
                ' box-shadow:0 0 8px 0 rgba(70,78,86,.25); padding: 7px 10px; border-radius: 3px">' +
                html +
                '</div>');
        }
        var changed = function (args) {
            zoomFactor = args.zoomFactor;
            zoomPosition = args.zoomPosition;
            if ((document.getElementById('chart').childNodes.length > 1)) {
                var chart = document.getElementById('chart').ej2_instances[0];
                chart.primaryXAxis.zoomFactor = args.zoomFactor;
                chart.primaryXAxis.zoomPosition = args.zoomPosition;
                chart.dataBind();
            }
        }
        function getAnnotation(args, color) {
            var chart = document.getElementById('chart').ej2_instances[0];
                for (var i = 0; i < args.length; i++) {
                    if (args[i]['isWicket']) {
                        chart.annotations.push({
                            content: '<div id= "wicket" style="width: 20px; height:20px; border-radius: 5px;' +
                            'background: ' + backgroundColor + '; border: 2px solid ' + color + '; color:' + color + '">W</div>',
                            x: args[i]['x'],
                            y: args[i]['y'],
                            coordinateUnits: 'Point'
                        });
                    }
                }
        }
        var renderTooltip = function (args) {
            args.text = [Math.round(args.text)];
            args.text = [(args.text).toString()];
        }

    </script>
}
             @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Numeric Axis in ASP.NET MVC Range Selector control. Explore here for more details."/>
                }
             @*custom code end*@
@section ActionDescription{
    <p>
        This sample depicts the cricket match data between two countries with the help of numeric axis in range navigator.
    </p>
}
@section Description{
    <p>
        Numeric axis is used to plot numeric data in range navigator. To render numeric axis, set <code>valueType</code> to <code>Double</code>.
        Tooltip is enabled in this example, to see the tooltip in action, while the selected range is changed.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Range Selector Numeric Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Numeric Axis in ASP.NET MVC Range Selector Control</h1>
                }