@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns

@section Meta{
    <meta name="description" content="This demo for Essential JS2 Menu control shows the supported APIs and its functionalities. It includes enable/disable item, show item on click and orientation." />
}
@section ControlsSection{
    <div class="control-section">
        <div class="col-lg-8 control-section">
            <div class="menu-control">
                @Html.EJS().Menu("menu").Items(ViewBag.data).Fields(ViewBag.menuFields).Render()
            </div>
        </div>

        <div class="col-lg-4 property-section">
            <table id="property" title="Properties" style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 50%;padding-top:10px">
                            <div>Orientation</div>
                        </td>
                        <td style="width: 50%;padding-top:10px">
                            <div style="max-width: 200px">
                                @Html.EJS().DropDownList("ddl").DataSource(ViewBag.ddlData).Value("Horizontal").PopupHeight("200px").Change("ddlChange").Render()
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-top:10px">
                            <div>Enable / Disable item</div>
                        </td>
                        <td style="width: 50%;padding-top:10px">
                            <div style="max-width: 200px">
                                @Html.EJS().MultiSelect("enableDisable").DataSource(ViewBag.headerData).PopupHeight("250px").Width("160px").Mode(VisualMode.CheckBox).Placeholder("Select item").ShowDropDownIcon(true).Change("enableDisableChange").Render()
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;padding-top:15px">
                            <div>Show Item on Click</div>
                        </td>
                        <td style="width: 50%;padding-top:15px">
                            @Html.EJS().CheckBox("show-btn").Change("checkBoxChange").Render()
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the customization of <code>Menu</code> component by using its properties from the property pane. Select any combination of properties from the property pane to customize <code>Menu</code> component.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>In this demo, default menu is rendered with minimal configuration.</p>
        <p>This sample can be customized further with the combination of <code>Menu</code> properties from the property pane. For example,</p>
        <ul>
            <li>
                You can switch to <b>Vertical</b> and <b>Horizontal</b> modes by clicking and selecting the
                <code>orientation</code> mode from <i>Orientation</i> dropdownlist.
            </li>
            <li>
                You can enable or disable menu items by clicking and selecting the item
                from <i>Enable item</i> or <i>Disable item</i> dropdownlists.
            </li>
            <li>
                You can also enable the show menu item on mouse click <code>ShowItemOnClick</code> property by checking the
                <i>Show item on Click</i> checkbox.
            </li>
        </ul>
        <p>
            More information about Menu can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/menu/">
                documentation section
            </a>.
        </p>
    </div>
}

@section Scripts {
    <script>
        // Menu control instance
        var menuObj = document.getElementById('menu').ej2_instances[0];
    </script>
}

<script>
    function ddlChange(args) {
        menuObj.orientation = args.value;
    }

    function enableDisableChange(args) {
        if (args.value) {
            menuObj.enableItems(['Events', 'Movies', 'Directory', 'Queries', 'Services'], true);
            menuObj.enableItems(args.value, false);
        }
    }

    function checkBoxChange(args) {
        menuObj.showItemOnClick = args.checked;
    }
</script>

<style>
    /**
    * ej2 Menu styles
    */
    .menu-control {
        margin-top: 45px;
        text-align: center;
    }

    .property-panel-content {
        padding: 0 10px 10px 0;
        overflow: auto;
    }

    .control-section .property-panel-table .e-multiselect {
        padding: 0;
    }
</style>
