@using Syncfusion.EJ2
@{ViewBag.Title = "    Essential DocIO (Word) : Import, HTML to DOC : Syncfusion";}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("HTMLtoDOC", "DocIO", FormMethod.Post, new { enctype = "multipart/form-data" });
            {
                <div style="margin-top: 10px">
                    Select Document
                    <br />
                    @Html.TextBox("file", "", new { type = "file", accept = ".html,.htm" })
                    <div style="margin-top: 8px">
                        Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.
                        <div style="margin-top: 8px">
                            Save As :
                            <input type="radio" id="rdButtonDoc" name="Group1" value="WordDoc" style="margin-left: 7px" />
                            <label for="rdButtonDoc" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Doc format">DOC</label>
                            &nbsp;
                            <input type="radio" id="rdButtonDocx" name="Group1" value="WordDocx" style="margin-left: 7px" checked="checked" />
                            <label for="rdButtonDocx" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as Word Docx format">DOCX</label>
                            &nbsp;
                            <input type="radio" id="rdButtonWordML" name="Group1" value="WordML" style="margin-left: 7px" />
                            <label for="rdButtonWordML" style="font-size:13px;font-weight:normal;text-align:match-parent" data-toggle="tooltip" title="Saves the resultant document as WordML format">WordML</label>
                        </div>
                        <div style="margin-top: 8px">
                            <input class="e-btn" type="submit" value="Generate Document" style="width:170px;text-transform:capitalize" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-danger">
                    @ViewBag.Message
                </div>
                Html.EndForm();
            }
        }
    </div>
}
@section ActionDescription{
    <div>
        This sample demonstrates how to convert the HTML file to Word document using Essential DocIO.
    </div>
}
@section Description{
    <div>
        DocIO provides support to convert the HTML file to Word document and vice versa. With this support,
        <ul>
            <li>
                You can save the contents of the HTML page as Word document for future reference.
            </li>
            <li>
                You can insert a HTML string at a specific position in the Word document.
            </li>
            <li>
                You can also validate the HTML string against XHTML 1.0 Strict and Transitional schema.
            </li>
        </ul>
    </div>
    <div style="margin-top: 15px">
        More information about HTML conversion can be found in this
        <a href="https://help.syncfusion.com/file-formats/docio/html">documentation</a>
        section.
    </div>
}
@section Meta{
    <meta name="description" content="This sample demonstrates how to convert HTML file to Word document in ASP.NET MVC using Syncfusion DocIO (Word) library." />
}