@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div class="row">
            <div class="e-input-group parent-progress">
                @(Html.EJS().TextBox("progresslinearpassword").Placeholder("New Password").CssClass("e-outline")
         .FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Type("password").Width("20%").Input("inputLinear").Render())
                <span class="e-input-group-icon"></span>
                @(Html.EJS().TextBox("progresspassword").Placeholder("New Password").CssClass("e-outline")
         .FloatLabelType(Syncfusion.EJ2.Inputs.FloatLabelType.Auto).Type("password").Width("20%").Input("input").Render())
                <span class="e-input-group-icon progresscontainer" style="float: left;">
                    @(Html.EJS().ProgressBar("progresscontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Circular).Value(0)
                      .Minimum(0).Maximum(16).TrackThickness(1).ProgressThickness(2).Margin(mg=> mg.Bottom(0).Left(5).Right(0).Top(0))
                      .Height("30").Width("30").Load("load")
                      .Render())
                </span>
            </div>
        </div>
        <div class="row">
            <div class="parent-progress1">
                <span class="e-progress-linear">
                    @(Html.EJS().ProgressBar("progresslinearcontainer")
                      .Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(0).SegmentCount(4).Load("Load")
                      .Minimum(0).Maximum(16).TrackThickness(4).ProgressThickness(4).Margin(mg=> mg.Bottom(0).Left(5).Right(0).Top(0))
                      .Height("30").Width("27%").TrackColor("transparent")
                      .Render())
                </span>
            </div>
            <div class="col-lg-12 e-label">
                <label id="label" style="text-align: center"></label>
            </div>
        </div>
    </div>


    @*custom code start*@
    <style>
        .e-progressbar, #progresslinearcontainer {
            display: block;
        }

        .progresscontainer {
            margin-left: -4%;
        }

        #control-container {
            padding: 0px !important;
        }

        #progresscontainer {
            left: -5%;
            padding: 4px;
        }

        #progresslinearcontainer {
            right: -10px;
        }

        .parent-progress {
            margin-left: 20%;
            margin-top: 9%;
            border-bottom: 0px !important;
        }

        .parent-progress1 {
            margin-left: 25%;
            border-bottom: 0px !important;
        }

        .e-label {
            margin-left: 25%;
            border-bottom: 0px !important;
        }

        .e-float-input.e-control-wrapper.e-outline {
            margin-left: 60px;
        }
    </style>
    @*custom code end*@
    <script>
        var Load = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5');
            if (selectedTheme.toLowerCase() !== 'material') {
                args.progressBar.element.style.marginTop = '2.5%';
            }
        };
        var inputLinear = function (args) {
            var passLength = args.value.length;
            var progressLinearbar = document.getElementById("progresslinearcontainer").ej2_instances[0]
            var outlineLinearTextBox = document.getElementById("progresslinearpassword").ej2_instances[0];
            var label = document.getElementById("label");
            progressLinearbar.value = passLength;
            if (passLength <= 8) {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#E42E2F ';
                label.textContent = "Weak";
                label.style.color = '#E42E2F ';
            } else if (passLength <= 12) {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#FF9305';
                label.textContent = "Good";
                label.style.color = '#FF9305';
            } else {
                outlineLinearTextBox.placeholder = 'Password';
                progressLinearbar.progressColor = '#2BB20E';
                label.textContent = "Strong";
                label.style.color = '#2BB20E ';
            }
            if (passLength === 0) {
                label.textContent = "";
                label.style.color = '#2BB20E ';
            }
            progressLinearbar.trackColor = '#E3165B';
            if (passLength === 0) {
                label.textContent = '';
                label.style.color = '#2BB20E ';
                progressLinearbar.trackColor = 'transparent';
            }
            progressLinearbar.value = progressLinearbar.value > 16 ? 16 : progressLinearbar.value;
            progressLinearbar.refresh();
        }
        var input = function (args) {
            var progressbar = document.getElementById("progresscontainer").ej2_instances[0];
            var outlineTextBox = document.getElementById("progresspassword").ej2_instances[0];
            var passLength = args.value.length;
            progressbar.value = passLength;
            if (passLength === 0) {
                outlineTextBox.placeholder = 'Very Weak';
                progressbar.progressColor = '#eb4f34';
            } else if (passLength < 6) {
                outlineTextBox.placeholder = 'Weak';
                progressbar.progressColor = '#eb8034';
            } else if (passLength < 9) {
                outlineTextBox.placeholder = 'Medium';
                progressbar.progressColor = '#ebb134';
            } else if (passLength < 12) {
                outlineTextBox.placeholder = 'Strong';
                progressbar.progressColor = '#cdeb34';
            } else {
                outlineTextBox.placeholder = 'Very Strong';
                progressbar.progressColor = '#68eb34';
            }
            progressbar.value = progressbar.value > 16 ? 16 : progressbar.value;
            progressbar.refresh();
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Password Strength in ASP.NET MVC Progress Bar control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a circular and linear progress bar to demonstrate dynamic update based on text box input values.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the dynamic update of linear and circular progress bar.
    </p>
}
@section Title{
    <title>ASP.NET MVC Progress Bar Password Strength Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Password Strength in ASP.NET MVC Progress Bar Control</h1>
}
