@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2

@section ControlsSection{
    <div id="target" class="col-lg-12 control-section">
        @Html.EJS().Button("normalbtn").Content("Open").Render()
        @Html.EJS().Dialog("defaultDialog").AnimationSettings(new DialogAnimationSettings() { Effect = DialogEffect.None }).Header("About SYNCFUSION Succinctly Series").Open("dialogOpen").Close("dialogClose").ContentTemplate(@<div><p>In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e - books formatted for PDF, Kindle, and EPUB.The Succinctly series was born in 2012 out of a desire to provide concise technical e-books for software developers.Each title in the Succinctly series is written by a carefully chosen expert and provides essential content in about 100 pages.</p></div>).ShowCloseIcon(true).CloseOnEscape(true).Width("500px").Created("created").Target("#target").Buttons((List<DialogDialogButton>)ViewData["DefaultButtons"]).Render()
    </div>
}

@section PreScripts {
    <script>
           var dialogObj;
            function dialogClose() {
                document.getElementById('normalbtn').style.display = 'inline-block';
            }
            function dialogOpen() {
                document.getElementById('normalbtn').style.display = 'none';
            }
            document.getElementById('normalbtn').onclick = function () {
                dialogObj.show();
            };
            function dlgButtonClick() {
                window.open('https://www.syncfusion.com/company/about-us');
            }
            function created() {
                dialogObj = this;
            }
    </script>
    }
    <style>
        .control-section {
            padding-left: 10px;
        }
        /* custom code start */
        #target {
            height: 100%;
            min-height: 350px;
        }

        @@media screen and (min-width: 150px) and (max-width: 480px) {
            .control-section {
                margin-bottom: 30px;
            }

            .control-wrapper {
                margin-bottom: 0px;
            }
        }
        /* custom code end */
    </style>

    @section ActionDescription{
        <div id="action-description">
            <p>
                This example demonstrates the default rendering of the dialog control with minimum configuration. Click close or press ESC to close the dialog. Click “open” to show the dialog again, if it is closed.
            </p>
        </div>
    }
    @section Description{
        <div id="description">
            <p>
                The dialog control is used to display information and get input from the user. The dialog control is classified as modal and non-modal dialog depend on its interaction with parent application.
            </p>
            <ul>
                <li>
                    Modal - It creates overlay that disable interaction with the parent application, and user should respond with modal before continuing with other applications.
                </li>
                <li>
                    Non-modal - It does not prevent user interaction with parent application.
                </li>
            </ul>
        </div>
    }

    @*custom code start*@

    @section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET MVC Dialog control. Explore here for more details."/>
                }

    @*custom code end*@
@section Title{
                    <title>ASP.NET MVC Dialog Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET MVC Dialog Control</h1>
                }