@using Syncfusion.EJ2
@using Syncfusion.EJ2.Popups

@section ControlsSection{
    <div id="target" class="col-lg-12 control-section">

        @Html.EJS().Button("dialogBtn").CssClass("dlgbtn").Content("Open Dialog").Render()

        @Html.EJS().Dialog("draggableDialog").Visible(true).AnimationSettings(new DialogAnimationSettings() { Effect = DialogEffect.None }).IsModal(true).Header("Drag Me!!!").Close("dialogClose").Open("dialogOpen").Created("created").ContentTemplate(@<div><span>This is a dialog with draggable support.</span></div>).ShowCloseIcon(true).CloseOnEscape(true).Width("300px").Target("#target").AllowDragging(true).Render()

    </div>
}

<style>
    .e-btn-hide {
        display: none;
    }
    /* custom code start */
    #control-container {
        padding: 0px !important;
    }

    #confirmDialog {
        height: 135px;
    }
    .dlgbtn {
        margin-right: 10px;
    }

    #container {
        height: 100%;
        min-height: 280px;
        position: relative;
    }

    @@media screen and (min-width: 150px) and (max-width: 480px) {
        .control-section {
            margin-bottom: 30px;
        }

        .control-wrapper {
            margin-bottom: 0px;
        }
    }
    /* custom code end */
</style>

@section PreScripts {
    <script>
    var dialogObj;
    document.getElementById('dialogBtn').onclick = function () {
        dialogObj.show();
    };
    function dialogClose() {
        document.getElementById('dialogBtn').style.display = 'block';
    }
    function dialogOpen() {
        document.getElementById('dialogBtn').style.display = 'none';
    }
    function created() {
        dialogObj = this;
    }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates the drag-and-drop operation of the dialog control.
            To begin drag-and-drop operation, select a dialog's header using mouse and drop them in the desired location.
            The dialog can be dragged within the sample container.
            Enable the "open dialog" button to reopen the dialog if it is closed.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            A drag-and-drop operation is enabled using the <code>allowDragging</code> property. when you configure the <code>target</code> property,
            the dialog can be dragged within its target container alone.
            The drag-and-drop feature is used to reposition the dialog dynamically.
        </p>
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Draggable in ASP.NET MVC Dialog control. Explore here for more details."/>
                }

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Dialog Draggable Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Draggable in ASP.NET MVC Dialog Control</h1>
                }