@using Syncfusion.EJ2
@using Syncfusion.EJ2.Popups

@section ControlsSection{
    <div class="col-lg-12 control-section" id="target">
        @Html.EJS().Button("dialogButton").Content("OPEN").Render()
        @Html.EJS().Dialog("RTL_dialog").AnimationSettings(new DialogAnimationSettings() { Effect = DialogEffect.Zoom }).EnableRtl(true).Open("dialogOpen").Close("dialogClose").Buttons(ViewData["DialogButtons"]).Header("Delete Files").Content("<div>Are you sure you want to delete sea.jpg?</div>").ShowCloseIcon(true).CloseOnEscape(false).Width("300px").Target("#target").Render()
    </div>
}
<style>
    #target {
        height: 100%;
        min-height: 350px;
    }

    @@media screen and (min-width: 150px) and (max-width: 480px) {
        .control-section {
            margin-bottom: 30px;
        }

        .control-wrapper {
            margin-bottom: 0px;
        }
    }
</style>

@section PreScripts {
    <script>
        function dialogClose() {
            document.getElementById('dialogButton').style.display = 'inline-block';
        }
        function dialogOpen() {
            document.getElementById('dialogButton').style.display = 'none';
        }
        document.getElementById('dialogButton').onclick = function () {
            var dialogObj = document.getElementById('RTL_dialog').ej2_instances[0];
            dialogObj.show();
        };
        function dlgButtonClick() {
            var dialogObj = document.getElementById('RTL_dialog').ej2_instances[0];
            dialogObj.hide();
        }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the RTL mode of Dialog component,
            that displays content from right-to-left direction.
            Click on “Open” button to show the Dialog again if it is closed.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            This sample is rendered with English language, and written from right-to-left.
            To enable this RTL support in Dialog, set the enableRTL property as true.
        </p>

    </div>
}
