@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper accordion-control-section">
            @Html.EJS().Accordion("accordionKeyboardInteraction").Items((List<Syncfusion.EJ2.Navigations.AccordionItem>)ViewData["accordionItems"]).Render()
        </div>
    </div>
}

@section ActionDescription{
    <p>
        This demo showcases the keyboard shortcuts applicable on <code>Accordion</code>.
    </p>
}

@section Description{
    <i>Below key combinations can be used in Accordion to initiate various actions.</i>
    <ul>
        <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the demo.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Focus the first Accordion header.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Focus the last Accordion header.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Focus the next Accordion header.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Focus the previous Accordion header.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Expand and Collapse</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Enter</kbd> or <kbd>Space</kbd></span>
                    <span> - Expand and collapse when the focus is on the Accordion header.</span>
                </li>
            </ul>
        </li>
    </ul>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Keyboard Interaction in ASP.NET MVC Accordion control. Explore here for more details."/>
                }

@*custom code start*@
<style>
    .accordion-control-section {
        margin: 0 10% 0 10%;
    }

    @@media screen and (max-width: 768px) {
        .accordion-control-section {
            margin: 0;
        }
    }
    .key-class {
        display: inline-block;
        width: 130px;
        padding:4px 0;
    }
</style>
@*custom code end*@

@section Title{
                    <title>ASP.NET MVC Accordion Keyboard Interaction Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Keyboard Interaction in ASP.NET MVC Accordion Control</h1>
                }