@using Syncfusion.EJ2;
@section ControlsSection{
<script src="~/Scripts/theme-color.js"></script>
<div class="control-section">
    <div style="text-align:center">


 @Html.EJS().Chart("container").Series(series =>
{

    series.TooltipMappingName("TooltipMappingName").Type(Syncfusion.EJ2.Charts.ChartSeriesType.Bar)
    .Marker(mr => mr.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Font(ff => ff.FontWeight("600").Color("#ffffff"))))
    .XName("Country").YName("Users").DataSource(ViewData["ChartPoints"]).Name("Users").Width(2).Add();

}).PrimaryYAxis(px => px.Minimum(0).Maximum(800).LabelStyle(ls => ls.Color("transparent")).LineStyle(ls => ls.Width(0)).MajorTickLines(mt => mt.Width(0)).MajorGridLines(mg => mg.Width(0)).EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).LabelFormat("{value}M")
       ).PrimaryXAxis(px => px.EnableTrim(false).ValueType(Syncfusion.EJ2.Charts.ValueType.Category).MajorGridLines(mg => mg.Width(0)).MajorTickLines(mt => mt.Width(0))
       ).ChartArea(area => area.Border(br => br.Width(0))).LegendSettings(lg => lg.Visible(false)).Title("Internet Users – 2016").PointRender("labelRender").Load("load").Render()
    </div>
</div>  

@*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>        
        var labelRender = function (args) {
            pointRender(args);
        };

        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].marker.dataLabel.font.size = ej.base.Browser.isDevice ? '9px' : '11px';
        }
    </script>
}
    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Category Axis in ASP.NET MVC Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample shows a category axis in a chart with details about internet users across different countries.
    </p>
}
@section Description{
    <p>
        You can use the category axis to represent string values instead of numbers in the chart. To use the category axis, set <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartAxis.html#Syncfusion_EJ2_Charts_ChartAxis_ValueType" aria-label="ValueType">ValueType<span class="sr-only">opens in a new tab</span></a> in axis to <b>Category</b>.
    </p>
    <p>
        More information about the category axis can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/category-axis" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Category Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Category Axis in ASP.NET MVC Chart Control</h1>
                }