@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
       
            @Html.EJS().Chart("container").Series(series =>
       {

           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).XName("Country").CornerRadius(cornerRadius => cornerRadius.TopLeft(4).TopRight(4))
           .YName("Walnuts").DataSource(ViewData["ChartPoints"]).Name("Walnuts").LegendShape(Syncfusion.EJ2.Charts.LegendShape.Rectangle).ColumnSpacing(0.4).Add();
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).XName("Country")
               .YName("Almonds").DataSource(ViewData["ChartPoints"]).Name("Almonds").LegendShape(Syncfusion.EJ2.Charts.LegendShape.Rectangle).ColumnSpacing(0.4).Add();

       }).PrimaryYAxis(px => px.Title("Metric Tons").LineStyle(ls=>ls.Width(0)).MajorTickLines(mg=>mg.Width(0)).Interval(40000)
                ).PrimaryXAxis(px => px.Interval(1)
       .ValueType(Syncfusion.EJ2.Charts.ValueType.Category).MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt=>mt.Width(0))
       ).Tooltip(tt => tt.Enable(true).EnableHighlight(true).Header("<b>${point.x}</b>").Format("${series.name}: <b>${point.y}</b>")).ChartArea(area => area.Border(br => br.Width(0)).Margin(margin => margin.Bottom(12))
       ).LegendSettings(leg => leg.Visible(true).EnableHighlight(true).ShapeHeight(9).ShapeWidth(9)).Title("Walnuts and Almonds Estimated Production for 2023").SubTitle("Source: fas.usda.gov").Load("load").AxisLabelRender("axisLabelRender").TooltipRender("tooltipRender").Render()
        </div>
    
 @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
@*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice?'None':'Trim';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice?'-45':'0';
        }

        var axisLabelRender = function (args) {
            var value = parseInt(args.text.replace(/,/g, ''), 10);
            if (value >= 1000) {
                args.text = (value / 1000) + 'K';
            }
        }

        var tooltipRender = function (args) {
            if (args.text) {
                var value = args.point.y.toLocaleString('en-US');
                args.text = args.series.name + ': <b>' + value + '</b>';
            }
        }
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Column in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/column-chart" aria-label="ASP.NET MVC Column Chart">ASP.NET MVC Column Chart<span class="sr-only">opens in a new tab</span></a> example visualizes the production of Walnuts and Almonds for different countries in 2023.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a column chart. The column chart is used to compare the frequency, count, total, or average of data in different categories.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/column" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }