@using Syncfusion.EJ2;
@section ControlsSection{
    <script src="~/Scripts/theme-color.js"></script>
    <div class="control-section">
        <div style="text-align:center">

            @Html.EJS().Chart("container").Series(series =>
           {

               series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column)
               .Marker(mr => mr.Visible(true).Width(7).Height(7))
               .XName("Period").YName("ProductA_Sales").Opacity(1).DataSource(ViewData["ConsumerDetails"]).Name("Renewable").Width(2).Add();

               series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line)
               .Marker(mr => mr.Visible(true).Width(7).Height(7).IsFilled(true))
               .XName("Period").YName("ProductB_Sales").Opacity(1).DataSource(ViewData["ConsumerDetails"]).Name("Non-Renewable").Width(2).Add();

           }).PrimaryYAxis(px => px.Minimum(0).Maximum(100).Interval(20).LineStyle(ls => ls.Width(0)).MajorTickLines(mt => mt.Width(0)).LabelFormat("{value}B").Title("Production(Billion in kWh)").RangePadding(Syncfusion.EJ2.Charts.ChartRangePadding.None)
            ).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).MajorGridLines(mg => mg.Width(0)).MajorTickLines(mt => mt.Width(0)).LabelFormat("yyyy").EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).IntervalType(Syncfusion.EJ2.Charts.IntervalType.Years)
            ).Tooltip(tr => tr.Enable(false)
            ).ChartArea(area => area.Border(br => br.Width(0))
                ).LegendSettings(lg => lg.Visible(true)
            ).Title("Electricity - Production").Load("load").Render()
        </div>
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].dragSettings.enable = true;
            args.chart.series[1].dragSettings.enable = true;
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Data Editing in ASP.NET MVC Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample shows the behavior of the data editing in the chart. Drag and drop the points to change the data values dynamically.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to drag and drop the data points in the chart by setting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_Enable" aria-label="Enable">Enable<span class="sr-only">opens in a new tab</span></a> property in <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html" aria-label="ChartDataEditSettings">ChartDataEditSettings<span class="sr-only">opens in a new tab</span></a> to <b>true</b>. Also, you can set data editing’s minimum and maximum range using the
        <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_MinY" aria-label="MinY">MinY<span class="sr-only">opens in a new tab</span></a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_MaxY" aria-label="MaxY">MaxY<span class="sr-only">opens in a new tab</span></a> properties.
    </p>
    <p>
        More information about the data editing can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/data-editing" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.

    </p>
}
@section Title{
    <title>ASP.NET MVC Chart Data Editing Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Data Editing in ASP.NET MVC Chart Control</h1>
}