@using Syncfusion.EJ2;
@section ControlsSection{
<div class="control-section">
    <div style="text-align:center">
   @Html.EJS().Chart("container").Series(
    series =>
    {
        series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).
        Name("Warmest").
            XName("Period").
            YName("MaxTemp").Opacity(1).
            Marker(mr=>mr.Visible(true).Width(8).Height(8).IsFilled(true).Shape(Syncfusion.EJ2.Charts.ChartShape.Pentagon).DataLabel(dl=>dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top))).
            DataSource(ViewData["ChartPoints"]).
            Width(2).Add();

        series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).
        Name("Coldest").
            XName("Period").
            YName("MinTemp").Opacity(1).
            Marker(mr => mr.Visible(true).Width(8).Height(8).IsFilled(true).Shape(Syncfusion.EJ2.Charts.ChartShape.Diamond).DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top))).
            DataSource(ViewData["ChartPoints"]).
            Width(2).Add();
    }).PrimaryXAxis(
    xAxis =>
    {
        xAxis.ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime).LabelFormat("MMM d").
        EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).
        MajorGridLines(mg=>mg.Width(0));

    }).PrimaryYAxis(
    yAxis =>
    {
        yAxis.Minimum(-20).Maximum(30).Interval(10).EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).
            LabelFormat("{value}°C").
            LineStyle(ls=>ls.Width(0)).
            MajorTickLines(mt=>mt.Width(0)).
            MinorTickLines(mt=>mt.Width(0));
    }).ChartArea(area => area.Border(br => br.Width(0))).Title("Alaska Weather Statistics - 2016").Tooltip(tooltip => tooltip.Enable(true).ShowNearestTooltip(true)).LegendSettings(lg => lg.Visible(true)).Load("load").Render()           
    
    </div>
</div>

 @*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
 @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        };
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the DateTime Axis in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample shows the date-time axis in a chart with a weather report for the year 2016.
    </p>
}
@section Description{
    <p>
        The date-time axis uses a date-time scale and displays date-time values as the axis labels. To use a date-time axis, set the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartAxis.html#Syncfusion_EJ2_Charts_ChartAxis_ValueType" aria-label="ValueType">ValueType<span class="sr-only">opens in a new tab</span></a> in axis to <b>DateTime</b>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over or tap on the chart.
    </p>
    <p>
        More information about the DateTime axis can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/date-time-axis" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart DateTime Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DateTime Axis in ASP.NET MVC Chart Control</h1>
                }