@using Syncfusion.EJ2;
@section ControlsSection{
   <div class="control-section">
       <div id="container" style="text-align:center">
        @(Html.EJS().AccumulationChart("container").Series(
series =>
{
    series.DataLabel(dl=>dl.Visible(true).Name("DataLabelMappingName").Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside).Font(ft => ft.FontWeight("600")).ConnectorStyle(cs => cs.Length("20px").Type(Syncfusion.EJ2.Charts.ConnectorType.Curve))).
         XName("Browser").
         YName("Users").
         InnerRadius("65%").
         Name("Project").Border(br => br.Width(1).Color("#ffffff")).BorderRadius(3).
         ExplodeOffset("10%").StartAngle(62).
         ExplodeIndex(0).DataSource(ViewData["ChartPoints"]).Add();
}).EnableSmartLabels(true).LegendSettings(
legend =>
{
    legend.Visible(false);
}).Tooltip(tp => tp.Enable(true).Format("<b>${point.x}</b><br>Browser Share: <b>${point.y}%</b>").Header("").EnableHighlight(true))
.EnableBorderOnMouseMove(false).CenterLabel(cl=>cl.Text("Mobile<br>Browser<br>Statistics<br>2024").HoverTextFormat("${point.x}<br>Browser Share<br>${point.y}%").TextStyle(ts=>ts.FontWeight("600"))).Load("load").Render()
        )
    </div>
       </div>
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>          
        var load = function (args) {
            loadAccumulationChartTheme(args);
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "40%" : "70%";
            args.accumulation.series[0].startAngle = ej.base.Browser.isDevice ? 70 : 60;
            args.accumulation.centerLabel.textStyle.size = ej.base.Browser.isDevice ? "7px" : "15px";
            args.accumulation.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? '10px' : '20px';
            args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? '8px' : '12px';
        };
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Donut in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This ASP.NET MVC donut chart example visualizes mobile browser statistics. Data labels and the center label provide information about the data in the series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a donut chart. To create a donut in the pie series, we use the <code>InnerRadius</code> property. The <code>CenterLabel</code> property allows you to specify the default text that will be rendered in the center. You can also customize the text that will render when the mouse pointer is hovered over one of the donut slices using the <code>HoverTextFormat</code> property.</p>
    </p>
    <p>
        More information about the donut series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/accumulation-chart/pie-dough-nut#doughnut-chart" aria-label="documentation section">documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Donut Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }