@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <div id="link">
            <a id="category" onclick="mouseClick()" style="visibility:hidden; display:inline-block">
                Sales by Category
            <span class="sr-only">opens in a new tab</span></a>
            <p style="visibility:hidden; display:inline-block" id="symbol">&nbsp;&gt;&gt;&nbsp;</p>
                <p id="text" style="display:inline-block;"></p>
                </div>
                <div style="text-align:center">
                @(Html.EJS().AccumulationChart("container").Series(
                    series =>
                    {
                        series.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside).Font(ft => ft.FontWeight("600"))).
                            XName("x").
                            YName("y").
                            Name("Automobile Sales").
                            Type(Syncfusion.EJ2.Charts.AccumulationType.Pie).
                            Radius("70%").BorderRadius(3).Border(br => br.Width(1).Color("#ffffff")).
                            StartAngle(-30).
                            EndAngle(330).
                            DataSource(ViewData["dataSource"]).
                            Explode(false).Add();
                    }).EnableSmartLabels(true).EnableBorderOnMouseMove(false).Title("Automobile Sales by Region - 2023").SubTitle("Source: wikipedia.org").TextRender("textRender").LegendSettings(
                        legend =>
                        {
                            legend.Visible(false);
                        })
                    .PointClick("pointClick").Load("load").Render()
                    )
            </div>
        </div>
    </div>
    <style>
            #category:hover {
                cursor: pointer;
            }
            path[id^=container_Series_0_Point_] {
                cursor: pointer !important;
            }
        </style>
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var asiaPacific = [{ x: 'China', y: 66.7 }, { x: 'Japan', y: 17.8 }, { x: 'India', y: 11.1 }, { x: 'South Korea', y: 3.3 }, { x: 'Others', y: 1.1 }];
        var europe = [{ x: 'Germany', y: 32 }, { x: 'UK', y: 20 }, { x: 'France', y: 16 }, { x: 'Italy', y: 12 }, { x: 'Spain', y: 8 }, { x: 'Others', y: 12 }];
        var northAmerica = [{ x: 'USA', y: 75 }, { x: 'Canada', y: 15 }, { x: 'Mexico', y: 10 }];
        var latinAmerica = [{ x: 'Brazil', y: 57.1 }, { x: 'Argentina', y: 21.4 }, { x: 'Chile', y: 14.3 }, { x: 'Others', y: 7.1 }];
        var middleEastAfrica = [{ x: 'South Africa', y: 33.3 }, { x: 'Egypt', y: 26.7 }, { x: 'UAE', y: 23.3 }, { x: 'Others', y: 16.7 }];

            var textRender = function (args) {
                args.text = args.point.x + ' ' + args.point.y + '%';
            };
            var mouseClick = function (args) {

                var pie = document.getElementById("drilledContainer").ej2_instances[0];
                pie.series = [
                 {
                        dataSource: [{ x: 'Asia-Pacific', y: 45 }, { x: 'Europe', y: 25 }, { x: 'North America', y: 25 }, { x: 'Latin America', y: 7 }, { x: 'Middle East & Africa', y: 3 }],
                     dataLabel: {
                         visible: true, position: 'Outside', enableRotation: false, connectorStyle: { type: 'Curve' }, font: { fontWeight: '600', color: 'black' }
                     },
                     radius: '70%', name: 'Automobile Sales', xName: 'x', yName: 'y', startAngle: -30, endAngle: 330, innerRadius: '0%',
                     explode: false
                 }
                ];
                pie.textRender = function (args) { args.text = args.point.x + ' ' + args.point.y + ' %'; }
                pie.title = 'Automobile Sales by Category';
                pie.series[0].animation.enable = false;
                pie.element.id = "container";
                pie.annotations = [{
                                      content: '<div id="back" onclick="pointClick()" style="visibility:hidden; cursor:pointer; padding: 3px; width: 30px; height: 30px;">' +
                                                     '<img src="@Url.Content("~/Content/chart/back.png")" />', region: 'Series', x: '50%', y: '50%'
                                  }];
                pie.refresh();
                document.getElementById('text').style.visibility = 'hidden';
                document.getElementById('symbol').style.visibility = 'hidden';
                document.getElementById('category').style.visibility = 'hidden';
                document.getElementById('back').style.visibility = 'hidden';
            }

            var textRender = function (args) { args.text = args.point.x + ' ' + args.point.y + '%'; };

            var load = function (args) {
                var selectedTheme = loadAccumulationChartTheme(args);
                args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? '8px' : '12px';
                if (selectedTheme.indexOf('highcontrast') > -1 || selectedTheme.indexOf('dark') > -1) {
                           args.accumulation.series[0].dataLabel.font.color = "white";
                }
            };

                     var pointClick = function (args) {
                         if (args.series.name !== 'Automobile Sales') {
                                return null;
                            }

                            pie = document.getElementById("container").ej2_instances[0];
                            switch (args.pointIndex) {
                                case 0:
                                    pie.series[0].name = '';
                                    pie.series[0].dataSource = asiaPacific;
                                    pie.title = 'Automobile Sales in the Asia-Pacific region';
                                    document.getElementById('text').innerHTML = 'Asia-Pacific';
                                    break;
                                case 1:
                                    pie.series[0].name = '';
                                    pie.series[0].dataSource = europe;
                                    pie.title = 'Automobile Sales in the Europe region';
                                    document.getElementById('text').innerHTML = 'Europe';
                                    break;
                                case 2:
                                    pie.series[0].name = '';
                                    pie.series[0].dataSource = northAmerica;
                                    pie.title = 'Automobile Sales in the North America region';
                                    document.getElementById('text').innerHTML = 'North America';
                                    break;
                                case 3:
                                    pie.series[0].name = '';
                                    pie.series[0].dataSource = latinAmerica;
                                    pie.title = 'Automobile Sales in the Latin America region';
                                    document.getElementById('text').innerHTML = 'Latin America';
                                    break;
                                case 4:
                                    pie.series[0].dataSource = middleEastAfrica;
                                    pie.title = 'Automobile Sales in the Middle East & Africa region';
                                    document.getElementById('text').innerHTML = 'Middle East & Africa';
                                    break;
                            }

                             pie.element.id = "drilledContainer";
                             pie.annotations = [{
                                   content: '<div id="back" onclick="mouseClick()" style="visibility:visible; cursor:pointer; padding: 3px; width: 30px; height: 30px;">' +
                                            '<img src="@Url.Content("~/Content/chart/back.png")" ' +
                                                (themeName === 'highcontrast' || themeName === 'fluent2-highcontrast' || themeName.indexOf('dark') > -1 ? 'style="filter: invert(100%);"' : '') +' /></div>',
                                                 region: 'Series', x: '50%', y: '50%'
                             }];
                             pie.series[0].innerRadius = '40%';
                             pie.series[0].radius = '80%';
                             pie.series[0].explode = false;
                             pie.series[0].animation.enable = false;
                             pie.series[0].dataLabel.connectorStyle.length = ej.base.Browser.isDevice ? '5%' : '10%';
                             pie.series[0].dataLabel.position = ej.base.Browser.isDevice ? 'Inside' : 'Outside';
                             pie.series[0].dataLabel.enableRotation = ej.base.Browser.isDevice ? true : false;
                             pie.series[0].dataLabel.font.color = '';
                             pie.legendSettings.visible = false;
                             pie.visibleSeries[0].explodeIndex = null;
                             pie.enableSmartLabels = true;
                             document.getElementById('category').style.visibility = 'visible';
                             document.getElementById('symbol').style.visibility = 'visible';
                             document.getElementById('text').style.visibility = 'visible';
                        };

    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Drilldown in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample demonstrates a drill down chart with a pie for automobiles sales by region. Selecting a category navigates to its sub-categories, where sales are further broken down by country.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to achieve the drilldown concept using a pie chart. Automobile sales are shown in different categories. By clicking each category, you can navigate to the next level, which shows the sales by categories made by each company. <code>Datalabel</code> are used in this sample to show information about the data points.
    </p>
}

@section Title{
                    <title>ASP.NET MVC Chart Drilldown Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Drilldown in ASP.NET MVC Chart Control</h1>
                }