@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="col-lg-9 control-section">
    @(Html.EJS().Chart("container").ChartArea(ca => ca.Border(br=>br.Width(0)))
        .Series(sr =>
        {
            sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column)
                .Name("Profit")
                .XName("x")
                .YName("y")
                .Marker(mr=>mr.Visible(true).Width(10).Height(10))
                .Width(2)
                .EmptyPointSettings(es=>es.Fill("#e6e6e6"))
                .Add();
        })
          .PrimaryXAxis(xaxis =>
             xaxis.Title("Product")
                .ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
                .Interval(1)
          )
          .PrimaryYAxis(yaxis =>
              yaxis.Title("Profit")
              .Minimum(0)
              .Maximum(100)
              .Interval(20)
              .LabelFormat("{value}%")
          )
          .Title("Annual Product-Wise Profit Analysis")
          .Tooltip(tp => tp.Enable(true))
          .LegendSettings(lg => lg.Visible(false))
          .Load("load").Render()
    )
       
    </div>
<div class="col-lg-3 property-section">
    <table id="property" title="Properties" style="width: 100%">
        <tr style="height: 50px">
            <td style="width: 50%">
                <div>
                    Series Type:
                </div>
            </td>
            <td style="width: 50%;">
                <div>
                    @Html.EJS().DropDownList("seriestype").Index(0).DataSource(ViewBag.data).Value("Column").Change("seriesChange").Render()
                </div>
            </td>
        </tr>
        <tr style="height: 50px">
            <td style="width: 50%">
                <div>
                    Empty Point Mode:
                </div>
            </td>
            <td style="width: 50%;">
                <div>
                    @Html.EJS().DropDownList("emptymode").Index(0).DataSource(ViewBag.data1).Value("Gap").Change("modeChange").Render()
                </div>
            </td>
        </tr>
    </table>
</div>
 @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
 @*custom code end*@
    <script>
 @*custom code start*@
        var load = function (args) {
            args.chart.dataSource = [{ x: "Rice", y: 80 },{ x: "Wheat", y: null },{ x: "Oil", y: 70 },{ x: "Corn", y: 60 },{ x: "Gram", y: null },{ x: "Milk", y: 70 },{ x: "Peas", y: 80 },{ x: "Fruit", y: 60 },{ x: "Butter", y: null }];
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
        };
 @*custom code end*@
        var seriesChange = function () {
            var seriestype = document.getElementById('seriestype').ej2_instances[0];
            var chart = document.getElementById('container').ej2_instances[0];
            chart.series[0].type = seriestype.value;
            chart.refresh();
        }
        var modeChange = function () {
            var emptymode = document.getElementById('emptymode').ej2_instances[0];
            var chart = document.getElementById('container').ej2_instances[0];
            chart.series[0].emptyPointSettings.mode = emptymode.value;
            chart.refresh();
        }
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Empty Point in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates the empty point functionality in chart series. The mode of empty point can be changed by using <code>Empty Point Mode</code> in property panel.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the empty points. You can use <code>border</code>,
        <code>fill</code>, <code>mode</code> properties to customize the empty points.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information on the empty points can be found in this
        <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Empty Point Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Empty Point in ASP.NET MVC Chart Control</h1>
                }