@using Syncfusion.EJ2;
@section ControlsSection{ 
    <div>
    <div class="col-lg-8 control-section">
        <div id="container">
    @(Html.EJS().AccumulationChart("container").Series(series =>
            {
                series.DataLabel(dl=>dl.Visible(true).Name("text").Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Inside).Font(ft => ft.FontWeight("600").Color("#ffffff")))
                  .XName("x")
                  .YName("y")
                  .EmptyPointSettings(ep => ep.Fill("#e6e6e6"))
                  .Name("Profit")
                  .Type(Syncfusion.EJ2.Charts.AccumulationType.Pie)
                  .Add();
            })
            .EnableSmartLabels(true)
            .Title("Annual Product-Wise Profit Analysis")
            .LegendSettings(ls => ls.Visible(false))
            .Tooltip(tp => tp.Enable(true).Format("format: '${point.x} : <b>${point.y}</b>'"))
            .Load("load").Render()
    )
            </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Empty Point Mode:
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div>
                           @Html.EJS().DropDownList("emptyPoint").Index(0).DataSource(ViewBag.mode).Value("Drop").Change("changeEmptyPointMode").Render()
                           
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

 @*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
    <script>
        var load = function (args) {
            args.accumulation.dataSource = [{ x: "Rice", y: 80 },{ x: "Wheat", y: null },{ x: "Oil", y: 70 },{ x: "Corn", y: 60 },{ x: "Gram", y: null },{ x: "Milk", y: 70 },{ x: "Peas", y: 80 },{ x: "Fruit", y: 60 },{ x: "Butter", y: null }]; 
            var selectedTheme = themeName ? themeName : 'Material';
            args.accumulation.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
        }
        function changeEmptyPointMode() {
            var chart = document.getElementById("container").ej2_instances[0];
            var mode = document.getElementById("emptyPoint").ej2_instances[0];
                chart.series[0].emptyPointSettings.mode = mode.value;
                chart.refresh();
            }

    </script>
 @*custom code end*@
}
 @*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render and configure the empty points." />
}
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates an organization’s annual product-wise profit analysis with the empty point functionality in pie series.  The Mode of empty point can be changed by using <code>Empty Point Mode</code> in property panel.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the empty points. You can use <code>border</code>,
        <code>fill</code>, <code>mode</code> properties to customize the empty points.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>
    <p>
        More information on the empty points can be found in this
        <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
    </p>
}