@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
    <div class="control-section">
        @(Html.EJS().AccumulationChart("container")
            .Series(sr =>
            {
                sr.Type(Syncfusion.EJ2.Charts.AccumulationType.Funnel)
                    .XName("InterviewProcess")
                    .YName("Candidates")
                    .DataLabel(dl => dl.Visible(true).Name("DataLabelMappingName").Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Inside).Font(ft => ft.FontWeight("600").Size("13px")).TextWrap(Syncfusion.EJ2.Charts.TextWrap.Normal).ConnectorStyle(cs => cs.Length("20px")))
                    .Height("80%")
                    .Explode(false).FunnelMode(Syncfusion.EJ2.Charts.FunnelModes.Trapezoidal)
                    .DataSource(ViewData["ChartPoints"])
                    .Add();
            })
            .EnableAnimation(false)
            .Tooltip(tp => tp.Enable(false))
            .LegendSettings(leg => leg.Visible(false))
            .Load("load").PointRender("pointRender")
            .Title("Recruitment Funnel: From Application to Hiring").Width("75%").Render()
            )
    </div>
        </div>
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var pointRender = function (args) {
            funnelPointRender(args);
        };
        var load = function (args) {
            loadAccumulationChartTheme(args);
            args.accumulation.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.accumulation.series[0].dataSource[2].DataLabelMappingName = ej.base.Browser.isDevice ? "Screening <br> Completed: 105" : "Screening Completed: 105";
            args.accumulation.series[0].dataSource[3].DataLabelMappingName = ej.base.Browser.isDevice ? "Phone <br> Interview: 85" : "Phone Interview: 85";
            args.accumulation.series[0].dataSource[4].DataLabelMappingName = ej.base.Browser.isDevice ? "Final <br> Interview: 58" : "Final Interview: 58";
            args.accumulation.series[0].dataLabel.font.size = ej.base.Browser.isDevice ? "11px" : "13px";
        };
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Funnel in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/funnel-chart" aria-label="ASP.NET MVC Funnel Chart">ASP.NET MVC Funnel Chart<span class="sr-only">opens in a new tab</span></a> example shows a funnel chart for recruitment process. Datalabels show information about the points.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a funnel chart to visualize the recruitment process. The <code>trapezoidal</code> funnelMode is set to display the stages of the employment cycle, from the number of candidates who applied to the number of hires. The labels are smartly arranged to avoid overlapping.
    </p>
    <p>
        More information about the funnel series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/accumulation-chart/funnel" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Funnel Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }