@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Charts
@section ControlsSection{
<script src="~/Scripts/stock-chart-data.js"></script>
    <div class="control-section">
        <div style="text-align:center">


            @Html.EJS().Chart("container").Series(series =>
            {
                series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Hilo)
                    .XName("x").High("high").Low("low")
                    .DataSource("ChartPoints").Name("Apple Inc.(AAPL)").Add();
            }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime)
                .MajorGridLines(mg=>mg.Width(0)).CrosshairTooltip(ct=>ct.Enable(true))
                ).PrimaryYAxis(py => py.Minimum(10).Maximum(180).Interval(20).Title("Price").LabelFormat("${value}")
                    .MajorTickLines(mt=>mt.Width(0)).LineStyle(ls=>ls.Width(0))
                ).ChartArea(area => area.Border(br => br.Width(0))).Crosshair(cr => cr.Enable(false).LineType(Syncfusion.EJ2.Charts.LineType.Vertical)).Load("load"
                ).LegendSettings(lg => lg.Visible(false)).Tooltip(tt => tt.Enable(true).Shared(true).EnableMarker(false).Header("").Format("<b>Apple Inc.(AAPL)</b> <br> High : <b>${point.high}</b> <br> Low : <b>${point.low}</b>")
                ).Title("AAPL Historical").Load("load").Render()

        </div>
    </div>

 @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
 @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var ChartPoints = hiloData;
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        };
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Hilo in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/hilo-chart" aria-label="ASP.NET MVC Hilo Chart">ASP.NET MVC Hilo Chart<span class="sr-only">opens in a new tab</span></a> example visualizes the AAPL stock price with a default Hilo series in the chart. The tooltip and crosshair show information about the stock price.
   </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the HILO series. This series shows the high and low stock values over a given period of time.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information about the HILO series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/high-low" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Hilo Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Hilo in ASP.NET MVC Chart Control</h1>
                }