@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div align="center">

            @Html.EJS().Chart("container").Series(series =>
       {
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Histogram).YName("Score")
           .BinInterval(20).ShowNormalDistribution(true).ColumnWidth(0.99)
           .Marker(mr => mr.Visible(true).Width(7).Height(7).DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Font(ff => ff.FontWeight("600").Color("#ffffff")))).DataSource(ViewData["ChartPoints"]).Add();
       }).PrimaryXAxis(px => px.Maximum(100).Minimum(0).Title("Score of Final Examination").EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).MajorGridLines(mg => mg.Width(0))
       ).PrimaryYAxis(px => px.Minimum(0).Maximum(50).Interval(10).Title("Number of Students").LineStyle(ls => ls.Width(0))
       ).Title("Examination Result").ChartArea(ca => ca.Border(br => br.Width(0))).Tooltip(tt => tt.Enable(true)).Load("load").Render()

        </div>
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            var selectedTheme = loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            if (selectedTheme === 'highcontrast') {
                args.chart.series[0].marker.dataLabel.font.color = '#000000';
            }
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Histogram in ASP.NET MVC Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/histogram-chart" aria-label="ASP.NET MVC Histogram Chart">ASP.NET MVC Histogram Chart<span class="sr-only">opens in a new tab</span></a> example visualizes final examination results. The number of students between each interval is shown in data labels.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the histogram chart. The histogram chart is a bar (column) chart used for frequency distribution in which the widths of the bars are proportional to classes into which variables have been divided and the heights of the bars are proportional to class frequencies. The <code>DataLabel</code> property is used to present details on individual data points.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET MVC Chart Histogram Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Histogram in ASP.NET MVC Chart Control</h1>
}