@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        
@(Html.EJS().Chart("container")
    .Series(sr =>
    {
        sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.RangeColumn)
            .XName("Country")
            .High("High")
            .Low("Low")
            .ColumnSpacing(0.4).CornerRadius(cr => cr.TopLeft(4).TopRight(4).BottomRight(4).BottomLeft(4))
            .Marker(mr=>mr.DataLabel(dl=>dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Outer)))
            .DataSource(ViewData["ChartPoints"]).Add();
    })
      .PrimaryXAxis(xaxis =>
         xaxis.ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
               .MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt=>mt.Width(0)).LineStyle(ls => ls.Width(0))
               )
      .PrimaryYAxis(yaxis =>yaxis.EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
                 .LineStyle(ls=>ls.Width(0))
                 .MajorTickLines(mt=>mt.Width(0)).Minimum(0).Maximum(200).Interval(20)
                 .LabelFormat("{value}")
                 .Title("Growth in Visa-Free Destinations")
    )
      .Title("Global Passport Rankings: Growth in Visa-Free Access (2006–2024)").SubTitle("Source: wikipedia.org")
      .Tooltip(tp => tp.Enable(true).Format("${point.x}: <b>${point.low} - ${point.high}</b>").EnableMarker(true))
      .IsTransposed(true).ChartArea(area => area.Border(br => br.Width(0)))
      .Load("load").Render()
)
        </div>
    
 @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
@*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Inversed RangeColumn in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample visually represents changes in visa-free access for various countries using an inverted Range Column chart. It highlights the countries that have experienced the most significant increases and decreases over the past decade.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the range column chart in an inverted manner. You can use <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.Chart.html#Syncfusion_EJ2_Charts_Chart_IsTransposed" aria-label="IsTransposed">IsTransposed<span class="sr-only">opens in a new tab</span></a> property to invert your chart.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information on the range column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/range-column" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Inversed RangeColumn Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }