@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        
            @(Html.EJS().Chart("container")
                .Series(sr =>
                {
                    sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline)
                        .XName("Month")
                       .YName("FR_Temperature")
                       .Width(2)
                       .Marker(mr => mr.Visible(true).Width(7).Height(7).IsFilled(true))
                       .DataSource(ViewBag.ChartPoints).Add();
                })
                  .PrimaryXAxis(xaxis =>
                     xaxis.ValueType(Syncfusion.EJ2.Charts.ValueType.Double)
                         .Interval(4)
                         .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
                         .MinorTickLines(mt=>mt.Width(0))
                         .Title("Years")
                         .Minimum(2000)
                         .Maximum(2016)
            
                  )
                  .PrimaryYAxis(yaxis =>
                      yaxis.EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
                            .LabelFormat("{value}M")
                            .Title("Sales (In Millions)")
                            .Minimum(0)
                            .Maximum(25)
                            .Interval(5)
                  )
                
                  .Title("Music Album Sales")
                  .Tooltip(tp => tp.Enable(true).Shared(true).Format("${point.x}: <b>${point.y}</b>").Header("<b>Album Sale</b>"))
                  .IsTransposed(true).ChartArea(area => area.Border(br => br.Width(1)))
                  .Load("load").Render()
            )
        </div>
    
@*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
@*custom code end*@
    <script>
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Inversed Spline in ASP.NET MVC Chart control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample shows the music album sales with the spline series by inverting X and Y axes. Data points are enhanced by a marker and tooltip.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the spline type charts. A Spline chart uses a curved line to connect points in a data series. <code>Markers</code> are used to represent individual data and its values.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information on the spline series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types#line-charts" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Inversed Spline Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }