@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        
      @Html.EJS().Chart("container").Series(series =>
 {
     series.SegmentAxis(Syncfusion.EJ2.Charts.Segment.Y).
     Type(Syncfusion.EJ2.Charts.ChartSeriesType.MultiColoredLine).XName("x")
     .Segments(seg =>
     {
         seg.Color("#D32F2F").Value(50).Add();
         seg.Color("#228B22").Value(65).Add();
         seg.Color("#0047AB").Add();
     
     })
      .YName("y")
      .DataSource("lineZoneData").Marker(marker => marker.Visible(true).IsFilled(true).Border(border => border.Color("white").Width(2))).Width(2).Add();
     }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime)
     .MajorGridLines(mg=>mg.Width(0))
     .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
      ).PrimaryYAxis(py => py.Maximum(100).Minimum(10).Title("Precipitation (mm)")
     .LineStyle(ls=>ls.Width(0)).MajorTickLines(mt=>mt.Width(0)).MinorTickLines(mt => mt.Width(0))
     .Interval(20)
     .LabelFormat("{value}mm")
     ).Title("Annual Mean Precipitation in the United States (1895-2025)"
     ).SubTitle("Source: ncei.noaa.gov").ChartArea(area => area.Border(br => br.Width(0))
     ).Tooltip(tt => tt.Enable(true).ShowNearestTooltip(true).EnableHighlight(true).Header("<b>Rainfall</b>").Format("${point.x} : <b>${point.y}</b>").EnableAnimation(false)
     ).Annotations(an => { 
                             an.Region(Syncfusion.EJ2.Charts.Regions.Series).X("49%").Y("45%")
                                 .Content("<div style='color:#228B22; font-weight:bold; font-size:14px'>Medium</div>").Add();
                             an.Region(Syncfusion.EJ2.Charts.Regions.Series).X("16%").Y("10%")
                                 .Content("<div style='color:#0047AB; font-weight:bold;font-size:14px'>High</div>").Add();
                             an.Region(Syncfusion.EJ2.Charts.Regions.Series).X("66%").Y("89%")
                                 .Content("<div style='color:#D32F2F; font-weight:bold; font-size:14px'>Low</div>").Add();
     }).Load("load").Render()
        </div>
    
     @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var lineZoneData = [
            { x: new Date(1895, 0, 1), y: 84.07 },
            { x: new Date(1896, 0, 1), y: 60.96 },
            { x: new Date(1897, 0, 1), y: 60.71 },
            { x: new Date(1898, 0, 1), y: 61.72 },
            { x: new Date(1899, 0, 1), y: 66.04 },
            { x: new Date(1900, 0, 1), y: 44.2 },
            { x: new Date(1901, 0, 1), y: 50.55 },
            { x: new Date(1902, 0, 1), y: 36.83 },
            { x: new Date(1903, 0, 1), y: 57.66 },
            { x: new Date(1904, 0, 1), y: 45.97 },
            { x: new Date(1905, 0, 1), y: 55.37 },
            { x: new Date(1906, 0, 1), y: 64.26 },
            { x: new Date(1907, 0, 1), y: 69.85 },
            { x: new Date(1908, 0, 1), y: 46.23 },
            { x: new Date(1909, 0, 1), y: 69.6 },
            { x: new Date(1910, 0, 1), y: 54.61 },
            { x: new Date(1911, 0, 1), y: 62 },
            { x: new Date(1912, 0, 1), y: 49.53 },
            { x: new Date(1913, 0, 1), y: 72.9 },
            { x: new Date(1914, 0, 1), y: 63.5 },
            { x: new Date(1915, 0, 1), y: 69.85 },
            { x: new Date(1916, 0, 1), y: 96.27 },
            { x: new Date(1917, 0, 1), y: 55.63 },
            { x: new Date(1918, 0, 1), y: 61.21 },
            { x: new Date(1919, 0, 1), y: 48.51 },
            { x: new Date(1920, 0, 1), y: 56.13 },
            { x: new Date(1921, 0, 1), y: 53.34 },
            { x: new Date(1922, 0, 1), y: 51.56 },
            { x: new Date(1923, 0, 1), y: 62 },
            { x: new Date(1924, 0, 1), y: 50.8 },
            { x: new Date(1925, 0, 1), y: 58.17 },
            { x: new Date(1926, 0, 1), y: 59.94 },
            { x: new Date(1927, 0, 1), y: 44.96 },
            { x: new Date(1928, 0, 1), y: 32.51 },
            { x: new Date(1929, 0, 1), y: 59.94 },
            { x: new Date(1930, 0, 1), y: 65.53 },
            { x: new Date(1931, 0, 1), y: 39.62 },
            { x: new Date(1932, 0, 1), y: 82.55 },
            { x: new Date(1933, 0, 1), y: 57.15 },
            { x: new Date(1934, 0, 1), y: 46.23 },
            { x: new Date(1935, 0, 1), y: 60.96 },
            { x: new Date(1936, 0, 1), y: 73.15 },
            { x: new Date(1937, 0, 1), y: 92.71 },
            { x: new Date(1938, 0, 1), y: 53.59 },
            { x: new Date(1939, 0, 1), y: 62.99 },
            { x: new Date(1940, 0, 1), y: 49.02 },
            { x: new Date(1941, 0, 1), y: 52.58 },
            { x: new Date(1942, 0, 1), y: 40.13 },
            { x: new Date(1943, 0, 1), y: 56.64 },
            { x: new Date(1944, 0, 1), y: 47.75 },
            { x: new Date(1945, 0, 1), y: 45.72 },
            { x: new Date(1946, 0, 1), y: 64.26 },
            { x: new Date(1947, 0, 1), y: 61.72 },
            { x: new Date(1948, 0, 1), y: 50.29 },
            { x: new Date(1949, 0, 1), y: 80.26 },
            { x: new Date(1950, 0, 1), y: 85.34 },
            { x: new Date(1951, 0, 1), y: 59.44 },
            { x: new Date(1952, 0, 1), y: 62 },
            { x: new Date(1953, 0, 1), y: 66.8 },
            { x: new Date(1954, 0, 1), y: 64.52 },
            { x: new Date(1955, 0, 1), y: 42.67 },
            { x: new Date(1956, 0, 1), y: 57.66 },
            { x: new Date(1957, 0, 1), y: 53.85 },
            { x: new Date(1958, 0, 1), y: 58.17 },
            { x: new Date(1959, 0, 1), y: 55.63 },
            { x: new Date(1960, 0, 1), y: 57.4 },
            { x: new Date(1961, 0, 1), y: 37.59 },
            { x: new Date(1962, 0, 1), y: 56.13 },
            { x: new Date(1963, 0, 1), y: 39.88 },
            { x: new Date(1964, 0, 1), y: 61.72 },
            { x: new Date(1965, 0, 1), y: 59.44 },
            { x: new Date(1966, 0, 1), y: 59.94 },
            { x: new Date(1967, 0, 1), y: 54.36 },
            { x: new Date(1968, 0, 1), y: 55.12 },
            { x: new Date(1969, 0, 1), y: 76.45 },
            { x: new Date(1970, 0, 1), y: 53.09 },
            { x: new Date(1971, 0, 1), y: 51.56 },
            { x: new Date(1972, 0, 1), y: 59.18 },
            { x: new Date(1973, 0, 1), y: 62.99 },
            { x: new Date(1974, 0, 1), y: 80.01 },
            { x: new Date(1975, 0, 1), y: 66.29 },
            { x: new Date(1976, 0, 1), y: 44.7 },
            { x: new Date(1977, 0, 1), y: 40.13 },
            { x: new Date(1978, 0, 1), y: 80.52 },
            { x: new Date(1979, 0, 1), y: 84.07 },
            { x: new Date(1980, 0, 1), y: 67.06 },
            { x: new Date(1981, 0, 1), y: 24.89 },
            { x: new Date(1982, 0, 1), y: 72.14 },
            { x: new Date(1983, 0, 1), y: 52.83 },
            { x: new Date(1984, 0, 1), y: 34.29 },
            { x: new Date(1985, 0, 1), y: 36.07 },
            { x: new Date(1986, 0, 1), y: 36.83 },
            { x: new Date(1987, 0, 1), y: 55.12 },
            { x: new Date(1988, 0, 1), y: 50.04 },
            { x: new Date(1989, 0, 1), y: 52.07 },
            { x: new Date(1990, 0, 1), y: 70.61 },
            { x: new Date(1991, 0, 1), y: 60.2 },
            { x: new Date(1992, 0, 1), y: 52.83 },
            { x: new Date(1993, 0, 1), y: 81.28 },
            { x: new Date(1994, 0, 1), y: 56.9 },
            { x: new Date(1995, 0, 1), y: 80.77 },
            { x: new Date(1996, 0, 1), y: 71.63 },
            { x: new Date(1997, 0, 1), y: 71.37 },
            { x: new Date(1998, 0, 1), y: 85.09 },
            { x: new Date(1999, 0, 1), y: 79.5 },
            { x: new Date(2000, 0, 1), y: 54.36 },
            { x: new Date(2001, 0, 1), y: 46.99 },
            { x: new Date(2002, 0, 1), y: 51.05 },
            { x: new Date(2003, 0, 1), y: 33.78 },
            { x: new Date(2004, 0, 1), y: 50.04 },
            { x: new Date(2005, 0, 1), y: 68.58 },
            { x: new Date(2006, 0, 1), y: 66.29 },
            { x: new Date(2007, 0, 1), y: 56.39 },
            { x: new Date(2008, 0, 1), y: 56.13 },
            { x: new Date(2009, 0, 1), y: 40.64 },
            { x: new Date(2010, 0, 1), y: 66.55 },
            { x: new Date(2011, 0, 1), y: 41.91 },
            { x: new Date(2012, 0, 1), y: 53.09 },
            { x: new Date(2013, 0, 1), y: 60.2 },
            { x: new Date(2014, 0, 1), y: 34.8 },
            { x: new Date(2015, 0, 1), y: 46.48 },
            { x: new Date(2016, 0, 1), y: 51.82 },
            { x: new Date(2017, 0, 1), y: 82.04 },
            { x: new Date(2018, 0, 1), y: 46.99 },
            { x: new Date(2019, 0, 1), y: 65.02 },
            { x: new Date(2020, 0, 1), y: 70.1 },
            { x: new Date(2021, 0, 1), y: 53.09 },
            { x: new Date(2022, 0, 1), y: 41.66 },
            { x: new Date(2023, 0, 1), y: 74.68 },
            { x: new Date(2024, 0, 1), y: 82.8 },
            { x: new Date(2025, 0, 1), y: 35.31 }
        ];

        var load = function (args) {
            var selectedTheme = loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.minimum = new Date(1895, 0, 1);
            args.chart.primaryXAxis.maximum = new Date(2025, 0, 1);
            if (selectedTheme === 'HighContrast') {
                args.chart.series[0].segments[0].color = 'red';
                args.chart.series[0].segments[1].color = 'green';
                args.chart.series[0].segments[2].color = 'blue';
            }
        }
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Line Zone in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the annual mean rainfall in Australia with multi-colored line series in the chart. Data points are enhanced with segments and tooltips.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the points in a particular range by using <code>MultiColoredLine</code> series. Points under the range can be customized with <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartSegment.html#Syncfusion_EJ2_Charts_ChartSegment_Color" aria-label="Color">Color<span class="sr-only">opens in a new tab</span></a> and
        <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartSegment.html#Syncfusion_EJ2_Charts_ChartSegment_DashArray" aria-label="DashArray">DashArray<span class="sr-only">opens in a new tab</span></a> properties in <code>ChartSegment</code>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see a tooltip in action, hover over or tap on the chart.
    </p>
    <p>
        More information on the line series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types#line-charts" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Line Zone Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }