@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        
      @Html.EJS().Chart("container-vertical").Series(series =>
 {
     series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar).XName("Height").YName("Female").Width(2)
     .Marker(mr => mr.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Name("Female_Text").Font(ff => ff.FontWeight("600"))))
     .DataSource(ViewBag.ChartPoints).Name("Female").ColumnWidth(0.5).Add();
     series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar).XName("Height").YName("Male").Width(2)
    .Marker(mr => mr.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Name("Text").Font(ff => ff.FontWeight("600"))))
     .DataSource(ViewBag.ChartPoints).Name("Male").ColumnWidth(0.5).Add();

      }).PrimaryXAxis(px => px.Title("Height in Inches").Interval(1)
      .MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt => mt.Width(0)).ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
       ).PrimaryYAxis(py => py.LabelFormat("{value}").Minimum(-80).Maximum(80).Title("Weight (kg)").LineStyle(ls => ls.Width(0)).MajorTickLines(mt => mt.Width(0))
       ).Title("Height vs Weight").ChartArea(area => area.Border(br => br.Width(0))
       ).LegendSettings(lg => lg.EnableHighlight(true)
       ).Tooltip(tt => tt.Enable(true)).TooltipRender("tooltipRender").TextRender("dataLabelRender").Load("load").AxisLabelRender("axisLabelRender").Render()
 
        </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
     @*custom code end*@
    <script>
     @*custom code start*@
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.legendSettings.position = ej.base.Browser.isDevice ? "Bottom" : "Right";
        };
     @*custom code end*@
        var tooltipRender = function (args) {
            args.text = args.text.indexOf('-') > 0 ? args.text.replace('-', '') : args.text;
            args.text = args.text + " " + "<b>kg</b>";
        };
        var dataLabelRender = function (args) {
            args.text = args.text.indexOf('-') > -1 ? args.text.replace('-', '') : args.text;
        };
        var axisLabelRender = function (args) {
            args.text = args.text.replace("-", "");
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Negative Stack in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a stacked bar chart with negative data points. Data point values are shown in data labels.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure negative values in a stacked bar chart. The stacked bar chart stacks points in the series horizontally. You can also use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_StackingGroup">StackingGroup</a> property to group stacked collections based on category.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the stacked bar series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types#bar-charts">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Negative Stack Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }