@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" style="text-align:center">


  @Html.EJS().Chart("container").Series(series =>
{
    series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).Fill("#1e90ff").XName("Over").YName("ENG_Score").Opacity(1).Width(2).ColumnSpacing(0.1)
    .Marker(mr =>mr.DataLabel(dl=>dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Font(ff => ff.FontWeight("600"))))
    .DataSource(ViewData["ChartPoints"]).Name("England").Add();
    series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).Fill("#b22222").XName("Over").YName("WI_Score").Opacity(1).Width(2).ColumnSpacing(0.1)
    .Marker(mr => mr.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Top).Font(ff => ff.FontWeight("600"))))
    .DataSource(ViewData["ChartPoints"]).Name("West Indies").Add();
}).PrimaryXAxis(px => px.Minimum(15).Maximum(21).Interval(1).MajorGridLines(mg=>mg.Width(0))
       ).PrimaryYAxis(py => py.MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt=>mt.Width(0)).LineStyle(ls=>ls.Width(0)).LabelStyle(ls=>ls.Color("transparent"))
       ).Title("England vs West Indies").ChartArea(area => area.Border(br => br.Width(0))).Tooltip(tl => tl.Enable(true).EnableHighlight(true).Format("${point.x}th Over : <b>${point.y} Runs</b>")
           ).LegendSettings(lg => lg.Visible(true).EnableHighlight(true)).Load("load").Render()
    </div>

 @*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
 @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        };
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Numeric Axis in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample shows the numeric axis in a chart with England and West Indies cricket match data.
    </p>
}
@section Description{
    <p>
        You can use a numeric axis to represent numeric value data in a chart. To render a numeric axis, set the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartAxis.html#Syncfusion_EJ2_Charts_ChartAxis_ValueType" aria-label="ValueType">ValueType<span class="sr-only">opens in a new tab</span></a> in axis to <b>Double</b>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the numeric axis can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/numeric-axis" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Numeric Axis Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Numeric Axis in ASP.NET MVC Chart Control</h1>
                }