@using Syncfusion.EJ2;
@section ControlsSection{
   <div class="control-section">
    <div style="text-align:center">
        @(Html.EJS().Chart("container")
    .Series(sr =>
    {
        sr.XName("DefectCategory")
             .YName("Y")
             .Name("Defect")
             .Width(2)
             .Opacity(0.75)
             .ColumnWidth(0.4)
             .ParetoOptions(pr=>pr.DashArray("3,2").Marker(mr => mr.Visible(true).Width(7).Height(7).IsFilled(true)).Width(2))
             .DataSource(ViewData["ChartPoints"])
             .Type(Syncfusion.EJ2.Charts.ChartSeriesType.Pareto).Add();
    })
      .PrimaryXAxis(xaxis =>
          xaxis.Interval(1)
            .ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
             .MajorGridLines(mg => mg.Width(0))
                .MinorGridLines(mg => mg.Width(0))
                .MajorTickLines(mt => mt.Width(0))
                .MinorTickLines(mt => mt.Width(0))
                .LineStyle(ls => ls.Width(0))
      )
      .PrimaryYAxis(yaxis =>
          yaxis.Title("Frequency of Occurence")
                .Minimum(0)
                .Maximum(25)
                .Interval(5)
                .MajorGridLines(mg => mg.Width(1))
                .MinorGridLines(mg => mg.Width(1))
                .MajorTickLines(mt => mt.Width(0))
                .MinorTickLines(mt => mt.Width(0))
                .LineStyle(ls => ls.Width(0))
      )
      .Title("Defects in Shirts")
      .LegendSettings(leg => leg.Visible(true).EnableHighlight(true))
      .Tooltip(tp => tp.Enable(true).Shared(true).Format("${series.name} : <b>${point.y}</b>"))
      .Load("load").ChartArea(area => area.Border(br => br.Width(0))).Render()
        )
    </div>
</div>

@*custom code start*@
<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            var selectedTheme = loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.series[0].cornerRadius.topLeft = ej.base.Browser.isDevice ? 4 : 6;
            args.chart.series[0].cornerRadius.topRight = ej.base.Browser.isDevice ? 4 : 6;
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'None' : 'Rotate45';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice ? -45 : 0;
            if (selectedTheme === 'material3') {
                args.chart.series[0].paretoOptions.fill = '#F7523F';
                args.chart.series[0].paretoOptions.marker.fill = '#F7523F';
            }
            else {
                args.chart.series[0].paretoOptions.fill = null;
                args.chart.series[0].paretoOptions.marker.fill = null;
            }
        }
    </script>
}
 @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pare to Chart in ASP.NET MVC Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the defects in shirts with default pareto series in the chart. Data points are enhanced with marker and tooltip.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a pareto chart. The pareto chart is used to find the cumulative values of the data in different categories. It is a combination of the column and line series. The initial values are shown in the column chart and the cumulative values are shown in the line chart.
    </p>
    <p>
        The line series in the pareto chart can be customized using the <code>Fill</code>, <code>DashArray</code>, <code>Width</code>, and <code>Marker</code> properties in <code>ParetoOptions</code>. Additionally, the secondary axis in the pareto chart can be shown or hidden using the <code>ShowAxis</code> property in <code>ParetoOptions</code>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information on the pareto series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/pareto" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Pare to Chart Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pare to Chart in ASP.NET MVC Chart Control</h1>
                }