@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().AccumulationChart("container").Series(series =>
   {
       series.Type(Syncfusion.EJ2.Charts.AccumulationType.Pyramid).Width("45%").Height("80%").XName("Foods").YName("Calories").Name("Food").
       NeckWidth("15%").GapRatio(0.03).Explode(true).DataLabel(dl => dl.Visible(true).Name("DataLabelMappingName").Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside).Font(ft => ft.FontWeight("600")).ConnectorStyle(cs => cs.Length("20px"))).DataSource(ViewBag.ChartPoints).Add();
   }).Title("Food Comparison Chart").Tooltip(tl => tl.Enable(true).Format("${point.x}: <b>${point.y}cal</b>").Header("")).LegendSettings(ls =>ls.Visible(false)).Load("load").Render())
    </div>
    
    <script>
        var load = function(args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.accumulation.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
            args.accumulation.series[0].dataLabel.textWrap = ej.base.Browser.isDevice ? "Wrap" : "Normal";
            args.accumulation.series[0].dataLabel.maxWidth = ej.base.Browser.isDevice ? 80 : NaN;
            args.accumulation.series[0].dataSource[4].DataLabelMappingName = ej.base.Browser.isDevice ? "Bread, Rice,<br> Pasta: 930 cal" : "Bread, Rice, Pasta: 930 cal";          
        }      
    </script>
}
         @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pyramid in ASP.NET MVC Chart control. Explore here for more details."/>
                }
         @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/pyramid-chart" aria-label="ASP.NET MVC Pyramid Chart">ASP.NET MVC Pyramid Chart<span class="sr-only">opens in a new tab</span></a> visualizes food comparison data by using pyramid series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a pyramid chart. This chart is shaped like a triangle, with lines dividing it into sections of varying widths. Depending on the Y coordinate, the width indicates a level of hierarchy among other categories. The <code>DataLabel</code> represents individual data and its value.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information about the pyramid series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/accumulation-chart/pyramid" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Pyramid Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }