@using Syncfusion.EJ2;
@section ControlsSection{
<script src="~/Scripts/theme-color.js"></script>
<div class="control-section">
	<div style="text-align:center">
		<div>
			@Html.EJS().Chart("container").HighlightMode(Syncfusion.EJ2.Charts.HighlightMode.Point).HighlightPattern(Syncfusion.EJ2.Charts.SelectionPattern.DiagonalForward).Series(series =>
       {
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).XName("x").YName("y").CornerRadius(cr => cr.TopLeft(10).TopRight(10)).
           Marker(mr => mr.DataLabel(dl => dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Outer))).DataSource(ViewData["dataSource"]).Name("USA").Add();
       }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).MajorGridLines(mg => mg.Width(0))).PrimaryYAxis(py => py.LineStyle(mg => mg.Width(0)).MajorTickLines(mg => mg.Width(0)).MinorTickLines(mg => mg.Width(0)).LabelFormat("{value}°C")).LegendSettings(legend => legend.Mode(Syncfusion.EJ2.Charts.LegendMode.Range)
            .Visible(true).ToggleVisibility(false)).RangeColorSettings(ranges =>
            {
                ranges.Label("1°C to 10°C").Start(1).End(10).Colors((string[])ViewData["color1"]).Add();
                ranges.Label("11°C to 20°C").Start(11).End(20).Colors((string[])ViewData["color2"]).Add();
                ranges.Label("21°C to 30°C").Start(21).End(30).Colors((string[])ViewData["color3"]).Add();
            }).Load("load").Title("USA CLIMATE - WEATHER BY MONTH").ChartArea(area => area.Border(br=>br.Width(0))).Tooltip(tt => tt.Enable(false)).Render()
		</div>
	</div>
</div>
@*custom code start*@
<style>
	#control-container {
		padding: 0px !important;
	}
</style>
@*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
<script>
	var load = function (args) {
		loadChartTheme(args);
		args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
	};
</script>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Range Color Mapping in ASP.NET MVC Chart control. Explore here for more details."/>
                }
@section ActionDescription{
<p>
	This sample illustrates the USA climate with the month-wise data. Columns are differentiated using color codes based on
	the temperature ranges for better visualization. By toggling the legend items you can control the visibility of the
	columns within the ranges.
</p>
}
@section Description{

<p>In this example, column segment color is applied based on their <code>y</code> value ranges by using the <code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html" aria-label="RangeColorSettings">RangeColorSettings<span class="sr-only">opens in a new tab</span></a></code>. You can use below properties in the <code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html" aria-label="RangeColorSettings">RangeColorSettings<span class="sr-only">opens in a new tab</span></a></code> to customize the data under range.</p>


<ul>
    <li>
        <p><code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html#Syncfusion_EJ2_Charts_ChartRangeColorSetting_Label" aria-label="Label">Label<span class="sr-only">opens in a new tab</span></a></code> - Specify the name for the range mapping which will be displayed in the legend item.</p>
    </li>
    <li>
        <p><code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html#Syncfusion_EJ2_Charts_ChartRangeColorSetting_Start" aria-label="Start">Start<span class="sr-only">opens in a new tab</span></a></code> - Specify the start value of the color mapping range.</p>
    </li>
    <li>
        <p><code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html#Syncfusion_EJ2_Charts_ChartRangeColorSetting_End" aria-label="End">End<span class="sr-only">opens in a new tab</span></a></code> - Specify the end value of the color mapping range.</p>
    </li>
    <li>
        <p><code><a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartRangeColorSetting.html#Syncfusion_EJ2_Charts_ChartRangeColorSetting_Colors" aria-label="Colors">Colors<span class="sr-only">opens in a new tab</span></a></code> - Specify the fill colors of point those lies on the given range. If multiple colors are mentioned, then gradient will be applied.</p>
    </li>
</ul>
}
@section Title{
                    <title>ASP.NET MVC Chart Range Color Mapping Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Range Color Mapping in ASP.NET MVC Chart Control</h1>
                }