@using Syncfusion.EJ2;
@section ControlsSection{
<script src="~/Scripts/theme-color.js"></script>
<div class="control-section">
	<div style="text-align:center">
		<div>
			@Html.EJS().Chart("container").Series(series =>
			{
			series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).XName("x").YName("y").DataSource(ViewBag.dataSource).Name("USA").Add();
			}).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).MajorGridLines(mg => mg.Width(0)).Title("Months")).PrimaryYAxis(py => py.LineStyle(mg => mg.Width(0)).MajorTickLines(mg => mg.Width(0)).MinorTickLines(mg => mg.Width(0)).LabelFormat("{value}°C").Title("Temperature")).LegendSettings(legend => legend.Mode(Syncfusion.EJ2.Charts.LegendMode.Range)
			).RangeColorSettings(ranges =>
			{
			ranges.Label("1°C to 10°C").Start(1).End(10).Colors(ViewBag.color1).Add();
			ranges.Label("11°C to 20°C").Start(11).End(20).Colors(ViewBag.color2).Add();
			ranges.Label("21°C to 30°C").Start(21).End(30).Colors(ViewBag.color3).Add();
			}).Load("load").Title("USA CLIMATE - WEATHER BY MONTH").ChartArea(area => area.Border(br=>br.Width(0))).Tooltip(tt => tt.Enable(true)).Render()
		</div>
	</div>
</div>

<style>
	#control-container {
		padding: 0px !important;
	}
</style>

<script>
	var load = function (args) {
		var selectedTheme = themeName ? themeName : 'Material';
		args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
		args.chart.width = ej.base.Browser.isDevice ? "100%" : "60%";
	};
</script>
}

@section Meta{
<meta name="description" content="This example demonstrates the Range Color Mapping in ASP.NET MVC Chart control. Explore here for more details." />
}
@section ActionDescription{
<p>
	This sample illustrates the USA climate with the month-wise data. Columns are differentiated using color codes based on
	the temperature ranges for better visualization. By toggling the legend items you can control the visibility of the
	columns within the ranges.
</p>
}
@section Description{

In this example, you can see how to render and configure the column type charts. Column type charts are used for comparing
the frequency, count, total or average of data in different categories. Column segment color is applied based on their <code>y</code>
value ranges by using <code>RangeColorSettings</code>.
<p><code>RangeColorSettings</code> properties are,</p>
<p><code>Label</code> - Specify the name for the range mapping which will be displayed in the legend item.</p>
<p><code>Start</code> - Specify the start value of the color mapping range.</p>
<p><code>End</code> - Specify the end value of the color mapping range.</p>
<p><code>Colors</code> - Specify the fill colors of point those lies on the given range, if multiple colors mentioned, then gradient will be applied.</p>

<p>
	Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
</p>
}
@section Title{
<title>ASP.NET MVC Chart Range Color Mapping Example - Syncfusion Demos </title>
                }
@section Header{
<h1 class='sb-sample-text'>Example of Range Color Mapping in ASP.NET MVC Chart Control</h1>
                }