@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        
            @Html.EJS().Chart("container").Series(series =>
       {
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.RangeColumn).XName("Days").High("IND_HighTemp").Low("IND_LowTemp")
               .Marker(mr=>mr.DataLabel(dl=>dl.Visible(true).Position(Syncfusion.EJ2.Charts.LabelPosition.Outer))).Name("India").ColumnSpacing(0.1).DataSource(ViewBag.ChartPoints).Add();
       }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
       .MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt => mt.Width(0))
       ).PrimaryYAxis(py => py.LabelFormat("{value}˚C").Maximum(20).Title("Temperature (In Celsius)")
       .MajorTickLines(mt => mt.Width(0))
       .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
       .LineStyle(ls => ls.Width(0))
       ).Title("Temperature Variation by Week").ChartArea(area => area.Border(br => br.Width(0))
       ).Load("load").Tooltip(tt => tt.Enable(true).Header("<b>${point.x}</b>").
           Format("Temperature : <b>${point.low} - ${point.high}</b>")).LegendSettings(leg => leg.Visible(false).EnableHighlight(true)).Render()
        </div>
    
         @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
             @*custom code end*@
}
         @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Range Column in ASP.NET MVC Chart control. Explore here for more details."/>
                }
         @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/range-column-chart">ASP.NET MVC Range Column Chart</a> example visualizes the maximum and minimum temperatures for a week in different countries with the default range column series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the range column chart. The range column chart is used to display a range of data by plotting two y-values per data point. The two y-values are used as the upper and lower bounds of a column.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the range column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types#column-charts">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Range Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }