
@using Syncfusion.EJ2;
 @using Syncfusion.EJ2.Charts
 @section ControlsSection{
	<script src="~/Scripts/theme-color.js"></script>
	<div class="control-section" align="center">

		@Html.EJS().Chart("container").Series(series =>
	   {
		   series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Bar).XName("X").YName("Y")
			   .Marker(mr => mr.DataLabel(dl => dl.Visible(true).Name("TooltipText").EnableRotation(false).Angle(-90).Font(ff => ff.FontWeight("600"))))
			   .ColumnWidth(0.5).DataSource(ViewData["ChartPoints"]).Add();
	   }).PrimaryXAxis(px => px.Interval(1).MajorGridLines(mg=>mg.Width(0)).MajorTickLines(mt => mt.Width(0)).LineStyle(mg => mg.Width(0)).MinorTickLines(mt => mt.Width(0)).MinorGridLines(mg => mg.Width(0))
		   .LabelPosition(Syncfusion.EJ2.Charts.AxisPosition.Outside).ValueType(Syncfusion.EJ2.Charts.ValueType.Category)
			).PrimaryYAxis(py => py.Minimum(0).Maximum(50).LabelFormat("{value}%").Title("Sector-wise Growth (%)")
				.Interval(10).MajorTickLines(mg => mg.Width(0)).MajorGridLines(mg => mg.Width(0)).LineStyle(mg => mg.Width(0)).OpposedPosition(true)
			).Title("Top Performing Market Sectors by Growth Rate (2024)").SubTitle("Source: visualcapitalist.com").TitleStyle(ts => ts.Position(TitlePosition.Bottom)).ChartArea(area => area.Border(br => br.Width(0))
			).Tooltip(tt => tt.Enable(true).Header("<b>${point.x}</b>").Format("Growth Rate : <b>${point.text}</b>")).LegendSettings(lg => lg.Visible(false)
			).Load("load").PointRender("pointRender").Render()
		</div>
	
	@*custom code start*@
	<style>
		#control-container {
			padding: 0px !important;
		}
	</style>
	@*custom code end*@
     <script src="~/Scripts/chart/theme-color.js"></script>
	<script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "77%";
			args.chart.series[0].cornerRadius.bottomLeft = ej.base.Browser.isDevice ? 8 : 10;
			args.chart.series[0].cornerRadius.bottomRight = ej.base.Browser.isDevice ? 8 : 10;
			args.chart.series[0].cornerRadius.topLeft = ej.base.Browser.isDevice ? 8 : 10;
			args.chart.series[0].cornerRadius.topRight = ej.base.Browser.isDevice ? 8 : 10;
			args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice?'None':'Rotate45';
            args.chart.tooltip.header = ej.base.Browser.isDevice? "":"<b>${point.x}</b>";
        };
        
        var pointRender = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            if (selectedTheme && selectedTheme.indexOf('fabric-dark') > -1) {
                if (args.series.yName === "Rate")
                    args.fill = "f9fafb";
            }
            else if (selectedTheme && selectedTheme.indexOf('fabric') > -1) {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'material-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "f9fafb";
            }
            else if (selectedTheme === 'material') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'bootstrap5-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'bootstrap5') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'bootstrap-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "f9fafb";
            }
            else if (selectedTheme === 'bootstrap') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'highcontrast') {
                if (args.series.yName === "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'fluent-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'fluent') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'tailwind-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'tailwind') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'tailwind3-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'tailwind3') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'material3-dark') {
                if (args.series.yName === "Rate")
                    args.fill = "f9fafb";
            }
            else if (selectedTheme === 'material3') {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
            else if (selectedTheme === 'fluent2-highcontrast' || selectedTheme === 'fluent2-dark') {
                if (args.series.yName == "Rate")
                    args.fill = "#f9fafb";
            }
            else if (selectedTheme === 'fluent2') {
                if (args.series.yName == "Rate")
                    args.fill = "grey";
            }
            else {
                if (args.series.yName === "Rate")
                    args.fill = "grey";
            }
        }		
	</script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Rounded Column in ASP.NET MVC Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample showcases a bar chart with rounded corners, illustrating the anticipated growth rates across various sectors in 2024.
    </p>
}
@section Description{
    <p>
        In this example, this example, you can see how to render and configure the bar chart. The bar chart is similar to the column chart, but the orientation of the y-axis is horizontal rather than vertical. You can use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartCornerRadius.html" aria-label="ChartCornerRadius">ChartCornerRadius<span class="sr-only">opens in a new tab</span></a> option to customize the horizontal rectangle, resulting in a rounded bar.
    </p>
	<p>
		<code>Tooltips</code> are enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
	</p>
}
@section Title{
                    <title>ASP.NET MVC Chart Rounded Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }