@using Syncfusion.EJ2;
<script src="~/Scripts/financial-data.js"></script>
@section ControlsSection{
    <div class="control-section">
        <div style="text-align:center">

            @Html.EJS().Chart("container-vertical").Rows(rows =>
       {
           rows.Height("40%").Add();
           rows.Height("60%").Add();
       }).Axes(ax =>
       {
           ax.Name("secondary").OpposedPosition(true)
           .StripLines(sl => { sl.Start("0").End("120").Color("black").Text("").Visible(true).Opacity(0.03).ZIndex(Syncfusion.EJ2.Charts.ZIndex.Behind).Add(); })
           .Title("RSI").Minimum(0).Maximum(120).MajorTickLines(mt=>mt.Width(0))
.MajorGridLines(mg=>mg.Width(0)).LineStyle(ls=>ls.Width(0)).Interval(60).RowIndex(0).Add();
       }
           ).Series(series =>
           {
               series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Candle).XName("x").YName("y").High("high").Low("low").Open("open").Close("close").Volume("volume").BearFillColor("#2ecd71").BullFillColor("#e74c3d").DataSource("dataSource").Name("Apple Inc").Width(2).Add();
           }).Indicators(id =>
           {
               id.Fill("#6063ff").ShowZones(true).OverBought(70).LowerLine(lowerLine=>lowerLine.Color("#2ecd71")).UpperLine(upperLine=>upperLine.Color("#e74c3d")).OverSold(30).YAxisName("secondary").Period(3).Type(Syncfusion.EJ2.Charts.TechnicalIndicators.Rsi).Field(Syncfusion.EJ2.Charts.FinancialDataFields.Close).SeriesName("Apple Inc").Add();
           }).ZoomSettings(zn => zn.EnableSelectionZooming(true).Mode(Syncfusion.EJ2.Charts.ZoomMode.X)).Crosshair(cr => cr.LineType(Syncfusion.EJ2.Charts.LineType.Vertical).Enable(true)
           ).PrimaryXAxis(px => px.ZoomFactor(0.2).ZoomPosition(0.6).MajorGridLines(mg=>mg.Width(0)).ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime)
             ).PrimaryYAxis(py => py.RowIndex(1).OpposedPosition(true).Title("Price").MajorTickLines(mt=>mt.Width(0))
.LineStyle(ls=>ls.Width(0)).Minimum(50).Maximum(170).Interval(30).LabelFormat("${value}").PlotOffset(25)
             ).Title("AAPL 2012-2017").ChartArea(area => area.Border(br=>br.Color("transparent"))).Tooltip(tl => tl.Enable(true).Shared(true)).LegendSettings(lg => lg.Visible(false)).Load("load").Render()
        </div>
    </div>

         @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
             @*custom code end*@
    <script>
        var dataSource = window.chartData;
                 @*custom code start*@
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        };
                 @*custom code end*@
    </script>
}
         @*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render and configure the relative strength index indicator." />
}
         @*custom code end*@
@section ActionDescription{
   <p>
    This sample illustrates a stock chart with candle series and a Relative Strength Index indicator. Trackball shows the information about the stock, signalline, lowerline, and upperline value of a day.
</p>
}
@section Description{
    <p>
    In this example, you can see how to render and configure the RSI Indicator.
</p>
<p>
    Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
</p>
<p>
    More information on the RSI Indicator can be found in this
    <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
</p>
}