
@using Syncfusion.EJ2;
@section ControlsSection{
    <div>
    <div class="col-lg-9 control-section">
        <div class="content-wrapper">
            <div>

  @Html.EJS().AccumulationChart("container").EnableAnimation(false).Series(series =>
{
    series.StartAngle(270).EndAngle(90).DataLabel(dl => dl.Visible(true).Name("text").Position(Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside).ConnectorStyle(cs => cs.Length("10%")).Font(ft => ft.Size("14px"))).Explode(true).Radius("90%").InnerRadius("40%").Type(Syncfusion.EJ2.Charts.AccumulationType.Pie).XName("xName").YName("yValue").DataSource(ViewBag.dataSource).Name("Agricultural").Add();
}
       ).Tooltip(tp=>tp.Enable(true).Format("${point.x} : <b>${point.y}%</b>")).EnableSmartLabels(true).LegendSettings(lg => lg.Visible(false)).Title("Agricultural Land Percentage").Load("load").Render()
            </div>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody><tr style="height: 50px">
                <td style="width: 30%">
                    <div>Start Angle
                    </div>
                </td>
                <td style="width: 40%;">
                    <div data-role="rangeslider">
                        <input type="range" name="range-min" id="range-min" value="270" min="0" max="360" style="width:90%">
                    </div>
                </td>
                <td style="width: 30%">
                    <p id="startangle" style="font-weight: normal; padding-top: 15px">270</p>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 30%">
                    <div>End Angle
                    </div>
                </td>
                <td style="width: 40%;">
                    <div data-role="rangeslider">
                        <input type="range" name="range-max" id="range-max" value="90" min="0" max="360" style="width:90%">
                    </div>
                </td>
                <td style="width: 30%">
                    <p id="endangle" style="font-weight: normal; padding-top:15px">90</p>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 40%">
                    <div>
                        Inner Radius
                    </div>
                </td>
                <td style="width: 60%;">
                    <div data-role="rangeslider">
                        <input type="range" name="range-max" id="inner-radius" value="40" min="0" max="50" style="width:90%">
                    </div>
                </td>
                <td style="width: 30%">
                    <p id="innerradius" style="font-weight: normal;padding-top: 15px">0.40</p>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
    <script>
                @*custom code start*@
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.accumulation.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');

        };
        
                 @*custom code end*@
        document.getElementById('inner-radius').onpointermove = document.getElementById('inner-radius').ontouchmove =
            document.getElementById('inner-radius').onchange = function (e) {
            var pie = document.getElementById("container").ej2_instances[0];
            var innerradius = +document.getElementById('inner-radius').value;
            pie.series[0].innerRadius = innerradius + '%';
            document.getElementById('innerradius').innerHTML = (innerradius / 100).toFixed(2);
            pie.series[0].animation.enable = false;
            pie.removeSvg();
            pie.refreshSeries();
            pie.refreshChart();
    };
        
        document.getElementById('range-min').onpointermove = document.getElementById('range-min').ontouchmove =
            document.getElementById('range-min').onchange = function (e) {
                var pie = document.getElementById("container").ej2_instances[0];
                var rangeMin = (document.getElementById('range-min'));
                pie.series[0].startAngle = parseFloat(rangeMin.value);
                document.getElementById('startangle').innerHTML = rangeMin.value;
                pie.series[0].animation.enable = false;
                pie.removeSvg();
                pie.refreshSeries();
                pie.refreshChart();
            };
        
        document.getElementById('range-max').onpointermove = document.getElementById('range-max').ontouchmove =
            document.getElementById('range-max').onchange = function (e) {
                var pie = document.getElementById("container").ej2_instances[0];
                var rangeMax = (document.getElementById('range-max'));
                pie.series[0].endAngle = parseFloat(rangeMax.value);
                document.getElementById('endangle').innerHTML = rangeMax.value;
                pie.series[0].animation.enable = false;
                pie.removeSvg();
                pie.refreshSeries();
                pie.refreshChart();
            };

    </script>
    }
             @*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render semi-pie and doughnut charts." />
}
         @*custom code end*@
@section ActionDescription{
    <p>
    This sample illustrates the agriculture land percentages of various countries by using a pie series. It has options to change the angle and radius of the series.
</p>
}
@section Description{
    <p> In this example, you can see how to render semi pie and doughnut chart. Using <code>startAngle</code>, <code>endAngle</code> properties, we can achieve this semi pie chart. Property panel to change the angle is provided with this sample.</p>
<p> <code>Tooltip</code> is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
}