@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">

        @Html.EJS().Chart("container-vertical").Series(series =>
       {
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea).Opacity(0.5).XName("Period").YName("US_InflationRate").Marker(mr=>mr.Visible(true).Width(6).Height(6).Shape(Syncfusion.EJ2.Charts.ChartShape.Circle).IsFilled(true)).Border(br => br.Width(2)).DataSource(ViewData["ChartPoints"]).Name("US").Width(2).Add();
           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea).Opacity(0.5).XName("Period").YName("FR_InflationRate").Marker(mr=>mr.Visible(true).Width(7).Height(7).Shape(Syncfusion.EJ2.Charts.ChartShape.Diamond).IsFilled(true)).Border(br => br.Width(2)).DataSource(ViewData["ChartPoints"]).Name("France").Width(2).Add();
       }).PrimaryXAxis(px => px.MajorGridLines(mg=>mg.Width(0)).EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
       .ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime).IntervalType(Syncfusion.EJ2.Charts.IntervalType.Years).LabelFormat("yyyy")
       ).PrimaryYAxis(py => py.LabelFormat("{value}%").MajorTickLines(mt=>mt.Width(0)).LineStyle(ls=>ls.Width(0)).Maximum(4).Interval(1).Minimum(0)
       ).Title("Inflation Rate in Percentage").ChartArea(area => area.Border(br => br.Width(0))).LegendSettings(leg => leg.EnableHighlight(true)).Tooltip(tt => tt.Enable(true).EnableHighlight(true).ShowNearestTooltip(true)).Load("load").Render()

        </div>
    
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
   @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Spline Area in ASP.NET MVC Chart control. Explore here for more details."/>
                }
   @*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/charts/chart-types/spline-area-chart" aria-label="ASP.NET MVC Spline Area Chart">ASP.NET MVC Spline Area Chart<span class="sr-only">opens in a new tab</span></a> example visualizes inflation rate comparison for two countries by using spline area series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a spline area chart. This chart plots a fitted curve through each data point in a series. It is used to represent time-dependent data and show trends in data at equal intervals.
    </p>
    <p>
        More information on the spline area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/spline-area" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Spline Area Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Charts</h1>
                }