@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div style="text-align:center">
            @Html.EJS().Chart("container-vertical").Series(series =>
            {
            series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.StackingStepArea).Border(br => br.Width(2)).XName("xValue").YName("yValue")
            .DataSource(ViewData["dataSource"]).Name("Renewable").Width(2).Fill("#56CCF2").Opacity(0.5).Add();
            series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.StackingStepArea).Border(br => br.Width(2)).XName("xValue")
            .YName("yValue1").DataSource(ViewData["dataSource"]).Name("Non-Renewable").Width(2).Fill("#2F80ED").Opacity(0.5).Add();
            }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Double)
            .MajorGridLines(mg=>mg.Width(0)).EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
            ).PrimaryYAxis(py => py.LabelFormat("{value}B").MajorTickLines(mt=>mt.Width(0))
            .LineStyle(ls=>ls.Width(0)).Title("Production (Billion as kWh)")
            ).Title("Electricity- Production").ChartArea(area => area.Border(br=>br.Color("transparent"))).LegendSettings(leg => leg.EnableHighlight(true)).Load("load").Render()
        </div>
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
           loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
   @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Stacked Step Area in ASP.NET MVC Chart control. Explore here for more details."/>
                }
   @*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes the data about electricity production using stacked stepped area chart.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the Stacked StepArea type charts. This series forms the step line progress by connecting points through vertical and horizontal lines with area filled.
        You can use <code>DashArray</code>, <code>Width</code> and <code>Fill</code> properties to customize the area. <code>Marker</code> and <code>DataLabel</code> are used to represent individual data and its value.
    </p>
    <p>
        More information on the stacked step area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/stacked-step-area" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p> 
}
@section Title{
                    <title>ASP.NET MVC Chart Stacked Step Area Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Stacked Step Area in ASP.NET MVC Chart Control</h1>
                }