@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        @Html.EJS().Chart("container-step-riser").Series(series =>
        {
            series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.StepArea).XName("X").YName("Y").Name("Product Sales").Opacity(0.1).Border(br => br.Width(2.5))
            .NoRisers(true).Step(Syncfusion.EJ2.Charts.StepPosition.Center).DataSource(ViewData["ChartPoints"]).Add();
        }
        ).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime).LabelFormat("yyyy").Interval(4).IntervalType(Syncfusion.EJ2.Charts.IntervalType.Years)
            .Minimum(new DateTime(1980, 01, 01)).Maximum(new DateTime(2020, 01, 01)).MajorGridLines(mt => mt.Width(0)).MinorTickLines(mt => mt.Width(0)).EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
        ).PrimaryYAxis(py => py.Title("Sales in Units").LabelFormat("{value}").Minimum(0).Maximum(100).Interval(20).MajorTickLines(mt => mt.Width(0)).LineStyle(ls => ls.Width(0))
        ).Title("Sales of Product Over Time").ChartArea(area => area.Border(br => br.Width(0))
        ).LegendSettings(lg => lg.Visible(false)).Tooltip(tt => tt.Enable(true).Shared(true)).Load("load").Render()
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? "Rotate90" : "Rotate45";
        };
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Step Without Riser in ASP.NET MVC Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This Step Area Chart example visualizes the sales data of a product over a 50-year period using the default step area series without risers.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a step area chart without vertical risers. The <code>NoRisers</code> feature allows the series to appear as a continuous flow without showing vertical lines between points. This approach can be useful for highlighting trends without the distraction of risers.
    </p>
    <p>
        More information on the step area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/chart-types/step-area" aria-label="Navigate to the documentation for Step Area Chart in ASP.NET MVC Chart control">documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
    <title>ASP.NET MVC Chart Step Without Riser Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Charts</h1>
}