@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        @Html.EJS().Chart("container").Series(series =>
{
    series.Name("Wind Speed (km/h)").XName("X").YName("Wind").Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline).LegendShape(Syncfusion.EJ2.Charts.LegendShape.HorizontalLine)
    .DataSource(ViewData["WeatherReportsA"]).Width(4).Add();
    series.Name("Wind Gust (km/h)").XName("X").YName("Gust").Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline).LegendShape(Syncfusion.EJ2.Charts.LegendShape.HorizontalLine)
    .DataSource(ViewData["WeatherReportsB"]).Width(4).Add();
}).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.DateTimeCategory).LabelFormat("E dd/MM").LabelRotation(-90)
    .MajorGridLines(mg => mg.Width(0)).MajorTickLines(mt => mt.Width(0))
    ).PrimaryYAxis(py => py.Minimum(0).Maximum(30).Interval(10).Title("Wind Speed and Gust (km/h)")
    .MajorTickLines(mt => mt.Width(0)).MajorGridLines(mg => mg.Width(0))
    .StripLines(sl =>
    {
        sl.Start("0").End("5").Text("Calm").Color("rgba(68, 170, 213, 0.1)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
        sl.Start("5").End("8").Text("Light Air").Color("rgba(0, 0, 0, 0)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
        sl.Start("8").End("11").Text("Light Breeze").Color("rgba(68, 170, 213, 0.1)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
        sl.Start("11").End("18").Text("Gentle Breeze").Color("rgba(0, 0, 0, 0)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
        sl.Start("18").End("28").Text("Moderate Breeze").Color("rgba(68, 170, 213, 0.1)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
        sl.Start("28").End("30").Text("Fresh Breeze").Color("rgba(0, 0, 0, 0)").Visible(true).Border(br => br.Width(0)).TextStyle(tx => tx.Size("13px")).HorizontalAlignment(Syncfusion.EJ2.Charts.Anchor.Start).Add();
    })
    .LineStyle(ls => ls.Width(0)).RangePadding(Syncfusion.EJ2.Charts.ChartRangePadding.None)
    ).LegendSettings(lg => lg.Visible(true).EnableHighlight(true).ShapeHeight(12).ShapeWidth(15)).Tooltip(tt => tt.Enable(true).ShowNearestTooltip(true).EnableHighlight(true).Header("").Format("<b>${point.x}</b> <br> ${series.name} : <b>${point.y}</b>").EnableMarker(false)
    ).Title("Wind Speed and Gust (km/h)").SubTitle("WorldWeatherOnline.com").TitleStyle(tl => tl.Position(Syncfusion.EJ2.Charts.TitlePosition.Bottom).TextAlignment(Syncfusion.EJ2.Charts.Alignment.Far)).ChartArea(area => area.Border(br => br.Width(0))).Load("load").Render()
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'Rotate90' : 'None';
        };
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Strip Line in ASP.NET MVC Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample displays the changes in wind speed and gust with stripline feature.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a strip line for the chart. Use the <code>Start</code> and <code>End</code> properties in the <code>ChartStripline</code> option to add a strip line to an axis. Additionally, the title for the chart can be positioned anywhere in the chart by using the <code>Position</code> property in <code>TitleStyle</code>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example, to see the tooltip in action, hover a point or tap one on touch-enabled devices.
    </p>
    <p>
        More information on the strip line can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/strip-line" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
    <title>ASP.NET MVC Chart Strip Line Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Strip Line in ASP.NET MVC Chart Control</h1>
}