@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div style="text-align:center">
            @Html.EJS().Chart("container").BackgroundImage("../Content/chart/wheat.png").Series(
             series =>
             {
                 series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).
                     Fill("#333333").
                     XName("Year").
                     YName("Productivity").
                     Marker(mr=>mr.Visible(true).Border(br => br.Color("#333333").Width(2)).Fill("#C1272D").Width(7).Height(7)).
                     DataSource(ViewData["ConsumerDetails"]).
                     Width(2).Add();
             }).PrimaryXAxis(
             xAxis =>
             {
                 xAxis.ValueType(Syncfusion.EJ2.Charts.ValueType.Category).
                 LabelStyle(ls => ls.Color("white")).
                 LineStyle(ls =>ls.Color("#EFEFEF").Width(3)).
                 EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift).
                 MajorTickLines(mt => mt.Width(0)).
                 MajorGridLines(mg => mg.Width(0)).LabelFormat("y").IntervalType(Syncfusion.EJ2.Charts.IntervalType.Years);

             }).PrimaryYAxis(
             yAxis =>
             {
                 yAxis.Title("Billion Bushels").TitleStyle(ts => ts.Color("white")).
                     RangePadding(Syncfusion.EJ2.Charts.ChartRangePadding.None).
                     LabelStyle(ls => ls.Color("white")).
                     LineStyle(ls => ls.Width(0)).
                     MajorTickLines(mt=>mt.Width(0)).
                     MajorGridLines(mt=>mt.Color("#EFEFEF").Width(2));
             }).Tooltip(tp => tp.Enable(true).ShowNearestTooltip(true).EnableHighlight(true).Template("#Tooltip")).ChartArea(area => area.Border(br=>br.Width(0))).Title("USA Wheat Production").Load("load").Render()

        </div>
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script id='Tooltip' type="text/x-template">
        <div id="wrap">
            <table style="width:100%;  border: 1px solid black;" class="table-borderless">
                <tr>
                    <th rowspan="2" style="background-color: #C1272D">
                        <img src="@Url.Content("~/Content/chart/grain.png")" />
                    </th>
                    <td style="height: 25px; width: 50px; background-color: #C1272D; font-size: 14px; color: #E7C554; font-weight: bold; padding-left: 5px">${x}</td>
                </tr>
                <tr>
                    <td style="height: 25px; width: 50px; background-color: #C1272D; font-size: 18px; color: #FFFFFF; font-weight: bold; padding-left: 5px">${y}B</td>
                </tr>
            </table>
        </div>
    </script>
    <script src="~/Scripts/chart/theme-color.js"></script>
    <script>
        var load = function (args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        };
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip Template in ASP.NET MVC Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes USA wheat production data with the default line series in the chart. Data points are enhanced with a background image and a tooltip template.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a background image and the tooltip template for the chart. You can use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.Chart.html#Syncfusion_EJ2_Charts_Chart_BackgroundImage" aria-label="BackgroundImage">BackgroundImage<span class="sr-only">opens in a new tab</span></a> property to configure the background for the chart and the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.ChartTooltipSettings.html#Syncfusion_EJ2_Charts_ChartTooltipSettings_Template" aria-label="Template">Template<span class="sr-only">opens in a new tab</span></a> property in <code>ChartTooltipSettings</code> to customize the tooltip UI.
    </p>
    <p>
        More information about the tooltip template can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/chart/tool-tip#tooltip-template" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Chart Tooltip Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip Template in ASP.NET MVC Chart Control</h1>
                }