@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
      @Html.EJS().Chart("container-verticals").Series(series =>
      {
       series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).DataSource("series1").XName("x").YName("y").Animation(animation=>animation.Enable(false)).Width(2).Add();
      }).PrimaryXAxis(px => px.Title("Time (s)").MajorGridLines(mg=>mg.Width(0))).PrimaryYAxis(py => py.Title("Velocity (m/s)").MajorGridLines(mg=>mg.Width(0)).LabelFormat("{value}M").Minimum(-15).Maximum(15).Interval(5)
    ).Title("Indonesia - Seismograph Analysis").IsTransposed(true).Load("load").Loaded("loaded").Render()
    </div>
     @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
     @*custom code end*@
    <script>
        var series1 = [{ x: 0, y: 0 }];
        var chart;
        var load = function (args) {
            chart = args.chart;
             @*custom code start*@
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
             @*custom code end*@
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "70%";
            args.chart.chartArea.border.width = 0;
        };
        var loaded = function(args) {
            chart.loaded = null;
            interval = setInterval(function() {
                        chart.series[0].dataSource = liveData(chart.series[0].dataSource, chart.series[0]);
                        chart.refresh();
                    }, 10);
        }
        var interval;      
        
        var count = 0;
        function liveData(newData, series) {
            count = count + 1;
            if (count > 350 || document.getElementById('container-verticals') === null) {
                clearInterval(interval);
            }
            else if (count > 300) {
                newData.push({ x: count, y: getRandomArbitrary(0, 0) });
            }
            else if (count > 250) {
                newData.push({ x: count, y: getRandomArbitrary(-2, 1) });
            }
            else if (count > 180) {
                newData.push({ x: count, y: getRandomArbitrary(-3, 2) });
            }
            else if (count > 100) {
                newData.push({ x: count, y: getRandomArbitrary(-7, 6) });
            }
            else if (count < 50) {
                newData.push({ x: count, y: getRandomArbitrary(-3, 3) });
            }
            else {
                newData.push({ x: count, y: getRandomArbitrary(-9, 9) });
            }
            return newData;
        }
        function getRandomArbitrary(min, max) {
            return Math.random() * (max - min) + min;
        }
        function getXValue(data) {
            return data.length;
        }
    </script>
}
 @*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Chart control shows how to render and configure the vertical type charts." />
}
 @*custom code end*@
@section ActionDescription{
    <p>
    This sample illustrates the vertical chart by changing the orientation of x-axis to vertical and y-axis to horizontal.
</p>
}
@section Description{
    <p>
    In this example, you can see how to render and configure the vertical type charts.
    To render a chart in vertical manner, you can use <code>isTransposed</code> in chart.
</p>
<br>
<p>
    More information on the vertical can be found in this
    <a target="_blank" href="http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype">documentation section</a>.
</p> 
}