@using Syncfusion.EJ2
@{
    ViewBag.Title = "Form Filling";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().PdfViewer("pdfviewer").ServiceUrl(VirtualPathUtility.ToAbsolute("~/api/PdfViewer/")).DocumentPath("FormFillingDocument.pdf").Render()
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Form Filling in ASP.NET MVC PDF Viewer control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the form filling features of PDF Viewer and allows you to edit the form fields, download and print the edited form fields PDF documents.</p>
    </div>
}
@section Description{
    <div id="action-description">
        <p>
            The PDF Viewer component enables you to view and print the PDF files. This sample demonstrate the following key features of PDF Viewer,
        </p>
        <ul>
            <li>View the PDF document</li>
            <li>Core interactions - Scrolling, Zooming, panning and page navigation</li>
            <li>Built-in toolbar</li>
            <li>Select and copy text from PDF file</li>
            <li>Search a text easily across the PDF document</li>
            <li>Easy navigation with the help of Bookmarks, thumbnails, hyperlinks and table of contents</li>
            <li>View modes - fit to page and fit to width</li>
            <li>Print the entire document or a specific page directly from the browser.</li>
        </ul>
    </div>
    <div id="description">
        <p>
            More information on the PDF Viewer instantiation can be found in this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetmvc/documentation/pdfviewer/getting-started/">
                documentation section
            </a>.
        </p>

    </div>
}
@*custom code start*@
<style>
    #pdfviewer {
        display: block;
        height: 641px;
    }
</style>
@*custom code end*@

@section Title{
                    <title>ASP.NET MVC PDF Viewer Form Filling Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Form Filling in ASP.NET MVC PDF Viewer Control</h1>
                }