@using Syncfusion.EJ2
@{
    ViewBag.Title = "HandwrittenSignature";
}
@{
    string serviceUrl = VirtualPathUtility.ToAbsolute("~/api/PdfViewer/");
}

@section ControlsSection{
    <div class="control-section">
        <div class="flex-container">
            <label class="switchLabel" for="checked">Standalone PDF Viewer</label>
            <div class="e-message render-mode-info">
                <span class="e-msg-icon render-mode-info-icon" title="Turn OFF to render the PDF Viewer as server-backed"></span>
            </div>
            <div>
                @Html.EJS().Switch("checked").Checked(true).Change("change").CssClass("buttonSwitch").Render()
            </div>
        </div>
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/handwritten-signature.pdf").ResourceUrl("https://cdn.syncfusion.com/ej2/23.2.6/dist/ej2-pdfviewer-lib").DocumentLoad("documentLoad").Render()
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Handwritten Signature in ASP.NET MVC PDF Viewer control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Handwritten signature and initial support of the PDF Viewer. The signature or initial support reduces the paperwork of reviewing the contents and it is verified digitally.</p>
    </div>
}
@section Description{
    <div id="action-description">
        <p>
            In the PDF Viewer component, we can explicitly open the Handwritten signature dialog or initial dialog using the method setAnnotationMode.
        </p>
    </div>
    <div id="description">
        <p>
            More information on the PDF Viewer instantiation can be found on this
            <a target="_blank"
               href="https://ej2.syncfusion.com/aspnetmvc/documentation/pdfviewer/getting-started/" aria-label="documentation section">
                documentation section
            <span class="sr-only">opens in a new tab</span></a>.
        </p>

    </div>
}
@*custom code start*@
<style>
    
#pdfviewer {
    display: block;
    height: 641px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.render-mode-info {
    background: none;
    border: none;
    padding-left: 0px;
}

.render-mode-info .render-mode-info-icon {
    height: 16px;
    width: 16px;
}

.switchLabel {
    font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif;        
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-align: right;
    font-size: 14px;
}

.render-mode-info .render-mode-info-icon::before {
    line-height: 0.5rem;
}

.buttonSwitch {
    Width: 40px;
    Height: 24px;
}
</style>
@*custom code end*@
<script>
    var isInitialLoading = true;
    function documentLoad() {
        var viewer = document.getElementById('pdfviewer').ej2_instances[0];
        if(isInitialLoading){
            viewer.annotation.setAnnotationMode('HandWrittenSignature');
            isInitialLoading = false;
        }
    }
    function change(args) {
        var viewer = document.getElementById('pdfviewer').ej2_instances[0];
        if (args.checked) {
            viewer.serviceUrl = '';
        } else {
            viewer.serviceUrl = '@serviceUrl';
        }
        viewer.dataBind();
        viewer.load(viewer.documentPath, null);
    }
</script>
@*custom code end*@

@section Title{
                    <title>ASP.NET MVC PDF Viewer Handwritten Signature Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Handwritten Signature in ASP.NET MVC PDF Viewer Control</h1>
                }