@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to convert spreadsheets to image using XlsIO.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Worksheet To Image in ASP.NET MVC XlsIO control. Explore here for more details."/>
                }
@section Description{
    A worksheet can be converted to an image that is subject to few limitations. The image can be of any format, and it can also be saved as a memory stream.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Worksheet to image conversion</li>
        <li>Saving workbooks as images of Bitmaps and metafiles</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WorksheetToImage", "XlsIO", FormMethod.Post);
            <h5>
                Click the button below to convert the Excel worksheet to image using Essential XlsIO.
            </h5>
            <br />
            <h5>  Convert to </h5>
            <div class="celldiv">
                <table>
                    <tr>
                        <td>
                            @Html.EJS().RadioButton("radio1").Label("PNG").Name("Group1").Value("PNG").Checked(true).Render()
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            @Html.EJS().RadioButton("radio2").Label("JPEG").Name("Group1").Value("JPEG").Checked(false).Render()
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            @Html.EJS().RadioButton("radio3").Label("BMP").Name("Group1").Value("BMP").Checked(false).Render()
                        </td>                       
                    </tr>
                </table>
            </div>
            <br />
            <div class="celldiv">
                <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Convert To Image" style="width:160px;" />
            </div>
        }
    </div>
}

@section Title{
                    <title>ASP.NET MVC XlsIO Worksheet To Image Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Worksheet To Image in ASP.NET MVC XlsIO Control</h1>
                }