@using Syncfusion.EJ2;

@section ActionDescription{
    This sample demonstrates how to customize spreadsheets using XlsIO.
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Worksheet Management in ASP.NET MVC XlsIO control. Explore here for more details."/>
                }
@section Description{
    Excel provides options for working with worksheet manipulations. You can copy a worksheet, move a worksheet from one position to another, rename a worksheet, delete a worksheet, insert a worksheet, and insert tab color. These options provide users with great flexibility to work with worksheets.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Selecting a worksheet from one workbook and copying it to another workbook with or without worksheet elements</li>
        <li>Sheet renaming</li>
        <li>Moving</li>
        <li>Deleting </li>
        <li>Sheet activation</li>
    </ul>
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("WorksheetManipulation", "XlsIO", FormMethod.Post);
            <p style="font-weight:normal">
				Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
			</p>
            <br />
            <div>
				Save As :
				<input type="radio" id="XLS" name="SaveOption" value="Xls" />
				<label for="XLS" style="font-weight:normal">XLS</label>
				&nbsp;
				<input type="radio" id="XLSX" name="SaveOption" value="Xlsx" checked="checked" />
				<label for="XLSX" style="font-weight:normal">XLSX</label>
			</div>
            <br />
            <div class="celldiv">
                <input id="inputbtn" class="e-btn" type="submit" name="button" value="Input Template" style="width:160px;" />
                <input id="createbtn" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px;" />
            </div>
        }
    </div>
}

@section Title{
                    <title>ASP.NET MVC XlsIO Worksheet Management Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Worksheet Management in ASP.NET MVC XlsIO Control</h1>
                }