.e-view {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
.sb-left{
    float: left;
}
.sb-right{
    float: right;
}
.sb-block{
    display: block;
}
.sb-table{
    display: table;
}
.sb-table-cell{
    display: table-cell;
    vertical-align: middle;
}
/*sb-icons declaration*/
@font-face {
    font-family: 'sbicons';
    src: url('images/sb-icons/fonts/icons.ttf?gcjn6a') format('truetype'),
     url('images/sb_icons/fonts/icons.woff?gcjn6a') format('woff'),
     url('images/sb_icons/fonts/icons.svg?gcjn6a#sbicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sb-icons {
    font-family: 'sbicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sb-icon-Hamburger:before {
    content: "\e914";
  }
.sb-icon-icon-selection:before{
    content: "\e922";
}
.sb-icon-Dropdown:before {
    content: '\e90f';
}
.sb-icon-Settings-Preferences:before{
    content:'\e923';
}
.sb-icon-Search:before {
    content: '\e921';
}
.sb-icon-Responsive:before {
    content: '\e920';
}
.sb-icon-Palette:before {
    content: '\e92c';
}
.sb-icon-Chart:before {
    content: '\e906';
}
.sb-icon-Code:before{
    content: '\e92d';
}
.sb-icon-Demo:before{
    content: '\e92e';
}
.sb-icon-API:before{
    content: '\e902'
}
.sb-icon-Home:before {
    content: '\e915';
    font-size: 30px;
}
/**sb-switcher*/
.sb-switch-popup{
    background-color: #FFFFFF;
    border:   1px solid #CCCCCC;
    opacity: 100%;
    border-radius: 4px;
    box-shadow: 0 0px 1px -3PX;;
    /* // outer* x, y - 0px, 1px* blur - 3px; */
    color: #000000;
    opacity: 100;
    font-size: 13px;
    font-family: Roboto;
}
/*sample header*/  

.sb-header{
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    opacity: 100%;
}

.sb-header-left,.sb-header-right{
    height: 100%;
}
.sb-settings-wrapper{
    padding: 0 20px;

}
.sb-search-wrapper{
    padding: 0 20px;
}
.sb-search-btn,.sb-setting-btn{
    width: 32px;
    height: 27px;
    text-align: center;
}
.sb-search-btn:hover,.sb-search-btn.active,.sb-setting-btn:hover,.sb-setting-btn.active {
    background-color: #d8d8d8;
}
#sb-toggle-left{
padding-left:24px; 
font-size: 24px;
}
#sb-header-text{
    padding-left: 22px;
    font-size: 15px;
    color: #000000;
    font-family: Roboto;
    opacity: 87%;
}
.sb-lang-toggler{
    font-size: 20px;
}
.sb-lang-toggler-wrapper{
    padding-top: 4px;
}
.sb-theme-text {
    font-size: 13px;
    font-family: 'https://fonts.googleapis.com/css?family=Roboto:400';
    opacity: 54;  
}
.sb-header-right .sb-icons {
    font-size: 20px;
}
.sb-header-splitter {
    float: left;
    border-left: 1px solid rgb(196, 196, 196);
    height: 32px;
    margin-top: 8px;
    padding-right: 22px; 
}

.toggle-active {
    color:#3C78EF;
    
}
.control-animate {
    transform: translateX(-280px);
}
.control-reverse-animate {
    transform: translateX(280px);
}
.control-transition {
    transition: transform 500ms;    
}
.control-fullview {
    left: 0px !important;
}
.sb-download-btn a{
    text-decoration: none;
}
.sb-download-text{
    color:#FFFFFF;
}
.sb-download-wrapper {
    padding-right: 27px;
}
.theme-wrapper:hover, .theme-wrapper.active {
    background-color: rgb(216, 216, 216);
}
.theme-wrapper {
    padding-left: 11px;
    padding-right: 14px;
    border-radius: 2px;
    cursor:default; 
}

.sb-download-btn{
    background-color: #3C78EF;
    opacity: 100;
    border-radius: 2px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 18px;
    height: 32px;
    border-color: transparent;
}

/*sb-header-popup*/
/*common for popups*/
#search-popup ul,.sb-popups ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sb-popups li {
    font-size: 14px;
    font-family: Roboto;
}
.switch-text{
    padding-left: 16px; 
}
.sb-switch-popup ul {
    padding: 5px 0px;
}
.sb-switch-popup {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.sb-switch-popup li {
    padding: 10px 38px 12px 15px;
}

.sb-switch-popup li:first-child{
    color:#3C78EF;
}
.sb-switch-popup li:hover{
    background: rgb(238,238,238);
}

.sb-switch-popup a {
    text-decoration: none;
    color: black;
    cursor: default;
}
.sb-theme-popup {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.36);
    border-radius: 4px;
    padding-top: 23px; 
    width: 175px;
}
.sb-theme-popup li {
    line-height: 40px;
    cursor: default;
}
.sb-theme-select {
    padding-left: 18px;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffff;
}

.sb-theme-popup li:hover{
    background: rgb(238,238,238);
}

.sb-theme-popup li:hover .sb-theme-select{
    color: rgb(238,238,238);
}
.sb-theme-popup li.active .sb-theme-select{
    color: rgb(255, 109, 63);
}
.sb-theme-popup li:hover.active .sb-theme-select{
    color: rgb(255, 109, 63);
}

.e-search-overlay{
    z-index: 10000022;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 125, 125, 0.54);
}
#search-input-wrapper {
    width: 75%;
    height: 38px;
    margin-top: 50px;
    margin-left:13.5%;  
}
#search-input-wrapper input{
    border-radius: 4px;
    border-color: transparent;
    padding-left: 6px;
    outline: none;
    width: 100%;
    height: 100%;
}
.sb-search-result {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.36);
    border-radius: 4px;
    width:75%;
}

.sb-search-result .e-list-group-item {
    background-color: #F5F5F5;
    font-size: 14px;
    vertical-align: middle;
    line-height: 36px;
    border-left: none;
    border-right: none;
}
#search:hover {
    background-color: #007dd1;
}
.sb-search-result {
    overflow-y: auto;
    max-height: 75%;
}
.sb-search-result .e-list-parent{
    margin-bottom: 0px;
}
.sb-search-result .e-list-item {
    line-height: 36px;
}
.sb-search-result .e-list-item:hover{
    background-color: #ecedf2;
    cursor: default;
}

.sb-search-result li{
    padding-left: 6px;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
}
.search-no-record{
    padding: 16px 5px;
    font-family: Roboto;
    font-weight: 700;
    cursor: default;
}
/*settings popup*/
.sb-setting-popup .sb-setting-header{
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px; 
    line-height: 21px;
    font-family: Roboto;
    font-weight: 500;
    font-size:  16px;
    border-bottom:  1px solid #CCCCCC;
}
.sb-setting-popup {
    width: 242px;
    background-color :#FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.36);
    border-radius: 4px;
    cursor: default;
}
.setting-label{
    padding-bottom: 5px;
}

.sb-setting-content{
    padding: 12px 16px;
}
.setting-label{
    font-size: 14px;
    display: table;
}
.setting-label div{
    display: table-cell;
}
.sb-setting-text{
    position: relative;
    top: -2px;
}
.sb-setting-icons{
    padding-right: 14px;
    font-size: 20px;
}
.setting-responsive{
    display: table;
}
.setting-responsive .sb-responsive-items:hover{
    border-color: rgba(239, 230, 230, 0.2);
}
.setting-responsive .sb-responsive-items {
    width: 104px;
    background-color: #e8e8e8;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: table-cell;
    cursor: pointer;
}
.setting-responsive .sb-responsive-items:first-child{
    border-right: none;
}
.setting-responsive .sb-responsive-items:last-child {
    border-left: none;
}
.setting-responsive .sb-responsive-items.active {
    background-color: #1783ff;
    color:white;
}

.sb-setting-theme-section {
    display: none;
}

/*sample-content*/
.sb-content{
    top:48px;
    background: #F8F8F8;
}
/*
* SB-Home
*/
.sb-home {
    display: table;
    width: 100%;
    padding: 12px 16px;
    height: 66px;
    position: relative;
}
.sb-home:hover {
    cursor: pointer;
}
.sb-home-link {
    display: table-cell;
    width: 14px;
}
.sb-home-text {
    position: absolute;
    top: 27px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    padding-left: 16px;
}
/*left-pane*/
.sb-left-pane{
    width: 280px;
    height: 100%;
}
.sb-left-pane .e-listview,.sb-left-pane .e-treeview{
    font-family: Roboto;
}
.sb-left-pane .e-listview .e-list-item{
    background: transparent;
    border:none;
}
.sb-left-pane .e-listview .e-list-item.e-hover{
    background-color: #eaeaea;
}


.sb-left-pane .e-listview .e-list-group-item{
    border:none;
    color: #000000;
    opacity: 87;
    font-family: Roboto;
    font-weight: 700;
    background: transparent;
}
.sb-left-pane .e-listview .e-list-item.e-active {
    background-color: #d2ebff;
}
#controlTree ul.e-list-parent {
    padding-left: 10px;
}

.sb-left-pane #sb-left-back {
    padding: 12px 20px;
    width: 100%;
    display: table;
    cursor: pointer;
}
.sb-adjust-juggle {
    top: 50px;
}
#controlList {
    overflow-y: auto;
    position: absolute;
}
.sb-control-list-top {
    top: 116px;
}
#controlTree{
    overflow-y: auto;
    top: 66px;
    height:  calc(100% - 66px);
}
.sb-left-back{
    height:50px;
}
#controlList .e-content {
  background-color: transparent; 
} 

.back-icon::before {
    content: '\e962';
    font-size: 20px;
}

.back-icon {
    vertical-align: middle;
    display: table-cell;
    width: 36px;
}

.sb-left-pane {
    overflow-x: hidden;
    position: relative;
}

.control-name {
    display: table-cell;
    padding-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #1763ff;
}
.sb-left-pane-header {
    display: none;
}
@media (max-width: 480px) and (min-width: 150px) {
    .sb-left-pane-header {
        display: block;
        height: 220px;
    }
    .sb-control-list-top {
        top: 336px;
    }
    #controlTree {
        top: 286px;
        height: calc(100% - 286px);
    }
}
/*right -pane*/
.sb-right-pane {
    left: 280px;
    padding-left: 26px;
    padding-right: 36px;
}
.sb-content-section {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.36);
    opacity: 100;
    border-radius: 5px;
    height: 100%;
}
.sb-content-section .sb-content-tab-header{
    border-bottom: 1px solid #D7D7D7;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.36);
}
.sb-source-section .e-tab .e-header .e-indicator {
    display: none;
}
.sb-source-section .e-tab  .e-header{
    border-top : 1px solid #D7D7D7;
}

.sb-source-section .e-tab .e-header .e-toolbar-item.e-active .e-tab-text{
    color:#3C78EF;
}
.sb-right-pane{
    overflow-y: auto;
}
.description-section {
    padding-top: 32px;
}
.description-header{
    font-family: Roboto;
    padding-bottom: 10px;
    opacity: 87;
    font-weight: 500;
    line-height: 21px;
    color: #000000;
}
.container-fluid{
    padding-top: 20px;
    padding-bottom: 20px;
}
.control-section {
    min-height: 350px;
}

.sb-src-code{
    white-space: pre;  
    padding: 10px;
    overflow-x: auto; 
}
.sb-bread-crumb{
    padding-top: 10px;
    padding-bottom: 27px;
}
.sb-action-description{
    padding-bottom: 16px;
}
.sb-component-name{
    padding-top: 24px;
    padding-bottom: 10px;
    color:#000000;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;

}
.sb-bread-crumb-text>.category-text,.sb-bread-crumb-text>.component {
    color: #1783FF;
}

.sb-bread-crumb .sb-bread-crumb-text>span {
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
    padding-right: 13px;
    cursor: pointer;
}

.sb-bread-crumb-text>span.seperator{
    font-weight: 500;
    font-size: 15px;
}
/*sb-footer*/
.sb-footer {
    height: 100px;
    width: 100%;
    position: relative;
    border-top: 1px solid #D5D5D5;
    margin-top: 24px;
}
.sb-footer-left {
    position: absolute;
}
.sb-footer-links a {
    color: #1783FF;
    text-decoration: none;
    cursor: pointer;
}
.sb-footer-links {
    display: table;
}
.sb-footer-link {
    display: table-cell;
    padding: 20px 30px 12px 0px;
}
.sb-footer-copyright {
    padding-bottom: 24px;
}
.sb-footer-logo {
    padding: 36px 0px 27px 0px;
    right: 0px;
    position: absolute;
}
.sb-footer-logo-icon {
    background: url(images/sb-icons/Syncfusion-logo.svg) no-repeat right;
    height: 40px;
    width: 140px;
}
/* Mobile View */
@media (max-width: 500px) {
    .sb-mobile-left-pane {
        height: 100%;
    }
    .sb-mobile-overlay {
        width: 100%;
        position: fixed;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 105;
    }
    .sb-right-pane {
        left: 0px;
        padding-bottom: 32px;
    }
    .sb-left-pane {
        z-index: 110;
        background: #f8f8f8;
    }
    .sb-footer-link {
        padding: 20px 16px 0px 16px;
    }
    .sb-footer-copyright {
        padding: 16px 16px 10px;
    }
    .sb-ej2 {
        display: table;
        padding: 16px 16px 22px;
    }
    .sb-mobile-logo {
        background: url(images/sb-icons/Syncfusion-mobile-logo.svg) no-repeat;
        width: 27px;
        height: 27px;
        display: table-cell;
    }
    .sb-name {
        display: table-cell;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        padding-left: 10px;
    }
    .sb-mobile-header-buttons {
        display: table;
    }
    .sb-mobile-header-button {
        width: 114px;
        background-color: #939393;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-table;
        margin-left: 16px;
        padding: 6px 12px;
        color: #ffff;
    }
    .sb-mobile-header-button:active {
        background-color: #1783FF;
    }
    .sb-footer {
        display: none;
    }
}
/* #sb-content.e-tab>.e-header .e-indicator{
    background-color:rgb(255, 109, 63);
}
#sb-content.e-tab>.e-header .e-toolbar-item.e-active .e-tab-text{
    color:rgb(255, 109, 63);
} */
/*sb-hide */
.sb-hide{
    display: none;
}