@using Syncfusion.EJ2


@section ControlsSection{
    <div class=" col-lg-8 control-section">
        <div id="wrapper" class="datepicker-section">
            <div id="datepicker-control">
                @Html.EJS().DatePicker("datepicker").Placeholder("Choose a Date").Render()
            </div>
        </div>
    </div>
    <div id="propertySection" class="col-lg-4 property-section">
        <div class="radio-control" id="property" title="Select a locale">
            <div class="row">
                @Html.EJS().RadioButton("en").Label("English").Name("locale").Value("en").Change("onLocaleChange").Render()
            </div>
            <div class="row">
                @Html.EJS().RadioButton("de").Label("German").Name("locale").Value("de").Change("onLocaleChange").Checked(true).Render()
            </div>
            <div class="row">
                @Html.EJS().RadioButton("ar").Label("Arabic").Name("locale").Value("ar").Change("onLocaleChange").Render()
            </div>
        </div>
    </div>
}

    <script>
        function onLocaleChange(args) {
            /*Apply selected format to the component*/
            var culture = args.value;
            datepicker.locale = culture;
            datepicker.enableRtl = datepicker.locale === 'ar' ? true : false;
            if (culture !== 'en') {
                loadCultureFiles(culture);
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            datepicker = document.getElementById('datepicker').ej2_instances[0];
            var L10n = ej.base.L10n;
            L10n.load({
                'de': {
                    'datepicker': {
                        placeholder: 'Wählen Sie ein Datum',
                        today: 'heute'
                    }
                },
                'en': {
                    'datepicker': {
                        placeholder: 'Choose a date',
                        today: 'Today'
                    }
                },
                'ar': {
                    'datepicker': {
                        placeholder: 'اختر تاريخا',
                        today: 'اليوم'
                    }
                }
            });
            loadCultureFiles('de');
            datepicker.locale = 'de';
        });
        function loadCultureFiles(name) {
            var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
            if (name === 'ar') {
                files.push('numberingSystems.json');
            }
            var loader = ej.base.loadCldr;
            var loadCulture = function (prop) {
                var val, ajax;
                if (name === 'ar' && prop === files.length - 1) {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
                } else {
                    ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
                }
                ajax.onSuccess = function (value) {
                    val = value;
                };
                ajax.send();
                loader(JSON.parse(val));
            };
            for (var prop = 0; prop < files.length; prop++) {
                loadCulture(prop);
            }
        }
    </script>

<style>
    #date_label {
        display: block;
        width: 248px;
        color: rgba(0, 0, 0, 0.58);
        margin-left: 5px;
    }

    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }

    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }

    #propertySection {
        margin: 0 auto;
    }
</style>

@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DatePicker has been configured with
            <code>German</code> culture. To change this current culture, go to the properties panel at the right side and select a culture from
            the available options. For mobile mode touch the icon at the right side and select a culture from the available options.
        </p>
    </div>

}
@section Description{
    <div id="description">
        <p>
            The DatePicker component is rendered with
            <code>German</code> culture. Here, the date separator, week header, and month text content are updated based on the current culture.
            You can also change the component culture by selecting it from the culture options in the properties panel.
        </p>
        <p>
            More information on the globalization configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/datepicker/globalization/" target="_blank" aria-label="documentation section"> documentation section</a>.
        </p>
    </div>

}
