@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2
@model EJ2MVCSampleBrowser.Controllers.TextBoxModal

@section ControlsSection{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-lg-12 control-section">
            <div id="wrapper">
                @Html.EJS().TextBoxFor(model => model.firstname).Placeholder("First Name").FloatLabelType(FloatLabelType.Auto).Render()
                <div>
                    @Html.ValidationMessageFor(model => model.firstname)
                </div>
                <div id="submitbutton">
                    @Html.EJS().Button("btn").Content("Post").Render()
                </div>
            </div>
        </div>

    }

    @*custom code start*@
    <style>
        #wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }

        #submitbutton {
            margin-top: 20px;
            margin-left: 65px;
        }

        #control-content #wrapper .field-validation-error {
            color: red;
        }
    </style>
    @*custom code end*@

}
@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates strongly typed helper of <code>TextBox</code>. Edit the TextBox's value and click on 'Submit' button to pass the modified value to controller.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this sample, the TextBox is rendered with strongly typed helper(FOR control) and bind its value from Controller using model binding. The modified value is bind to controller action "TextboxFor" when submit a page.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the TextboxFor in ASP.NET MVC Textbox control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC Textbox TextboxFor Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of TextboxFor in ASP.NET MVC Textbox Control</h1>
                }