@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids
@{
    ViewData["Title"] = "DefaultFunctionalities";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().TreeGrid("DefaultFunctionalities").DataSource((IEnumerable<object>)ViewData["datasource"]).Columns(col =>
       {
           col.Field("TaskId").HeaderText("Task ID").Width(90).TextAlign(TextAlign.Right).Add();
           col.Field("TaskName").HeaderText("Task Name").ShowCheckbox(true).Width(180).ClipMode(ClipMode.EllipsisWithTooltip).Add();
           col.Field("StartDate").HeaderText("Start Date").Format("yMd").TextAlign(TextAlign.Right).Width(120).Add();
           col.Field("EndDate").HeaderText("End Date").Format("yMd").TextAlign(TextAlign.Right).Width(120).Add();
           col.Field("Duration").HeaderText("Duration").Width(90).TextAlign(TextAlign.Right).Add();
           col.Field("Progress").HeaderText("Progress").Width(90).TextAlign(TextAlign.Right).Add();

       }).Height(400).ChildMapping("Children").AutoCheckHierarchy(true).TreeColumnIndex(1).Render()
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Checkbox Column in ASP.NET MVC Tree Grid control. Explore here for more details."/>
                }


@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the checkbox column selection functionality of Tree Grid. Click on any parent record checkbox then the child record checkboxes will get selected and parent record checkbox will get selected while checking all of its child items.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The Tree Grid component can be rendered with checkbox on existing column and also this can be enabled by <code>ShowCheckbox</code> property as true in columns API.
        </p>
        <p>
            For hierarchy selection between the records, we need to enable the <code>AutoCheckHierarchy</code> property.
        </p>
        <p>
            While using Tree Grid in a touch device, you have an option to select the checkboxes by tapping on the checkbox.
        </p>
        <p>
            More information about checkbox column can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/tree-grid/columns/columns-mvc#checkbox-column" aria-label="documentation section" >documentation<span class="sr-only">opens in a new tab</span></a> section.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Tree Grid Checkbox Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checkbox Column in ASP.NET MVC Tree Grid Control</h1>
                }