@using Syncfusion.EJ2
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
{

}
@{
    ViewData["Title"] = "Clipboard";
}

@*custom code end*@

@section ControlsSection{

    @{

        List<object> toolbar = new List<object>();
        toolbar.Add(new { text = "Copy", tooltipText = "Copy", prefixIcon = "e-copy", id = "copy" });
        toolbar.Add(new { text = "Copy With Header", tooltipText = "Copy With Header", prefixIcon = "e-copy", id = "copyHeader" });
    }

    <div class="col-lg-9 control-section">
        <div class="control-wrapper">
            <div class="control-section">
                @(Html.EJS().TreeGrid("TreeGrid")
                    .DataSource((IEnumerable<object>)ViewData["datasource"])
                    .AllowPaging()
                    .Toolbar(toolbar)
                    .ToolbarClick("toolbarClick")
                    .SelectionSettings(sel =>
                    {
                        sel.Type(SelectionType.Multiple);
                    })
                    .PageSettings(p => p.PageSize(10))
                    .AllowSelection()
                    .Columns(col =>
                    {
                        col.Field("TaskId").HeaderText("Task ID").Width(80).TextAlign(TextAlign.Right).Add();
                        col.Field("TaskName").HeaderText("Task Name").Width(200).Add();
                        col.Field("StartDate").HeaderText("Start Date").Format("yMd").TextAlign(TextAlign.Right).Width(100).Add();
                        col.Field("Duration").HeaderText("Duration").TextAlign(TextAlign.Right).Width(90).Add();
                        col.Field("Progress").HeaderText("Progress").TextAlign(TextAlign.Right).Width(90).Add();
                    })
                    .ChildMapping("Children")
                    .TreeColumnIndex(1)
                    .Height(350)
                    .Render()
                )
            </div>
            @Html.EJS().Dialog("alert_dialog").AnimationSettings(new DialogAnimationSettings() { Effect = DialogEffect.None }).Header("Copy with Header").Content("Atleast one row should be selected to copy with header").Visible(false).Width("300px").Target(".control-section").Buttons((List<DialogDialogButton>)ViewData["alertbutton"]).Render()
        </div>
    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%;">
            <tr>
                <td class="left-side">Hierarchy Mode</td>
                <td>
                    @Html.EJS().DropDownList("SearchMode").DataSource((IEnumerable<object>)ViewData["dropdata"]).Width("100px").Value("Parent").Fields(new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings { Text = "id", Value = "mode" }).Change("onChange").Render()
                </td>
            </tr>
        </table>
    </div>

    <script>
        function toolbarClick(args) {
            if (this.getSelectedRecords().length > 0) {
                var withHeader = false;
                if (args.item.id === 'copyHeader') {
                    withHeader = true;
                }
                this.copy(withHeader);
            } else {
                var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
                dialogObj.show();
            }
        }
        function onChange(e) {
            var mode = e.value;
            var treegrid = document.getElementById("TreeGrid").ej2_instances[0];
            treegrid.copyHierarchyMode = mode;

        }
        function alertBtnClick() {
            var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
            dialogObj.hide();
        }
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Clipboard in ASP.NET MVC Tree Grid control. Explore here for more details."/>
                }


@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates copy to clipboard functionality of the Tree Grid component. Select rows and click Copy
            button from toolbar to copy content. To copy with header click Copy with header button from toolbar.
        </p>
    </div>
}

@section Description{
    <p>
        Selected rows or cells data in the Tree Grid can be copied into the clipboard using the Keyboard shortcuts and
        <code>copy</code> method.
    </p>
    <p>
        In this demo, selected rows data can be copied into the clipboard using the below Keyboard shortcuts or toolbar
        interactions.
        <ul>
            <li><code>Ctrl + C</code> - Selected rows or cells data without header.</li>
            <li><code>Ctrl + Shift + H</code> - Selected rows or cells data with header.</li>
        </ul>
    </p>
    <p>Tree Grid provides support for a set of copy modes with <code>copyHierarchyMode</code> property. The below are the type of copy mode available in Tree Grid. </p>
    <ul>
        <li>
            <code>Parent</code> - This is the default copy hierarchy mode in Tree Grid.
            Clipboard value have the selected records with its parent records, if the selected records not have any parent record then the selected record will be in clipboard.
        </li>
        <li><code>Child</code> - Clipboard value have the selected records with its child record, if the selected records do not have any child record then the selected records will be in clipboard.</li>
        <li>
            <code>Both</code> - Clipboard value have the selected records with its both parent and child record.
            If the selected records do not have any parent and child record then the selected records will be in clipboard.
        </li>
        <li><code>None</code> - Only the Selected records will be in clipboard.</li>
    </ul>
    <p>
        While using the Tree Grid in a touch device environment, there is an option for multi-selection
        through single tap on the row and it will show a popup with the multi-selection symbol.
        Tap the icon to enable multi-selection in a single tap and click for the toolbar to copy the selected records into clipboard.
    </p>
    <p>
        More information on the Clipboard feature can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/documentation/treegrid/clipboard/" aria-label="documentation section">
            documentation section
        <span class="sr-only">opens in a new tab</span></a>.
    </p>

}

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Tree Grid Clipboard Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Clipboard in ASP.NET MVC Tree Grid Control</h1>
                }