@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids

@*custom code start*@

@{
    ViewData["Title"] = "ColumnChooser";
}

@*custom code end*@

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().TreeGrid("ColumnChooser").DataSource((IEnumerable<object>)ViewData["datasource"]).ShowColumnChooser(true).Columns(col =>
   {
       col.Field("TaskId").HeaderText("Task ID").Width(90).TextAlign(TextAlign.Right).Add();
       col.Field("TaskName").HeaderText("Task Name").Width(180).ShowInColumnChooser(false).Add();
       col.Field("StartDate").HeaderText("Start Date").Format("yMd").TextAlign(TextAlign.Right).Width(120).Add();
       col.Field("EndDate").HeaderText("End Date").Format("yMd").TextAlign(TextAlign.Right).Width(120).Add();
       col.Field("Duration").HeaderText("Duration").Width(90).TextAlign(TextAlign.Right).Add();
       col.Field("Progress").HeaderText("Progress").Width(90).TextAlign(TextAlign.Right).Add();

   }).ChildMapping("Children").Height(350).TreeColumnIndex(1).AllowPaging().PageSettings(page => page.PageCount(5)).Toolbar(new List<string>() { "ColumnChooser" }).Render()
    </div>
}

@*custom code start*@



@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Tree Grid column chooser feature. Click or Tap the column chooser
            icon in the toolbar to open column chooser and you can select columns to hide/show from the checkbox list.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Column Chooser in ASP.NET MVC Tree Grid control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            The Tree Grid columns can be shown/hidden dynamically by using column chooser. To enable column chooser behavior, set <code>
                ShowColumnChooser
            </code> property as true. You can also prevent the display of a column in column chooser by setting
            <code>Columns->ShowInColumnChooser</code> as false in columns definition.

        </p>
        <br />
        <p>
            In this demo, when the user clicks or taps column chooser icon from the toolbar then the column chooser menu will open. User can
            show or hide the columns by changing the state of the checkbox.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Tree Grid Column Chooser Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Chooser in ASP.NET MVC Tree Grid Control</h1>
                }