@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids

@*custom code start*@

@{
    ViewData["Title"] = "Pager";
}

@*custom code end*@

@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().TreeGrid("Pager")
            .AllowPaging()
            .DataSource((IEnumerable<object>)ViewData["datasource"])
            .PageSettings(page => page.PageSizes(true).PageCount(2))
            .Columns(col =>
            {
                col.Field("TaskId").HeaderText("Task ID").Width(70).TextAlign(TextAlign.Right).Add();
                col.Field("TaskName").HeaderText("Task Name").Width(200).Add();
                col.Field("StartDate").HeaderText("Start Date").Format("yMd").TextAlign(TextAlign.Right).Width(90).Add();
                col.Field("EndDate").HeaderText("End Date").Format("yMd").TextAlign(TextAlign.Right).Width(90).Add();
                col.Field("Duration").HeaderText("Duration").Width(80).TextAlign(TextAlign.Right).Add();
                col.Field("Progress").HeaderText("Progress").Width(80).TextAlign(TextAlign.Right).Add();
                col.Field("Priority").HeaderText("Priority").Width(90).Add();
            })
            .ChildMapping("Children")
            .TreeColumnIndex(1)
            .Height(350)
            .Render()
        )
    </div>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Paging in ASP.NET MVC Tree Grid control. Explore here for more details."/>
                }


@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Tree Grid paging feature. In this sample, click the numeric items to navigate to another page.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
           Paging allows you to display the contents of the Tree Grid in page segments. By default, paging is disabled. 
           To enable paging, set <code>AllowPaging</code> property to true. 
        </p>
        <p>
            In this demo, the Tree Grid is rendered with <code>PageSettings->PageSizes</code> set to true and have an option to change the pagesize of Tree Grid dynamically.
        </p>
        <p>More information on the paging configuration can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/tree-grid/paging#pager-with-page-size-dropdown" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Tree Grid Default Paging Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Paging in ASP.NET MVC Tree Grid Control</h1>
                }