@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids

@*custom code start*@

@{
    ViewData["Title"] = "HeaderTemplate";
}
@*custom code end*@

@section ControlsSection{
    <div class="control-section" role="region" aria-label="Tree Grid Overview">
        @Html.EJS().TreeGrid("TreeGrid").DataSource((IEnumerable<object>)ViewData["datasource"]).Columns(col =>
       {
           col.Field("Name").HeaderTemplate("#projectName").Width(200).Add();
           col.Field("StartDate").HeaderTemplate("#dateTemplate").Format("yMd").TextAlign(TextAlign.Right).Width(140).Add();
           col.Field("Resources").HeaderTemplate("#resource").Width(130).TextAlign(TextAlign.Right).Add();
           col.Field("Duration").HeaderTemplate("#durationTemplate").Width(110).TextAlign(TextAlign.Right).Add();
           col.Field("PercentDone").HeaderTemplate("#progressTemplate").Width(100).TextAlign(TextAlign.Right).Add();
       }).Height(410).ChildMapping("Children").TreeColumnIndex(0).Render()
    </div>
    <script type="text/x-template" id="resource">
        <div>
            <div>
                <img src="../Content/images/treegrid/Resources.png" alt="Resource" width="20" height="20" style="padding-bottom: 1px" class="resources" />
                <span>&nbsp;Resources</span>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="projectName">
        <div>
            <div>
                <img src="../Content/images/treegrid/Taskname.png" alt="Taskname" width="20" height="20" style="padding-bottom: 1px" class="taskname" />  
                <span>&nbsp;Task Name</span>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="dateTemplate">
        <div>
            <div>
                <img src="../Content/images/treegrid/Startdate.png" alt="StartDate" width="20" height="20" class="startdate" />
                <span>&nbsp;Start Date</span>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="durationTemplate">
        <div>
            <div>
                <img src="../Content/images/treegrid/duration.png" alt="Duration" width="20" height="20" style="padding-bottom: 2px" class="duration" /> 
                <span>&nbsp;Duration</span>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="progressTemplate">
        <div>
            <div>
                <img src="../Content/images/treegrid/progress.png" alt="Progress" width="20" height="20" style="padding-bottom: 2px" class="Progress" />  
                <span>&nbsp;Progress</span>
            </div>
        </div>
    </script>

}

@*custom code start*@
<style>
    .material-dark img.resources, .material3-dark img.resources, .fabric-dark img.resources, .bootstrap-dark img.resources, .bootstrap4-dark img.resources, .bootstrap5-dark img.resources, .bootstrap5\.3-dark img.resources, .highcontrast img.resources,
    .tailwind-dark img.resources, .tailwind3-dark img.resources, .fluent-dark img.resources, .fluent2-dark img.resources, .fluent2-highcontrast img.resources {
        content: url('../Content/images/treegrid/darkResources.png');
    }
    .material-dark img.taskname, .material3-dark img.taskname, .fabric-dark img.taskname, .bootstrap-dark img.taskname, .bootstrap4-dark img.taskname, .bootstrap5-dark img.taskname, .bootstrap5\.3-dark img.taskname, .highcontrast img.taskname,
    .tailwind-dark img.taskname, .tailwind3-dark img.taskname, .fluent-dark img.taskname, .fluent2-dark img.taskname, .fluent2-highcontrast img.taskname {
        content: url('../Content/images/treegrid/darkTaskname.png');
    }
    .material-dark img.startdate, .material3-dark img.startdate, .fabric-dark img.startdate, .bootstrap-dark img.startdate, .bootstrap4-dark img.startdate, .bootstrap5-dark img.startdate, .bootstrap5\.3-dark img.startdate, .highcontrast img.startdate,
    .tailwind-dark img.startdate, .tailwind3-dark img.startdate, .fluent-dark img.startdate, .fluent2-dark img.startdate, .fluent2-highcontrast img.startdate {
        content: url('../Content/images/treegrid/darkStartname.png');
    }
    .material-dark img.duration, .material3-dark img.duration, .fabric-dark img.duration, .bootstrap-dark img.duration, .bootstrap4-dark img.duration, .bootstrap5-dark img.duration, .bootstrap5\.3-dark img.duration, .highcontrast img.duration,
    .tailwind-dark img.duration, .tailwind3-dark img.duration, .fluent-dark img.duration, .fluent2-dark img.duration, .fluent2-highcontrast img.duration {
        content: url('../Content/images/treegrid/darkduration.png');
    }
    .material-dark img.Progress, .material3-dark img.Progress, .fabric-dark img.Progress, .bootstrap-dark img.Progress, .bootstrap4-dark img.Progress, .bootstrap5-dark img.Progress, .bootstrap5\.3-dark img.Progress, .highcontrast img.Progress,
    .tailwind-dark img.Progress, .tailwind3-dark img.Progress, .fluent-dark img.Progress, .fluent2-dark img.Progress, .fluent2-highcontrast img.Progress {
        content: url('../Content/images/treegrid/darkprogress.png');
    }
    .bootstrap5 img.taskname, .bootstrap5 img.duration, .bootstrap5 img.Progress, .bootstrap5\.3 img.taskname, .bootstrap5\.3 img.duration, .bootstrap5\.3 img.Progress, .tailwind img.resources, .tailwind img.taskname, .tailwind img.startdate,
    .tailwind img.duration, .tailwind img.Progress {
        padding-bottom: 3px !important;
    }
    .bootstrap5 img.resources, .bootstrap5 img.startdate, .bootstrap5\.3 img.resources, .bootstrap5\.3 img.startdate {
        padding-bottom: 2px !important;
    }
    .bootstrap4 img.startdate, .material img.startdate, .bootstrap img.startdate, .bootstrap5\.3 img.startdate {
        padding-bottom: 1px;
    }
</style>

@section Meta{
                    <meta name="description" content="This example demonstrates the Header Template in ASP.NET MVC Tree Grid control. Explore here for more details."/>
                }


@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Tree Grid header template feature. In this sample, we have shown custom icons in the column headers.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The Tree Grid provides a way to define a custom element in header element. <code>Columns->HeaderTemplate</code> property accepts either string or HTML element`s ID value, which will be used as the template for the header cell.
        </p>
        <p>In this demo, we are rendering customized template for all column headers.</p>
        <p>
            More information about Header template can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/tree-grid/columns/headers#header-template" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}

@*custom code end*@
@section Title{
                    <title>ASP.NET MVC Tree Grid Header Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Header Template in ASP.NET MVC Tree Grid Control</h1>
                }
