@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids
@{
    ViewBag.Title = "TextWrap";
}

@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().TreeGrid("TreeGrid")
            .DataSource((IEnumerable<object>)ViewBag.datasource)
            .AllowTextWrap()
            .AllowPaging()
            .PageSettings(p => p.PageSize(8))
            .Columns(col =>
               {
                   col.Field("TaskId").HeaderText("Task ID").Width(90).TextAlign(TextAlign.Right).Add();
                   col.Field("TaskName").HeaderText("Task Name").Width(100).Add();
                   col.Field("StartDate").HeaderText("Start Date").Format("yMd").TextAlign(TextAlign.Right).Width(90).Add();
                   col.Field("Duration").HeaderText("Duration").Width(90).TextAlign(TextAlign.Right).Add();
                   col.Field("Progress").HeaderText("Progress").Width(90).TextAlign(TextAlign.Right).Add();
                   col.Field("Priority").HeaderText("Priority").Width(90).Add();
               })
            .ChildMapping("Children")
            .TreeColumnIndex(1)
            .Render()
       )
    </div>
}

@section Meta{
    <meta name="description" content="This demo explains how to wrap the content of columns within the specified width of treegrid columns in Essential JS2 TreeGrid control." />
}


@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the TreeGrid component with the auto wrap column cell feature. In this sample, you can see that Task Name column cell content exceeded the available width hence it has been wrapped into multiple lines.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            Auto wrap cell content can be enabled using <code>AllowTextWrap</code> property of the TreeGrid. Setting this property will wrap cell text on multiple lines. This feature is useful to view the cell content when it exceeds the cell width.
        </p>
        <p>Setting this property will wrap the text in both content cell and header cell.</p>
        <p>
            In this demo, the <code>AllowTextWrap</code> property is enabled, and you can also see that the Task Name column whose content exceeded the cell width is wrapped into multiple lines.
            More information on the TreeGrid instantiation can be found in this documentation section.
        </p>
    </div>
}