@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div id='tagList' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h3> Tags </h3>

                @Html.EJS().MultiSelect("tag").Placeholder("Select Tags").AllowFiltering(true).DataSource(
                              (IEnumerable<Tag>)ViewData["tagdata"]).Fields(new MultiSelectFieldSettings { Value = "ID", Text = "Text", Disabled = "State" }).Render()

            </div>
        </div>
        <div id='vegetableList' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h3> Vegetables </h3>

                @Html.EJS().MultiSelect("vegetable").Placeholder("Select Vegetables").DataSource(
                              (IEnumerable<VegetablesData>)ViewData["vegetabledata"]).Mode(VisualMode.CheckBox).Fields(new MultiSelectFieldSettings { GroupBy = "Category", Text = "Vegetable", Value = "ID", Disabled = "Status" }).Render()

            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .content {
            margin: 0 auto;
            width: 250px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the Disabled Items in ASP.NET MVC MultiSelect control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This example showcases the disabled items of MultiSelect. When you click on the MultiSelect the popup will open, and you will notice that the disabled items are greyed out and cannot be selected.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The MultiSelect provides options for individual items to be in either an enabled or disabled state for specific scenarios. Once an item is disabled, it cannot be selected as a value for the component. To configure the disabled item columns, use the <code>fields.disabled</code> property.</p>
    </div>
}

@section Title{
    <title>ASP.NET MVC MultiSelect Disabled Items Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Disabled Items in ASP.NET MVC MultiSelect Control</h1>
}