@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models
@using Newtonsoft.Json
@using Syncfusion.EJ2.DropDowns
@section ControlsSection{
    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <h4>Resize</h4>

            @Html.EJS().MultiSelect("list").AllowResize(true).Placeholder("Select countries").DataSource(
                    (IEnumerable<Countries>)ViewData["data"]).Fields(new MultiSelectFieldSettings { Text = "Name", Value = "Code" }).Render()
        </div>
    </div>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }

        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
            padding-top: 15px
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }

        .e-multi-select-wrapper .e-chips > .e-chipcontent {
            max-width: 80%;
            white-space: nowrap;
            line-height: normal;
        }
    </style>


}

@section Meta{
                    <meta name="description" content="This example demonstrates the custom Resizing functionalities in ASP.NET MVC MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the custom resizing functionalities of the MultiSelect. You can adjust the size of the popup based on your preferences, allowing for better control over its appearance.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The MultiSelect can be customized to adjust the size of the popup using custom resizing functionalities. By setting AllowResize to true, you enable the ability to resize the popup, allowing you to control its dimensions according to your preferences and providing better management of its appearance.</p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC MultiSelect Dropdown Resize Example - Syncfusion Demos </title> 
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Custom Resize functionality in ASP.NET MVC MultiSelect Dropdown Control</h1>
                }