@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@section ControlsSection{
    <div class="control-section col-lg-8">
        <div class="control-wrapper">
            <h4>CheckBox</h4>
            @Html.EJS().MultiSelect("checkList").DataSource((IEnumerable<Countries>)ViewData["data"]).Mode(VisualMode.CheckBox).Placeholder("Select countries").MaximumSelectionLength(3).ShowDropDownIcon(true).PopupHeight("350px").Fields(new MultiSelectFieldSettings { Value = "Code", Text = "Name" }).Render()
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div id="property" title="Properties">
            <table id="property" title="Properties">
                <tbody>
                    <tr>
                        <td>
                            <div>Selection Limit </div>
                        </td>
                        <td>
                            <div>
                                @Html.EJS().NumericTextBox("maxsel").Format("n0").Max(19).Value(3).Min(1).Render()
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div>
                                @Html.EJS().Button("buttonApply").CssClass("e-btn e-outline").Content("Apply").Render()
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <script type="text/javascript">
        document.getElementById('buttonApply').onclick = function () {
            var checkList = document.getElementById('checkList').ej2_instances[0];
            var maxsel = parseFloat((document.getElementById('maxsel')).value);
            checkList.value = null;
            checkList.maximumSelectionLength = maxsel;
        };
    </script>
    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Selection Limit in ASP.NET MVC MultiSelect Dropdown control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the maximum selection limit functionalities with checkbox of the MultiSelect. MultiSelect value can set restrictions based on the maximum selection length that can be selected.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The MultiSelect has built-in support to limit the value selected in Multiselect component. When the <code>maximumSelectionLength</code> property is set as 3, maximum of only 3 value will be selected in the MultiSelect.
        </p>

        <p>The selection limit sample illustrates  using the countries data. </p>

    </div>
}
@section Title{
                    <title>ASP.NET MVC MultiSelect Dropdown Selection Limit Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Selection Limit in ASP.NET MVC MultiSelect Dropdown Control</h1>
                }