@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2.DropDowns

@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="control-section" id="predefinedDialogAnimation">
            @Html.EJS().Button("confirmBtn").Content("Confirm").CssClass("e-success").Render()
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div id="animationDrop">
            @Html.EJS().DropDownList("effects").Placeholder("Animation effect").FloatLabelType(FloatLabelType.Always).PopupHeight("220px").Index(2).DataSource(
        (IEnumerable<object>)ViewData["data"]).Change("valueChange").Fields(new DropDownListFieldSettings { Text = "Effect", Value = "Id" }).Render()
        </div>
    </div>
}
@section PreScripts {
    <script>
        var effect;
        var dialogArgs = {
            title: ' Delete Multiple Items',
            content: "Are you sure you want to permanently delete these items?",
            animationSettings: { effect: 'Zoom', delay: 0, duration: 400 },
            position: { X: 'center', Y: 'center' },
            width: '420px',
            closeOnEscape: true
        };
        var button = new ej.buttons.Button({});
        button.appendTo('#confirmBtn');
        document.getElementById('confirmBtn').onclick = function () {
            ej.popups.DialogUtility.confirm(dialogArgs);
        };
        function valueChange() {
            var listObj = document.getElementById('effects').ej2_instances[0];
            effect = listObj.value;
            dialogArgs.animationSettings.effect = effect;
        }
    </script>
    <style>
        #predefinedDialogAnimation {
            margin: 0 0 0 15px;
        }
        #animationDrop {
            margin-top: 15px;
        }
    </style>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates how to show and hide the predefined dialog using a variety of animation effects. The dropdown item that displays the animation effects can be selected and set to it.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The dialog can be opened or closed with an animation effect using the <code>animationSettings</code> property. You can also customize the duration of the animation and delay to begin the animation or disable the dialog's animation by setting the animation effect as none.
        </p>
        <p>
            <b>See also</b>
        </p>
        <ul>
            <li>
                <a target="_blank"
                   href="https://ej2.syncfusion.com/aspnetmvc/documentation/dialog/how-to/render-a-dialog-using-utility-functions" aria-label="documentation section" >
                    Documentation section
                <span class="sr-only">opens in a new tab</span></a>
            </li>
        </ul>
    </div>
}

@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the Animation in ASP.NET MVC Predefined Dialogs control. Explore here for more details." />
}

@*custom code end*@
@section Title{
    <title>ASP.NET MVC Predefined Dialogs Animation Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Animation in ASP.NET MVC Predefined Dialogs Control</h1>
}