@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2
@section ControlsSection {
    <div class="col-lg-8 control-section resize">
        <div id="textarea-resize" class="content-wrapper">
            <div class="resize-row">
                @Html.EJS().TextArea("resize").Placeholder("Enter your comments").FloatLabelType(FloatLabelType.Auto).Rows(5).Cols(300).Render()
            </div>
        </div>
    </div>  

    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" class="resize-property">
            <tr>

                <td class="left-side">Resize Mode </td>
                <td>
                    @Html.EJS().DropDownList("select").PopupHeight("200px").Text("Vertical").DataSource(
                                            (IEnumerable<resizeValues>)ViewData["data"]).Change("resizeHandler").Fields(new DropDownListFieldSettings { Text = "text", Value = "resizeValue" }).Render()
                </td>
            </tr>
        </table>
    </div>
}
   @*custom code start*@
<style>
    .content-wrapper div.resize-row {
        margin: 30px 150px;
    }

    .resize-property .left-side {
        font-size: 14px;
        padding: 8px;
    }

    #textarea-resize .e-multi-line-input {
        max-width: 100%;
    }
</style>
    @*custom code end*@
<script type="text/javascript">
    function resizeHandler(args) {
            var textareaObj = document.getElementById('resize').ej2_instances[0];
            switch (args.value) {
                case 'Both':
                    textareaObj.resizeMode = 'Both';
                    break;
                case 'Vertical':
                    textareaObj.resizeMode = 'Vertical';
                    break;
                case 'Horizontal':
                    textareaObj.resizeMode = 'Horizontal';
                    break;
                case 'None':
                    textareaObj.resizeMode = 'None';
                    break;
            }
        }
</script>
@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates the resize functionalities of the textarea control.
            Choose the corresponding resizeMode option from the property panel to update the resize behavior in the textarea.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>The textarea can be resized vertically, horizontally, or in both directions by selecting the following corresponding options:</p>
        <ul>
            <li>Choose resizeMode options such as 'Both', 'Vertical', 'Horizontal', or 'None' to control the resize behavior of the textarea.</li>
        </ul>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the resize behaviour in ASP.NET MVC TextArea control. Explore here for more details."/>
                }

@section Title{
                    <title>ASP.NET MVC TextArea Resize Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of resize in ASP.NET MVC TextArea Control</h1>
                }