@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section" align="center">
        @Html.EJS().CircularChart3D("container").Rotation(15).Tilt(-15).Title("Population Density per Square Kilometer by Country"
        ).Series(series =>
        {
            series.XName("X").YName("Y").TooltipMappingName("R").InnerRadius("20%").Radius("R").Animation(an => an.Enable(false))
            .DataLabel(dl => dl.Visible(true).EnableRotation(true).Name("Text").Font(ft => ft.FontWeight("600")).ConnectorStyle(cl => cl.Length("20px"))).
            DataSource(ViewData["ChartData"]).Add();
        }).Tooltip(tt => tt.Enable(true).Format("<b>${point.x}</b><br/>Area in square km: <b>${point.y} </b> <br/> Population density per square km: <b>${point.tooltip}</b>")
        ).LegendSettings(leg => leg.Visible(true).Reverse(true)).Load("load").Render()
    </div>

    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/CircularChart3D/theme-color.js"></script>
    <script>
        function load(args) {
            loadCircular3DChartTheme(args);
            args.chart.series[0].dataLabel.position = ej.base.Browser.isDevice ? "Inside" : "Outside";
            args.chart.series[0].dataSource[0].Radius = ej.base.Browser.isDevice ? "110" : "100";
            args.chart.series[0].dataSource[1].Radius = ej.base.Browser.isDevice ? "120" : "118.7";
            args.chart.series[0].dataSource[3].Radius = ej.base.Browser.isDevice ? "104.6" : "124.6";
            args.chart.series[0].dataSource[4].Radius = ej.base.Browser.isDevice ? "130.8" : "150.8";
            args.chart.series[0].dataSource[5].Radius = ej.base.Browser.isDevice ? "135.5" : "155.5";
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the 3D Circular Chart Pie with Various Radius in ASP.NET MVC 3D Circular Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample compares countries by population density and total area using various radii in a 3D pie series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render a 3D donut chart with varying radii. You can use the <code>Radius</code> mapping property to achieve this feature. The data labels are used to represent individual data and its values. In addition, the sample shows how to change the order of legend for the donut chart by using the <code>Reverse</code> property.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point on touch-enabled devices.
    </p>
}
@section Title{
    <title>ASP.NET MVC 3D Circular Chart Pie with Various Radius Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of 3D Circular Chart Pie with Various Radius in ASP.NET MVC 3D Circular Chart Control</h1>
}

