@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
    <div class="control_wrapper">
             @Html.EJS().TreeView("multiple").AllowMultiSelection(true).Fields((TreeViewFieldsSettings)ViewData["multipleFields"]).Render()
       
        </div>
    </div>
<!-- custom code start -->
<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    @@media screen and (max-width: 768px) {
        .treeview-control-section {
            margin: 0;
        }
    }
</style>
    <!-- custom code end -->
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Multiple Selection in ASP.NET MVC TreeView control. Explore here for more details."/>
                }

@section ActionDescription{

 <div id="action-description">
    <p>This <a href="https://www.syncfusion.com/aspnet-mvc-ui-controls/treeview" target="_blank" aria-label="ASP.NET MVC TreeView example">ASP.NET MVC TreeView example<span class="sr-only">opens in a new tab</span></a> demonstrates the multiple node selection functionalities of the TreeView. To select multiple nodes, press the CTRL key and select the desired nodes; or select any node and by pressing SHIFT key select another node, this selects all the nodes in-between the selected nodes.</p>
</div>



}
@section Description{

   <div id="description">
    <p>The <code>TreeView</code> component allows to select multiple nodes by enabling the <code>allowMultiSelection</code> property.</p>
    <p>In this demo, the TreeView is enabled with multiple selection</p>
    <p>For more information, refer to the <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/treeview/multiple-selection/" target="_blank" aria-label="Multi Selection">Multi Selection<span class="sr-only">opens in a new tab</span></a> section from the documentation.</p>
</div>


}


@section Title{
                    <title>ASP.NET MVC TreeView Multiple Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multiple Selection in ASP.NET MVC TreeView Control</h1>
                }