@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
    <div class="control_wrapper">
             @Html.EJS().TreeView("rtl").EnableRtl(true).Fields(ViewBag.rtlFields).Render()
       
        </div>
    </div>
<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    @@media screen and (max-width: 768px) {
        .treeview-control-section {
            margin: 0;
        }
    }
</style>
}

@section Meta{
    <meta name="description" content="This sample demonstrates the right to left direction (RTL) direction of the tree view node." />
}

@section ActionDescription{

  <div id="action-description">
    <p>This sample demonstrates the RTL mode of the TreeView. The node displays its content from right-to-left direction. Click on node to select it, and click on icon or double click on node to expand/collapse it.</p>
</div>


}
@section Description{

<div id="description">
    <p>The <code>TreeView</code> component supports the <b>right-to-left</b> (RTL) direction of nodes, and this is enabled by the <code>enableRtl</code> property.</p>
</div>

}






