@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("CheckboxSelection").DataSource((IEnumerable<object>)ViewBag.dataSource).SelectionSettings(sel => { sel.PersistSelection(true); }).Columns(col =>
   {
       col.Type("checkbox").Width("50").Add();
       col.Field("Inventor").HeaderText("Inventor Name").IsPrimaryKey(true).Width("180").Add();
       col.Field("NumberofPatentFamilies").HeaderText("No of Patent Families").Width("195").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Country").HeaderText("Country").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Active").HeaderText("Active").Width("130").Add();
   }).AllowPaging().PageSettings(page=>page.PageCount(2)).EditSettings(edit => { edit.AllowDeleting(true); }).Toolbar(new List<string>() { "Delete" }).Render()
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the selection functionality of the Grid using checkbox selection, To select and unselect all rows use header checkbox.
     To select/unselect particular row, click the desired row. Delete one or more records using the toolbar delete button</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Checkbox Selection in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		 <p>
			Grid mutliple selection can be achieved with the help of checkbox in each row. To render checkbox in each grid row, you need
			to define column type as <code>CheckBox</code> using
			<code>Columns->Type</code> property.</p>
		<p>Selection can be persisted on all the operations using
			<code>SelectionSettings-> PersistSelection</code> property. For persisting selection on the Grid, any one of the column should be defined as a
			primary key using
			<code>Columns->IsPrimaryKey</code> property.
		</p>

		<p>In this demo, Grid mutliple selection has been enabled with the selection persistance. You can also delete multiple records,
        by clicking the toolbar’s <code>Delete</code> button after selecting the checkboxes.
		</p>
	</div>
}
@section Title{
                    <title>ASP.NET MVC Data Grid Checkbox Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Checkbox Selection in ASP.NET MVC Data Grid Control</h1>
                }