@using Syncfusion.EJ2
@{
    ViewData["Title"] = "ColumnMenu";
}

@section ControlsSection{
    <div class="col-lg-9 control-section">
        @Html.EJS().Grid("ColumnMenu").DataSource((IEnumerable<object>)ViewData["dataSource"]).ShowColumnMenu(true).AllowSorting().AllowFiltering(true).AllowGrouping().Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).IsPrimaryKey(true).ValidationRules(new { required = true, number = true }).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").ShowInColumnChooser(false).ValidationRules(new { required = true, minLength = 5 }).Add();
       col.Field("Freight").HeaderText("Freight").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("numericedit").ValidationRules(new { required = true, min = 0 }).Add();
       col.Field("ShipName").HeaderText("Ship Name").Width("150").Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();
	   col.Field("ShipCity").HeaderText("Ship City").Width("150").Add();
       
   }).FilterSettings(filter=> { filter.Type(Syncfusion.EJ2.Grids.FilterType.CheckBox); }).SelectionSettings(select => select.AllowColumnSelection(true)).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).GroupSettings(group=>group.ShowGroupedColumn(true)).AllowPaging().PageSettings(page=>page.PageCount(2)).Render()
    </div>
	<div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tr>
                <td style="width: 40%">
                    <div style="padding-top: 7px">Column Menu</div>
                </td>
                <td style="width: 60%;padding-right: 10px">
                    <div id='typeddl'>
                @Html.EJS().DropDownList("ColumnMenuDD").DataSource((IEnumerable<object>)ViewData["ddData"]).Value("Default").Change("change").Width("120").Render()
                    </div>
                </td>
            </tr>
        </table>
    </div>

	    <style>
        #typeddl {
            min-width: 100px;
        }
    </style>
    <script>
        function columnMenuClick(args) {
            var grid = document.getElementById("ColumnMenu").ej2_instances[0];
			if (args.item.id === 'select_column') {
				grid.selectionModule.selectColumn(args.column.index);
				// custom function
			} else if (args.item.id === 'clear_column') {
				// custom function
				grid.selectionModule.clearColumnSelection();
			}
        }
        function change(args) {
            var grid = document.getElementById("ColumnMenu").ej2_instances[0];
            var gridMenuOption = args.value;
			if (gridMenuOption == 'Custom') {
				let columnMenuItems = [
					'SortAscending',
					'SortDescending',
					'Group',
					'Ungroup',
					'Filter',
					{ text: 'Select Column', id: 'select_column' },
					{ text: 'Clear column selection', id: 'clear_column' },
				];
                grid.columnMenuClick = columnMenuClick;
				grid.columnMenuItems = columnMenuItems;
			} else {
				grid.columnMenuClick = undefined;
				grid.columnMenuItems = undefined;
			}
        }
    </script >
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the default functionalities of the ColumnMenu. Click the icon of each column to open the column menu.</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Menu in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            The grid provides an option to display a column menu when the user clicks the icon on each column. This menu includes integrated features like sorting, 
            grouping, filtering, column chooser, and auto-fitting. These features can be enabled by setting the <code>showColumnMenu
            </code> property to `true`. The default menu items include:
        <br/>
        </p>
        <ul>
                <li><code>SortAscending</code>: Sort the current column in ascending order.</li>
                <li><code>SortDescending</code>: Sort the current column in descending order.</li>
                <li><code>Group</code>: Group the current column.</li>
                <li><code>Ungroup</code>: Ungroup the current column.</li>
                <li><code>AutoFit</code>: Auto-fit current column.</li>
                <li><code>AutoFitAll</code>: Auto-fit all columns.</li>
                <li><code>ColumnChooser</code>:  Toggle column visibility.</li>
                <li><code>Filter</code>: Display the filter option as specified in the <code>filterSetting-&gt;type</code>.</li>
        </ul>
        
        <br/>
        <p>
            The default column menu items are enabled based on the corresponding feature settings. Additionally, the column menu allows users to include  
            custom menu items with the default ones, or the replacement of the default items entirely with custom options.
        </p>
        <p>
            In this demo, the Column Menu feature is initially enabled by setting <code>showColumnMenu
            </code> to `true`, with sorting, grouping, filtering, column chooser, 
            and auto-fit options. Users also have the option to toggle custom column menu items through using the dropdown list in the property panel. In the custom menu, sorting, grouping, 
            and filtering are enabled, and custom options like column selection and clear selection have been added.
            
        </p>

    </div>
}
@section Title{
                    <title>ASP.NET MVC Data Grid Column Menu Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Menu in ASP.NET MVC Data Grid Control</h1>
                }
