@using Syncfusion.EJ2
@{
    ViewData["Title"] = "ColumnChooser";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("ColumnChooser").DataSource((IEnumerable<object>)ViewData["dataSource"]).ShowColumnChooser(true).Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).ShowInColumnChooser(false).IsPrimaryKey(true).ValidationRules(new { required = true, number = true }).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").ShowInColumnChooser(false).ValidationRules(new { required = true, minLength = 5 }).Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("datepickeredit").Add();
       col.Field("Freight").HeaderText("Freight").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("numericedit").ValidationRules(new { required = true, min = 0 }).Add();
       col.Field("ShippedDate").HeaderText("Shipped Date").Width("140").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("datepickeredit").Add();
       col.Field("ShipCity").Visible(false).HeaderText("Ship City").Width("150").Add();
       col.Field("ShipCountry").Visible(false).HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();

   }).AllowPaging().PageSettings(page=>page.PageCount(5)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "ColumnChooser" }).Render()
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the Grid column chooser feature. Click the column chooser
        icon in the toolbar to open column chooser and you can select columns to hide/show from the checkbox list. 
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Chooser in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>The Grid columns can be shown/hidden dynamically by using column chooser. To enable column chooser behavior, set <code>ShowColumnChooser
        </code> property as true. You can also prevent the display of a column in column chooser by setting
        <code>Columns->ShowInColumnChooser</code> as false in columns definition.

    </p>
    <br/>

    <p>
        In this demo, when the user clicks column chooser icon from the toolbar then the column chooser menu will open. User can
        show or hide the columns by changing the state of the checkbox.
    </p>	
    </div>
}

@section Title{
                    <title>ASP.NET MVC Data Grid Column Chooser Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Chooser in ASP.NET MVC Data Grid Control</h1>
                }