@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("ConditionalSelection").Height("400").DataSource((IEnumerable<object>)ViewData["dataSource"]).SelectionSettings(sel => { sel.PersistSelection(true).CheckboxOnly(true); }).Columns(col =>
   {
    col.Type("checkbox").Width("60").AllowEditing(false).Add();
    col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).Width("110").AllowEditing(false).Add();
    col.Field("CustomerName").HeaderText("Customer Name").Width("170").AllowEditing(false).Add();
    col.Field("Product").HeaderText("Product").Width("150").AllowEditing(false).Template("#productTemplate").Add();
    col.Field("Amount").HeaderText("Amount").Width("110").Format("C2").AllowEditing(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
    col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").AllowEditing(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
    col.Field("Status").HeaderText("Status").Width("150").EditType("dropdownedit").Template("#statusTemplate").Add();
   }).EnableVirtualization().IsRowSelectable("isRowSelectable").AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).EditSettings(edit => { edit.AllowEditing(true);}).Toolbar(new List<string>() { "Edit", "Update", "Cancel" }).Render()
</div>
<style>
    #ConditionalSelection .e-gridcontent .e-product-info,
    #ConditionalSelection .e-gridcontent .e-status-info {
        display: flex;
        align-items: center;
    }

    #ConditionalSelection .e-gridcontent .e-product-info img,
    #ConditionalSelection .e-gridcontent .e-status-info img {
        margin-right: 5px;
    }

    #ConditionalSelection .e-gridcontent .e-product-info img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .material3-dark #ConditionalSelection .e-gridcontent .e-status-info img,
    .bootstrap5\.3-dark #ConditionalSelection .e-gridcontent .e-status-info img,
    .fluent2-dark #ConditionalSelection .e-gridcontent .e-status-info img,
    .tailwind3-dark #ConditionalSelection .e-gridcontent .e-status-info img,
    .fluent2-highcontrast #ConditionalSelection .e-gridcontent .e-status-info img,
    .fluent-dark #ConditionalSelection .e-gridcontent .e-status-info img,
    .highcontrast #ConditionalSelection .e-gridcontent .e-status-info img {
        filter: brightness(0) invert(1);
    }

    .fluent2-highcontrast #ConditionalSelection .e-gridcontent .e-row:hover .e-status-info img,
    .fluent2-highcontrast #ConditionalSelection .e-gridcontent .e-rowcell.e-selectionbackground .e-status-info img {
        filter: none;
    }
</style>
<script type="text/x-template" id="productTemplate">
    <div class="e-product-info">
        <img src="@Url.Content("~/Content/images/product/${Product}.png")" alt="${Product}" />
        <span>${Product}</span>
    </div>
</script>
    <script type="text/x-template" id="statusTemplate">
    <div class="e-status-info">
        <img src="@Url.Content("~/Content/images/status/${Status}.svg")" alt="${Status}" />
        <span>${Status}</span>
    </div>
</script>
<script type="text/javascript">
    function isRowSelectable(data) {
        if (data.Status === "Canceled" || data.Status === "Delivered") {
            return false;
        }
        return true;
    }
</script>
}

@section ActionDescription{
	<div id="action-description">
        <p>This sample demonstrates the conditional row selection of the Data Grid using checkbox selection.
            It allows end-users to select only specific rows based on certain conditions.</p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Conditional Row Selection in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>In this demo, conditional row selection is implemented using the
            <code>IsRowSelectable</code> callback function.
            This callback function executes before the grid loads data, evaluates each row, and returns <strong>false</strong> for orders
            with <strong>Delivered</strong> or <strong>Canceled</strong> status.
        </p>
        <p>Selection is persisted by enabling <code>selectionSettings -> persistSelection</code>. With this setting, selected rows remain checked across all operations. Persist selection
            requires at least one column to be defined as a primary key using the <code>columns -> isPrimaryKey</a></code> property.</p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Data Grid Conditional Row Selection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Conditional Row Selection in ASP.NET MVC Data Grid Control</h1>
                }