@using Syncfusion.EJ2
@{
    ViewData["Title"] = "ContextMenu";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("FlatGrid").DataSource((IEnumerable<object>)ViewData["dataSource"]).AllowExcelExport(true).AllowPdfExport(true).EditSettings(edit=>edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true)).Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("160").Add();     
       col.Field("Freight").HeaderText("Freight").Width("120").EditType("numericedit").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCity").HeaderText("Ship City").Width("150").Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();

   }).AllowPaging().PageSettings(page=>page.PageCount(5)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).ContextMenuItems( new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending", "Copy", "Edit", "Delete", "Save", "Cancel", "PdfExport", "ExcelExport", "CsvExport", "FirstPage", "PrevPage", "LastPage", "NextPage" }).Render()
    </div>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the usage of context menu in Grid component. Right click anywhere on the Grid to view context
        menu.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Context Menu in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }


@section Description{
    <div id="description">
		<p>
			Grid has options to show the context menu when right click on it. To configure the items in context menu, you should define
			either default or custom item in
			<code>ContextMenuItems</code>. Each item will be shown based on it target. The default items are
			<br>
		</p>
		<ul>
			<li><code>Edit</code> - Edit the current record.</li>
			<li><code>Delete</code> - Delete the current record.</li>
			<li><code>Save</code> - Save the edited record.</li>
			<li><code>Cancel</code> - Cancel the edited state.</li>
			<li><code>Copy</code> - Copy the selected records.</li>
			<li><code>PdfExport</code> - Export the grid as Pdf format.</li>
			<li><code>ExcelExport</code> - Export the grid as Excel format.</li>
			<li><code>CsvExport</code> - Export the grid as CSV format.</li>
			<li><code>SortAscending</code> - Sort the current column in ascending order.</li>
			<li><code>SortDescending</code> - Sort the current column in descending order.</li>
			<li><code>FirstPage</code> - Go to the first page.</li>
			<li><code>PrevPage</code> - Go to the previous page.</li>
			<li><code>LastPage</code> - Go to the last page.</li>
			<li><code>NextPage</code> - Go to the next page.</li>
		</ul>

		<br/>
        <p>
            While using the Grid in a touch device environment, touch and hold the Grid row cell to show the context menu.
        </p>

		<p>
			In this demo, Context Menu feature has enabled by defining the <code> ContextMenuItems </code> property with all
			default items.

		</p>

    </div>
}

@section Title{
                    <title>ASP.NET MVC Data Grid Context Menu Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Context Menu in ASP.NET MVC Data Grid Control</h1>
                }