@using Syncfusion.EJ2
@{
    ViewData["Title"] = "DataTableBinding";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("LocalData").DataSource((System.Data.DataTable)ViewData["dataSource"]).Columns(col =>
   {
       col.Field("OrderID").HeaderText("Order ID").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Width("120").Add();
       col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Width("90").Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("70").Add();
       col.Field("Freight").HeaderText("Freight").Format("C2").Width("90").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("130").Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Format("yMd").Add();

   }).AllowPaging().Render()
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the way of data binding Grid component with DataTable.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the DataTable Binding in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }


@section Description{
    <div id="description">
        <p>
            <code>DataTable</code> represents a table with relational data which has in-built schema to work easily with data column and data row objects.
        </p>
        <p>
            You can bind DataTable to the grid by using DataSource property. While binding DataTable like above, grid actions such as Sorting, Filtering, Grouping, Paging etc., will handle at client side.
        </p>
        <p>
        <br /> More information about the DataTable can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/grid/data-binding/data-table" aria-label="documentation section">
            documentation section
        <span class="sr-only">opens in a new tab</span></a>.
        </p>

    </div>
}

@section Title{
                    <title>ASP.NET MVC Data Grid DataTable Binding Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DataTable Binding in ASP.NET MVC Data Grid Control</h1>
                }