@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("DynamicObjectGrid").DataSource((IEnumerable<object>)ViewData["DynamicData"]).AllowSorting().AllowFiltering().Columns(col =>
   {
       col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).Width("140").ValidationRules(new { required = true, number = true }).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").ValidationRules(new { required = true, minLength = 3 }).Add();
       col.Field("Freight").HeaderText("Freight").Width("140").EditType("numericedit").ValidationRules(new { required = true }).Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();
   }).AllowPaging().PageSettings(page => page.PageCount(2)).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true).Mode(Syncfusion.EJ2.Grids.EditMode.Normal); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows how to use DynamicObject data binding with CRUD operations, sorting and filtering in the Grid component.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the DynamicObject type data binding in ASP.NET MVC Data Grid control. Explore here for more details." />
}

@section Description{
    <div id="description">
        <p>
           The Grid supports DynamicObject data binding. The <code>DataSource</code> property can be assigned as list of DynamicObject.
        </p>
        <p>More information about data binding can be found in this
         <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/grid/databinding.html#datatable" aria-label="documentation">documentation <span class="sr-only">opens in a new tab</span></a>section.
        </p>
    </div>
}

@section Title{
    <title>ASP.NET MVC Data Grid DynamicObject type data binding Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of DynamicObject type data binding with Grid component in ASP.NET MVC Data Grid Control</h1>
}
