@using Syncfusion.EJ2
@{
    ViewData["Title"] = "EnableRtl";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("EnableRtl").DataSource((IEnumerable<object>)ViewData["dataSource"]).FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Menu); }).AllowFiltering().ShowColumnChooser(true).Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).ShowInColumnChooser(false).Add();
       col.Field("OrderDate").HeaderText("Order Date").AllowGrouping(false).EditType("datepickeredit").Width("130").Type("Date").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Freight").HeaderText("Freight").EditType("numericedit").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).EditType("dropdownedit").Add();

   }).AllowPaging().EditSettings(edit => { edit.AllowAdding(false).AllowEditing(true).AllowDeleting(false).Mode(Syncfusion.EJ2.Grids.EditMode.Normal); }).PageSettings(page => page.PageCount(2).PageSize(10)).AllowGrouping().AllowSorting().EnableRtl().AllowReordering().Render()
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the right-to-Left(RTL) alignment in grid component.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the RTL in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Right-to-left(RTL) is used to render the component from right to left direction and it can be
            enabled by setting <code> enableRtl
            </code> property as true.
            In this demo, you can able to see Group drop area, header, content, pager, filter dialog, etc ... are aligned right to left direction.
        </p>
    </div>

}

@section Title{
                    <title>ASP.NET MVC Data Grid RTL Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RTL in ASP.NET MVC Data Grid Control</h1>
                }