@using Syncfusion.EJ2
@section ControlsSection{
  <div class="control-section">
    @Html.EJS().Grid("ForeignKey").DataSource((IEnumerable<object>)ViewData["datasource"]).AllowFiltering().Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).Width("120").ValidationRules(new { required = true }).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").ForeignKeyField("CustomerID").ForeignKeyValue("ContactName").DataSource((IEnumerable<object>)ViewData["dataSource2"]).HeaderText("Contact Name").Width("150").ValidationRules(new { required = true }).Add();
       col.Field("Freight").HeaderText("Freight").Width("120").ValidationRules(new { required = true }).Format("C2").EditType("numericedit").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipName").HeaderText("Ship Name").Width("150").Add();
       col.Field("ShipCity").HeaderText("Ship City").EditType("dropdownedit").Width("150").Add();

   }).AllowPaging().AllowSorting().PageSettings(page => page.PageCount(2)).FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Menu); }).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()
</div>
}

@section ActionDescription{
	<div id="action-description">
		<p>
			In this sample, <b>Customer Name</b> column is a foreign column. You can perform filtering, sorting or editing in the foreign key column.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Foreign Key Column in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		    <p>
				Grid has option to show foreign key columns. It can be enabled by setting 
				<code>Column.DataSource </code> 
				property with either local or remote data and column field and text can be defined by using
				<code>Column.ForeignKeyField</code> and
				<code>Column.ForeignKeyValue</code> properties.
			</p>    
    </div>
}

@section Title{
                    <title>ASP.NET MVC Data Grid Foreign Key Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Foreign Key Column in ASP.NET MVC Data Grid Control</h1>
                }