@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("Grid").DataSource((IEnumerable<Object>)ViewData["lazyLoadData"]).Height("400").EnableVirtualization(true).AllowGrouping(true).AllowSorting().Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").AllowGrouping(false).Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ProductName").HeaderText("Product Name").Width("160").Add();
       col.Field("ProductID").HeaderText("Product ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer ID").Width("120").Add();
       col.Field("CustomerName").HeaderText("Customer Name").Width("160").Add();
   }).GroupSettings(group => group.EnableLazyLoading(true).Columns(new string[] { "ProductName", "CustomerName" })).Render()
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the lazy loading grouping feature with virtual scrolling.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Lazy Load Grouping With Virtual Scrolling in ASP.NET MVC Data Grid control. Explore here for more details." />
}

@section Description{
    <div id="description">
    <p>
        The lazy load grouping allows the grid to render only the initial level caption rows in the collapsed state while grouping. Now, the Data Grid supports lazy load grouping for virtual scrolling enabled grid too, which means the records of each group caption will render only when you expand the group captions row. Buffer data is loaded while scrolling vertically or horizontally. This is done by setting the <code>GroupSettings->EnableLazyLoading</code> property as true and the <code>EnableVirtualization</code> property as true.
    </p>
    <p>
        Note: The <code>Height</code> property must be defined when enabling the <code>EnableVirtualization</code>.
    </p>
    </div>
}

@section Title{
    <title>ASP.NET MVC Data Grid Lazy Load Grouping With Virtual Scrolling Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Lazy Load Grouping with Virtual Scrolling in ASP.NET MVC Data Grid Control</h1>
}
