@using Syncfusion.EJ2
@{
    ViewBag.Title = "LocalData";
}

@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("LocalData").DataSource((IEnumerable<object>)ViewBag.dataSource).Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Freight").HeaderText("Freight").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShippedDate").HeaderText("Shipped Date").Width("140").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").Add();

   }).AllowPaging().PageSettings(page=>page.PageCount(5)).Render()
    </div>
}

@section ActionDescription{
	<div id="action-description">
        <p>
            This sample demonstrates the way of data binding Grid component with List object(list binding data source).
        </p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows how to bind with a local data source."/>
}

@section Description{
    <div id="description">
		<p>The Grid supports data binding. The <code>DataSource</code> property can be assigned either with the list of
		   objects or instance of <code>DataManager</code>.</p>
		<p>In this demo, the list of objects is assigned as the data source to the Grid.</p>		
    </div>
}
