@{
    ViewData["Title"] = "PagerDropdown";
}


@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("DefaultPaging").DataSource((IEnumerable<object>)ViewData["dataSource"]).Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).IsPrimaryKey(true).ValidationRules(new { required = true, number = true }).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("170").ValidationRules(new { required = true, minLength = 5 }).Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("datepickeredit").Add();
       col.Field("Freight").HeaderText("Freight").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("numericedit").ValidationRules(new { required = true, min = 0 }).Add();
       col.Field("ShippedDate").HeaderText("Shipped Date").Width("130").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).EditType("datepickeredit").Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();

   }).Height("365").AllowPaging().PageSettings(page => page.PageCount(4).PageSizes(true)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()
    </div>
}
@section ActionDescription{
	<div id="action-description">
		<p>
			This sample demonstrates the Grid paging feature. In this sample, click the numeric items to navigate to particular page.
			You can also change the page size using the dropdown.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default Paging in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		 <p>Paging allows you to display the contents of the Grid in page segments. By default, paging is disabled. To enable paging,
			set <code>AllowPaging</code> property to true. <code>
			PageSettings->PageSizes</code> property enables a dropdown in pager which allows you to change the number of records in the Grid dynamically.
		</p>
		<p>
			In this demo, the Grid is rendered with
			<code>PageSettings->PageSizes</code>set to true and
			<code>PageSettings->PageCount</code> is set to 4.
		</p>
        <p>
            The Pager component has been enhanced to be more responsive. 
            It now includes the ability to automatically resize itself and dynamically show or hide pager items based on the width of the Grid
        </p>    
    </div>
}
@section Title{
                    <title>ASP.NET MVC Data Grid Pager Dropdown Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pager Dropdown in ASP.NET MVC Data Grid Control</h1>
                }