@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Reorder";
}

@section ControlsSection{

<div class="col-lg-8 control-section">
    <div class="control-wrapper">
        <div class="control-section">
            @Html.EJS().Grid("FlatGrid").DataSource((IEnumerable<object>)ViewData["dataSource"]).ActionComplete("actionComplete").AllowReordering().Columns(col =>
  {

      col.Field("EmployeeID").HeaderText("Employee ID").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).IsPrimaryKey(true).ValidationRules(new { required = true, number = true }).Add();
      col.Field("FirstName").HeaderText("Name").Width("125").ValidationRules(new { required = true, minLength = 5 }).Add();
      col.Field("Title").HeaderText("Title").Width("190").Add();
      col.Field("HireDate").HeaderText("Hire Date").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Format("yMd").EditType("datepickeredit").Add();


  }).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()
        </div>
    </div>
</div>
<div class="col-lg-4 property-section">


    <table id="property" title="Properties" style="width: 100%;">


        <tr>
            <td class="left-side">Column</td>
            <td style="padding-bottom:10px">

                @Html.EJS().DropDownList("column").DataSource((IEnumerable<object>)ViewData["columns"]).Change("columnChange").PopupHeight("220px").Value("EmployeeID").Fields(field => { field.Value("value").Text("text"); }).Render()
            </td>
        </tr>

        <tr>
            <td class="left-side">Column Index</td>
            <td>
                @Html.EJS().DropDownList("columnIndex").DataSource((IEnumerable<object>)ViewData["index"]).Change("indexChange").PopupHeight("220px").Value("0").Fields(field => { field.Value("value").Text("text"); }).Render()
            </td>
        </tr>


    </table>
</div>

<script>
    function actionComplete(args) {


        if (args.requestType === 'reorder') {
            var dropdown = document.getElementById("column").ej2_instances[0], grid = document.getElementById("FlatGrid").ej2_instances[0];
            var field = (dropdown.value), index = grid.getColumnIndexByField(field);
            document.getElementById("columnIndex").ej2_instances[0].value = index.toString();
        }
    }

    function columnChange(args) {
        var grid = document.getElementById("FlatGrid").ej2_instances[0];
        var field = this.value;
        var index = grid.getColumnIndexByField(field);
        document.getElementById("columnIndex").ej2_instances[0].value = index.toString();

    }

    function indexChange(args) {
        var grid = document.getElementById("FlatGrid").ej2_instances[0], dropdown = document.getElementById("column").ej2_instances[0];
        var field = (dropdown.value);
        var toColumnIndex = this.value;
        grid.reorderColumns(field, (grid.columns[toColumnIndex]).field);
    }
</script>

}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates reordering of the Grid columns. Select column name and index from properties panel to reorder
        the columns. You can also reorder columns by simply drag and drop in the desired column position.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Reorder in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }


@section Description{
    <div id="description">
		<p>Reordering can be enabled by setting <code>AllowReordering</code> property as true. Reordering can be done by drag and drop the column header from one index to another
			index within the Grid.</p>
		<p>The location in which the column to be placed, will be indicated by two arrows symbols.</p>
		<p>In this demo, you can either reorder columns by drag and drop or by selecting column name and column index to reorder
			from the dropdown.
		</p>	
    </div>
}


@section Title{
                    <title>ASP.NET MVC Data Grid Reorder Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Reorder in ASP.NET MVC Data Grid Control</h1>
                }