@using Syncfusion.EJ2

@section ControlsSection{

    @{ 

        List<object> toolbar = new List<object>();
        toolbar.Add(new { prefixIcon = "e-small-icon", id = "big", align = "Right" });
        toolbar.Add(new { prefixIcon = "e-medium-icon", id = "medium", align = "Right" });
        toolbar.Add(new { prefixIcon = "e-big-icon", id = "small", align = "Right" });
    }
<link href="~/Content/grid/gridfont.css" rel="stylesheet" />
    <div class="control-section">
        @Html.EJS().Grid("RowHeight").DataSource((IEnumerable<object>)ViewBag.dataSource).RowHeight(20).Height("400").Columns(col =>
   {
       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").ShowInColumnChooser(false).Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Freight").HeaderText("Freight").Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShippedDate").HeaderText("Shipped Date").Width("140").Format("yMd").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCity").Visible(false).HeaderText("Ship Country").Width("150").Add();
       col.Field("ShipCountry").Visible(false).HeaderText("Ship Country").Width("150").Add();


   }).Toolbar(toolbar).ToolbarClick("toolbarClick").Render()
        </div>
<style>
 

   .e-grid .e-small-icon::before {
       font-family: 'e-grid-rowheight';
        content: '\e997';
    }

   .e-grid .e-medium-icon::before {
        content: '\e94c';
    }

    .e-grid .e-big-icon::before {
        font-family: 'e-grid-rowheight';
        content: '\e74c';
    }
</style>

<script>
        function toolbarClick(args) {


            if (args.item.id === 'small') {
                this.rowHeight = 20;
            }
            if (args.item.id === 'medium') {
                this.rowHeight = 40;
            }
            if (args.item.id === 'big') {
                this.rowHeight = 60;
            }
        }
</script>

}
@section ActionDescription{
	<div id="action-description">
		 <p>This sample demonstrates the row height feature of the Grid. In this demo, the <b>RowHeight</b> for all the Grid rows can be
    changed as <b>20px</b>, <b>40px</b> and <b>60px</b> on ToolBar button click.</p>
	</div>
}

@section Meta{
    <meta name="description" content="This demo for Essential JS 2 grid control shows the row height feature."/>
}

@section Description{
    <div id="description">
		     <p>
				The Grid has support to provide <code>RowHeight</code> property.  
			</p>
    </div>
}

