@using Syncfusion.EJ2
@{
    ViewData["Title"] = "RowSpanningAPI";
}
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("RowSpanningAPI").DataSource((IEnumerable<object>)ViewData["dataSource"]).EnableHover(false).AllowSelection(false).GridLines(Syncfusion.EJ2.Grids.GridLine.Both).AllowSorting(true).EnableRowSpan(true).EnableColumnSpan(true).Width("auto").Height("450").AllowTextWrap(true).Columns(col =>
        {
            col.Field("Channel").HeaderText("Channel").IsPrimaryKey(true).Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Left).Width("150").Add();
            col.Field("Genre").HeaderText("Genre").Width("120").Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Left).Add();
            col.Field("Program12AM").HeaderText("12 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program1AM").HeaderText("1 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program2AM").HeaderText("2 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program3AM").HeaderText("3 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program4AM").HeaderText("4 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program5AM").HeaderText("5 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program6AM").HeaderText("6 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program7AM").HeaderText("7 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program8AM").HeaderText("8 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program9AM").HeaderText("9 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program10AM").HeaderText("10 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program11AM").HeaderText("11 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program12PM").HeaderText("12 AM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program1PM").HeaderText("1 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program2PM").HeaderText("2 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program3PM").HeaderText("3 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program4PM").HeaderText("4 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program5PM").HeaderText("5 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program6PM").HeaderText("6 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program7PM").HeaderText("7 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program8PM").HeaderText("8 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program9PM").HeaderText("9 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program10PM").HeaderText("10 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
            col.Field("Program11PM").HeaderText("11 PM").Width("110").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).AllowSorting(false).Add();
        }).TextWrapSettings(text => { text.WrapMode(Syncfusion.EJ2.Grids.WrapMode.Content); }).Render()
    </div>
}

@section ActionDescription{
    <div id="action-description">
		<p>This demo showcases how the Grid component can automatically merged cells that contain matching data across rows and columns. When program names and timings repeat, they are visually combined into a single cell for improved readability.</p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Row Spanning API in ASP.NET MVC Data Grid control. Explore here for more details."/>
}

@section Description{
    <div id="description">
        <p>
            In this sample, the channel program names, and their timings are merged using the Grid's <code>enableRowSpan</code> and <code>enableColumnSpan</code> properties. 
            The <b>Channel</b> and <b>Genre</b> columns remains fixed on the left side, enabled by the frozen column feature.
        </p>
        
         <p>
            More information on the row spanning can be found in this
            <a target="_blank" 
                class="code"
                href="https://ej2.syncfusion.com/aspnetmvc/documentation/grid/row/row-spanning" 
                aria-label="API link for documentation">
                documentation section
            </a>
        </p>
    </div>
}
@section Title{
    <title>ASP.NET MVC Data Grid Row Spanning API Example - Syncfusion Demos </title> 
}

@section Header{
    <h1 class='sb-sample-text'>Example of Row Spanning API in ASP.NET MVC Data Grid Control</h1>
}