@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewData["dataSource"]).AllowPdfExport().AllowExcelExport().ToolbarClick("toolbarClick").Columns(col =>
   {

       col.Field("OrderID").HeaderText("Order ID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("CustomerID").HeaderText("Customer Name").Width("150").Add();
       col.Field("OrderDate").HeaderText("Order Date").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Format("yMd").Add();
       col.Field("Freight").HeaderText("Freight").AllowGrouping(false).Width("120").Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("ShipCountry").HeaderText("Ship Country").Width("120").Add();
	   col.Field("ShipCity").HeaderText("Ship City").Width("120").Add();

   }).AllowPaging().PageSettings(page => page.PageSize(9)).Toolbar(new List<string>() { "ExcelExport", "PdfExport", "CsvExport" }).Render()
    </div>

<script>

        function toolbarClick(args) {
            var gridObj = document.getElementById("Grid").ej2_instances[0];
            if (args.item.id === 'Grid_pdfexport') {
                gridObj.serverPdfExport("@Url.Action("PdfExport", "Grid")");
            }
            if (args.item.id === 'Grid_excelexport') {
                gridObj.serverExcelExport("@Url.Action("ExcelExport", "Grid")");
            }
            if (args.item.id === 'Grid_csvexport') {
                gridObj.serverCsvExport("@Url.Action("CsvExport", "Grid")");
            }
        }
</script>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the server-side exporting of the Grid, which allows you to export its data to the Excel, CSV and PDF formats using server-side actions.
        Use the toolbar buttons to export Grid data to desired format.
		</p>
	</div>
}

 @section Meta{
                    <meta name="description" content="This example demonstrates the Server Side Exporting in ASP.NET MVC Data Grid control. Explore here for more details."/>
                }


@section Description{
    <div id="description">

       <p> Server-side exporting is implemented by using the <a target="_blank" href="https://www.nuget.org/packages/Syncfusion.EJ2.GridExport.MVC5/" aria-label="Syncfusion.EJ2.GridExport">Syncfusion.EJ2.GridExport <span class="sr-only">opens in a new tab</span></a> library </p>
		<p>
        In this demo, ExcelExport, CsvExport and PdfExport items are defined in the toolbar and for these toolbar items, we have defined actions in toolbarClick event to export the Grid data using the
        <code>
                <a target="_blank" class="code"
                   href="https://ej2.syncfusion.com/javascript/documentation/api/grid/#serverexcelexport" aria-label="serverExcelExport">
                    serverExcelExport
                <span class="sr-only">opens in a new tab</span></a>
            </code> 
        <code>
            <a target="_blank" class="code"
               href="https://ej2.syncfusion.com/javascript/documentation/api/grid/#servercsvexport" aria-label="serverCsvExport">
                serverCsvExport
            <span class="sr-only">opens in a new tab</span></a>
        </code>and <code>
                <a target="_blank" class="code"
                   href="https://ej2.syncfusion.com/javascript/documentation/api/grid/#serverpdfexport" aria-label="serverPdfExport">
                    serverPdfExport
                <span class="sr-only">opens in a new tab</span></a>
            </code>	methods.
    </p>
	</div>
}
@section Title{
                    <title>ASP.NET MVC Data Grid Server Side Exporting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Server Side Exporting in ASP.NET MVC Data Grid Control</h1>
                }