@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="control-wrapper">
            <div style='padding-top:70px;'>
                @Html.EJS().ComboBox("list").DataSource((string[])ViewData["data"]).Placeholder("e.g: gul").IgnoreAccent(true).AllowFiltering(true).Render()
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Diacritics Filtering in ASP.NET MVC ComboBox control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the  diacritics filter functionality of the ComboBox. Type  the characters ‘gul’ in the ComboBox element and  it displays the suggestion list  ignoring the diacritics lists.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The ComboBox filtering will ignore the <a href="https://en.wikipedia.org/wiki/Diacritic" target="_blank" aria-label="diacritics"> diacritics <span class="sr-only">opens in a new tab</span></a> which  makies it easier to filter the results in international characters lists when the <code>ignoreAccent</code> is enabled.
        </p>

        <p>This sample illustrates  the international characters data.</p>
    </div>

}
@section Title{
                    <title>ASP.NET MVC ComboBox Diacritics Filtering Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Diacritics Filtering in ASP.NET MVC ComboBox Control</h1>
                }