@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@using Newtonsoft.Json
@section ControlsSection{

    <div class="col-lg-12 control-section" style="height: 400px;">
        <div class='control-wrapper'>
            <div style='padding-top:75px;'>

                @Html.EJS().ComboBox("country").Placeholder("Select a country").AllowResize(true).Fields(new ComboBoxFieldSettings { Text = "Name", Value = "Code" }).PopupHeight("270px").DataSource((IEnumerable<Countries>)ViewData["data"]).Render()

            </div>
        </div>
    </div>

    @*custom code start*@
    <style>
        .control-wrapper {
            margin: 0 auto;
            width: 250px;
        }
    </style>
    @*custom code end*@
}
@section Meta{
                    <meta name="description" content="This example demonstrates the custom Resizing functionalities in ASP.NET MVC ComboBox control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the custom resizing functionalities of the ComboBox. You can adjust the size of the popup based on your preferences, allowing for better control over its appearance.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>The ComboBox can be customized to adjust the size of the popup using custom resizing functionalities. By setting AllowResize to true, you enable the ability to resize the popup, allowing you to control its dimensions according to your preferences and providing better management of its appearance.</p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC ComboBox Resize Example - Syncfusion Demos </title> 
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Custom Resize functionality in ASP.NET MVC ComboBox Control</h1>
                }