@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div id="sparkline" class="row">
            <div class="cols-sample-area">
                <script type="text/x-template" id="columnTemplate1">
                    <div id="spkline${EmployeeID}" />
                </script>
                <script type="text/x-template" id="columnTemplate2">
                    <div id="spkarea${EmployeeID}" />
                </script>
                <script type="text/x-template" id="columnTemplate3">
                    <div id="spkwl${EmployeeID}" />
                </script>
                <div id="grid">
                    @Html.EJS().Grid("grid").Created("loadComplete").AllowSelection(false).EnableColumnVirtualization(false).EnableHover(true).Height("400px").Columns(column =>
           {
               column.Field("EmployeeID").HeaderText("ID").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Width("60").Add();
               column.Field("CustomerID").HeaderText("Name").Width("100").Add();
               column.Field("OrderDate").HeaderText("Order Date").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
               column.Field("ShipCountry").HeaderText("Ship Country").Width("100").Add();
               column.HeaderText("Tax per annum").Template("#columnTemplate1").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("100").Add();
               column.HeaderText("One Day Index").Template("#columnTemplate2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("100").Add();
               column.HeaderText("Year GR").Template("#columnTemplate3").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("150").Add();
           }).DataSource(ViewData["dataSource"]).Render()
                </div>
            </div>
        </div>
    </div>

    <style>
        .e-headertext {
            font-weight: bolder;
        }
    </style>
    <script src="~/Scripts/Sparkline/theme-color.js"></script>
    <script type="text/javascript">
        function loadComplete(args) {
            setTimeout(function () {
                for (var i = 1; i < 21; i++) {
                    var line = new ej.charts.Sparkline({
                        load: function (args) {
                            loadSparkLineTheme(args);
                        },
                        height: '50px',
                        width: '150px',
                        lineWidth: 2,
                        valueType: 'Numeric',
                        fill: '#3C78EF',
                        dataSource: getSparkData('line', i)
                    });
                    line.appendTo('#spkline' + i);

                    var column = new ej.charts.Sparkline({
                        load: function (args) {
                            loadSparkLineTheme(args);
                        },
                        height: '50px',
                        width: '150px',
                        type: 'Column',
                        valueType: 'Numeric',
                        fill: '#3C78EF',
                        negativePointColor: '#f7a816',
                        dataSource: getSparkData('column', i)
                    });
                    column.appendTo('#spkarea' + i);

                    var winloss = new ej.charts.Sparkline({
                        load: function (args) {
                            loadSparkLineTheme(args);
                        },
                        height: '50px',
                        width: '150px',
                        type: 'WinLoss',
                        valueType: 'Numeric',
                        fill: '#3C78EF',
                        tiePointColor: 'darkgray',
                        negativePointColor: '#f7a816',
                        dataSource: getSparkData('column', i)
                    });
                    winloss.appendTo('#spkwl' + i);
                }
            }, 1000)
        }

        var lineData = [
            [0, 6, 4, 1, 3, 2, 5],
            [5, 4, 6, 3, 1, 2, 0],
            [6, 4, 0, 3, 2, 5, 1],
            [4, 6, 3, 0, 1, 2, 5],
            [3, 5, 6, 4, 0, 1, 2],
            [1, 3, 4, 2, 5, 0, 6],
            [2, 4, 0, 3, 5, 6, 1],
            [5, 4, 6, 3, 1, 2, 0],
            [0, 6, 4, 1, 3, 2, 5],
            [6, 4, 0, 3, 2, 5, 1],
            [4, 6, 3, 0, 1, 2, 5],
            [3, 5, 6, 4, 0, 1, 2],
            [1, 3, 4, 2, 5, 0, 6],
            [2, 4, 0, 3, 5, 6, 1],
            [5, 4, 6, 3, 1, 2, 0],
            [0, 6, 4, 1, 3, 2, 5],
            [6, 4, 0, 3, 2, 5, 1],
            [4, 6, 3, 0, 1, 2, 5],
            [2, 4, 0, 3, 5, 6, 1],
            [3, 5, 6, 4, 0, 1, 2],
            [1, 3, 4, 2, 5, 0, 6]
        ];

        var columnData = [
            [0, 6, -4, 1, -3, 2, 5],
            [5, -4, 6, 3, -1, 2, 0],
            [6, 4, 0, 3, -2, 5, 1],
            [4, -6, 3, 0, 1, -2, 5],
            [3, 5, -6, -4, 0, 1, 2],
            [1, -3, 4, -2, 5, 0, 6],
            [2, 4, 0, -3, 5, -6, 1],
            [5, 4, -6, 3, 1, -2, 0],
            [0, -6, 4, 1, -3, 2, 5],
            [6, 4, 0, -3, 2, -5, 1],
            [4, 6, -3, 0, 1, 2, 5],
            [3, -5, -6, 4, 0, 1, 2],
            [1, 3, -4, -2, 5, 0, 6],
            [2, -4, 0, -3, 5, 6, 1],
            [5, 4, -6, 3, 1, -2, 0],
            [0, 6, 4, -1, -3, 2, 5],
            [6, -4, 0, -3, 2, 5, 1],
            [4, 6, -3, 0, -1, 2, 5],
            [6, 4, 0, -3, 2, -5, 1],
            [3, 5, 6, -4, 0, 1, 2],
            [1, 3, -4, 2, -5, 0, 6]
        ];

        function getSparkData(type, count) {
            if (type === 'line') {
                return lineData[count];
            } else {
                return columnData[count];
            }
        }
    </script>

}
@section ActionDescription{
    <p>
        This sample demonstrates rendering sparklines in data grid control.
    </p>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Sparkline in Grid in ASP.NET MVC Sparkline Charts control. Explore here for more details."/>
                }
@section Description{
    <p>
        In this example, you can see how to render sparkline inside the data grid control.
    </p>
}

@section Title{
                    <title>ASP.NET MVC Sparkline Charts Sparkline in Grid Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Sparkline in Grid in ASP.NET MVC Sparkline Charts Control</h1>
                }