@using Syncfusion.EJ2;
<script src="~/Scripts/StockChartData/indicator-data.js"></script>
@section ControlsSection{
    @*custom code start*@
    <style>
        #container {
            display: block;
        }
        #container_stock_border {
            pointer-events: none;
        }
    </style>
    @*custom code end*@
    <div class="control-section">
        <div>
            @(Html.EJS().StockChart("container").Load("load").EnableSelector(false)
                                              .Series(sr =>
                                              {
                                                   sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).DataSource("data").XName("date").Add();
                                              })
                                              .Render())
        </div>
    </div>
    <script src="~/Scripts/StockChartData/theme-color.js"></script>
    <script>
        var data = window.chartData;
        var load = function (args) {
            args.stockChart.chartArea = { border: { width: 0 } };
            args.stockChart.tooltip.enable = true;
            args.stockChart.crosshair.enable = true;
            args.stockChart.primaryXAxis = { valueType: 'DateTime', majorGridLines: { width: 0 }, crosshairTooltip: { enable: true } };
            args.stockChart.primaryYAxis = {
                lineStyle: { color: 'transparent' }, crosshairTooltip: { enable: false },
                majorTickLines: { color: 'transparent', height: 0 }
            };
            loadStockChartTheme(args);
        }
    </script>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Hide Range Selector in ASP.NET MVC Stock Chart control. Explore here for more details." />
}
@section ActionDescription{
    <p>By hiding the range selector in the stock chart, this sample visualizes the AAPL stock price. The tooltip and crosshair display data and period information.</p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure stock chart to visualize the stock data. The <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.StockChart.html#Syncfusion_EJ2_Charts_StockChart_EnableSelector" aria-label="EnableSelector">EnableSelector<span class="sr-only">opens in a new tab</span></a> property allows to toggle the visibility of range selector.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover the chart or tap on it in touch enabled devices.
    </p>
    <p>
        More information about the series type can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/stock-chart/series-types" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}

@section Title{
    <title>ASP.NET MVC Stock Chart Hide Range Selector Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Hide Range Selector in ASP.NET MVC Stock Chart Control</h1>
}