@using Syncfusion.EJ2;
<script src="~/Scripts/StockChartData/indicator-data.js"></script>
@section ControlsSection{
    <div class="control-section">
        <div>
            @(Html.EJS().StockChart("container").Load("load").Title("AAPL Historical").TooltipRender("tooltipRender").AxisLabelRender("axisLabelRender")
            .Rows(row => { row.Height("30%").Add(); row.Height("70%").Add(); })
            .Series(sr =>
            {
                sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Candle).DataSource("data").YAxisName("yAxis1").Add();
                sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Column).DataSource("data").YName("volume").Add();
            })
            .Render())
        </div>
    </div>
    <style>
        #container {
            display: block;
        }

        #container_stock_border {
            pointer-events: none;
        }
    </style>
    <script>
        var data = window.chartData;
        var load = function (args) {
            args.stockChart.chartArea = { border: { width: 0 } };
            args.stockChart.border = { width: 1 };
            args.stockChart.tooltip.enable = true;
            args.stockChart.crosshair.enable = true;
            args.stockChart.axes[0] = {
                name: 'yAxis1', rowIndex: 1, opposedPosition: true, labelPosition: 'Inside',
                tickPosition: 'Inside',
                lineStyle: { color: 'transparent' },
                majorTickLines: { color: 'transparent' }
            };
            args.stockChart.primaryXAxis = { valueType: 'DateTime', majorGridLines: { width: 0 }, crosshairTooltip: { enable: true } };
            args.stockChart.primaryYAxis = {
                lineStyle: { color: 'transparent' },
                majorTickLines: { color: 'transparent', width: 0 }
            };
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.stockChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark");
        }

        function tooltipRender(args) {
            if (args.text.split('<br/>')[4]) {
                var target = parseFloat(args.text.split('<br/>')[4].split('<b>')[1].split('</b>')[0]);
                var value = (target / 100000000).toFixed(1) + 'B';
                args.text = args.text.replace(args.text.split('<br/>')[4].split('<b>')[1].split('</b>')[0], value);
            }
        }
        function axisLabelRender(args) {
            var text = parseFloat(args.text);
            if (args.axis.name === 'primaryYAxis') {
                args.text = text / 100000000 + 'B';
            }
        }
    </script>
}
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Stock Chart control shows how to render the Stock Chart without Period Selector." />
}
@section ActionDescription{
    <p>
        This sample visualizes stock chart with multiple pan.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the Stock chart with volume.
        <code>CandleSeries</code> is used to represent selected data value and <code>ColumnSeries</code> is used to represent the volume.
    </p>
}
