@using Syncfusion.EJ2;
<script src="~/Scripts/StockChartData/googl.js"></script>
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().StockChart("container").Load("load").Title("Google Stock Price")
        .PrimaryXAxis(xaxis =>xaxis.MajorGridLines(mg=>mg.Width(0)
        ).ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime).CrosshairTooltip(ct=>ct.Enable(true)))
        .PrimaryYAxis(yaxis =>yaxis.MajorTickLines(mt=>mt.Color("transparent").Width(0)
        ).LineStyle(ls=>ls.Color("transparent")).CrosshairTooltip(ct=>ct.Enable(false)))
         .Series(sr =>
           {
             sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea).DataSource("data").XName("x").YName("high").Fill("#BDEDE9").Add();
           })
        .Crosshair(cr=>cr.Enable(true))
        .ChartArea(area => area.Border(br=>br.Width(0)))
          .Render())
    </div>
      @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
        #container {
            display: block;
        }

        #container_stockChart_chart_Series_0 {
            opacity: 0.6;
        }
        #container_stock_border {
            pointer-events: none;
        }
    </style>
      @*custom code end*@
    <script>
        var data = window.googl;
        var load = function (args) {
            args.stockChart.seriesType = [];
            args.stockChart.indicatorType = [];
              @*custom code start*@
            var selectedTheme = themeName ? themeName : 'Material';
            args.stockChart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast');
             @*custom code end*@
        }
    </script>
}
  @*custom code start*@
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Stock Chart control shows how to render the Spline Area series chart." />
}
  @*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes stock data with spline area. Period and range selector help us to navigate different of data.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the Stock chart.
        <code>AreaSeries</code> is used to represent selected data value.
    </p>
}
