@using Syncfusion.EJ2;
<script src="~/Scripts/StockChartData/aapl.js"></script>
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().StockChart("container").Load("load").Title("AAPL Stock Price")
        .PrimaryXAxis(xaxis =>xaxis.MajorGridLines(mg=>mg.Width(0)
        ).ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime).CrosshairTooltip(ct=>ct.Enable(true)))
        .PrimaryYAxis(yaxis =>yaxis.MajorTickLines(mt=>mt.Color("transparent").Height(0)
        ).LineStyle(ls=>ls.Color("transparent")).CrosshairTooltip(ct=>ct.Enable(true)))
         .Series(sr =>
         {
             sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline).DataSource("data").XName("x").YName("high").Close("high").Add();
         })
        .Crosshair(cr=>cr.Enable(true).LineType(Syncfusion.EJ2.Charts.LineType.Both))
        .ChartArea(area => area.Border(br=>br.Width(0)))
       .Render())
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
        #container {
            display: block;
        }
        #container_stock_border {
            pointer-events: none;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/StockChartData/theme-color.js"></script>
    <script>
        var data = window.aapl;
        var load = function (args) {
            args.stockChart.seriesType = [];
            args.stockChart.indicatorType = [];
            args.stockChart.trendlineType = [];
            loadStockChartTheme(args);
            args.stockChart.crosshair.lineType = 'Both';

            args.stockChart.stockEvents = [
                { date: new Date(2012, 3, 1), text: 'Q2', description: '2012 Quarter2', type: 'Flag', background: '#6c6d6d', border: { color: '#6c6d6d' } },
            {
                date: new Date(2012, 3, 20), text: 'Open', description: 'Markets opened', textStyle: { color: 'white' },
                background: '#f48a21', border: { color: '#f48a21' }
            },
            {
                date: new Date(2012, 6, 1), text: 'Q3', description: '2013 Quarter3', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2012, 9, 1), text: 'Q4', description: '2013 Quarter4', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2012, 7, 30), text: 'G', description: 'Google Stock',
                textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
            },
            {
                date: new Date(2012, 10, 1), text: 'Y', description: 'Yahoo Stock', type: 'Square',
                textStyle: { color: 'white' }, background: '#841391', border: { color: '#841391' }
            },
            {
                date: new Date(2012, 12, 0), text: 'Y2', description: 'Year 2013', type: 'Pin', showOnSeries: false,
                textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
            },
            {
                date: new Date(2013, 3, 1), text: 'Q2', description: '2013 Quarter2', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2013, 3, 20), text: 'Q2', description: 'Surge in Stocks', type: 'ArrowUp',
                textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
            },
            {
                date: new Date(2013, 6, 1), text: 'Q3', description: '2013 Quarter3', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2013, 9, 1), text: 'Q4', description: '2013 Quarter4', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2013, 12, 0), text: 'Y3', description: 'Year 2014', type: 'Pin', showOnSeries: false,
                textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
            },
            {
                date: new Date(2014, 3, 1), text: 'Q2', description: '2014 Quarter2', type: 'ArrowDown',
                textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
            },
            {
                date: new Date(2014, 6, 1), text: 'Q3', description: '2014 Quarter3',
                textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
            },
            {
                date: new Date(2014, 9, 1), text: 'Q4', description: '2014 Quarter4', type: 'Flag',
                textStyle: { color: 'white' }, background: '#6c6d6d', border: { color: '#6c6d6d' }
            },
            {
                date: new Date(2014, 12, 0), text: 'Y4', description: 'Year 2015', type: 'Pin', showOnSeries: false,
                textStyle: { color: 'white' }, background: '#6322e0', border: { color: '#6322e0' }
            },
            {
                date: new Date(2014, 2, 2), text: 'End', description: 'Markets closed', type: 'ArrowDown',
                textStyle: { color: 'white' }, background: '#3ab0f9', border: { color: '#3ab0f9' }
            },
            {
                date: new Date('2015-01-07'), text: 'A', description: 'Amazon Stock',
                textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
            },
            {
                date: new Date(2015, 1, 2), text: 'Q1', description: 'AAPL Stock',
                textStyle: { color: 'white' }, background: '#dd3c9f', border: { color: '#dd3c9f' }, type: 'Text'
            },
            {
                date: new Date(2015, 2, 12), text: 'Close', description: 'Markets closed',
                textStyle: { color: 'white' }, background: '#f48a21', border: { color: '#f48a21' }
            }
            ];
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the StockEvents in ASP.NET MVC Stock Chart control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>This <a target="_blank" href="https://www.syncfusion.com/aspnet-mvc-ui-controls/stock-chart" aria-label="ASP.NET MVC Stock Chart">ASP.NET MVC Stock Chart<span class="sr-only">opens in a new tab</span></a> example visualizes the AAPL stock price with spline chart. Crosshair show the information about the data and period.</p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a stock chart with <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Charts.StockChartStockEvent.html" aria-label="StockEvents">StockEvents<span class="sr-only">opens in a new tab</span></a> to mark specific events such as market open and close, highest or lowest price reached, year/quarter start and end on a chart for a specific date.
    </p>
    <p>
        <code>Crosshair</code> is enabled in this example. To see the crosshair in action, hover the chart or tap on touch enabled devices.
    </p>
    <p>
        More information about the stock events can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/stock-chart/stock-events" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}



@section Title{
                    <title>ASP.NET MVC Stock Chart StockEvents Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of StockEvents in ASP.NET MVC Stock Chart Control</h1>
                }