@using Syncfusion.EJ2;
<script src="~/Scripts/StockChartData/aman.js"></script>
@section ControlsSection{
    @{
        var trendline = new[] { "Linear", "Exponential", "Polynomial", "Logarithmic", "MovingAverage" };
    }
    <div class="control-section">
        @(Html.EJS().StockChart("container").Load("load").Title("AAPL Historical").TrendlineType(trendline)
                            .Series(sr =>
                            {
                                sr.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).DataSource("data").XName("x").YName("close").Add();
                            })
                            .Render())
    </div>
      @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
        #container {
            display: block;
        }
        #container_stock_border {
            pointer-events: none;
        }
    </style>
      @*custom code end*@
    <script src="~/Scripts/StockChartData/theme-color.js"></script>
    <script>
        var data = window.aman;
        var load = function (args) {
            args.stockChart.chartArea = { border: { width: 0 } };
            args.stockChart.primaryXAxis = { valueType: 'DateTime', majorGridLines: { width: 0 } };
            args.stockChart.primaryYAxis = {
                lineStyle: { color: 'transparent' },
                majorTickLines: { color: 'transparent', height: 0 },
                stripLines: [{ start: 340, end: 380, color: '#3CB371', opacity: 0.1 }]
            };
            loadStockChartTheme(args);
            args.stockChart.indicatorType = [];
            args.stockChart.seriesType = [];
        }
    </script>
}
    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Plot band in ASP.NET MVC Stock Chart control. Explore here for more details."/>
                }
 @*custom code end*@
@section ActionDescription{
    <p>
        This sample visualizes stock chart with plot band on y axis.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to highlight a particular range in stock chart. Period and range selector help us to navigate different of data. AreaSeries is used to represent selected data value.
    </p>
    <p>
        Stock Chart provides support to 6 types of <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/stock-chart/trend-lines" aria-label="Trendlines">Trendlines<span class="sr-only">opens in a new tab</span></a> namely <code>Linear</code>, <code>Exponential</code>, <code>Logarithmic</code>, <code>Polynomial</code>, <code>Power</code>, <code>Moving Average</code>. By using trendline dropdown button, the required trendline type can be added or removed.
    </p>
}



@section Title{
                    <title>ASP.NET MVC Stock Chart Plot band Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Plot band in ASP.NET MVC Stock Chart Control</h1>
                }