@using Syncfusion.EJ2;
@using Syncfusion.EJ2.TreeMap;
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div id="container">
                @Html.EJS().TreeMap("container").UseGroupingSeparator(true).Format("n").TooltipRendering("tooltiprendering").TooltipSettings(new TreeMapTooltipSettings { Visible = true, Format = "${Gender} : ${Population}" }).Load("load").Loaded("loaded").Resize("resize").TitleSettings(title => title.Text("Population of the continents based on gender and age group - 2011").TextStyle(new TreeMapFont { Size = "15px" })).WeightValuePath("Population").LeafItemSettings(leaf =>
           leaf.LabelPath("Gender").Fill("#A1317D").ShowLabels(false).Border(new TreeMapBorder { Color = "black", Width = 0.5 }).LabelFormat("${Gender} : ${Population}").TemplatePosition(Syncfusion.EJ2.TreeMap.LabelPosition.Center).LabelTemplate("<div style='height:{{:PieHeight}};width:{{:PieWidth}};' id ={{:Id}}></div>")).Levels(level =>
                {
               level.GroupPath("Continent").Fill("#7E2361").Border(new TreeMapBorder { Color = "black", Width = 1 }).HeaderAlignment(Syncfusion.EJ2.TreeMap.Alignment.Center).GroupGap(0).HeaderStyle(new TreeMapFont { Size = "14px" }).Add();
           }).Render()
            </div>
        </div>
    </div>
    <div style="margin-left: 85%">
        Source:<a href="http//en.worldstat.info/Asia/" target="_blank" aria-label="Source">en.worldstat.info</a>
    </div>
    </div>
    <script>
        function load(args) {
            var theme = themeName ? themeName : 'Material';
            args.treemap.theme = ((theme.charAt(0).toUpperCase() +
                theme.slice(1)).replace(/-dark/i, 'Dark').replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5'));
            args.treemap.dataSource = [
                { Continent: 'Africa', Gender: 'Male', Population: 518636010, Id: "AfricaMale", PieHeight: '90px', PieWidth: '90px' },
                { Continent: 'Africa', Gender: 'Female', Population: 519058499, Id: "AfricaFemale", PieHeight: '90px', PieWidth: '90px' },
                { Continent: 'Asia', Gender: 'Male', Population: 2131947122, Id: "AsiaMale", PieHeight: '160px', PieWidth: '160px' },
                { Continent: 'Asia', Gender: 'Female', Population: 2043385632, Id: "AsiaFemale", PieHeight: '160px', PieWidth: '160px' },
                { Continent: 'Europe', Gender: 'Male', Population: 353542772, Id: "EuropeMale", PieHeight: '90px', PieWidth: '90px' },
                { Continent: 'Europe', Gender: 'Female', Population: 380686199, Id: "EuropeFemale", PieHeight: '90px', PieWidth: '90px' },
                { Continent: 'North America', Gender: 'Male', Population: 171213918, Id: "NorthAmericaMale", PieHeight: '60px', PieWidth: '60px' },
                { Continent: 'North America', Gender: 'Female', Population: 176175064, Id: "NorthAmericaFemale", PieHeight: '60px', PieWidth: '60px' },
                { Continent: 'Oceania', Gender: 'Male', Population: 176995465, Id: "OceniaMale", PieHeight: '60px', PieWidth: '60px' },
                { Continent: 'Oceania', Gender: 'Female', Population: 174631245, Id: "OceniaFemale", PieHeight: '60px', PieWidth: '60px' },
                { Continent: 'South America', Gender: 'Male', Population: 197745352, Id: "SouthAmericaMale", PieHeight: '60px', PieWidth: '60px' },
                { Continent: 'South America', Gender: 'Female', Population: 190045352, Id: "SouthAmericaFemale", PieHeight: '60px', PieWidth: '60px' },
            ];
        }
        function loaded(args) {
            var template = document.getElementById(args.treemap.element.id + '_Label_Template_Group');
            setTimeout(() => {
                if (template) {
                    for (var i = 0; i < template.childElementCount; i++) {
                        AccumulationChartRender(template.childNodes[i].childNodes[0].id);
                    }
                    count = 0;
                }
            }, 10);
        }
        function resize(args) {
            for (var i = 0; i < chartCollection.length; i++) {
                chartCollection[i].destroy();
            }
        }
        function tooltiprendering(args) {
            if (args.item.groupIndex !== 1) {
                args.cancel = true;
            }
        }
        var chartCollection = [];
        var count = 0;
        function AccumulationChartRender(id) {
            var chartData = getData();
            var dataSource = chartData['data'];
            var name = chartData['name'];
            var chart = new ej.charts.AccumulationChart({
                background: 'transparent',
                dataLabel: {
                    visible: false
                },
                legendSettings: {
                    visible: false
                },
                tooltip: {
                    enable: false,
                    format: '${point.x} : ${point.y}%'
                },
                series: [
                    {
                        explode: true,
                        explodeIndex: 0,
                        explodeOffset: '20%',
                        name: name,
                        palettes: ['#1E1E1E', '#00BDAE', '#FFFFFF'],
                        dataSource: dataSource,
                        dataLabel: {
                            visible: false
                        },
                        type: 'Pie',
                        xName: 'x',
                        yName: 'y'
                    }
                ]
            });
            chart.appendTo('#' + id);
            chartCollection.push(chart);
        }
        function getData() {
            var dataSource;
            var dataName;
            if (count === 0) {
                dataSource = [
                    { 'x': '0-15 years', y: 40.8 }, { 'x': '15-64 years', y: 56.2 },
                    { 'x': 'Above 64 years', y: 3.0 }
                ];
                dataName = 'Asia';
            }
            else if (count === 1) {
                dataSource = [
                    { 'x': '0-15 years', y: 15.5 }, { 'x': '15-64 years', y: 12.9 },
                    { 'x': 'Above 64 years', y: 41.4 }
                ];
                dataName = 'Asia';
            }
            else if (count === 2) {
                dataSource = [
                    { 'x': '0-15 years', y: 25.1 }, { 'x': '15-64 years', y: 67.8 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'Africa';
            }
            else if (count === 3) {
                dataSource = [
                    { 'x': '0-15 years', y: 15.3 }, { 'x': '15-64 years', y: 68.4 },
                    { 'x': 'Above 64 years', y: 16.3 }
                ];
                dataName = 'Africa';
            }
            else if (count === 4) {
                dataSource = [
                    { 'x': '0-15 years', y: 22.8 }, { 'x': '15-64 years', y: 65.9 },
                    { 'x': 'Above 64 years', y: 11.4 }
                ];
                dataName = 'Europe';
            }
            else if (count === 5) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'Europe';
            }
            else if (count === 6) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'South America';
            }
            else if (count === 7) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'South America';
            }
            else if (count === 8) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'Oceania';
            }
            else if (count === 9) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'Oceania';
            }
            else if (count === 10) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'North America';
            }
            else if (count === 11) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'North America';
            }
            else if (count === 12) {
                dataSource = [
                    { 'x': '0-15 years', y: 26.8 }, { 'x': '15-64 years', y: 66.1 },
                    { 'x': 'Above 64 years', y: 7.1 }
                ];
                dataName = 'South America';
            }
            count++;
            return new Object({ name: dataName, data: dataSource });
        }
    </script>
    <style>
        #container {
            display: block;
            width: 100%;
        }
    </style>
}
@section ActionDescription{
    <p>
        This sample visualizes the population of various continents in 2011 based on the gender and age group.
    </p>
}
@section Meta{
    <meta name="description" content="This example demonstrates the TreeMap with Pie in ASP.NET MVC TreeMap control. Explore here for more details." />
}
@section Description{
    <p>
        In this example, you can see how to render a pie chart as a template for leaf items in treemap. Any custom HTML element can be rendered as label template.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>
}

@section Title{
    <title>ASP.NET MVC TreeMap TreeMap with Pie Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of TreeMap with Pie in ASP.NET MVC TreeMap Control</h1>
}
