@using Syncfusion.EJ2
@using Syncfusion.EJ2.Buttons
@section ControlsSection{
    <div class="control-section">
        <div id="chip-draganddrop-wrapper">
            <div class="chips-headers">Customize your order with add-ons</div>

            <div class="sample-padding">
                @Html.EJS().ChipList("choice-container").Chips(chip =>
                        {
                            chip.Text("Extra cheese").CssClass("e-info").Add();
                            chip.Text("Spicy Level: Medium").CssClass("e-danger").Add();
                            chip.Text("Spicy Level: Low").CssClass("e-success").Add();
                            chip.Text("Fast Delivery").CssClass("e-warning").Add();
                            chip.Text("Gift Wrapping").CssClass("e-primary").Add();
                            chip.Text("Eco-Friendly Packaging").CssClass("e-success").Add();
                        }).AllowDragAndDrop(true).Render()
                @Html.EJS().ChipList("selection-container").AllowDragAndDrop(true).Render();
            </div>
        </div>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the drag and drop functionalities in ASP.NET MVC Chips control. Explore here for more details."/>
                }

@section ActionDescription{
    <div id="action-description">
        <p>
            This ASP.NET MVC Chips sample demonstrates the drag and drop functionality of Chips. To drag and drop a chip element, select and drag the desired chip and drop it at the target index within the required container.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The <code>Chips</code> control allows users to drag any chip and drop it on any index in a container using <code>AllowDragAndDrop</code> property. Additionally, it supports dropping a chip to an external chips container.
        </p>
    </div>
}

<script>

</script>

<style>
    #chip-draganddrop-wrapper .sample-padding {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chips-headers {
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }

    #choice-container {
        width: 400px;
        min-height: 100px;
        min-width: 150px;
        border: 2px solid #2C3E50;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 30px;
    }

    #selection-container {
        width: 400px;
        min-height: 100px;
        min-width: 150px;
        border: 2px solid #8E44AD;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

@section Title{
                    <title>ASP.NET MVC Chips drag and drop functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of drag and drop functionalities in ASP.NET MVC Chips Control</h1>
                }