
@using Syncfusion.EJ2
@section ControlsSection{
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }
    </style>
    <div class="control-section">
        <div id="outer">
            @Html.EJS().Maps("container").TitleSettings(title => title.Text("Top 10 countries by Gold Production - 2014").TextStyle(new Syncfusion.EJ2.Maps.MapsFont{ Size = "16px" })).CenterPosition(
    new { latitude = 4, longitude = 25 }
    ).Load("mapsLoad").ZoomSettings(new Syncfusion.EJ2.Maps.MapsZoomSettings
    {
        ZoomFactor = 2,
        MouseWheelZoom = false,
        Enable = true
    }).Layers(new List<Syncfusion.EJ2.Maps.MapsLayer>{
               new Syncfusion.EJ2.Maps.MapsLayer
               {
                  LayerType = Syncfusion.EJ2.Maps.ShapeLayerType.Bing,
                  BingMapType  = Syncfusion.EJ2.Maps.BingMapType.AerialWithLabel
               }
    }).Render();
            <div style="margin-left: 75%">
                Source:
                <a href="http://www.mining.com/global-gold-silver-production-to-hit-fresh-records-this-year-66566/" target="_blank" aria-label="mining">www.mining.com</a>
            </div>
        </div>
    </div>
    <script>
        function mapsLoad(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            args.maps.layers[0].markerSettings = [{
                visible: true,
                template: '<div><img src="../Content/Maps/gold_ballon.png"' +
                    'style="height:30px;width:20px;"></img></div>',
                tooltipSettings: {
                    visible: true,
                    valuePath: 'name',
                    format: '${name} - ${rank}'
                },
                dataSource: [{
                    name: 'Canada',
                    rank: 102,
                    latitude: 56.1304,
                    longitude: -106.3468
                }, {
                    name: 'USA',
                    rank: 230,
                    latitude: 37.0902,
                    longitude: -95.7129
                }, {
                    name: 'Peru',
                    rank: 101,
                    latitude: -9.19,
                    longitude: -75.0152
                }, {
                    name: 'Ghana',
                    rank: 89,
                    latitude: 7.9465,
                    longitude: -1.0232
                }, {
                    name: 'South Africa',
                    rank: 170,
                    latitude: -30.5595,
                    longitude: 22.9375
                }, {
                    name: 'Russia',
                    rank: 205,
                    latitude: 61.524,
                    longitude: 105.3188
                }, {
                    name: 'China',
                    rank: 370,
                    latitude: 39.913818,
                    longitude: 116.363625
                }, {
                    name: 'Indonesia',
                    rank: 95,
                    latitude: .7893,
                    longitude: 113.9213
                }, {
                    name: 'Australia',
                    rank: 250,
                    latitude: -25.2744,
                    longitude: 133.7751
                }, {
                    name: 'Uzbekistan',
                    rank: 90,
                    latitude: 41.3775,
                    longitude: 64.5853
                }]
            }];
        }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the locations of top 10 countries in gold production in 2014 in the Bing Map.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Maps control uses its Bing map support to visualize the locations of top 10 countries in gold production in 2014." />
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a map with the provided GeoJSON data. Group of shapes can be combined to form a layer of the map. You can bind the desired colors from the data source to the map shapes. The marker templates are used to display the names for shapes and mark specific locations. Legend is enabled in this example to represent each continent.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker, inject the <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method, and use a legend by injecting the <code>Legend</code> module.
        </p>
    </div>
}


