@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@section ControlsSection{
    <div class="control-section">
        <div id="outer" style="width:100%">
            @Html.EJS().Maps("container").TitleSettings(title => title.Text("YouTube office locations").TextStyle(new MapsFont { Size = "16px", Opacity = 1 })).Load("mapsLoad").Layers(layer =>
        {
            layer.MarkerSettings(new List<MapsMarker> { 
                new MapsMarker() { Visible = true, AnimationDuration= 0, Shape = MarkerType.Image, ImageUrl = @Url.Content("~/Content/Maps/ballon.png"), Height = 20, Width = 20 },
                new MapsMarker() { Visible = true, AnimationDuration= 0},
                new MapsMarker() { Visible = true, AnimationDuration= 0},
                new MapsMarker() { Visible = true, AnimationDuration= 0},
                new MapsMarker() { Visible = true, AnimationDuration= 0},
                new MapsMarker() { Visible = true, AnimationDuration= 0},
                new MapsMarker() { Visible = true, AnimationDuration= 0},
           }).DataSource(ViewData["dataSource"]).ShapeDataPath("continent")
           .ShapePropertyPath("continent").ShapeSettings(new MapsShapeSettings { ColorValuePath = "color" })
           .ShapeData(ViewData["shapeData"]).Add();
        }).Render()
            <div style="margin-left: 75%">
                Source:
                <a href="https://craft.co/youtube/locations" target="_blank" aria-label="youtube">craft.co/youtube/locations</a>
            </div>
        </div>
    </div>
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }

        .markerTemplate {
            font-size: 12px;
            color: white;
            text-shadow: 0px 1px 1px black;
            font-weight: 500;
            width: 50px;
        }
    </style>
    <script>
        var dataFirst = true;
        function mapsLoad(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            if (dataFirst) {
                args.maps.layers[0].markerSettings[0].dataSource = [
                    { latitude: 37.6276571, longitude: -122.4276688, name: 'San Bruno' },
                    { latitude: 33.5302186, longitude: -117.7418381, name: 'Laguna Niguel' },
                    { latitude: 40.7424509, longitude: -74.0081468, name: 'New York' },
                    { latitude: -23.5268201, longitude: -46.6489927, name: 'Bom Retiro' },
                    { latitude: 43.6533855, longitude: -79.3729994, name: 'Toronto' },
                    { latitude: 48.8773406, longitude: 2.3299627, name: 'Paris' },
                    { latitude: 52.4643089, longitude: 13.4107368, name: 'Berlin' },
                    { latitude: 19.1555762, longitude: 72.8849595, name: 'Mumbai' },
                    { latitude: 35.6628744, longitude: 139.7345469, name: 'Minato' },
                    { latitude: 51.5326602, longitude: -0.1262422, name: 'London' }
                ];
                args.maps.layers[0].markerSettings[0].tooltipSettings.visible = true;
                args.maps.layers[0].markerSettings[0].tooltipSettings.valuePath ='name';
                args.maps.layers[0].markerSettings[1].template = '<div id="marker1" class="markerTemplate">Asia</div>';
                args.maps.layers[0].markerSettings[1].dataSource = [
                    { latitude: 50.32087157990324, longitude: 90.015625 }
                ];
                args.maps.layers[0].markerSettings[2].template = '<div id="marker2" class="markerTemplate">Australia</div>';
                args.maps.layers[0].markerSettings[2].dataSource = [
                    { latitude: -25.88583769986199, longitude: 134.296875 }
                ];
                args.maps.layers[0].markerSettings[3].template = '<div id="marker3" class="markerTemplate">Africa</div>';
                args.maps.layers[0].markerSettings[3].dataSource = [
                    { latitude: 16.97274101999902, longitude: 16.390625 }
                ];
                args.maps.layers[0].markerSettings[4].template = '<div id="marker4" class="markerTemplate">Europe</div>';
                args.maps.layers[0].markerSettings[4].dataSource = [
                    { latitude: 49.95121990866204, longitude: 18.468749999999998 }
                ];

                args.maps.layers[0].markerSettings[5].template = '<div id="marker5" class="markerTemplate" style="width:50px">North America</div>';
                args.maps.layers[0].markerSettings[5].dataSource = [
                    { latitude: 59.88893689676585, longitude: -109.3359375 }
                ];
                args.maps.layers[0].markerSettings[6].template = '<div id="marker6" class="markerTemplate" style="width:50px">South America</div>',
                args.maps.layers[0].markerSettings[6].dataSource = [
                        { latitude: -6.64607562172573, longitude: -55.54687499999999 }
                    ];
                dataFirst = false;
            }
        }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the continents in the world by rendering them in a map layer. Also marks the office locations of YouTube in the world using markers.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Default Functionalities in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a map with the provided GeoJSON data. Group of shapes can be combined to form a layer of the map. You can bind the desired colors from the data source to the map shapes. The marker templates are used to display the names for shapes and mark specific locations. Legend is enabled in this example to represent each continent.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker, inject the <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method, and use a legend by injecting the <code>Legend</code> module.
        </p>
    </div>
}



@section Title{
                    <title>ASP.NET MVC Maps Default Functionalities Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default Functionalities in ASP.NET MVC Maps Control</h1>
                }
