@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@section ControlsSection{
    <style>
        .backLabel:hover {
            cursor: pointer;
        }

        .markerTemplate {
            height: 30px;
            width: 30px;
            display: block;
            margin: auto;
        }

        #category:hover {
            cursor: pointer;
        }

        .markerTemplate {
            font-size: 12px;
            color: white;
            text-shadow: 0px 1px 1px black;
            font-weight: 500;
        }

        #mapdrilldown {
            display: table;
            margin: 0 auto;
        }
    </style>
    <div id="button" style="font-size:14px;margin-left: 10px;margin-top: 20px;display:none;left:50px;top:50px;">
        <a id="category" onclick="buttonClick()" style="visibility:hidden; display:inline-block">
            World Map
        </a>
        <p style="visibility:hidden; display:inline-block" id="symbol">&nbsp;&gt;&gt;&nbsp;</p>
        <p id="text" style="display:inline-block;"></p>
    </div>
    <div class="control-section">
        <div id="outer" style="width:100%">
            @Html.EJS().Maps("mapdrilldown").Loaded("maploaded").Load("mapLoad").BaseLayerIndex(0).ShapeSelected("shapeSelected").Layers(new List<Syncfusion.EJ2.Maps.MapsLayer>
           {
               new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData = ViewData["World"],
                   ShapePropertyPath = "continent",
                   ShapeDataPath = "continent",
                   DataSource =  ViewData["DataSource"],
                   TooltipSettings = new MapsTooltipSettings
                   {
                       Visible = true, ValuePath="continent"
                   },
                   ShapeSettings = new MapsShapeSettings
                   {
                       ColorValuePath="drillColor"
                   },
                   MarkerSettings = new List<MapsMarker>
                   {
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                       new MapsMarker() { Visible = true, AnimationDuration = 0 },
                   }
               },
               new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData =  ViewData["Africa"],
                   ShapeSettings = new MapsShapeSettings{  Fill="#80306A" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = false, Fill="#80306A" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }
               },
                new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData = ViewData["Eurpoe"] ,
                   ShapeSettings = new MapsShapeSettings{  Fill="#622D6C" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = true, Fill="#622D6C" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }
               },
                 new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData =  ViewData["Asia"],
                   ShapeSettings = new MapsShapeSettings{  Fill="#462A6D" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = true, Fill="#462A6D" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }

               },
                 new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData = ViewData["NorthAmerica"],
                   ShapeSettings = new MapsShapeSettings{  Fill="#C13664" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = true, Fill="#C13664" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }
               },
                  new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData = ViewData["SouthAmerica"],
                   ShapeSettings = new MapsShapeSettings{  Fill="#9C3367" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = true, Fill="#9C3367" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }
               },
                  new Syncfusion.EJ2.Maps.MapsLayer
               {
                   ShapeData = ViewData["Oceania"],
                   ShapeSettings = new MapsShapeSettings{  Fill="#2A2870" },
                   HighlightSettings = new MapsHighlightSettings{ Enable = true, Fill="#2A2870" },
                   TooltipSettings = new MapsTooltipSettings{ Visible = true,  ValuePath="name" }
               }
           }).Render()
        </div>
    </div>
}

<script type="text/javascript">
    var maps, touchmove = false;
    var dataFirst = true;
    function mapLoad(args) {
        var theme = themeName ? themeName : 'Material';
        args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
        maps = args.maps;
        if (dataFirst) {
            args.maps.layers[0].markerSettings[0].template = '<div id="marker1" class="markerTemplate">Asia</div>';
            args.maps.layers[0].markerSettings[0].dataSource = [{ latitude: 50.32087157990324, longitude: 90.015625 }];
            args.maps.layers[0].markerSettings[1].template = '<div id="marker2" class="markerTemplate">Australia</div>';
            args.maps.layers[0].markerSettings[1].dataSource = [{ latitude: -28.88583769986199, longitude: 130.296875 }];
            args.maps.layers[0].markerSettings[2].template = '<div id="marker3" class="markerTemplate">Africa</div>';
            args.maps.layers[0].markerSettings[2].dataSource = [{ latitude: 10.97274101999902, longitude: 16.390625 }];
            args.maps.layers[0].markerSettings[3].template = '<div id="marker4" class="markerTemplate">Europe</div>';
            args.maps.layers[0].markerSettings[3].dataSource = [{ latitude: 47.95121990866204, longitude: 18.468749999999998 }];
            args.maps.layers[0].markerSettings[4].template = '<div id="marker5" class="markerTemplate" style="width:50px">North America</div>';
            args.maps.layers[0].markerSettings[4].dataSource = [{ latitude: 59.88893689676585, longitude: -109.3359375 }];
            args.maps.layers[0].markerSettings[5].template = '<div id="marker6" class="markerTemplate" style="width:50px">South America</div>';
            args.maps.layers[0].markerSettings[5].dataSource = [{ latitude: -6.64607562172573, longitude: -55.54687499999999 }];
            dataFirst = false;
        }
    }
    function shapeSelected(args) {
        var shape = args.shapeData.continent;
        if (maps.baseLayerIndex === 0 && !touchmove) {
            if (shape === 'Africa') {
                maps.baseLayerIndex = 1;
                maps.refresh();
            } else if (shape === 'Europe') {
                maps.baseLayerIndex = 2;
                maps.refresh();
            } else if (shape === 'Asia') {
                maps.baseLayerIndex = 3;
                maps.refresh();
            } else if (shape === 'North America') {
                maps.baseLayerIndex = 4;
                maps.refresh();
            } else if (shape === 'South America') {
                maps.baseLayerIndex = 5;
                maps.refresh();
            } else if (shape === 'Australia') {
                maps.baseLayerIndex = 6;
                maps.refresh();
            }
            var button = document.getElementById('button');
            button.style.display = 'block';
            document.getElementById('category').style.visibility = 'visible';
            document.getElementById('text').innerHTML = shape;
            document.getElementById('symbol').style.visibility = 'visible';
        }
        touchmove = false;
    }

    function buttonClick() {
        maps.baseLayerIndex = 0;
        maps.refresh();
        var button = document.getElementById('button');
        button.style.display = 'none';
        document.getElementById('category').style.visibility = 'hidden';
        document.getElementById('text').innerHTML = '';
        document.getElementById('symbol').style.visibility = 'hidden';
    }
    function maploaded(sender) {
        document.getElementById('mapdrilldown_svg').addEventListener('touchmove', function (e) {
            touchmove = true;
        }, false);
    }    
</script>
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates drill down with all the continents in the initial view. By clicking a continent, you can view all the countries available in that continent.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Drill Down in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to display another layer by clicking a shape in previous layer.
        </p>
    </div>

}

@section Title{
                    <title>ASP.NET MVC Maps Drill Down Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Drill Down in ASP.NET MVC Maps Control</h1>
                }