@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@{
    List<object> markerData = new List<object>();
    markerData.Add(new { latitude = 1.625758360412755, longitude = 98.5693359375 });
}

@section ControlsSection{
    <div id="template" style="display:none">
        <div class="pulse-container">
            <div class="pulse-box">
                <div class="pulse-css"></div>
            </div>
        </div>
    </div>
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }

        .pulse-css {
            width: 20px;
            height: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #E94430;
            position: relative;
        }

            .pulse-css:before, .pulse-css:after {
                content: '';
                width: 20px;
                height: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background-color: #E94430;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                transform: scale(0.5);
                transform-origin: center center;
                animation: pulse-me 3s linear infinite;
            }

            .pulse-css:after {
                animation-delay: 2s;
            }

        @@keyframes pulse-me {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            50% {
                opacity: 0.3;
            }

            70% {
                opacity: 0.1;
            }

            100% {
                transform: scale(5);
                opacity: 0;
            }
        }
    </style>

    <div class="control-section">
        <div id="outer" style="width:100%">
            @Html.EJS().Maps("container").Load("mapLoad").CenterPosition(new MapsCenterPosition { Latitude = 1.5053645409602877, Longitude = 105.14038085937499 }).ZoomSettings(new Syncfusion.EJ2.Maps.MapsZoomSettings
            {
                Enable = false,
                ZoomFactor = 7
            }).TitleSettings(new Syncfusion.EJ2.Maps.MapsTitleSettings
            {
                Text = "7.6 Magnitude earthquake strikes Sumatra - 2009",
                TextStyle = new MapsFont { Size = "18px", Opacity = 1 }
            }).Layers(new List<Syncfusion.EJ2.Maps.MapsLayer>{
   new Syncfusion.EJ2.Maps.MapsLayer
   {
       ShapeData = ViewData["ShapeData"],
       ShapePropertyPath = "name",
       ShapeSettings = new MapsShapeSettings
       {
           Fill = "#FFFDCF",
           Border = new MapsBorder{ Width = 0.5 , Color = "#3497C3", Opacity = 1 },
       },
       MarkerSettings = new List<Syncfusion.EJ2.Maps.MapsMarker>
       {
           new Syncfusion.EJ2.Maps.MapsMarker
           {
               Visible = true, Height = 100,Width = 100,Template = "#template",
               AnimationDuration = 0, DataSource = markerData
           }
       }
   }}).Render()
            <div style="margin-left:75%;">
                Source:
                <a href="https://en.wikipedia.org/wiki/2009_Sumatra_earthquakes" target="_blank" aria-label="wikipedia">en.wikipedia.org</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function mapLoad(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            args.maps.mapsArea.background = "#AEE2FA";
        }
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the earth quack occurred in Sumatra, Indonesia in the year 2009.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Earthquake indication in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a custom HTML element as marker and place it on a specific location.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use marker template, you need to inject <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Maps Earthquake indication Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Earthquake indication in ASP.NET MVC Maps Control</h1>
                }
