@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@section ControlsSection{
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }
    </style>
    <script src="~/Scripts/Texas.js"></script>
    <div class="control-section">
        <div id="outer" style="width:100%">
            @Html.EJS().Maps("container").TitleSettings(title => title.Text("Samsung Semiconductor office locations in USA").TextStyle(new MapsFont{ Size = "16px", Opacity = 1 })).Load("mapsLoad").ZoomSettings(zoom => zoom.Enable(true).PinchZooming(true)).Layers(layer =>
       {
           layer.DataLabelSettings(new MapsDataLabelSettings{ Visible = true, LabelPath = "iso_3166_2", SmartLabelMode = SmartLabelMode.Hide, TextStyle = new MapsFont { Color = "black" } }).ShapeSettings(new MapsShapeSettings{ Fill = "#E5E5E5" }).ShapeData(ViewData["shapeData"]).Add();
           layer.MarkerSettings(new List<MapsMarker> { new MapsMarker() { Visible = true, Height = 20, Width = 20 }, new MapsMarker() { Visible = true } }).ShapeSettings(new MapsShapeSettings{ Fill = "rgba(141, 206, 255, 0.6)" }).Type(Syncfusion.EJ2.Maps.Type.SubLayer).ShapeData(ViewData["africa"]).Add();
           layer.MarkerSettings(new List<MapsMarker> { new MapsMarker() { Visible = true, Height = 20, Width = 20 }, new MapsMarker() { Visible = true } }).ShapeSettings(new MapsShapeSettings{ Fill = "rgba(141, 206, 255, 0.6)" }).Type(Syncfusion.EJ2.Maps.Type.SubLayer).Add();
       }
   ).Render()
            <div style="margin-left: 75%">
                Source:
                <a href="http://www.samsung.com/semiconductor/about-us/location/" target="_blank" aria-label="samsung">www.samsung.com</a>
            </div>
        </div>
    </div>
    <div id="markercircle" style="display:none;">
        <svg width="30" height="30">
            <circle class="svgcircle" cx="15" cy="15" r="6" stroke="rgba(77, 77, 77, 0.8)" fill="rgba(0, 77, 153, 0.8)"></circle>
        </svg>
    </div>
    <script>
        function mapsLoad(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            args.maps.layers[0].shapeSettings.border = { color: "black", width: 0.25 };
            args.maps.layers[1].shapeSettings.border = {
                color: '#1a9cff',
                width: 0.25
            };
            args.maps.layers[2].shapeSettings.border = {
                color: '#1a9cff',
                width: 0.25
            };
            args.maps.layers[2].shapeData = texas;
            args.maps.layers[1].markerSettings[0].template = '#markercircle';
            args.maps.layers[1].markerSettings[0].dataSource = [
                {
                    latitude: 30.267153,
                    longitude: -97.7430608,
                    name: 'Austin'
                }
            ];
            args.maps.layers[1].markerSettings[0].tooltipSettings.visible = true;
            args.maps.layers[1].markerSettings[0].tooltipSettings.valuePath = 'name';
            args.maps.layers[1].markerSettings[0].tooltipSettings.format = '<b>${name}</b><br>Manufacturing Center,<br>Research and Development Center';
            args.maps.layers[1].markerSettings[1].dataSource = [
                {
                    latitude: 31.80289258670676,
                    longitude: -98.96484375
                }
            ];
            args.maps.layers[1].markerSettings[1].template = '<div style="color:black;">TX</div>';
            args.maps.layers[2].markerSettings[0].template = '#markercircle';
            args.maps.layers[2].markerSettings[0].dataSource = [
                {
                    latitude: 37.3382082,
                    longitude: -121.8863286,
                    name: 'San Jose'
                }
            ];
            args.maps.layers[2].markerSettings[0].tooltipSettings.visible = true;
            args.maps.layers[2].markerSettings[0].tooltipSettings.valuePath = 'name';
            args.maps.layers[2].markerSettings[0].tooltipSettings.format = '<b>${name}</b><br>Regional Office,<br>Research and Development Center';
            args.maps.layers[2].markerSettings[1].dataSource = [
                {
                    latitude: 37.09023980307208,
                    longitude: -119.35546875000001
                }
            ];
            args.maps.layers[2].markerSettings[1].template = '<div style="color:black;">CA</div>';
        }
    </script>
    <style>
        .markerTemplate {
            font-size: 12px;
            color: black;
            font-weight: 500;
        }

        .svgcircle {
            -webkit-animation: opac 1.5s ease-out infinite;
            animation: opac 1.5s ease-out infinite;
        }

        @@keyframes opac {
            0% {
                stroke-opacity: 0.6;
                stroke-width: 0px;
            }

            100% {
                stroke-opacity: 0.2;
                stroke-width: 8px;
            }
        }
    </style>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates the layers along with sublayers. California and Texas map is rendered on the top of US map to depict the office locations of Samsung in USA.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Multi-layers in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a sublayer in map. Sublayers are used to render the desired shapes over the existing layers. Any number of sublayers can be added to a map. You can use the <code>fill</code>,<code>width</code>, and <code>color</code> properties in the border to customize the appearance of the shapes.
        </p>

        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
    </div>
}



@section Title{
                    <title>ASP.NET MVC Maps Multi-layers Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multi-layers in ASP.NET MVC Maps Control</h1>
                }