@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@section ControlsSection{
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }
    </style>

    <div class="col-lg-9 control-section">
        <div id="outer" style="width:100%">
            <div class="content-wrapper">
                @Html.EJS().Maps("container").Load("loadMaps").TitleSettings(title => title.Text("Members of the UN Security Council").TextStyle(new MapsFont{ Size = "16px", Opacity = 1 }).SubtitleSettings(new MapsSubTitleSettings{ Text = "- In 2017", Alignment = Alignment.Far })).LegendSettings(legend => legend.Visible(true)).ZoomSettings(zoom => zoom.Enable(false)).Layers(layer =>
   {
       layer.TooltipSettings(new MapsTooltipSettings{ Visible = true, ValuePath = "Country" })
       .DataSource(ViewData["dataSource"]).ShapeDataPath("Country")
       .ShapePropertyPath("name").ShapeSettings(new MapsShapeSettings{ Fill = "#E5E5E5", ColorValuePath = "Membership", ColorMapping = (List<MapsColorMapping>)ViewData["colorMappings"] })
       .ShapeData(ViewData["shapeData"]).Add();
   }).Render()
                <div style="margin-left:75%">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/List_of_members_of_the_United_Nations_Security_Council" rel="nofollow" target="_blank" aria-label="wikipedia">en.wikipedia.org</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div style="margin-left: -10px">Projection Type</div>
                    </td>
                    <td>
                        <div>
                        <select name="projectionType" id="projectiontype" style="margin-left: -25px">
                            <option value="Mercator">Mercator</option>
                            <option value="Equirectangular">Equirectangular</option>
                            <option value="Miller">Miller</option>
                            <option value="Eckert3">Eckert3</option>
                            <option value="Eckert5">Eckert5</option>
                            <option value="Eckert6">Eckert6</option>
                            <option value="Winkel3">Winkel3</option>
                            <option value="AitOff">AitOff</option>
                        </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var maps;
        function loadMaps(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            maps = args.maps;
        }
        var projection = new ej.dropdowns.DropDownList({
            index: 0,
            placeholder: 'Select projection type',
            width: '100%',
            change: function () {
                maps.projectionType = projection.value;
                maps.refresh();
            }
        });
        projection.appendTo('#projectiontype');
    </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates the details of permanent and non-permanent countries in the UN security council, in 2017. Projection of the map can be changed by using the <code>Projection type</code> in properties panel.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Projection in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render a map with various projections. You can use the ColorMapping property to customize the color of the shapes.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a legend, inject the <code>Legend</code> module using the <code>Maps.Inject(Legend)</code> method.
        </p>
    </div>
}






@section Title{
                    <title>ASP.NET MVC Maps Projection Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Projection in ASP.NET MVC Maps Control</h1>
                }