@using Syncfusion.EJ2
@using Syncfusion.EJ2.Maps
@section ControlsSection{
    <style>
        #container {
            display: table;
            margin: 0 auto;
        }
    </style>
    <div class="control-section">
        <div id="outer" style="width:100%">
            @Html.EJS().Maps("container").ZoomSettings(new Syncfusion.EJ2.Maps.MapsZoomSettings
       {
           Enable = true,
           MouseWheelZoom = false,
           PinchZooming = false
       }).UseGroupingSeparator(true).TooltipDisplayMode(@Syncfusion.EJ2.Maps.TooltipGesture.Click).Format("n").Load("load").TitleSettings(title => title.Text("Sales details of products in various countries").TextStyle(new MapsFont{ Size = "16px", Opacity = 1 })).Layers(layer =>
       {
           layer.MarkerSettings((List<MapsMarker>)ViewData["markerSettings"]).ShapeSettings(new MapsShapeSettings { Fill = "#C3E6ED" }).ShapeData(ViewData["shapeData"]).MarkerClusterSettings(new MapsMarkerClusterSettings { AllowClusterExpand = true, AllowClustering= true, Height=40, Width=40, Shape =MarkerType.Image }).Add();
       }).Render()
            <div style="margin-left:75%;">
                Source:
                <a href="http://www.citymayors.com/statistics/largest-cities-population-125.html" target="_blank" aria-label="citymayors">www.citymayors.com</a>
            </div>
        </div>
    </div>
    <script>
        function load(args) {
            var theme = themeName ? themeName : 'Material';
            args.maps.theme = (theme.charAt(0).toUpperCase() + theme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
            args.maps.layers[0].markerSettings[0].imageUrl = '@Url.Content("~/Content/Maps/ballon.png")';
            args.maps.layers[0].markerClusterSettings.imageUrl = '@Url.Content("~/Content/Maps/cluster.svg")';
            args.maps.layers[0].markerClusterSettings.labelStyle = { color: "white" };
        }
    </script>
    <style>
        .toolback {
            border-radius: 4px;
            border: 1px #abb9c6;
            opacity: 90%;
            background: rgba(53, 63, 76, 0.90);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            width: 165px;
        }

        .listing1 {
            font-size: 13px;
            color: #cccccc;
        }

        .listing2 {
            font-size: 13px;
            color: #ffffff;
            font-weight: 500;
        }
    </style>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates the sales details of the products and users location by rendering the markers. Marker clustering is also enabled in this sample.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Sales map in ASP.NET MVC Maps control. Explore here for more details."/>
                }
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render cluster for more number of markers if it is at the exact latitude and longitude values. On clicking the cluster, it will gets expanded.

        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker, inject the <code>Marker</code> module using the <code>Maps.Inject(Marker)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Maps Sales map Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Sales map in ASP.NET MVC Maps Control</h1>
                }