@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section row">
        <div class="col-lg-6 datetimepicker-section">
            <div id="wrapper">
                <label class="example-label">DateTime Restriction</label>
                @Html.EJS().DateTimePicker("datetime1").Value(ViewData["value"]).Min(ViewData["minDate"]).Max(ViewData["maxDate"]).Render()
            </div>
        </div>
        <div class="col-lg-6 datetimepicker-section">
            <div id="wrapper">
                <label class="example-label">Time Restriction</label>
                @Html.EJS().DateTimePicker("datetime2").Value(ViewData["value"]).MinTime(ViewData["minDateTime"]).MaxTime(ViewData["maxDateTime"]).Render()
            </div>
        </div>
    </div>

    @*custom code start*@
    <style>
        #wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }
    </style>
    @*custom code end*@
}

@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates date and time selection within specific ranges defined by the <code>Min</code>, <code>Max</code>, <code>MinTime</code>, and <code>MaxTime</code> properties. Dates and times outside these ranges are <code>restricted</code> and cannot be set or selected.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>Date Range example explains the date and time selection within the specific range in a calendar and time popup list by using <code>Min</code>, <code>Max</code>, <code>MinTime</code> and <code>MaxTime</code> properties. Here, the 1st datetimepicker date selection range was restricted within a range from 7th 10:00 AM to 27th 10:30 PM days in a month.</p>
        <p>The 2nd datetimepicker time selection range is restricted from 10:00 AM to 8:30 PM of each day.</p>
        <p>More information on the datetime range configuration can be found in the <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/datetimepicker/date-time-range/"
                                                                                        target="_blank" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.</p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Date Range in ASP.NET MVC DateTimePicker control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC DateTimePicker Date Range Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Date Range in ASP.NET MVC DateTimePicker Control</h1>
                }
