@using Syncfusion.EJ2

@section ControlsSection{
    <div class=" col-lg-8 control-section">
        <div id="wrapper" class="datetimepicker-section">
            <div id="datetimepicker-control">
                @Html.EJS().DateTimePicker("datetimepicker").Placeholder("Choose a datetime").Render()
            </div>
        </div>
    </div>
    <div id="propertySection" class="col-lg-4 property-section">
        <div class="radio-control" id="property" title="Select a locale">
            <div class="row">
                @Html.EJS().RadioButton("en").Label("English").Name("locale").Value("en").Change("onchange").Render()
            </div>
            <div class="row">
                @Html.EJS().RadioButton("de").Label("German").Name("locale").Value("de").Change("onchange").Checked(true).Render()
            </div>
            <div class="row">
                @Html.EJS().RadioButton("ar").Label("Arabic").Name("locale").Value("ar").Change("onchange").Render()
            </div>
        </div>
    </div>
}

<script>
    function onchange(args) {
        /*Apply selected format to the component*/
        var culture = args.value;
        datetimepicker.locale = culture;
        datetimepicker.enableRtl = datetimepicker.locale === 'ar' ? true : false;
        if (culture !== 'en') {
            loadCultureFiles(culture);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        datetimepicker = document.getElementById('datetimepicker').ej2_instances[0];
        var L10n = ej.base.L10n;
        L10n.load({
            'de': {
                'datetimepicker': {
                    placeholder: "Wählen Sie Datum und Uhrzeit",
                    today: "heute"
                }
            },
            'en': {
                'datetimepicker': {
                    placeholder: 'Select a date and time',
                    today: "Today"
                }
            },
            'ar': {
                'datetimepicker': {
                    placeholder: 'حدد التاريخ والوقت',
                    today: 'اليوم'
                }
            }
        });
        loadCultureFiles('de');
        datetimepicker.locale = 'de';
    });
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
        if (name === 'ar') {
            files.push('numberingSystems.json');
        }
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            if (name === 'ar' && prop === files.length - 1) {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
            } else {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            }
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }
</script>

<style>
    #date_label {
        display: block;
        width: 248px;
        color: rgba(0, 0, 0, 0.58);
        margin-left: 5px;
    }

    #wrapper {
        max-width: 246px;
        margin: 0 auto;
        padding-top: 20px;
    }

    #datetimepicker-control {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 50px;
    }
</style>


@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DateTimePicker has been configured with
            <code>German</code> culture. To change this current culture, go to the properties panel at the right side and select a culture from
            the available options. For mobile mode, touch the icon at the right side and select a culture from the available options.
        </p>
    </div>

}
@section Description{
    <div id="description">
        <p>
            The DateTimePicker component is rendered with
            <code>German</code> culture. Here, the date separator, week header, and month text content are updated based on the current culture.
            You can also change the component culture by selecting it from the culture options in the properties panel.
        </p>
        <p>
            More information on the globalization configuration can be found in the
            <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/datetimepicker/globalization/" target="_blank" aria-label="documentation section"> documentation section</a>.
        </p>
    </div>

}
