@using Syncfusion.EJ2
@{
    ViewData["Title"] = "ColumnTemplate";
}

@section ControlsSection{
<div class="control-section">

    @(Html.EJS().Gantt("ColumnTemplate").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).Resources((IEnumerable<object>)ViewData["Resources"]).ResourceFields(rf => rf.Id("ResourceId").Name("ResourceName"))
       .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
        .Dependency("Predecessor").Child("SubTasks").ResourceInfo("ResourceId")).Columns(col =>
        {
            col.Field("TaskId").HeaderText("Task ID").Width(100).Add();
            col.Field("TaskName").HeaderText("Task Name").Width(250).Add();
            col.Field("ResourceId").HeaderText("Resources").Template("#columnTemplate").Width(250).Add();
            col.Field("StartDate").HeaderText("Start Date").Width(150).Add();
            col.Field("Duration").HeaderText("Duration").Width(150).Add();
            col.Field("Progress").HeaderText("Progress").Width(150).Add();
        }).TreeColumnIndex(1).SplitterSettings(ss => ss.ColumnIndex(3))
       .LabelSettings(ls => ls.LeftLabel("TaskName")).RowHeight(60)
       .ProjectStartDate("03/24/2024")
       .ProjectEndDate("07/06/2024")
       .Render()
    )
</div>
    <script type="text/x-template" id="columnTemplate">
        ${if(ganttProperties.resourceNames)}
        <div class="image">
            <img src="../Content/gantt/images/${ganttProperties.resourceNames}.png" style="height:40px;width:40px" /><div style="display:inline-block;width:100%;position:relative;${isRtl()}">${ganttProperties.resourceNames}</div>
        </div>
        ${/if}
    </script>
    <script>
        function isRtl() {
            let gantt = document.getElementsByClassName('e-gantt')[0].ej2_instances[0];
            if (gantt.enableRtl) {
               return 'right:10px;';
           } else {
               return 'left:10px;';
           }
        }
   </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the usage of template columns in Gantt.
            In this sample, we have shown custom images in the Resources column.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Column Template in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            The Gantt provides a way to use a custom layout for each cell using the column template feature.  The <code>Columns -> Template</code> property accepts either string or HTML element`s ID value,
            which will be used as the template for the cell.
        </p>
        <p>
            In this demo, using column template, resource column has been presented with employee photo,
            and the <code>Columns -> Template</code> is assigned with the ID of a SCRIPT element whose content is used as the template.
        </p>
        <p> The template expression should be provided inside <code>${...}</code> interpolation syntax</p>
        <p>
            More information about Column Template can be found in this <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/gantt/columns/column-template" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Column Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Column Template in ASP.NET MVC Gantt Control</h1>
                }
