@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Critical Path";
}
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().Gantt("CriticalPath").DataSource((IEnumerable<object>)ViewData["DataSource"])
                    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                    .Dependency("Predecessor").Child("SubTasks")).TreeColumnIndex(1)
                    .EditSettings(es => es.AllowAdding(true).AllowEditing(true).AllowDeleting(true).AllowTaskbarEditing(true).ShowDeleteConfirmDialog(true))
                     .EnableCriticalPath(true)
                    .Toolbar(new List<string>() {"Add", "Edit", "Delete","CriticalPath" })
                    .Columns(col =>
                        {
                            col.Field("TaskId").Width(80).Add();
                            col.Field("TaskName").Width(250).Add();
                            col.Field("StartDate").Add();
                            col.Field("EndDate").Add();
                            col.Field("Duration").Add();
                            col.Field("Predecessor").Add();
                            col.Field("Progress").Add();

                        })
                    .LabelSettings(ls=>ls.LeftLabel("TaskName"))
                    .Height("450px").IncludeWeekend(true)
                    .ProjectStartDate("03/24/2024")
                    .Render()
                )
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the rendering of critical path to the Gantt control.</p>
    </div>
}


@section Meta{
                    <meta name="description" content="This example demonstrates the Critical Path in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{

    <div id="description">
        <p>
            In this example, you can see how to render a Gantt Chart with critical path. The default timeline view week-day mode is applied to Gantt Chart. The dependency lines are enabled in this example to represent the execution order or the hierarchy between the phases.
        </p>
        <p>
            The critical path is a series of tasks (or sometimes only a single task) that controls the calculated finish date of the project. If a task in a critical path is delayed, then the entire project will be delayed.
        </p>
        <p>
            More information on the Critical Path feature can be found in this <a href="https://ej2.syncfusion.com/aspnetmvc/documentation/gantt/critical-path" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Critical Path Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Critical Path in ASP.NET MVC Gantt Control</h1>
                }