@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Sorting";
}

@section ControlsSection{
    <div class="control-section">

        @(Html.EJS().Gantt("Sorting").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true)
                    .AllowSorting(true).TreeColumnIndex(1).SelectedRowIndex(0)
                    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                    .Dependency("Predecessor").Child("SubTasks"))
                    .Columns(col =>
                    {
                        col.Field("TaskId").Add();
                        col.Field("TaskName").Width(250).Add();
                        col.Field("StartDate").Add();
                        col.Field("EndDate").Add();
                        col.Field("Duration").Add();
                        col.Field("Progress").Add();
                    })
                    .LabelSettings(ls => ls.LeftLabel("TaskName"))
                    .SplitterSettings(sp => sp.ColumnIndex(2))
                    .SortSettings(ss => ss.Columns(col => {
                        col.Field("TaskName").Direction(Syncfusion.EJ2.Gantt.SortDirection.Ascending).Add();
                        col.Field("TaskId").Direction(Syncfusion.EJ2.Gantt.SortDirection.Ascending).Add();
                    }))
                    .ProjectStartDate("03/25/2024")
                    .ProjectEndDate("07/28/2024")
                    .Render()
        )
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the Gantt multi-sorting feature. To sort two or more columns, hold the CTRL key, and click the column header.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Default in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            The sorting feature enables you to order data in a particular direction. It can be enabled by setting <code>AllowSorting</code> to true.
        </p>
        <p>
            To sort a Gantt column, click the column header. The icons (ascending) and (descending) specifies the sort direction of a column.
        </p>
        <p>
            By default, the multi-sorting feature is enabled in Gantt. To sort multiple columns, hold the <strong>CTRL</strong> key, and then click the column header. To clear sort for a column, hold the <strong>SHIFT</strong> key, and then click the column header.
        </p>
        <p>
            In this demo, multiple sorting enabled on load time by assigning multiple columns into <code>SortSettings</code> property.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET MVC Gantt Default Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default in ASP.NET MVC Gantt Control</h1>
                }