@using Syncfusion.EJ2
@using Syncfusion.EJ2.Grids
@{
    ViewData["Title"] = "DragAndDrop";
}

@section ControlsSection{
    <div class="control-section">

        @(Html.EJS().Gantt("DragAndDrop").DataSource((IEnumerable<object>)ViewData["DataSource"]).AllowRowDragAndDrop(true).Height("450px").HighlightWeekends(true).TreeColumnIndex(1).AllowTaskbarDragAndDrop(true)
                    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                    .Dependency("Predecessor").Child("SubTasks"))
                    .SelectionSettings(sel =>
                    {
                        sel.Type(SelectionType.Multiple);
                    })
                    .SplitterSettings(spl => {
                        spl.ColumnIndex(3);
                    })
                    .Columns(col =>
                    {
                        col.Field("TaskId").HeaderText("ID").Width(80).Add();
                        col.Field("TaskName").HeaderText("Name").Width(250).Add();
                        col.Field("StartDate").HeaderText("Start Date").Add();
                        col.Field("Duration").HeaderText("Duration").Add();
                        col.Field("Progress").HeaderText("Progress").Add();
                        col.Field("Predecessor").HeaderText("Dependency").Add();

                    })
                    .EditSettings(es => es.AllowAdding(true).AllowEditing(true).AllowDeleting(true).AllowTaskbarEditing(true).ShowDeleteConfirmDialog(true))
                    .LabelSettings(ls => ls.LeftLabel("TaskName"))
                    .ProjectStartDate("03/24/2024")
                    .ProjectEndDate("07/06/2024")
                    .Render()
        )
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the Gantt component with the row drag and drop feature. You can rearrange the gantt rows by using drag icon in left side of gantt column. Here you can perform drag and drop the gantt rows in to required position.</p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Row Drag and Drop in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>Row drag and drop feature can be enabled by settting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowRowDragAndDrop" aria-label="AllowRowDragAndDrop">
                AllowRowDragAndDrop
            <span class="sr-only">opens in a new tab</span></a> property as true. In this demo, taskbar drag and drop between rows can be enabled by setting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.Gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowTaskbarDragAndDrop" aria-label="AllowTaskbarDragAndDrop">
                AllowTaskbarDragAndDrop
            <span class="sr-only">opens in a new tab</span></a> as true.</p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Row Drag and Drop Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Row Drag and Drop in ASP.NET MVC Gantt Control</h1>
                }
