@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Events";
}

@section ControlsSection{
    <div class="col-lg-9 control-section">

        @(Html.EJS().Gantt("Events").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true).TreeColumnIndex(1)
            .AllowReordering(true).AllowResizing(true).AllowSorting(true).EnableContextMenu(true).ShowColumnMenu(true)
            .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
            .Dependency("Predecessor").Child("SubTasks"))
            .Columns(col =>
            {
                col.Field("TaskId").Width(80).Add();
                col.Field("TaskName").Width(250).Add();
                col.Field("StartDate").Add();
                col.Field("EndDate").Add();
                col.Field("Duration").Add();
                col.Field("Predecessor").Add();
                col.Field("Progress").Add();
            })
            .Toolbar(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll", "Search" })
            .EditSettings(es => es.AllowAdding(true).AllowEditing(true).AllowDeleting(true).AllowTaskbarEditing(true))
            .LabelSettings(ls => ls.LeftLabel("TaskName"))
            .SplitterSettings(sp => sp.ColumnIndex(2))
            .ProjectStartDate("03/24/2024")
            .ProjectEndDate("07/06/2024")
            .Load("Load").DataBound("DataBound").Created("Created").ToolbarClick("ToolbarClick").BeforeTooltipRender("BeforeTooltipRender").ActionBegin("ActionBegin").ActionComplete("ActionComplete")
            .CellEdit("CellEdit").EndEdit("EndEdit").TaskbarEditing("TaskbarEditing").TaskbarEdited("TaskbarEdited").RowSelecting("RowSelecting").RowSelected("RowSelected")
            .RowDeselecting("RowDeselecting").RowDeselected("RowDeselected").ColumnDragStart("ColumnDragStart").ColumnDrag("ColumnDrag").ColumnDrop("ColumnDrop").Expanding("Expanding")
            .Expanded("Expanded").Collapsing("Collapsing").Collapsed("Collapsed").ColumnMenuClick("ColumnMenuClick").ColumnMenuOpen("ColumnMenuOpen").ContextMenuClick("ContextMenuClick")
            .ContextMenuOpen("ContextMenuOpen").ResizeStart("ResizeStart").ResizeStop("ResizeStop").Resizing("Resizing").SplitterResizeStart("SplitterResizeStart")
            .SplitterResizing("SplitterResizing").SplitterResized("SplitterResized").OnTaskbarClick("OnTaskbarClick").RecordDoubleClick("RecordDoubleClick")
            .Render()
        )

    </div>

    <div class="col-lg-3 property-section">
        <table id="property" title="Event Trace">
            <tr>
                <td>
                    <div class="eventarea" style="height: 346px;overflow: auto">
                        <span class="EventLog" id="EventLog" style="word-break: normal;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding: 20px 10px 10px 80px;">
                    <div>
                        @(Html.EJS().Button("Clear").Content("Clear").Render())
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        function Load() {
            appendElement('Gantt <b>Load</b> event called<hr>');
        }
        function DataBound() {
            appendElement('Gantt <b>DataBound</b> event called<hr>');
        }
        function Created() {
            appendElement('Gantt <b>Created</b> event called<hr>');
        }
        function ToolbarClick() {
            appendElement('Gantt <b>ToolbarClick</b> event called<hr>');
        }
        function BeforeTooltipRender() {
            appendElement('Gantt <b>BeforeTooltipRender</b> event called<hr>');
        }
        function ActionBegin() {
            appendElement('Gantt <b>ActionBegin</b> event called<hr>');
        }
        function ActionComplete() {
            appendElement('Gantt <b>ActionComplete</b> event called<hr>');
        }
        function CellEdit() {
            appendElement('Gantt <b>CellEdit</b> event called<hr>');
        }
        function EndEdit() {
            appendElement('Gantt <b>EndEdit</b> event called<hr>');
        }
        function TaskbarEditing() {
            appendElement('Gantt <b>TaskbarEditing</b> event called<hr>');
        }
        function TaskbarEdited() {
            appendElement('Gantt <b>TaskbarEdited</b> event called<hr>');
        }
        function RowSelecting() {
            appendElement('Gantt <b>RowSelecting</b> event called<hr>');
        }
        function RowSelected() {
            appendElement('Gantt <b>RowSelected</b> event called<hr>');
        }
        function RowDeselecting() {
            appendElement('Gantt <b>RowDeselecting</b> event called<hr>');
        }
        function RowDeselected() {
            appendElement('Gantt <b>RowDeselected</b> event called<hr>');
        }
        function ColumnDragStart() {
            appendElement('Gantt <b>ColumnDragStart</b> event called<hr>');
        }
        function ColumnDrag() {
            appendElement('Gantt <b>ColumnDrag</b> event called<hr>');
        }
        function ColumnDrop() {
            appendElement('Gantt <b>ColumnDrop</b> event called<hr>');
        }
        function Expanding() {
            appendElement('Gantt <b>Expanding</b> event called<hr>');
        }
        function Expanded() {
            appendElement('Gantt <b>Expanded</b> event called<hr>');
        }
        function Collapsing() {
            appendElement('Gantt <b>Collapsing</b> event called<hr>');
        }
        function Collapsed() {
            appendElement('Gantt <b>Collapsed</b> event called<hr>');
        }
        function ColumnMenuClick() {
            appendElement('Gantt <b>ColumnMenuClick</b> event called<hr>');
        }
        function ColumnMenuOpen() {
            appendElement('Gantt <b>ColumnMenuOpen</b> event called<hr>');
        }
        function ContextMenuClick() {
            appendElement('Gantt <b>ContextMenuClick</b> event called<hr>');
        }
        function ContextMenuOpen() {
            appendElement('Gantt <b>ContextMenuOpen</b> event called<hr>');
        }
        function ResizeStart() {
            appendElement('Gantt <b>ResizeStart</b> event called<hr>');
        }
        function Resizing() {
            appendElement('Gantt <b>Resizing</b> event called<hr>');
        }
        function ResizeStop() {
            appendElement('Gantt <b>ResizeStop</b> event called<hr>');
        }
        function SplitterResizeStart() {
            appendElement('Gantt <b>SplitterResizeStart</b> event called<hr>');
        }
        function SplitterResizing() {
            appendElement('Gantt <b>SplitterResizing</b> event called<hr>');
        }
        function SplitterResized() {
            appendElement('Gantt <b>SplitterResized</b> event called<hr>');
        }
        function OnTaskbarClick() {
            appendElement('Gantt <b>OnTaskbarClick</b> event called<hr>');
        }
        function RecordDoubleClick() {
            appendElement('Gantt <b>RecordDoubleClick</b> event called<hr>');
        }
        function appendElement(html) {
            var span = document.createElement('span');
            span.innerHTML = html;
            var log = document.getElementById('EventLog');
            log.insertBefore(span, log.firstChild);
        }
        document.getElementById('Clear').onclick = function () {
            document.getElementById('EventLog').innerHTML = '';
        };
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates all the events that occur on all the Gantt operations with the help of Event Trace panel.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Events in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            The Gantt triggers events based on its actions. The events can be used as an extension point to perform custom operations.
        </p>
        <p>
            In this demo, perform Gantt actions such as Load, Created, DataBound, ToolbarClick, BeforeTooltipRender, ActionBegin, ActionComplete, CellEdit,
            EndEdit, TaskbarEditing, TaskbarEdited, RowSelecting, RowSelected, RowDeselecting, RowDeselected, ColumnDragStart, ColumnDrag,
            ColumnDrop, Expanding, Expanded, Collapsing, Collapsed, ColumnMenuClick, ColumnMenuOpen, ContextMenuClick, ContextMenuOpen, ResizeStart,
            Resizing, ResizeStop, SplitterResizeStart, SplitterResizing, SplitterResized, RecordDoubleClick, OnTaskbarClick and
            see the <strong>Event Trace</strong> panel for the events emitted.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Events Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Events in ASP.NET MVC Gantt Control</h1>
                }