@using Syncfusion.EJ2
@{
    ViewBag.Title = "Exporting";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <div style="display: flex;">
                <div style="display: flex;">
                    <label for="checked" style="margin:0px 5px 0px 0px;font-size: 15px;"> AutoFit in Pdf Export </label>
                    <div>
                        @Html.EJS().Switch("checked").Change("Change").Render()
                    </div>
                </div>
            </div>
            <div>
                @(Html.EJS().Gantt("GanttExport")
                .DataSource((IEnumerable<object>)ViewBag.DataSource)
                .AllowExcelExport(true)
                .AllowPdfExport(true)
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration")
                    .Progress("Progress").Dependency("Predecessor").Child("SubTasks").ResourceInfo("ResourceId"))
                .Toolbar(new List<string>() { "ExcelExport", "CsvExport", "PdfExport" })
                .AllowSelection(true)
                .GridLines(Syncfusion.EJ2.Gantt.GridLine.Both)
                .Height("450px")
                .TreeColumnIndex(1)
                .ResourceFields(rf => rf.Id("ResourceId").Name("ResourceName"))
                .Resources((IEnumerable<object>)ViewBag.Resources)
                .HighlightWeekends(true)
                .Columns(col =>
                {
                    col.Field("TaskId").Visible(false).Add();
                    col.Field("TaskName").HeaderText("Task Name").Add();
                })
                .TimelineSettings(tl => tl.TopTier(tt =>
                    tt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Week).Format("MMM dd, y")).
                    BottomTier(bt => bt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Day)))
                .LabelSettings(ls => ls.LeftLabel("TaskName"))
                .ToolbarClick("toolbarClick")
                .ProjectStartDate("03/25/2019")
                .ProjectEndDate("07/28/2019")
                .Render()
            )
            </div>
            <script>
                var isFitToWidth;
                function toolbarClick(args) {
                    if (args.item.id === "GanttExport_excelexport") {
                        this.excelExport();
                    }
                    else if (args.item.id === "GanttExport_csvexport") {
                        this.csvExport();
                    }
                    else if (args.item.id === "GanttExport_pdfexport") {
                        var exportProperties = {
                            fitToWidthSettings: {
                                isFitToWidth: isFitToWidth,
                            }
                        };
                        this.pdfExport(exportProperties);
                    }
                }
                function Change(args) {
                    if (args.checked) {
                        isFitToWidth = true;
                    } else {
                        isFitToWidth = false;
                    }
                }
            </script>
        </div>
});
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates client-side exporting of the Gantt, which allows you to export Gantt data to Excel, PDF and CSV formats. Using the Gantt toolbar buttons, you can export Gantt data to the desired format. </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Exporting in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
        <div id="description">
            <p>Gantt supports client-side exporting, which allows you to export its data to the Excel, PDF and CSV formats. </p>
            <p>In this demo, we have defined actions in the <code><a target="_blank" class="code" href="https://ej2.syncfusion.com/javascript/documentation/api/gantt/#toolbarclick">toolbarClick</a></code>
             event to export the Gantt data using the <code><a target="_blank" class="code" href="https://ej2.syncfusion.com/javascript/documentation/api/gantt/#excelexport">excelExport</a></code>, 
             <code><a target="_blank" class="code" href="https://ej2.syncfusion.com/javascript/documentation/api/gantt/#pdfexport">pdfExport</a></code> and
             <code><a target="_blank" class="code" href="https://ej2.syncfusion.com/javascript/documentation/api/gantt/#csvexport">csvExport</a></code> methods.</p>
            <p>In addition we have provided support to export the Gantt component where each rows are auto-fit to the PDF document page width using 
                 <b><a target="_blank" class="code" href="https://ej2.syncfusion.com/javascript/documentation/gantt/pdf-export/pdf-export">fitToWidthSettings</a></b> in  <code>PdfExportProperties</code></p>
        </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Exporting Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Exporting in ASP.NET MVC Gantt Control</h1>
                }
