@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Grids;
@using Syncfusion.EJ2.Navigations;
@{
    ViewData["Title"] = "FrozenColumns";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @(Html.EJS().Gantt("FrozenColumns").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("650px").AllowSelection(false).TreeColumnIndex(1)
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                .Dependency("Predecessor").ParentID("ParentID").ResourceInfo("ResourceId"))
                .Resources((IEnumerable<object>)ViewData["Resources"]).ResourceFields(rf => rf.Id("ResourceId").Name("ResourceName"))
                .Columns(col =>
                    {
                        col.Field("TaskId").Width(80).Freeze(FreezeDirection.Left).Add();
                        col.Field("TaskName").Width(250).Freeze(FreezeDirection.Left).Add();
                        col.Field("StartDate").Add();
                        col.Field("Duration").Add();
                        col.Field("EndDate").Add();
                        col.Field("Progress").Add();
                        col.Field("Predecessor").Add();
                        col.Field("ResourceId").HeaderText("Assignee").Freeze(FreezeDirection.Right).Add();
                        col.Field("Designation").Add();
                        col.Field("Status").Add();
                    })
                .Toolbar(new List<object>{
                    new { template = "#column-label", align = "Left" },
                    new { template = "#column-dropdown", align = "Left" },
                    new { template = "#direction-label", align = "Left" },
                    new { template = "#direction-dropdown", align = "Left"},
                })
                .LabelSettings(ls => ls.LeftLabel("TaskName").TaskLabel("Progress"))
                .SplitterSettings(sp => sp.Position("70%"))
                .TimelineSettings(ts => ts.TopTier(tt => tt.Format("dd/MM/yyyy").Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Week))
                    .BottomTier(bt => bt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Day)))
                .ProjectStartDate("02/27/2025")
                .ProjectEndDate("05/04/2025")
                .Render()
            )
        </div>
        <div id="column-label">
            <div class="left-label"><label>Columns:</label></div>
        </div>
        <div id="column-dropdown">
            @Html.EJS().DropDownList("columns").DataSource((IEnumerable<object>)ViewData["columns"]).Change("columnChange").Value("TaskId").Fields(field => { field.Value("id").Text("name"); }).Render()
        </div>
        <div id="direction-label">
            <div class="right-label"><label>Freeze Direction:</label></div>
        </div>
        <div id="direction-dropdown">
            @Html.EJS().DropDownList("directionlist").DataSource((IEnumerable<object>)ViewData["direction"]).Change("directionChange").Value("Left").Fields(field => { field.Value("id").Text("name"); }).Render()
        </div>
    </div>

    <script>
        function columnChange(e){
            var gantt=document.getElementById('FrozenColumns').ej2_instances[0];
            let columnName = e.value;
            let column = gantt.getColumnByField(columnName, gantt.columns);
            let value = column.freeze === undefined ? 'None' : column.freeze;
            document.getElementById('directionlist').ej2_instances[0].value = value;
        }

        function directionChange(e){
            var gantt = document.getElementById('FrozenColumns').ej2_instances[0];
            var columnName = document.getElementById('columns').ej2_instances[0].value;
            var columns = gantt.getGanttColumns();
            var column = columns.find((col) => col.field === columnName);
            if (column) {
                column.freeze = e.value === 'None' ? undefined  : e.value;
                gantt.columns = columns;
            }
        }
    </script>
    <style>
        
        .tailwind3 #FrozenColumns .e-content .e-leftfreeze,
        .tailwind3 #FrozenColumns .e-content .e-rightfreeze,
        .tailwind3 #FrozenColumns .e-content .e-fixedfreeze {
            background-color: #e0e7ff !important;
        }

        .tailwind3 #FrozenColumns .e-columnheader .e-leftfreeze,
        .tailwind3 #FrozenColumns .e-columnheader .e-rightfreeze,
        .tailwind3 #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: #d8dfff !important;
        }

        /* ==================== TAILWIND3 DARK ==================== */
        .tailwind3-dark #FrozenColumns .e-content .e-leftfreeze,
        .tailwind3-dark #FrozenColumns .e-content .e-rightfreeze,
        .tailwind3-dark #FrozenColumns .e-content .e-fixedfreeze {
            background-color: #1e1b4b !important;
        }

        .tailwind3-dark #FrozenColumns .e-columnheader .e-leftfreeze,
        .tailwind3-dark #FrozenColumns .e-columnheader .e-rightfreeze,
        .tailwind3-dark #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: #2d2b55 !important;
            /* slightly lighter than content for depth */
        }

        .fluent2 #FrozenColumns .e-content .e-leftfreeze,
        .fluent2 #FrozenColumns .e-content .e-rightfreeze,
        .fluent2 #FrozenColumns .e-content .e-fixedfreeze {
            background-color: #ebf3fc !important;
        }

        .fluent2 #FrozenColumns .e-columnheader .e-leftfreeze,
        .fluent2 #FrozenColumns .e-columnheader .e-rightfreeze,
        .fluent2 #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: #e5f1ff !important;
            /* slightly lighter than content for depth */
        }

        .fluent2-dark #FrozenColumns .e-content .e-leftfreeze,
        .fluent2-dark #FrozenColumns .e-content .e-rightfreeze,
        .fluent2-dark #FrozenColumns .e-content .e-fixedfreeze {
            background-color: #082338 !important;
        }

        .fluent2-dark #FrozenColumns .e-columnheader .e-leftfreeze,
        .fluent2-dark #FrozenColumns .e-columnheader .e-rightfreeze,
        .fluent2-dark #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: #082338 !important;
            /* slightly lighter than content for depth */
        }

        .material3 #FrozenColumns .e-content .e-leftfreeze,
        .material3 #FrozenColumns .e-content .e-rightfreeze,
        .material3 #FrozenColumns .e-content .e-fixedfreeze {
            background-color: rgba(234, 221, 255) !important;
        }

        .material3 #FrozenColumns .e-columnheader .e-leftfreeze,
        .material3 #FrozenColumns .e-columnheader .e-rightfreeze,
        .material3 #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: rgb(230, 216, 251) !important;
        }

        /* slightly lighter than content for depth */
        .material3-dark #FrozenColumns .e-content .e-leftfreeze,
        .material3-dark #FrozenColumns .e-content .e-rightfreeze,
        .material3-dark #FrozenColumns .e-content .e-fixedfreeze {
            background-color: rgb(60, 42, 107) !important;
        }

        .material3-dark #FrozenColumns .e-columnheader .e-leftfreeze,
        .material3-dark #FrozenColumns .e-columnheader .e-rightfreeze,
        .material3-dark #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: rgb(78, 57, 130) !important;
        }

        .bootstrap5\.3 #FrozenColumns .e-content .e-leftfreeze,
        .bootstrap5\.3 #FrozenColumns .e-content .e-rightfreeze,
        .bootstrap5\.3 #FrozenColumns .e-content .e-fixedfreeze {
            background-color:  #86b7fe !important;
        }

        .bootstrap5\.3 #FrozenColumns .e-columnheader .e-leftfreeze,
        .bootstrap5\.3 #FrozenColumns .e-columnheader .e-rightfreeze,
        .bootstrap5\.3 #FrozenColumns .e-columnheader .e-fixedfreeze {
             background-color: #8fbdff !important;
            /* slightly lighter than content for depth */
        }

        .bootstrap5\.3-dark #FrozenColumns .e-content .e-leftfreeze,
        .bootstrap5\.3-dark #FrozenColumns .e-content .e-rightfreeze,
        .bootstrap5\.3-dark #FrozenColumns .e-content .e-fixedfreeze {
            background-color:  #86b7fe !important;
        }

        .bootstrap5\.3-dark #FrozenColumns .e-columnheader .e-leftfreeze,
        .bootstrap5\.3-dark #FrozenColumns .e-columnheader .e-rightfreeze,
        .bootstrap5\.3-dark #FrozenColumns .e-columnheader .e-fixedfreeze {
             background-color: #8fbdff !important;
            /* slightly lighter than content for depth */
        }

        /* Fluent2 High Contrast - separate class as you said */
        .fluent2-highcontrast #FrozenColumns .e-content .e-leftfreeze,
        .fluent2-highcontrast #FrozenColumns .e-content .e-leftfreeze .e-treecolumn-container .e-treegridexpand,
        .fluent2-highcontrast #FrozenColumns .e-content .e-leftfreeze .e-treecolumn-container .e-treegridcollapse,
        .fluent2-highcontrast #FrozenColumns .e-content .e-rightfreeze,
        .fluent2-highcontrast #FrozenColumns .e-content .e-rightfreeze .e-treecolumn-container .e-treegridexpand,
        .fluent2-highcontrast #FrozenColumns .e-content .e-rightfreeze .e-treecolumn-container .e-treegridcollapse,
        .fluent2-highcontrast #FrozenColumns .e-content .e-fixedfreeze,
        .fluent2-highcontrast #FrozenColumns .e-content .e-fixedfreeze .e-treecolumn-container .e-treegridexpand,
        .fluent2-highcontrast #FrozenColumns .e-content .e-fixedfreeze .e-treecolumn-container .e-treegridcollapse {
            background-color: #45e3f4 !important;
            color: #000 !important;
        }

        .fluent2-highcontrast #FrozenColumns .e-columnheader .e-leftfreeze,
        .fluent2-highcontrast #FrozenColumns .e-columnheader .e-rightfreeze,
        .fluent2-highcontrast #FrozenColumns .e-columnheader .e-fixedfreeze {
            background-color: #07dff3 !important;
            color: #000 !important;
        }
        #FrozenColumns .e-template .e-dropdownlist{
            margin: auto !important;
        }

        .fluent2 #FrozenColumns .e-toolbar-items, .fluent2-dark #FrozenColumns .e-toolbar-items, .fluent2-highcontrast #FrozenColumns .e-toolbar-items, .material3 #FrozenColumns .e-toolbar-items,.material3-dark #FrozenColumns .e-toolbar-items{
          margin-top: 4px;
        }

        #FrozenColumns .left-label label {
            margin: 0px 10px 0px 0px;
            font-size: 14px;
        }
        
        #FrozenColumns .right-label label {
            margin: 0px 10px 0px 10px;
            font-size: 14px;
        }
    </style>
    
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the column freezing feature in the Gantt Chart. Frozen columns remain fixed while other columns scroll horizontally, improving readability.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Frozen Columns in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>The freezing feature allows users to freeze specfied number of columns while scrolling the remaining content.
         The freezing behavior can be configured using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_FrozenColumns">frozenColumns</a> property.
        Additionally, to keep specific columns visible during horizontal scrolling, use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.GanttColumn.html#Syncfusion_EJ2_Gantt_GanttColumn_Freeze">column.freeze</a> property on the relevant columns to freeze them to the <code>Left</code>, <code>Right</code> or <code>Fixed</code>.
        </p>
        <p>In this example, the <b>Task ID</b> and <b>Task Name</b> columns are frozen on the left, and the <b>Assignee</b> column is frozen on the right using the <code className="code">column.freeze</code> property.</p>
        <p>More information on the Essential<sup>®</sup> ASP.NET MVC Gantt Chart can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/gantt/getting-started#add-aspnet-mvc-gantt-control">documentation section</a>.</p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Frozen Columns Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Frozen Columns in ASP.NET MVC Gantt Control</h1>
                }
