@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Indicators";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @(Html.EJS().Gantt("Indicators").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true)
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                .Dependency("Predecessor").Indicators("Indicators").Child("SubTasks")).TreeColumnIndex(1)
                .Columns(col =>
                {
                    col.Field("TaskId").Width(80).Add();
                    col.Field("TaskName").Width(250).Add();
                    col.Field("StartDate").Add();
                    col.Field("EndDate").Add();
                    col.Field("Duration").Add();
                    col.Field("Predecessor").Add();
                    col.Field("Progress").Add();
                })
                .LabelSettings(ls => ls.LeftLabel("TaskName"))
                .ProjectStartDate("03/24/2024")
                .ProjectEndDate("07/06/2024")
                .Render()
            )
        </div>
    </div>

    <style>

        #Indicators .okIcon::before {
            content: '\ea84';
        }

        #Indicators .description::before {
            content: '\e30d';
        }

        .bootstrap4 #Indicators .okIcon::before {
            content: '\e7d9';
        }

        .bootstrap4 #Indicators .description::before {
            content: '\e7cb';
        }
        
        .bootstrap5-dark #Indicators .okIcon::before {
            content: '\e72b';
        }
        
        .bootstrap5-dark #Indicators .description::before {
            content: '\e7c0';
        }

        .bootstrap5 #Indicators .okIcon::before,
        .tailwind #Indicators .okIcon::before,
        .tailwind-dark #Indicators .okIcon::before,
        .tailwind3 #Indicators .okIcon::before,
        .tailwind3-dark #Indicators .okIcon::before,
        .fluent #Indicators .okIcon::before,
        .fluent2 #Indicators .okIcon::before,
        .fluent2-dark #Indicators .okIcon::before,
        .fluent-dark #Indicators .okIcon::before,
        .material3 #Indicators .okIcon::before,
        .material3-dark #Indicators .okIcon::before,
        .fluent2-highcontrast #Indicators .okIcon::before,
        .bootstrap5\.3 #Indicators .okIcon::before,
        .bootstrap5\.3-dark-lite #Indicators .okIcon::before,
        .bootstrap5\.3-dark #Indicators .okIcon::before, 
        .bootstrap5\.3-lite #Indicators .okIcon::before {
            content: '\e72b';
        }

        .bootstrap5 #Indicators .description::before,
        .tailwind #Indicators .description::before,
        .tailwind-dark #Indicators .description::before,
        .tailwind3 #Indicators .description::before,
        .tailwind3-dark #Indicators .description::before,
        .fluent #Indicators .description::before,
        .fluent2 #Indicators .description::before, 
        .fluent-dark #Indicators .description::before,
        .fluent2-dark #Indicators .description::before,
        .material3 #Indicators .description::before,
        .material3-dark #Indicators .description::before,
        .material3-dark #Indicators .researchPhase::before,
        .material3 #Indicators .researchPhase::before,
        .fluent2-highcontrast #Indicators .description::before,
        .fluent2-highcontrast #Indicators .researchPhase::before,
        .bootstrap5\.3 #Indicators .description::before,
        .bootstrap5\.3-dark-lite #Indicators .description::before,
        .bootstrap5\.3-dark #Indicators .description::before, 
        .bootstrap5\.3-lite #Indicators .description::before, 
        .bootstrap5\.3 #Indicators .researchPhase::before,
        .bootstrap5\.3-dark-lite #Indicators .researchPhase::before,
        .bootstrap5\.3-dark #Indicators .researchPhase::before, 
        .bootstrap5\.3-lite #Indicators .researchPhase::before {
            content: '\e7c0';
        }

        .fabric #Indicators .description::before,
        .fabric-dark #Indicators .description::before {
            content: '\e310';
        }
        .highcontrast #Indicators .description::before {
            content: '\e310';
        }
        .fluent2 #Indicators .description::before,
        .fluent2-dark #Indicators .description::before,
        .fluent2-highcontrast #Indicators .description::before {
            content: '\e7c0';
        }
    </style>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes how to mention special moment in any mentioned day for a particular task with different icon and label.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Indicators in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            In this example, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.GanttTaskFields.html#Syncfusion_EJ2_Gantt_GanttTaskFields_Indicators">Indicators</a> are displayed with some custom text in specified day of task, which are defined in dataSource. You can define the indicators with the following properties for tasks:
            <li><code>date</code>: Defines the date value to where we want to display the indicators.</li>
            <li><code>iconClass </code>: Defines the icon to highlight the indicator.</li>
            <li><code>name</code>: Defines text to be displayed in the mentioned date.</li>
            <li><code>tooltip</code>: The text to be displayed when hover the mouse over the indicator.</li>
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Indicators Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Indicators in ASP.NET MVC Gantt Control</h1>
                }
