@using Syncfusion.EJ2
@{
    ViewData["Title"] = "LoadingIndicator";
}

@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="control-wrapper">
            <div class="control-section">

                            @(Html.EJS().Gantt("Gantt").DataSource((IEnumerable<object>
                )ViewData["DataSource"]).Height("450px").EnableVirtualization(true).HighlightWeekends(true).AllowSelection(true).AllowFiltering(true).AllowSorting(true).LoadingIndicator(l => { l.IndicatorType(Syncfusion.EJ2.Grids.IndicatorType.Shimmer); })
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                .Child("SubTasks").ParentID("ParentID"))
                .LabelSettings(ls=>ls.TaskLabel("Progress")).Columns(col =>
                {
                col.Field("TaskId").Width(140).Add();
                col.Field("TaskName").Width(250).Add();
                col.Field("StartDate").Add();
                col.Field("Duration").Add();
                col.Field("Progress").Add();
                }).SplitterSettings(ss => ss.ColumnIndex(2))
                .Render()
                )
            </div>
        </div>
    </div>

            <div class="col-lg-3 property-section">
                <table id="property" title="Properties" style="width: 100%">
                    <tr style="height: 50px">
                        <td style="width: 30%; padding-left:0;">
                            <div style="padding-left: 0; font-size: 14px; padding-top:0; ">Indicator Type</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px;padding-left: 10px;">
                            @Html.EJS().DropDownList("Dropdown").DataSource((IEnumerable<object>)ViewData["data"]).Value("Shimmer").Change("onChange").Width("140").Render()
                        </td>
                    </tr>
                </table>
            </div>
            <script>
                function onChange() {
                    var gantt = document.getElementById("Gantt").ej2_instances[0];
                    var dropdown = document.getElementById("Dropdown").ej2_instances[0];
                    if (dropdown.value === 'Shimmer') {
                        gantt.loadingIndicator.indicatorType = 'Shimmer';
                        gantt.enableVirtualMaskRow = true;
                        gantt.refresh();
                    } else {
                        gantt.loadingIndicator.indicatorType = 'Spinner';
                        gantt.enableVirtualMaskRow = false;
                        gantt.refresh();
                    }
                      
                }
            </script>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows the loading indicator while initial rendering, refreshing and all gantt action. In this sample, you can change the loading indicators from the properties panel.
        </p>
    </div>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Loading Indicator in ASP.NET MVC Gantt control. Explore here for more details." />
}

@section Description{
    <div id="description">
        <p>
            The Gantt has an option to show a loading indicator in-between the time of fetching the data and binding it to the gantt during initial rendering, refreshing or
            while performing action like sorting, filtering and more.
        <p>The Gantt support the following loading indicator types</p>
        <ul>
            <li><code>Shimmer</code></li>
            <li><code>Spinner</code></li>
        </ul>
        Use the loading indicator by setting the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.GanttLoadingIndicator.html#Syncfusion_EJ2_Gantt_GanttLoadingIndicator_IndicatorType">LoadingIndicator.IndicatorType</a> property as Spinner or Shimmer. The default value of the indicator type is Spinner.
        </p>
        <p>By default <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_EnableVirtualMaskRow">EnableVirtualMaskRow</a> is set to true which renders Shimmer during virtual scrolling.</p>
    </div>
}
@section Title{
    <title>ASP.NET MVC Gantt Loading Indicator Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Loading Indicator in ASP.NET MVC Gantt Control</h1>
}
