@using Syncfusion.EJ2
@{
    ViewData["Title"] = "LocalData";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @(Html.EJS().Gantt("LocalData").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true).TreeColumnIndex(1)
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                .Dependency("Predecessor").Child("SubTasks"))
                .Columns(col =>
                {
                    col.Field("TaskId").Width(80).Add();
                    col.Field("TaskName").Width(250).Add();
                    col.Field("StartDate").Add();
                    col.Field("EndDate").Add();
                    col.Field("Duration").Add();
                    col.Field("Predecessor").Add();
                    col.Field("Progress").Add();
                })
                .LabelSettings(ls => ls.LeftLabel("TaskName"))
                .SplitterSettings(sp => sp.Position("35%"))
                .ProjectStartDate("03/24/2024")
                .ProjectEndDate("07/06/2024")
                .Render()
            )
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo shows the way of binding n List of objects to Gantt.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Local Data in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Gantt can be bound either to local or remote data services.The <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_DataSource">DataSource</a> property can be assigned either with the List of C# objects or an instance of <code>DataManager</code>.
        </p>
        <p>
            In this demo, List of C# objects is assigned as data source to the Gantt.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Local Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Local Data in ASP.NET MVC Gantt Control</h1>
                }
