@{
    ViewData["Title"] = "ResourceView";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
           @{
                    List<object> toolbarItems = new List<object>();
                    toolbarItems.Add("Add");
                    toolbarItems.Add("Edit");
                    toolbarItems.Add("Update");
                    toolbarItems.Add("Delete");
                    toolbarItems.Add("Cancel");
                    toolbarItems.Add("ExpandAll");
                    toolbarItems.Add("CollapseAll");
                    toolbarItems.Add(new { text = "Show/Hide Overallocation", tooltipText = "Show/Hide Overallocation", id = "showhidebar" });
                }

            @(Html.EJS().Gantt("ResourceView").DataSource((IEnumerable<object>
            )ViewData["DataSource"]).Height("450px").ViewType(Syncfusion.EJ2.Gantt.ViewType.ResourceView).HighlightWeekends(true).AllowSelection(true).AllowResizing(true).ShowOverAllocation(true)
			.ToolbarClick("ToolbarClick").Toolbar(toolbarItems).TaskType(Syncfusion.EJ2.Gantt.TaskType.FixedWork)
            .TaskFields(ts => ts.Id("TaskId").Name("TaskName").Work("Work").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
            .Dependency("Predecessor").ResourceInfo("Resources").Child("SubTasks"))
            .TreeColumnIndex(1).ResourceFields(rf => rf.Id("ResourceId").Name("ResourceName").Unit("ResourceUnit").Group("ResourceGroup"))
            .EditSettings(es => es.AllowAdding(true).AllowEditing(true).AllowDeleting(true).AllowTaskbarEditing(true).ShowDeleteConfirmDialog(true))
            .Resources((IEnumerable<object>)ViewData["Resources"])
            .Columns(col =>
            {
                col.Field("TaskId").Visible(false).Add();
                col.Field("TaskName").HeaderText("Name").Width(250).Add();
                col.Field("Work").HeaderText("Work").Add();
                col.Field("Progress").Add();
                col.Field("ResourceGroup").HeaderText("Group").Add();
                col.Field("StartDate").Width(100).Add();
                col.Field("Duration").Width(100).Add();
            })
            .LabelSettings(ls => ls.RightLabel("Resources").TaskLabel("Progress")).SplitterSettings(sp => sp.ColumnIndex(3))
            .ProjectStartDate("03/28/2024").ProjectEndDate("05/18/2024")
            .Render()
            )
      <script>
        function ToolbarClick(args) {
          if (args.item.id === 'showhidebar') {
            var ganttObj = document.getElementById("ResourceView").ej2_instances[0];
            ganttObj.showOverAllocation = ganttObj.showOverAllocation ? false : true;
          }
        };
    </script>
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample explains the Resource break down view in the Gantt Chart that is how to visualize the list of tasks assigned to each resource in hierarchy manner and switch the resources as per the users need by task editing mode. If the no resources are mapped in a task, then it will come under the “unassigned Tasks” category.
            This feature can be enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_ViewType">ViewType</a> property to “ResourceView”.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Resource View in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            In this example, you can see the resource break down from a bulk of tasks done by mapping the predefined resource IDs to each task and resource information can be shown by using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_LabelSettings">LabelSettings</a> property.
            Using the toolbar action, you can perform CRUD operation for resource allocation based on their availability and task complexity.
            The resources and tasks assigned to those resources can be grouped into categories. Resources can be mapped using the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_ResourceFields">ResourceFields:</a>.</br>
            <code>ID</code>: To map resource ID.</br>
            <code>Name</code>: To map resource name.</br>
            <code>Unit</code>: To map resource unit.</br>
            <code>Group</code>: To map resource group.</br></br>

                                                                                                                                      
</p>
        <p style="font-weight: 500">Injecting Module:</p>
        <p>
            The Gantt control features are segregated into individual feature-wise modules. To use a selection,
            inject the <code>Selection</code> module using the <code>Gantt.Inject(Selection)</code> method.
            To edit, inject the <code>Toolbar</code> module using the <code>Gantt.Inject(Toolbar)</code> method and Edit module using the <code>Gantt.Inject(Edit)</code> method.
            When a resource is assigned with two or more tasks which is scheduleduling on a same date is termed as over allocation for a resource.
        The number of over allocation dates ranges are highlighted as with square bracket. The following sample demonstrates the over allocation for a resource.
        In this sample, over allocation can be hidden by using the CSS ‘visibility’ property on custom toolbar item action.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Resource View Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Resource View in ASP.NET MVC Gantt Control</h1>
                }
