@using Syncfusion.EJ2
@{
    ViewData["Title"] = "SelfReferenceData";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @(Html.EJS().Gantt("SelfReferenceData").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true).TreeColumnIndex(1)
                .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                .Dependency("Predecessor").ParentID("ParentID"))
                .Columns(col =>
                    {
                        col.Field("TaskId").Width(80).Add();
                        col.Field("TaskName").Width(250).Add();
                        col.Field("StartDate").Add();
                        col.Field("EndDate").Add();
                        col.Field("Duration").Add();
                        col.Field("Predecessor").Add();
                        col.Field("Progress").Add();
                    })
                .LabelSettings(ls => ls.LeftLabel("TaskName"))
                .SplitterSettings(sp => sp.Position("35%"))
                .ProjectStartDate("01/28/2024")
                .ProjectEndDate("03/10/2024")
                .Render()
            )
        </div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the way of binding self-referential flat data to the Gantt control.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Self Reference Data in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Gantt can be bound either to local or remote data services.
            The <code>DataSource</code> property can be assigned either with the array of objects or an instance of <code>DataManager</code>.
        </p>
        <p>
            In this demo, the array of self-referential flat data with <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.Gantt.GanttTaskFields.html#Syncfusion_EJ2_Gantt_GanttTaskFields_ParentID">ParentID</a> is assigned as data source to the Gantt.
        </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Self Reference Data Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Self Reference Data in ASP.NET MVC Gantt Control</h1>
                }
