@using Syncfusion.EJ2
@{
    ViewBag.Title = "ResourceAllocation";
}

@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            @(Html.EJS().Gantt("ResourceAllocation").DataSource((IEnumerable<object>
    )ViewBag.DataSource).Height("450px").HighlightWeekends(true).AllowSelection(true)
    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").Work("Work").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
    .Dependency("Predecessor").Manual("IsManual").ResourceInfo("ResourceId").Child("SubTasks"))
    .ResourceNameMapping("ResourceName").ResourceIDMapping("ResourceId")
    .TreeColumnIndex(1).TaskMode(Syncfusion.EJ2.Gantt.ScheduleMode.Custom)
    .EditSettings(es => es.AllowAdding(true).AllowEditing(true).AllowDeleting(true).AllowTaskbarEditing(true).ShowDeleteConfirmDialog(true))
    .Toolbar(new List<string>
        () { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll" })
        .Resources((IEnumerable<object>)ViewBag.Resources)
            .Columns(col =>
            {
                col.Field("TaskId").Visible(false).Add();
                col.Field("TaskName").HeaderText("Task Name").Add();
                col.Field("IsManual").Add();
            })
            .LabelSettings(ls => ls.LeftLabel("TaskName"))
            .SplitterSettings(sp => sp.Position("35%"))
            .ProjectStartDate("02/20/2017")
            .ProjectEndDate("03/30/2017")
            .Render()
            )
</div>
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>The Gantt provides support for automatic and manual task scheduling modes. Scheduling mode of a task is used to indicate whether the start and end dates of a task will be automatically validated or not. Using the property <code>taskMode</code> we can able to change the scheduling mode of a task. The following are the enumeration values that can be set to the property <code>taskMode</code>.</p>
        <ul>
            <li>Auto</li>
            <li>Manual</li>
            <li>Custom</li>
        </ul>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Task Scheduling Mode in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>When the <code>taskMode</code> property is set as <code>Auto</code> scheduling mode, all the tasks in the project will be rendered as automatically scheduled tasks. Thus the start and end dates of the tasks in the project will be automatically validated.</p>
        <p>When the <code>taskMode</code> property is set as <code>Manual</code> scheduling mode, all the tasks in the project will be rendered as manually scheduled tasks. Thus the dates of the tasks will not get validated automatically by the system.</p>
        <p>When the <code>taskMode</code> property is set as <code>Custom</code>, the scheduling mode for each tasks will be mapped form the data source field. The property <code>manual</code> is used to map the scheduling mode field from the data source.</p>
        <p>Gantt component features are segregated into individual feature-wise modules. To use editing feature, inject the <code>Edit</code> module using the <code>Gantt.Inject(Edit)</code> method. To use a selection, inject the <code>Selection</code> module using the <code>Gantt.Inject(Selection)</code> method, and to use toolbar by injecting the <code>Toolbar</code> module using the <code>Gantt.Inject(Toolbar)</code> method. </p>
    </div>
}

@section Title{
                    <title>ASP.NET MVC Gantt Task Scheduling Mode Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Task Scheduling Mode in ASP.NET MVC Gantt Control</h1>
                }