@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Timeline";
}
@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().Gantt("Timezone").DataSource((IEnumerable<object>)ViewData["DataSource"])
                    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
                    .Dependency("Predecessor").ParentID("ParentID")).TreeColumnIndex(1)
                    .Columns(col =>
                        {
                            col.Field("TaskId").Width(80).Add();
                            col.Field("TaskName").Width(250).Add();
                            col.Field("StartDate").Add();
                            col.Field("EndDate").Add();
                            col.Field("Duration").Add();
                            col.Field("Progress").Add();
                            col.Field("Predecessor").Add();
                        })
                    .Height("450px").IncludeWeekend(true).DurationUnit(Syncfusion.EJ2.Gantt.DurationUnit.Hour)
                    .TimelineSettings(ts => ts.TimelineUnitSize(70).TopTier(tt => tt.Format("MMM dd, yyyy").Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Day))
                    .BottomTier(bt => bt.Format("hh:mm a").Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Hour)))
                    .Timezone("UTC").DateFormat("hh:mm a")
                    .DayWorkingTime(dt =>
                    {
                        dt.From(0).To(24).Add();
                    })
                    .Render()
                )
    </div>
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates how the Gantt Chart schedules project tasks using the UTC timezone, ensuring consistent date and time handling across global teams.</p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Timezone in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{

    <div id="description">
        <p>
            For example, in this demo, the timezone of Gantt is set to UTC, and the task named <code>Plan timeline</code> has start time as <code>08:00 AM</code> but converted based on UTC and rendered at <code>02.30 AM</code>.
        </p>
        <p>
            When a user sets any timezone, dates are converted based on the value set to <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_Timezone">Timezone</a> property of Gantt control.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Timezone Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Timezone in ASP.NET MVC Gantt Control</h1>
                }