@using Syncfusion.EJ2
@{
    ViewData["Title"] = "ToolbarTemplate";
}

@section ControlsSection{
    @{ 
        List<object> toolbarItems = new List<object> { "ExpandAll", "CollapseAll" };
        toolbarItems.Add(new { text = "Quick Filter", tooltipText = "Quick Filter", id = "Quick Filter", prefixIcon = "e-quickfilter" });
        toolbarItems.Add(new { text = "Clear Filter", tooltipText = "Clear Filter", id = "Quick Filter" });
    }
<div class="control-section">

        @(Html.EJS().Gantt("ToolbarTemplate").DataSource((IEnumerable<object>)ViewData["DataSource"]).Height("450px").HighlightWeekends(true).AllowSelection(true).AllowFiltering(true).TreeColumnIndex(1)
            .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate").Duration("Duration").Progress("Progress")
            .Dependency("Predecessor").Child("SubTasks"))
            .Columns(col =>
            {
                col.Field("TaskId").Width(80).Add();
                col.Field("TaskName").Width(250).Add();
                col.Field("StartDate").Add();
                col.Field("EndDate").Add();
                col.Field("Duration").Add();
                col.Field("Predecessor").Add();
                col.Field("Progress").Add();
            })
            .Toolbar(toolbarItems)
            .LabelSettings(ls => ls.LeftLabel("TaskName"))
            .SplitterSettings(sp => sp.ColumnIndex(2))
            .ToolbarClick("ToolbarClick")
            .ProjectStartDate("03/24/2024")
            .ProjectEndDate("07/06/2024")
            .Render()
        )

</div>

    <style>
        .e-gantt .e-quickfilter::before {
            content: '\e7ee';
        }
        .fabric #ToolbarTemplate .e-quickfilter::before,
        .fabric-dark #ToolbarTemplate .e-quickfilter::before,
        .highcontrast #ToolbarTemplate .e-quickfilter::before {
            content: '\e21c';
        }

        .bootstrap #ToolbarTemplate .e-quickfilter::before,
        .bootstrap-dark #ToolbarTemplate .e-quickfilter::before {
            content: '\e946';
        }

        .bootstrap4 #ToolbarTemplate .e-quickfilter::before {
            content: '\e714';
        }
        .bootstrap5 #ToolbarTemplate .e-quickfilter::before,
        .bootstrap5-dark #ToolbarTemplate .e-quickfilter::before,
        .fluent #ToolbarTemplate .e-quickfilter::before, .fluent-dark #ToolbarTemplate .e-quickfilter::before,
        .tailwind #ToolbarTemplate .e-quickfilter::before, .tailwind-dark #ToolbarTemplate .e-quickfilter::before,
        .tailwind3 #ToolbarTemplate .e-quickfilter::before, .tailwind3-dark #ToolbarTemplate .e-quickfilter::before,
        .bootstrap5\.3 #ToolbarTemplate .e-quickfilter::before,
        .bootstrap5\.3-dark-lite #ToolbarTemplate .e-quickfilter::before,
        .bootstrap5\.3-dark #ToolbarTemplate .e-quickfilter::before, 
        .bootstrap5\.3-lite #ToolbarTemplate .e-quickfilter::before,
        .material3-dark #ToolbarTemplate .e-quickfilter::before,
        .material3 #ToolbarTemplate .e-quickfilter::before{
            content: '\e7f7';
        } 
        .fluent2 #ToolbarTemplate .e-quickfilter::before,
        .fluent2-dark #ToolbarTemplate .e-quickfilter::before,
        .fluent2-highcontrast #ToolbarTemplate .e-quickfilter::before{
            content: '\e7f7';
        }
    </style>

    <script>
        function ToolbarClick(args) {
            var ganttObj = document.getElementById("ToolbarTemplate").ej2_instances[0];
            if (args.item.text === 'Quick Filter') {
                ganttObj.filterByColumn('TaskName', 'startswith', 'Identify');
            }
            if (args.item.text === 'Clear Filter') {
                ganttObj.clearFiltering();
            }
        }
    </script>
});

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample explains the way of rendering built-in and custom toolbar items at the same time.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the ToolbarTemplate in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            Custom toolbar items can be added by defining the toolbar as a collection of ItemModels.
            Actions for this customized toolbar items are defined in the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_ToolbarClick">ToolbarClick</a> event.
        </p>
        <p>
            In this sample, the custom toolbar element <code>Quick Filter</code> and <code>Clear Filter</code> is rendered
            along with predefined toolbar items ExpandAll and CollapseAll.
            While clicking the <code>Quick Filter</code> toolbar item, the filtering occurs for <code>Task Name</code>column.Filtered column can be cleared using <code>Clear Filter</code> toolbar item.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt ToolbarTemplate Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of ToolbarTemplate in ASP.NET MVC Gantt Control</h1>
                }