@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@{
    char nameMentionChar = '@';
}
@section ControlsSection{
    <div class="col-lg-12 control-section">
        <div id="mention-controls">
            <table>
                <tr>
                    <td>
                        <label id="template-size">Compose your content</label>
                        <div id="templateMention" placeholder="@Html.Raw("@") and tag user"></div>
                        @Html.EJS().Mention("template").Target("#templateMention").MentionChar(nameMentionChar).AllowSpaces(true).ItemTemplate("<div class=\"listItems\"><img class=\"mentionEmpImage\" src=\"../Content/Mention/images/Employees/${Eimg}.png\" alt=\"employee\"/><span class=\"person\"> ${Name} </span><span class=\"email\">${EmailId}</span></div>").NoRecordsTemplate("No item related to the search").DisplayTemplate("${Name}").PopupWidth("250px").PopupHeight("200px").DataSource((IEnumerable<SportsData>)ViewData["sports"]).Fields(new MentionFieldSettings { Text = "Name" }).Render()
                    </td>
                </tr>
            </table>
        </div>
    </div>

}

@section Meta{
    <meta name="description" content="This example demonstrates the template functionalities in ASP.NET MVC Mention control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the template functionalities of the Mention component. Type the <code>@@</code> character in the editable element and select or tag the user from the customized suggestion list.</p>
    </div>
}
@section Description{
    <p>In the above sample, for the template rendering the following are used</p>
    <ul>
        <li><code>itemTemplate</code> - It is used for displaying customized lists.</li>
        <li><code>displayTemplate</code> - It is used to display, how the the value selected is previewed in the element.</li>
        <li><code>noRecordsTemplate</code> - It is used to display a message if a user searches for irrelevant data in the data source bound.</li>
    </ul>
}

<style>
    #templateMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        width: 600px;
        padding: 8px;
        border-radius: 4px;
        font-size: 14px;
    }

    #mention-controls {
        margin: 0 auto;
        width: 600px;
    }

    .listItems {
        padding-left: 12px;
        vertical-align: middle;
        width: 80%;
    }

    #templateMention_popup .e-dropdownbase .e-list-item {
        line-height: 25px;
        text-indent: 8px;
    }

    .mentionEmpImage {
        width: 44px;
        float: left;
    }

    .person {
        font-size: 16px;
        margin-top: 8px;
    }

    .e-dropdownbase .e-list-item * {
        display: block;
    }

    div#templateMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }

    #template-size {
        font-size: 15px;
        font-weight: 600;
    }

    @@media screen and (max-width: 1010px) {
        #templateMention,
        #mention-controls, #mention-controls table {
            width: 100%;
        }
    }
</style>

@section Title{
    <title>ASP.NET MVC Mention Component Template Functionalities Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Template Functionalities in ASP.NET MVC Mention Control</h1>
}