@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Heatmap control demonstrates how to bind the data to heat map with series of array for each columns" />
}
@section ControlsSection{
    <div class="control-section">
        <div id="container" align="center">
            @Html.EJS().HeatMap("container").TitleSettings(ts => ts.Text("GDP Growth Rate for Major Economies (in Percentage)").TextStyle(ViewData["textStyle"])).XAxis(
                  xAxis =>
                  {
                      xAxis.LabelRotation(45)
                             .LabelIntersectAction(Syncfusion.EJ2.HeatMap.LabelIntersectAction.None)
                             .Labels(ViewData["xLabels"]);
                  }).YAxis(yaxis => yaxis.Labels(ViewData["yLabels"])).PaletteSettings(ps => ps.Palette(palette =>
                  {
                      palette.Value(-1).Color("#F0D6AD").Add();
                      palette.Value(0).Color("#9da49a").Add();
                      palette.Value(3.5).Color("#d7c7a7").Add();
                      palette.Value(6.0).Color("#6e888f").Add();
                      palette.Value(7.5).Color("#466f86").Add();
                      palette.Value(10).Color("#19547B").Add();

                  })).CellSettings(cs =>
                  cs.Border(ViewData["border"])).LegendSettings(ls => ls.Visible(false)).TooltipRender("tooltipRender").Load("load").DataSource(ViewData["dataSource"]).Render()
        </div>
    </div>
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            args.content = [args.yLabel + ' | ' + args.xLabel + ' : ' + args.value + ' %'];
        };
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1));
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the GDP growth rate for the countries which are the world’s major economies over the years.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to bind array object as data source for heatmap and configure the Heatmap using the data adaptor support. You can directly bind the array object to the Heatmap data source with default property settings.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>
    <p style="font-weight: 500">Injecting Module</p>
    <p>
        Heatmap component features are segregated into individual feature-wise modules. To use data adaptor support, we need to inject <code>Adaptor </code> module using <code>Heatmap.Inject(Adaptor) </code> method and to use a tooltip, inject the <code>Tooltip </code> module using the <code>Heatmap.Inject(Tooltip) </code> method.
    </p>
}
