@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Heatmap control shows how to inverse the axis in heat map" />
}
@section ControlsSection{
    <div>
        <div class="col-md-8 control-section">
            <div class="content-wrapper">
                <div id="container" style="width:92%">
                    @Html.EJS().HeatMap("container").TitleSettings(ts => ts.Text("Population Growth Rate of the most Populous Countries").TextStyle(ViewData["textStyle"])).XAxis(xAxis =>
                    {
                        xAxis.LabelRotation(45)
                        .LabelIntersectAction(Syncfusion.EJ2.HeatMap.LabelIntersectAction.None)
                        .Labels(ViewData["xLabels"])
                        .IsInversed(true);
                    }).YAxis(yaxis =>
                    {
                        yaxis.IsInversed(true)
                       .Labels(ViewData["yLabels"]);
                    }).PaletteSettings(ps => ps.Palette(palette =>
                    {
                        palette.Value(0).Color("#4b7287").Add();
                        palette.Value(0.5).Color("#b5b29f").Add();
                        palette.Value(1).Color("#F0D6AD").Add();
                        palette.Value(1.5).Color("#9da49a").Add();
                        palette.Value(2).Color("#466f86").Add();
                        palette.Value(2.5).Color("#d7c7a7").Add();
                        palette.Value(3).Color("#6e888f").Add();
                    })).CellSettings(cs =>
                    cs.Border(ViewData["border"]).ShowLabel(false).Format("{value} %")).LegendSettings(ls => ls.Visible(false)).Load("load").DataSource(ViewData["dataSource"]).Render()
                </div>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://en.wikipedia.org/wiki/List_of_countries_by_oil_production" target='_blank'>https://en.wikipedia.org/</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 property-section">
            <table id="property" title="Properties" style="width: 100%">
                <tbody>
                    <tr style="height: 50px">
                        <td style="width: 40%;">
                            <div>
                                <input id="XOpposedPosition" type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="width: 40%;">
                            <div>
                                <input id="YOpposedPosition" type="checkbox">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1));
        };
        var xlistObj = new ej.buttons.CheckBox({ label: 'Reverse X-Axis Origin', checked: true, change: valueXChange });
        xlistObj.appendTo('#XOpposedPosition');

        function valueXChange() {
            var heatMap = document.getElementById('container').ej2_instances[0];
            heatMap.xAxis.isInversed = xlistObj.checked;
        }

        var ylistObj = new ej.buttons.CheckBox({ label: 'Reverse Y-Axis Origin', checked: true, change: valueYChange });
        ylistObj.appendTo('#YOpposedPosition');

        function valueYChange() {
            var heatMap = document.getElementById('container').ej2_instances[0];
            heatMap.yAxis.isInversed = ylistObj.checked;
        }
    </script>
}
@section ActionDescription{
    <p>
        This sample illustrates the population growth rate of the most populous countries over the years. The data label is disabled in this sample, the tooltip displays the data point values.  In property panel, the options are available to reverse the origin of the axes by means of checkbox for each axis.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to reverse the axis origin for both axes. Once the axis origin has been reversed the axis data will be displayed inverted. You can reverse the axis origin by enabling the <code>isInversed </code> property for each axis.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>
    <p style="font-weight: 500">Injecting Module</p>
    <p>
        Heatmap component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>Tooltip </code> module using the <code>Heatmap.Inject(Tooltip) </code> method.
    </p>
}
