@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Heatmap control shows how to group the axis labels." />
}
@section ControlsSection{
    <div class="control-section">
        <div id="container" align="center">
            @Html.EJS().HeatMap("container").TitleSettings(ts => ts.Text("Product wise Monthly sales revenue for a e-commerce website").
            TextStyle(ViewData["textStyle"])).XAxis(
            xAxis => xAxis.Border(br=>br.Width(1).Type(Syncfusion.EJ2.HeatMap.BorderType.Rectangle).
            Color("#a19d9d")).Labels(ViewData["xLabels"]).TextStyle(ViewData["xTextStyle"])).YAxis(yaxis =>
            yaxis.Border(br => br.Width(0)).Labels(ViewData["yLabels"]).TextStyle(ViewData["xTextStyle"]).IsInversed(true)).PaletteSettings(ps => ps.Palette(palette =>
            {
                palette.Color("#F0ADCE").Add();
                palette.Color("#19307B").Add();

            })).LegendSettings(ls => ls.Visible(false)).CellSettings(cs =>
            cs.Border(ViewData["border"])).TooltipRender("tooltipRender").Load("load").DataSource(ViewData["dataSource"]).Render()
        </div>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
    <script>
        var tooltipRender = function (args) {
            args.content = [args.xLabel + ' | ' + args.yLabel + ' : $ ' + (args.value / 10) + 'K'];
        };
        var cellRender = function (args) {
            args.displayText = '$ ' + (args.value / 10) + 'K';
        };
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.heatmap.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1));
            selectedTheme = selectedTheme.toLowerCase();
            args.heatmap.xAxis.multiLevelLabels = ([
                {
                    border: { type: 'Rectangle', color: '#a19d9d' },
                    textStyle: {
                        color: 'black',
                        fontWeight: 'Bold'
                    },
                    categories: [
                        { start: 0, end: 2, text: 'Electronics', },
                        { start: 3, end: 4, text: 'Beauty and personal care', },
                        { start: 5, end: 7, text: 'Fashion', },
                        { start: 8, end: 10, text: 'Household', },
                    ]
                },
            ]);
            args.heatmap.yAxis.multiLevelLabels = ([
                {
                    border: { type: 'Brace', color: '#a19d9d' },
                    textStyle: {
                        color: 'black',
                        fontWeight: 'Bold'
                    },
                    categories: [
                        { start: 0, end: 2, text: 'Q1' },
                        { start: 3, end: 5, text: 'Q2' },
                        { start: 6, end: 8, text: 'Q3' },
                        { start: 9, end: 11, text: 'Q4' }
                    ]
                },
            ]);
            if (selectedTheme === 'material' || selectedTheme === 'fabric' || selectedTheme === 'bootstrap') {
                args.heatmap.xAxis.textStyle.color = 'Black';
                args.heatmap.yAxis.textStyle.color = 'Black';
                args.heatmap.xAxis.multiLevelLabels[0].textStyle.color = 'Black';
                args.heatmap.yAxis.multiLevelLabels[0].textStyle.color = 'Black';
            }
            else {
                args.heatmap.xAxis.textStyle.color = 'White';
                args.heatmap.yAxis.textStyle.color = 'White';
                args.heatmap.xAxis.multiLevelLabels[0].textStyle.color = 'White';
                args.heatmap.yAxis.multiLevelLabels[0].textStyle.color = 'White';
            }
        };
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the product wise monthly sales revenue of the items sold by an online retailer in a year. The products are grouped based on the purchase domains and revenue is displayed as cell data.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to group axis labels.
        You can customize text in each level by using <code>alignment</code>, <code>textSytle</code>, and <code>border</code> properties.
    </p>
    <p>Border of the axis labels can be customized by using the <code>type</code> property.
    <p>
        <ul>
            <li><code>Rectangle</code></li>
            <li><code>Brace</code></li>
            <li><code>WithoutTopBorder</code></li>
            <li><code>WithoutBottomBorder</code></li>
            <li><code>WithoutTopandBottomBorder</code></li>
            <li><code>withoutBorder</code>.</li>
        </ul>
        <br>
    <p>
        Tooltip is enabled in this example, To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>
    <p style="font-weight: 500">Injecting Module</p>
    <p>
        Heatmap component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>Tooltip</code> module
        using the <code>Heatmap.Inject(Tooltip)</code> method.
    </p>
}
