@using EJ2MVCSampleBrowser.Controllers.FAB
@{
    List<OrderDetails> order = new List<OrderDetails>();
    order.Add(new OrderDetails(10248, "VINET", 32.38, "France"));
    order.Add(new OrderDetails(10249, "TOMSP", 11.61, "Germany"));
    order.Add(new OrderDetails(10250, "HANAR", 65.83, "Brazil"));
    order.Add(new OrderDetails(10251, "VICTE", 41.34, "France"));
    order.Add(new OrderDetails(10252, "SUPRD", 51.3, "Belgium"));
    order.Add(new OrderDetails(10253, "HANAR", 58.17, "Brazil"));
    order.Add(new OrderDetails(10254, "CHOPS", 22.98, "Switzerland"));
    order.Add(new OrderDetails(10255, "RICSU", 148.33, "Switzerland"));
    order.Add(new OrderDetails(10256, "WELLI", 13.97, "Brazil"));
    order.Add(new OrderDetails(10257, "HILAA", 81.91, "Venezuela"));
}

@using Syncfusion.EJ2
@using Syncfusion.EJ2.Buttons
@section ControlsSection{
    <div class="control-section">
        <div id="target" class="fab-grid-container custom-index">
            @Html.EJS().Grid("Grid").DataSource(order).Columns(col =>
       {
           col.Field("OrderID").HeaderText("Order ID").Add();
           col.Field("CustomerID").HeaderText("Customer Name").Add();
           col.Field("Freight").HeaderText("Freight").Add();
           col.Field("ShipCountry").HeaderText("Ship Country").Add();
       }).EditSettings(edit => { edit.AllowAdding(true).Mode(Syncfusion.EJ2.Grids.EditMode.Dialog); }).Render()
            @Html.EJS().Fab("Fab").HtmlAttributes(new Dictionary<string, object>() { { "title", "Add" } }).Target("#target").Position(FabPosition.BottomRight).IconCss("e-icons e-plus").Render()
        </div>
    </div>
}
<style>
    .fab-grid-container {
        position: relative;
    }

    .custom-index {
        z-index: 500 !important;
    }
</style>
@section Scripts{
    <script>
        document.getElementById("Fab").addEventListener('click', function () {
            var grid = document.getElementById("Grid").ej2_instances[0];
            grid.addRecord();
        });
    </script>
}
@section Meta{
    <meta name="description" content="This example demonstrates the Overview in ASP.NET MVC FAB control. Explore here for more details." />
}

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the usage of the Floating Action Button (FAB) controller to add a new record to a DataGrid.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The FAB is a button that appears in front of all screen contents and performs the primary action. In this example, FAB is positioned at the bottom left of its target DataGrid to perform the add new record action.
        </p>

    </div>
}
@section Title{
    <title>ASP.NET MVC FAB Overview Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Overview in ASP.NET MVC FAB Control</h1>
}
