@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2.PivotView
@section Meta{
    <meta name="description" content="This demo for Essential JS2 Pivot Table control demonstrate the basic rendering of the pivotgrid widget with local JSON data" />
}
@section ControlsSection{
    <div class="control-section" style="overflow:auto">
    <div class="content-wrapper">
        @Html.EJS().PivotView("pivotview").Width("100%").Height("300").DataSource(dataSource => dataSource.Data((IEnumerable<object>)ViewBag.Data).ExpandAll(false).EnableSorting(true)
           .DrilledMembers(drilledmembers =>
           {
               drilledmembers.Name("EnerType").Items(ViewBag.drilledMembers).Add();
           })
           .FormatSettings(formatsettings =>
           {
               formatsettings.Name("ProCost").Format("C0").MaximumSignificantDigits(10).MinimumSignificantDigits(1).UseGrouping(true).Add();
               formatsettings.Name("PowUnits").Format("N0").MaximumSignificantDigits(10).MinimumSignificantDigits(1).UseGrouping(true).Add();
           })
           .Rows(rows =>
           {
               rows.Name("Year").Caption("Production Year").Add();
               rows.Name("HalfYear").Caption("Half Year").Add();
               rows.Name("Quarter").Caption("Quarter Year").Add();
           })
           .Columns(columns =>
           {
               columns.Name("EnerType").Caption("Energy Type").Add();
               columns.Name("EneSource").Caption("Energy Source").Add();
           })
           .Values(values => { values.Name("PowUnits").Caption("Units (GWh)").Add(); values.Name("ProCost").Caption("Cost (MM)").Add(); })).GridSettings(new PivotViewGridSettings { ColumnWidth = 120 }).Render()
        </div>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
    </style>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates the basic rendering of the pivotgrid widget with local data.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The pivotgrid widget supports JSON data source. The
            <code>dataSource->data</code> property can be assigned with the JSON data to populate the widget.
        </p>
        <p>In this demo, the JSON data is assigned from an external file.</p>
    </div>
}
